﻿@using SiteWorkMotor.ViewModel
@model SiteWorkMotor.ViewModel.ClienteViewModel

<div class="container">
    @using (Html.BeginForm("RegistrarCliente", "Free", FormMethod.Post, new { @id = "form-registrar-cliente-free", role = "form", @class = "form-group fonttt" }))
    {
        <div class="col-md-12 col-sm-12">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control form-group", @type = "email", @placeholder = "E-MAIL", @required = "required", @id = "formEmail" })
            @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-12 col-sm-12">
            @Html.TextBoxFor(m => m.Telefone, new { @class = "form-control form-group", @id = "telefone", @placeholder = "DDD+TELEFONE", @required = "required" })
            @Html.ValidationMessageFor(x => x.Telefone, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-2 col-md-offset-10">
            <button type="submit" id="btn-enviar" class="btn btn-default formHome"><b>AVANÇAR</b> <i class="fa"></i></button>
        </div>
    }
</div>

<script>

    $("#step-two").on('hidden.bs.modal',
        function (e) {
            $("#btn-enviar i").removeClass("fa-spin").removeClass("fa-spinner");
            $("#btn-enviar").prop("disabled", false);
        }
    );

    $(document).ready(function() {
        $("#cep").mask("99999-999");
    });

    
</script>
