﻿@using System.Text.RegularExpressions
@using SiteWorkMotor.ViewModel
<!DOCTYPE html>
<html lang="pt-br">
<head prefix="og: http://ogp.me/ns#">
    <link rel="alternate" href="https://www.workmotor.com.br/@ViewBag.Href" hreflang="pt-br" />
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-69638641-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() { dataLayer.push(arguments); }

        gtag('js', new Date());
        gtag('config', 'UA-69638641-1');
    </script>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '2232115907016807',
                autoLogAppEvents: true,
                xfbml: true,
                version: 'v3.0'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    @RenderSection("MetaTags", false)

    <script>
        window.twttr = (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0],
                t = window.twttr || {};
            if (d.getElementById(id)) return t;
            js = d.createElement(s);
            js.id = id;
            js.src = "https://platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js, fjs);

            t._e = [];
            t.ready = function (f) {
                t._e.push(f);
            };

            return t;
        }(document, "script", "twitter-wjs"));
    </script>
    
    <!-- Facebook Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
                n.callMethod.apply(n,arguments):n.queue.push(arguments)};
            if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
            n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t,s)}(window,document,'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '2301367826785231'); 
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" src="https://www.facebook.com/tr?id=2301367826785231&ev=PageView&noscript=1"/>
    </noscript>
    <!-- End Facebook Pixel Code -->



    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="@ViewBag.Descricao" />
    <title>@ViewBag.Title</title>
    @Scripts.RenderFormat("<script src='{0}' async></script>", "~/bundles/modernizr")
    @*@Scripts.Render("~/bundles/modernizr")*@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/landingpage")
    @RenderSection("scripts", required: false)
    @Styles.Render("~/Content/css")

    @{
        // CHECK IF ITS MOBILE
        string u = Request.ServerVariables["HTTP_USER_AGENT"];
        Regex b = new Regex(@"(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|iris|kindle|lge |maemo|midp|mmp|mobile.+firefox|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows ce|xda|xiino", RegexOptions.IgnoreCase | RegexOptions.Multiline);
        Regex v = new Regex(@"1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\-(n|u)|c55\/|capi|ccwa|cdm\-|cell|chtm|cldc|cmd\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\-s|devi|dica|dmob|do(c|p)o|ds(12|\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\-|_)|g1 u|g560|gene|gf\-5|g\-mo|go(\.w|od)|gr(ad|un)|haie|hcit|hd\-(m|p|t)|hei\-|hi(pt|ta)|hp( i|ip)|hs\-c|ht(c(\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\-(20|go|ma)|i230|iac( |\-|\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\/)|klon|kpt |kwc\-|kyo(c|k)|le(no|xi)|lg( g|\/(k|l|u)|50|54|\-[a-w])|libw|lynx|m1\-w|m3ga|m50\/|ma(te|ui|xo)|mc(01|21|ca)|m\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\-2|po(ck|rt|se)|prox|psio|pt\-g|qa\-a|qc(07|12|21|32|60|\-[2-7]|i\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\-|oo|p\-)|sdk\/|se(c(\-|0|1)|47|mc|nd|ri)|sgh\-|shar|sie(\-|m)|sk\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\-|v\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\-|tdg\-|tel(i|m)|tim\-|t\-mo|to(pl|sh)|ts(70|m\-|m3|m5)|tx\-9|up(\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\-|your|zeto|zte\-", RegexOptions.IgnoreCase | RegexOptions.Multiline);
        if ((b.IsMatch(u) || v.IsMatch(u.Substring(0, 4))))
        {
            ViewBag.Device = "Mobile";
        }
    }
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="divlogo">
            <img src="/Content/Imagens/logo.png" alt="" class="pull-left" />
        </div>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse cabecario pull-right">
            <ul class="nav navbar-nav letracbc" id="menu">
                <li><a href="/">HOME</a></li>
                <li><a href="/workmotor/">WORKMOTOR</a></li>
                @*@if (ViewBag.Device != "Mobile")
                    {
                        <li id="workfree"><a href="/free/">VERSÃO GRATUITA</a></li>
                    }*@
                <li id="workfree"><a href="/free/">VERSÃO GRATUITA</a></li>
                <li><a href="/clientes/">CLIENTES</a></li>
                <li><a href="/workgroup/">WG</a></li>
                <li><a href="/parceiros/">PARCEIROS</a></li>
                <li><a href="/franquia/">FRANQUIA</a></li>
                <li><a href="/blog/noticias/">BLOG</a></li>
                <li><a href="/contato/">CONTATO</a></li>
                <li id="areacliente"><a class="areacliente cordocliente" href=" http://suporte.workmotor.com.br/" target="_blank">ÁREA DO CLIENTE</a></li>
            </ul>
        </div>
    </div>
    <div class="body-content col-md-12">
        @RenderBody()
        
        @if (ViewBag.Device == "Mobile")
        {
            <div class="chatMobile">
                <a href="http://workg.mysuite.com.br/client/chatan.php?h=c54faca5dab6facac94b07aa065e87c5&sl=wkg" target="_blank" rel="noopener">CHAT</a>
            </div>
        }
         
        

        <div id="modalcontato" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Enviado com sucesso</h4>
                    </div>
                    <div class="modal-body">
                        <p>Aguardar Contato</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="exitIntent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: #00377a; min-height: 4vh;">
                    </div>
                    <div class="modal-body">
                        <div class="row" style="color: #00377a; text-align: center;">
                            <div class="container">
                                <div class="row">
                                    <div>
                                        <h2>ESPERE! NÃO VÁ EMBORA AINDA.</h2>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="container">
                                        <h2>VOCÊ SABIA QUE PODE TER O WORKMOTOR DE GRAÇA?</h2>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="container">
                                        <p><span>WORKMOTOR FREE</span> tem tudo que você precisa, <span>de graça</span> e por tempo ilimitado. É só clicar e baixar!</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row row-exitIntent-form">
                            @Html.Partial("_FormExit", new ClienteViewModel())
                        </div>
                        <div class="row" style="text-align: center; margin-top: 2vh;">
                            <a href="" data-dismiss="modal">NÃO QUERO TER O WORKMOTOR DE GRAÇA</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="step-two" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="container input-free row-three" style="text-align: center; color: #13304e;">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <footer class="footer-geral">
        <div class="container fontavenir">
            <div class="col-md-6 col-xs-12 font-size">
                <div class="row">
                    <div class="col-md-6 col-xs-6">
                        <a href="/home/">Home</a>
                    </div>
                    <div class="col-md-6 col-xs-6">
                        <a href="/franquia/">Franquia</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-xs-6">
                        <a href="/workmotor/">WorkMotor</a>
                    </div>
                    <div class="col-md-6 col-xs-6">
                        <a href="/blog/noticias/">Blog</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-xs-6">
                        <a href="/clientes/">Clientes</a>
                    </div>
                    <div class="col-md-6 col-xs-6">
                        <a href="/contato/#divFormContato">Contato</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-xs-6">
                        <a href="/workgroup/">WG</a>
                    </div>
                    <div class="col-md-6 col-xs-6">
                        <a href="/contato/#divFormCv">Trabalhe Conosco</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-xs-6">
                        <a href="/parceiros/">Parceiros</a>
                    </div>
                    <div class="col-md-6 col-xs-6">
                        <a href="/politica/">Política</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12 font-size">
                <div class="row">
                    Contato Comercial:
                </div>
                <div class="row">
                    <div class="col-md-1 col-sm-1 col-xs-1">
                        <i class="fa fa-phone"></i>
                    </div>
                    <div class="col-md-5 col-sm-5">
                        <a href="tel:0800551505" style="color: black">0800 55 1505</a>
                    </div>
                    <div class="col-md-1 col-xs-1">
                        <i class="fa fa-whatsapp"></i>
                    </div>
                    <div class="col-md-5 ">
                        <a href="tel:+5511970112222" style="color: black">(11)97011 2222</a>
                    </div>
                </div>
                <div class="row" style="margin-top: 1vh;">
                    <div class="col-md-12">
                        <hr class="hr-footer">
                    </div>
                </div>
                <div class="row" style="margin-top: 1vh;">
                    <div class="col-md-12">
                        <div class="col-md-2">
                            <span style="font-weight: bolder;">PABX:</span>
                        </div>
                        <div class="col-md-8">
                            <a href="tel:+551937553000" style="color: black">(19) 3755-3000</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script>
        
        workFree.mascararContato();
        workFree.mascararCpfCnpj();

        $("#exitIntent").on('hidden.bs.modal',
            function (e) {
                $.ajax({
                    url: "@Url.Action("ExitIntent", "Free")"
                });
            }
        );

        $("#form-registrar-cliente-free").submit(function(e) {
            e.preventDefault();
            $("#btn-enviar").prop("disabled", true);
            $("#btn-enviar i").addClass("fa-spin").addClass("fa-spinner");

            console.log("Antes de entrar no valid");

            if ($(this).valid()) {

                //console.log("Depois de entrar no valid e antes de entrar no control");
                //control = $("#clienteEmail").val();
                //console.log("Variável control antes do if: " + control);
                //if (control !== null) return false;

                console.log("Depois de entrar no valid e depois de entrar no control");

                $.ajax({
                    url: "@Url.Action("RegistrarCliente1", "Free")",
                    type: "post",
                    async: true,
                    data: $(this).serialize(),
                    beforeSend: function() {
                        $("#btn-enviar").prop("disabled", true);
                    },
                    success: function(data) {
                        if (data !== "Fail") {
                            $("#clienteEmail").val($("#formEmail").val());
                            $("#clienteTelefone").val($("#telefone").val());
                            $(".row-three").html(data);
                            gtag('event', 'cadastro_free', {
                                'event_category': 'etapa_1',
                                'event_label': 'sucesso'
                            });
                            $("#step-two").modal('show');
                            $("#exitIntent").modal('hide');
                        } else {
                            console.log("ERRO");
                        }
                    }
                });
            } else {
                $("#btn-enviar i").removeClass("fa-spin fa-spinner");
                $("#btn-enviar").prop("disabled", false);
            }
            return false;
        });
    
        $(document).mouseleave(function (e) {
            $.ajax({
                url: "@Url.Action("ExitIntent", "Free")",
                success: function(data) {
                    if (data === "Null") {
                        $("#exitIntent").modal('show');
                    }
                }
            });
        });

        jQuery("#Telefone").mask("(99) 99999-9999").focusout(function (event) {
            var target, phone, element;
            target = (event.currentTarget) ? event.currentTarget : event.srcElement;
            phone = target.value.replace(/\D/g, '');
            element = $(target);
            element.unmask();
            if (phone.length <= 10) {
                element.mask("(99) 9999-9999");
            } else {
                element.mask("(99) 99999-9999");
            }
        });
        jQuery("#TelefoneCv").mask("(99) 99999-9999").focusout(function (event) {
            var target, phone, element;
            target = (event.currentTarget) ? event.currentTarget : event.srcElement;
            phone = target.value.replace(/\D/g, '');
            element = $(target);
            element.unmask();
            if (phone.length < 10) {
                element.mask("(99) 9999-9999");
            } else {
                element.mask("(99) 99999-9999");
            }
        });


        function enviarForm() {
            if ($("form#formContato").validate({
                messages: {
                    Nome: "Informe seu nome",
                    Email: {
                        required: "E-mail é obrigatório",
                        email: "o email deve ser name@domain.com"
                    },
                    Telefone: "Informe seu telefone"
                }
            })) {
                window.email_do_usuario = $("#Email").val();
                window.goog_report_conversion(window.location.href);

                if ($("form#formContato").data("form") === "index") {
                    $("#modalSimulacao").modal("show");
                    window.EnviarFormulario($("form#formContato").serialize(), "/Home/Contato", $("form#formContato").data("form"));
                } else {
                    window.EnviarFormulario($("form#formContato").serialize(), "/Home/Contato");
                }
            } else {
                window.gtag_report_conversion_error();
            }
        }

        function Util() {

            Util.prototype.Inicializar = function Inicializar() {
                window.util.InicializaFullHeight();
                window.util.ScrollPage();
            }


            // FULL HEIGHT
            Util.prototype.InicializaFullHeight = function InicializaFullHeight() {

                if (jQuery(window).width() > 768) {
                    var windowH = $(window).height();
                    var wrapperH = $('.fullHeight').height();
                    if (windowH > wrapperH) {
                        $('.fullHeight').css({ 'height': ($(window).height()) + 'px' });
                    }
                    $(document).ready(function () {
                        var windowH = $(window).height();
                        var wrapperH = $('.fullHeight').height();
                        var differenceH = windowH - wrapperH;
                        var newH = wrapperH + differenceH;
                        var truecontentH = $('#truecontent').height();
                        if (windowH > truecontentH) {
                            $('.fullHeight').css('height', (newH) + 'px');
                        }

                    })
                }

            }
            Util.prototype.ScrollPage = function ScrollPage() {
                (function ($) {
                    $(window).on("load", function () {

                        / Page Scroll to id fn call /
                        $("#menu a,a[href='#top'],a[rel='id']").mPageScroll2id({
                            highlightSelector: "#menu a",
                        });

                        / demo functions /
                        $("a[rel='next']").click(function (e) {
                            e.preventDefault();
                            var to = $(this).parent().parent("section").next().attr("id");
                            $.mPageScroll2id("scrollTo", to);
                        });

                    });
                })(jQuery);
            }
        }
        window.util = new Util();

        $(document).ready(function () {
            window.util.Inicializar();
        });


    </script>



    <script type="text/javascript">
        window.$mysuite || function (t, e) { var c = $mysuite = function (t) { c._.push(t) }, s = c.s = t.createElement(e), a = t.getElementsByTagName(e)[0]; c.set = function (t) { c.set._.push(t) }, c._ = [], c.set._ = [], s.async = !0, s.setAttribute("charset", "utf-8"), s.src = "https://servidorseguro.mysuite.com.br/client/cf/?h=c54faca5dab6facac94b07aa065e87c5&sl=wkg", c.t = +new Date, s.type = "text/javascript", a.parentNode.insertBefore(s, a) }(document, "script");
    </script>


    <script type="text/javascript">
        /* <![CDATA[ */
        goog_snippet_vars = function () {
            var w = window;
            w.google_conversion_id = 943746249;
            w.google_conversion_label = "8-H2COGnuW0QydmBwgM";
            w.google_remarketing_only = false;
        }
        // DO NOT CHANGE THE CODE BELOW.
        goog_report_conversion = function (url) {
            gtag('event', 'generate_lead', {
                'transaction_id': email_do_usuario
            });
            goog_snippet_vars();
            window.google_conversion_format = "3";
            var opt = new Object();
            opt.onload_callback = function () {
                if (typeof (url) !== 'undefined') {
                    //window.location = url;
                }
            }
            var conv_handler = window['google_trackConversion'];
            if (typeof (conv_handler) === 'function') {
                conv_handler(opt);
            }
        }
        function gtag_report_conversion_error() {
            gtag('event', 'Envio_form', 'erro');
        }
/* ]]> */
    </script>
    <script type="text/javascript"
            src="//www.googleadservices.com/pagead/conversion_async.js">
    </script>
</body>
</html>