﻿<!DOCTYPE html>
<html>
<head>
    <link class="fundoverde" rel="icon" type="imagem/png" href="~/Content/Imagens/money.png" />

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/css")

</head>
<body class="telalogin">
<img src="~/Content/Imagens/banner-promo1.png" style ="    margin-bottom: -16px;"class="img-responsive banner hidden-sm hidden-xs" alt="" />
<section class="wrapper site-min-height">
    @RenderBody()
    <div id="modal"></div>
</section>

@RenderSection("scripts", required: false)

</body>
</html>



