﻿@using System.Text.RegularExpressions
@using SiteWorkMotor.ViewModel
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="alternate" href="https://www.workmotor.com.br/@ViewBag.Href" hreflang="pt-br" />
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-69638641-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() { dataLayer.push(arguments); }

        gtag('js', new Date());
        gtag('config', 'UA-69638641-1');
    </script>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="@ViewBag.Descricao" />
    <title>@ViewBag.Title</title>

    @*@Scripts.RenderFormat("<script src='{0}' async></script>", "~/bundles/modernizr")*@

    @Styles.Render("~/Content/css")
    
    <!-- Facebook Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
                n.callMethod.apply(n,arguments):n.queue.push(arguments)};
            if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
            n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t,s)}(window,document,'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '2301367826785231'); 
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" 
             src="https://www.facebook.com/tr?id=2301367826785231&ev=PageView
&noscript=1"/>
    </noscript>
    <!-- End Facebook Pixel Code -->

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="divlogo">
            <img src="/Content/Imagens/logo.png" alt="" class="pull-left" />
        </div>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse cabecario pull-right">
            <ul class="nav navbar-nav letracbc" id="menu">
                <li><a href="/">HOME</a></li>
                <li><a href="/workmotor/">WORKMOTOR</a></li>
                <li id="workfree"><a href="/free/">VERSÃO GRATUITA</a></li>
                <li><a href="/clientes/">CLIENTES</a></li>
                <li><a href="/workgroup/">WG</a></li>
                <li><a href="/parceiros/">PARCEIROS</a></li>
                <li><a href="/franquia/">FRANQUIA</a></li>
                <li><a href="/blog/noticias/">BLOG</a></li>
                <li><a href="/contato/">CONTATO</a></li>
                <li id="areacliente"><a class="areacliente cordocliente" href=" http://suporte.workmotor.com.br/" target="_blank">ÁREA DO CLIENTE</a></li>
            </ul>
        </div>
    </div>
    <div class="body-content col-md-12">
        @RenderBody()
        <div id="modalcontato" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Enviado com sucesso</h4>
                    </div>
                    <div class="modal-body">
                        <p>Aguardar Contato</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="exitIntent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: #00377a; min-height: 4vh;">
                    </div>
                    <div class="modal-body">
                        <div class="row" style="color: #00377a; text-align: center;">
                            <div class="container">
                                <div class="row">
                                    <div>
                                        <h2>ESPERE! NÃO VÁ EMBORA AINDA.</h2>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="container">
                                        <h2>VOCÊ SABIA QUE PODE TER O WORKMOTOR DE GRAÇA?</h2>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="container">
                                        <p><span>WORKMOTOR FREE</span> tem tudo que você precisa, <span>de graça</span> e por tempo ilimitado. É só clicar e baixar!</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row row-exitIntent-form">
                            @Html.Partial("_FormExit", new ClienteViewModel())
                        </div>
                        <div class="row" style="text-align: center; margin-top: 2vh;">
                            <a href="" data-dismiss="modal">NÃO QUERO TER O WORKMOTOR DE GRAÇA</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="step-two" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="container input-free row-three" style="text-align: center; color: #13304e;">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<footer class="footer-contato fontavenir">
    <div class="row-null-padding-contato">
        <div class="row">
            <h2 style="font-weight: bold;">CONTATO COMERCIAL:</h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-6">
                    <i class="fa fa-phone"></i><a href="tel:0800551505" style="color: white"><span style="display: inline; vertical-align: central;"> 0800 55 1505</span></a>
                </div>
                @*<div class="col-md-4" style="font-size: 1.4vw;">

                        </div>*@
                <div class="col-md-6">
                    <i class="fa fa-whatsapp"></i><a href="tel:+5511970112222" style="color: white"><span style="display: inline; vertical-align: central;"> (11)97011 2222</span></a>
                </div>
                @*<div class="col-md-4" style="font-size: 1.4vw;">
                            (11)97011 2222
                        </div>*@
            </div>
        </div>
        <div class="row" style="margin-top: 2vh;">
            <div class="col-md-12">
                <div class="col-md-6">
                    <i class="fa fa-envelope"></i><a href="mailto:comercial@workmotor.com" style="color: white"><span style="display: inline; vertical-align: central;"> comercial@workmotor.com</span></a>
                </div>
                @*<div class="col-md-4" style="font-size: 1.4vw;">
                            comercial@workmotor.com
                        </div>*@
            </div>
        </div>
        <div class="row" style="margin-top: 2vh;">
            <div class="col-md-12">
                <hr class="hr-footer-contato">
            </div>
        </div>
        <div class="row" style="margin-top: 2vh;">
            <div class="col-md-12">
                <div class="col-md-1">
                    <span style="font-weight: bold; font-size: 3vh;">PABX:</span>
                </div>
                <div class="col-md-4">
                    <a href="tel:+551937553000" style="color: white"><span style="display: inline; vertical-align: central;"> (19) 3755-3000</span></a>
                </div>
            </div>
        </div>
    </div>
</footer>
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/landingpage")
@RenderSection("scripts", required: false)
<script>

    workFree.mascararContato();
    workFree.mascararCpfCnpj();

    $("#exitIntent").on('hidden.bs.modal',
        function (e) {
            $.ajax({
                url: "@Url.Action("ExitIntent", "Free")"
            });
        }
    );

    $("#form-registrar-cliente-free").submit(function(e) {
        e.preventDefault();
        $("#btn-enviar").prop("disabled", true);
        $("#btn-enviar i").addClass("fa-spin").addClass("fa-spinner");

        console.log("Antes de entrar no valid");

        if ($(this).valid()) {

            //console.log("Depois de entrar no valid e antes de entrar no control");
            //control = $("#clienteEmail").val();
            //console.log("Variável control antes do if: " + control);
            //if (control !== null) return false;

            console.log("Depois de entrar no valid e depois de entrar no control");

            $.ajax({
                url: "@Url.Action("RegistrarCliente1", "Free")",
                type: "post",
                async: true,
                data: $(this).serialize(),
                beforeSend: function() {
                    $("#btn-enviar").prop("disabled", true);
                },
                success: function(data) {
                    if (data !== "Fail") {
                        $("#clienteEmail").val($("#formEmail").val());
                        $("#clienteTelefone").val($("#telefone").val());
                        $(".row-three").html(data);
                        gtag('event', 'cadastro_free', {
                            'event_category': 'etapa_1',
                            'event_label': 'sucesso'
                        });
                        $("#step-two").modal('show');
                        $("#exitIntent").modal('hide');
                    } else {
                        console.log("ERRO");
                    }
                }
            });
        } else {
            $("#btn-enviar i").removeClass("fa-spin fa-spinner");
            $("#btn-enviar").prop("disabled", false);
        }
        return false;
    });

    $(document).mouseleave(function (e) {
        $.ajax({
            url: "@Url.Action("ExitIntent", "Free")",
            success: function(data) {
                if (data === "Null") {
                    $("#exitIntent").modal('show');
                }
            }
        });
    });

    jQuery("#Telefone").mask("(99) 99999-9999").focusout(function (event) {
        var target, phone, element;
        target = (event.currentTarget) ? event.currentTarget : event.srcElement;
        phone = target.value.replace(/\D/g, '');
        element = $(target);
        element.unmask();
        if (phone.length <= 10) {
            element.mask("(99) 9999-9999");
        } else {
            element.mask("(99) 99999-9999");
        }
    });
    jQuery("#TelefoneCv").mask("(99) 99999-9999").focusout(function (event) {
        var target, phone, element;
        target = (event.currentTarget) ? event.currentTarget : event.srcElement;
        phone = target.value.replace(/\D/g, '');
        element = $(target);
        element.unmask();
        if (phone.length < 10) {
            element.mask("(99) 9999-9999");
        } else {
            element.mask("(99) 99999-9999");
        }
    });

    function enviarForm() {
        if ($("form#formContato").validate({
            messages: {
                Nome: "Informe seu nome",
                Email: {
                    required: "E-mail é obrigatório",
                    email: "o email deve ser name@domain.com"
                },
                Telefone: "Informe seu telefone"
            }
        })) {
            window.email_do_usuario = $("#Email").val();
            window.goog_report_conversion(window.location.href);
            window.EnviarFormulario($("form#formContato").serialize(), "/Home/Contato");
        } else {
            window.gtag_report_conversion_error();
        }
    }
    function Util() {

        Util.prototype.Inicializar = function Inicializar() {
            window.util.InicializaFullHeight();
            window.util.ScrollPage();
        }


        // FULL HEIGHT
        Util.prototype.InicializaFullHeight = function InicializaFullHeight() {

            if (jQuery(window).width() > 768) {
                var windowH = $(window).height();
                var wrapperH = $('.fullHeight').height();
                if (windowH > wrapperH) {
                    $('.fullHeight').css({ 'height': ($(window).height()) + 'px' });
                }
                $(document).ready(function () {
                    var windowH = $(window).height();
                    var wrapperH = $('.fullHeight').height();
                    var differenceH = windowH - wrapperH;
                    var newH = wrapperH + differenceH;
                    var truecontentH = $('#truecontent').height();
                    if (windowH > truecontentH) {
                        $('.fullHeight').css('height', (newH) + 'px');
                    }

                })
            }

        }
        Util.prototype.ScrollPage = function ScrollPage() {
            (function ($) {
                $(window).on("load", function () {

                    / Page Scroll to id fn call /
                    $("#menu a,a[href='#top'],a[rel='id']").mPageScroll2id({
                        highlightSelector: "#menu a",
                    });

                    / demo functions /
                    $("a[rel='next']").click(function (e) {
                        e.preventDefault();
                        var to = $(this).parent().parent("section").next().attr("id");
                        $.mPageScroll2id("scrollTo", to);
                    });

                });
            })(jQuery);
        }
    }
    window.util = new Util();

    $(document).ready(function () {
        window.util.Inicializar();

    });
</script>
    



<script type="text/javascript">
    window.$mysuite || function (t, e) { var c = $mysuite = function (t) { c._.push(t) }, s = c.s = t.createElement(e), a = t.getElementsByTagName(e)[0]; c.set = function (t) { c.set._.push(t) }, c._ = [], c.set._ = [], s.async = !0, s.setAttribute("charset", "utf-8"), s.src = "https://servidorseguro.mysuite.com.br/client/cf/?h=c54faca5dab6facac94b07aa065e87c5&sl=wkg", c.t = +new Date, s.type = "text/javascript", a.parentNode.insertBefore(s, a) }(document, "script");
</script>

    <script type="text/javascript">
        /* <![CDATA[ */
        goog_snippet_vars = function () {
            var w = window;
            w.google_conversion_id = 943746249;
            w.google_conversion_label = "8-H2COGnuW0QydmBwgM";
            w.google_remarketing_only = false;
        }
        // DO NOT CHANGE THE CODE BELOW.
        goog_report_conversion = function (url) {
            gtag('event', 'generate_lead', {
                'transaction_id': email_do_usuario
            });
            goog_snippet_vars();
            window.google_conversion_format = "3";
            var opt = new Object();
            opt.onload_callback = function () {
                if (typeof (url) !== 'undefined') {
                    //window.location = url;
                }
            }
            var conv_handler = window['google_trackConversion'];
            if (typeof (conv_handler) === 'function') {
                conv_handler(opt);
            }
        }
        function gtag_report_conversion_error() {
            gtag('event', 'Envio_form', 'erro');
        }
/* ]]> */
    </script>
    <script type="text/javascript"
            src="//www.googleadservices.com/pagead/conversion_async.js">
    </script>
</body>
</html>
