﻿
@using Domain.Security
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/landingpage")
</head>
<body class="layoutMenu">

    <nav class="navbar navbar-info navbar-fixed-top">
            <img class="img-responsive logolayoutadm" src="/Content/Imagens/logoMenu.png"  alt=""/>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#Icones">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
     
        </div>
        <div class="collapse navbar-collapse " id="Icones">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="@Url.Action("Logout", "Administrativo", new {area = ""})">Sair</a></li>
             
            </ul>
        </div>
    </nav>

    <aside>
        <div id="sidebar" class="nav-collapse ">
            <ul class="sidebar-menu" id="nav-accordion">
                <li>
                    <a href="@Url.Action("Index", "Administrativo", new {area = ""})">

                        <span>Contatos</span>
                    </a>
                </li>

            </ul>
        </div>
   
    </aside>
    <section id="main-content">
        <section class="wrapper site-min-height">
            @RenderBody()
            <div id="modal"></div>
        </section>
    </section>

    @RenderSection("scripts", required: false)

    <script>
        cxl.menu();
        /*---LEFT BAR ACCORDION----*/
        $(function () {
            $('#nav-accordion').dcAccordion({
                eventType: 'click',
                autoClose: true,
                saveState: true,
                disableLink: true,
                speed: 'slow',
                showCount: false,
                autoExpand: true,
                //        cookie: 'dcjq-accordion-1',
                classExpand: 'dcjq-current-parent'
            });
        });

        var Script = function () {

            $("#sidebar").niceScroll({
                styler: "fb",
                cursorcolor: "#e8403f",
                cursorwidth: '3',
                cursorborderradius: '10px',
                background: '#404040',
                spacebarenabled: false,
                cursorborder: ''
            });
            $("html").niceScroll({
                styler: "fb",
                cursorcolor: "#e8403f",
                cursorwidth: '6',
                cursorborderradius: '10px',
                background: '#404040',
                spacebarenabled: false,
                cursorborder: '',
                zindex: '1000'
            });
            jQuery('.panel .tools .fa-chevron-down').click(function () {
                var el = jQuery(this).parents(".panel").children(".panel-body");
                if (jQuery(this).hasClass("fa-chevron-down")) {
                    jQuery(this).removeClass("fa-chevron-down").addClass("fa-chevron-up");
                    el.slideUp(200);
                } else {
                    jQuery(this).removeClass("fa-chevron-up").addClass("fa-chevron-down");
                    el.slideDown(200);
                }
            });
            jQuery('.panel .tools .fa-times').click(function () {
                jQuery(this).parents(".panel").parent().remove();
            });

            if ($(".custom-bar-chart")) {
                $(".bar").each(function () {
                    var i = $(this).find(".value").html();
                    $(this).find(".value").html("");
                    $(this).find(".value").animate({
                        height: i
                    },
                        2000)
                })
            }
        }();
        $('[data-toggle="tooltip"]').tooltip();


    </script>
</body>
</html>
