﻿@using System.Runtime.InteropServices.ComTypes
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>
    <script type="text/javascript" async src="https://d335luupugsy2.cloudfront.net/js/loader-scripts/66e1e82b-3ccf-45ce-9486-02d45580fa82-loader.js"></script>
    <title>@ViewBag.Title</title>
    @Scripts.RenderFormat("<script src='{0}' async></script>", "~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/landingpage")
    @Styles.Render("~/Content/cssmainTSPneus")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top ">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="logotspneus" href="@Url.Action("Index","TSPneus")">
                </a>
            </div>
            <div class="navbar-collapse collapse">
            </div>
        </div>
    </div>

    <div class="container ">
        @RenderBody()
    </div>
<script>
    jQuery("#Telefone").mask("(99) 99999-9999").focusout(function (event) {
        var target, phone, element;
        target = (event.currentTarget) ? event.currentTarget : event.srcElement;
        phone = target.value.replace(/\D/g, '');
        element = $(target);
        element.unmask();
        if (phone.length <= 10) {
            element.mask("(99) 9999-9999");
        } else {
            element.mask("(99) 99999-9999");
        }
    });

    workFree.mascararContato();
    workFree.mascararCpfCnpj();

    $(document).ready(function() {
        $("#cep").mask("99999-999");
    });
    $("#form-registrar-cliente1").submit(function(e) {
        e.preventDefault();
        $("#btn-enviar i").addClass("fa-spin").addClass("fa-spinner");
        if ($(this).valid()) {
            $.ajax({
                url: "@Url.Action("RegistrarCliente1", "TSPneus")",
                type: "post",
                async: true,
                data: $(this).serialize(),
                beforeSend: function() {
                },
                success: function(data) {
                    if (data != "nope") {
                        $("#form-registrar-cliente1").fadeOut(500,
                            function() {
                                $(".form-cliente").html(data);
                            });
                    }
                }
            });
        } else {
            $("#btn-enviar i").removeClass("fa-spin fa-spinner");
        }
        return false;
    });

    var cbpAnimatedHeader = (function () {

        var docElem = document.documentElement,
            header = document.querySelector('.navbar-default'),
            didScroll = false,
            changeHeaderOn = 100;

        function init() {
            window.addEventListener('scroll', function (event) {
                if (!didScroll) {
                    didScroll = true;
                    setTimeout(scrollPage, 250);
                }
            }, false);
        }

        function scrollPage() {
            var sy = scrollY();
            if (sy >= changeHeaderOn) {
                $(header).addClass('navbar-shrink');
            }
            else {
                $(header).removeClass('navbar-shrink');
            }
            didScroll = false;
        }

        function scrollY() {
            return window.pageYOffset || docElem.scrollTop;
        }

        init();

    })();
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments);
            },
            i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m);
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-69638641-1', 'auto');
    ga('send', 'pageview', 'event', 'botão', 'clique');
</script>


</body>
</html>
