﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Página nãocontrada</title>
    <style>
        .text-center {
        }
    </style>
</head>
<body>
<h1 class="text-center">O Endereço pesquisado não foi encontrado</h1>
<a> Voltar Para Home</a>
</body>
</html>