﻿@model SiteWorkMotor.ViewModel.EditorConteudoViewModel
@{
    ViewBag.Title = "Edição";
    Layout = "../Shared/LayoutConteudo.cshtml";
}
<br />
<script src="//cdn.ckeditor.com/4.9.2/full-all/ckeditor.js"></script>

<div class="form-group">
    <label>Miniatura</label>
    <label for="testeImagem" class = "form-control" id="labelImagem">@Model.PathMiniatura</label>
    <input type="file" id="testeImagem" class="col-md-12 form-control" style="display: none" accept="image/gif, image/jpeg, image/png, image/jpg"/>
</div>

<form class="editorNoticias" method="post" id="formc">
    <div class="form-group form-serialize">
        @Html.LabelFor(model => model.Titulo)
        @Html.TextBoxFor(x => x.Titulo, new { @class = "col-md-12 form-control" })
        @Html.ValidationMessageFor(model => model.Titulo, "", new { @class = "text-danger" })
    </div>
    <div class="form-group form-serialize">
        @Html.LabelFor(model => model.Resumo, new { })
        @Html.TextAreaFor(x => x.Resumo, new { @class = "col-md-12 form-control" })
        @Html.ValidationMessageFor(model => model.Resumo, "", new { @class = "text-danger" })
    </div>
    <div class="form-group form-serialize">
        @Html.LabelFor(model => model.Texto, new { })
        @Html.TextAreaFor(x => x.Texto, new { @class = "col-md-12 form-control", id = "Ckeditor" })
        @Html.ValidationMessageFor(model => model.Texto, "", new { @class = "text-danger" })
    </div>
    <div class="form-group palavraschavesForm form-serialize">
        @Html.LabelFor(model => model.PalavrasChave, new { id="labelPalavraChave"})
        <select multiple data-role="tagsinput" id="PalavrasChave" name="PalavrasChave">
            @if (Model?.PalavrasChave != null)
            {
                foreach (var palavra in Model.PalavrasChave)
                {
                    <option value="@palavra">@palavra</option>
                }
            }
        </select>
    </div>
    @Html.TextAreaFor(x => x.Tipo, new { @class = "hidden form-serialize", value = "1" })
    @Html.TextBoxFor(x => x.Id, new { @class = "hidden form-serialize", value = Model.Id})
    <div class="form-group pull-right">
        <button class="btn btn-primary" onclick="$('#Tipo').val(1);" type="submit">Salvar</button>
        <button class="btn btn-success" onclick="$('#Tipo').val(2);"  type="submit">Publicar</button>
    </div>
</form>

<div class="modal fade" id="modalEditor" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalTitle">Sucesso!</h5>
            </div>
            <div class="modal-body" id="mensagemModal">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function() {
        //$("select").tagsinput('items');
        $(".palavraschavesForm select#PalavrasChave").tagsinput({
            trimValue: true,
            confirmKeys: [9, 188]
        });
        $(".palavraschavesForm select#PalavrasChave").closest('form').find('input').on('keydown',
            function(e) {
                if (e.which == 9) {
                    console.log($(this).attr("name"));
                    if ($(this).attr("name") === undefined) {
                        $(".palavraschavesForm select#PalavrasChave").tagsinput('add', $(this).val());
                        $(this).val("");
                        e.preventDefault();
                    }
                }
            });


        // $("#tags").closest('form').find('input') // need replace, this js find the input element generated by bootstrap-tagsinput
        CKEDITOR.replace('Ckeditor',
            {
                extraPlugins: 'image2,uploadimage',

                // Configure your file manager integration. This example uses CKFinder 3 for PHP.
                filebrowserBrowseUrl: "/ckeditor/LinkBrowser.aspx",
                filebrowserImageBrowseUrl: "/ckeditor/ImageBrowser.aspx",
                filebrowserUploadUrl: '@Url.Action("SalvarImagem", "Editor")',
                filebrowserImageUploadUrl: '@Url.Action("SalvarImagem", "Editor")',

                // Upload dropped or pasted images to the CKFinder connector (note that the response type is set to JSON).
                uploadUrl:
                    '/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Files&responseType=json',

                // Reduce the list of block elements listed in the Format drop-down to the most commonly used.
                format_tags: 'p;h1;h2;h3;pre',
                // Simplify the Image and Link dialog windows. The "Advanced" tab is not needed in most cases.
                removeDialogTabs: 'image:advanced;link:advanced',

                height: 400

            });

        $("#testeImagem").change(function () {
            var input = this;
            var file;

            if ((file = this.files[0])) {

                var img = new Image();

                img.src = window.URL.createObjectURL(file);

                img.onload = function() {

                    var width = img.naturalWidth;
                    var height = img.naturalHeight;

                    //img.URL.revokeObjectURL(img.src);

                    if (width > 320 && height > 240) {
                        $("#labelImagem").addClass("text-warning");
                        $("#labelImagem").html("IMAGEM MUITO GRANDE! Favor selecionar imagem com dimenções abaixo de 320 x 240! No caso de edição de post, a imagem já salva será a usada!");
                        
                        var $el = $('#testeImagem');
                        $el.wrap('<form>').closest('form').get(0).reset();
                        $el.unwrap();
                    } else {
                        $("#labelImagem").removeClass("text-warning");
                        $("#labelImagem").html(input.value.split("\\").pop());
                    }
                };
            }
        });

        $("form#formc").submit(function(e) {
            e.preventDefault();
            //console.log($(this).serialize());
            var d = CKEDITOR.instances.Ckeditor.getData();
            
            $.ajax({
                url: '@Url.Action("Formulario", "Editor", new { area = "Conteudo" })',
                type: "POST",

                data: {
                    "Id": $("#Id").val(),
                    "Titulo": $("#Titulo").val(),
                    "Resumo": $("#Resumo").val(),
                    "Texto": d,
                    "PalavrasChave": $("#PalavrasChave").val(),
                    "Tipo": $("#Tipo").val()
                },
                success: function (data) {
                    $("#Id").val(data);
                    if (data != 0) {
                        
                        //var fileUpload = $("#testeImagem").get(0);
                        var fileUpload = $("#testeImagem").get(0);
                        var files = fileUpload.files;
                        var fileData = new FormData();
                        console.log(files);
                        if (files.length != 0) {
                            fileData.append(files[0].name, files[0]);
                        }

                        $.ajax({
                            url: '@Url.Action("SalvarMiniatura", "Editor", new { area = "Conteudo" })',
                            type: "POST",
                            contentType: false, // Not to set any content header
                            processData: false, // Not to process data
                            data: fileData,
                            success: function(suc) {
                                if (suc == true || suc == "True") {
                                    $("#ModalTitle").html("SUCESSO!");
                                    $("#mensagemModal").html("As alterações foram salvas.");
                                    $("#modalEditor").modal("show");
                                } else {
                                    $("#ModalTitle").html("ERRO!");
                                    if (files == undefined) {
                                        $("#mensagemModal").html("Erro ao salvar alterações! Não foi selecionada uma imagem!");
                                    } else {
                                        $("#mensagemModal").html("Erro ao salvar alterações! Erro ao salvar a miniatura selecionada!");
                                    }
                                    $("#modalEditor").modal("show");
                                }
                            },
                            error: function(err) {
                                $("#ModalTitle").html("ERRO!");
                                $("#mensagemModal").html("Erro ao salvar alterações! Erro ao salvar a miniatura!");
                                $("#modalEditor").modal("show");
                            }
                        });
                        
                    } else {
                        $("#ModalTitle").html("ERRO!");
                        $("#mensagemModal").html("Erro ao salvar alterações, tente novamente!");
                        $("#modalEditor").modal("show");
                    }
                },
                error: function (err) {
                    $("#ModalTitle").html("ERRO!");
                    $("#mensagemModal").html("Erro ao salvar alterações, tente novamente!");
                    $("#modalEditor").modal("show");
                 }
             });

        });
    });


</script>