﻿@{
    ViewBag.Title = "Contato";
    ViewBag.Href = "contato/";
    Layout = "../Shared/_LayoutContato.cshtml";
    ViewBag.Descricao = "Temos uma equipe de profissionais dedicada para responder às suas duvidas. Preencha o formulário abaixo e diga-nos como podemos ajudá-lo.";
}
<div class="row formularioContato" id="divFormContato" style="margin-top: 10vh;" >
    <div class="col-md-12">
        <div class="col-md-11 col-md-offset-1">
            <div class="col-md-9">
                <div class="row">
                    <h1 class="tituloCliente">
                        <span>Fale</span> Conosco (Departamento Comercial)
                    </h1>
                    <div class="col-md-3">
                        <div class="row">
                            <hr class="hrtituloCliente" />
                        </div>
                    </div>
                    <div class="col-md-9"></div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <h4>
                                Temos uma equipe de profissionais dedicada para responder às suas duvidas. Preencha o formulário abaixo e diga-nos como podemos ajudá-lo.
                            </h4>
                        </div>
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>
            <div class="row">
                <div class="row">
                    <div class="col-md-6">
                        <form class="form-horizontal form" method="post" id="formContato" action="JavaScript:window.enviarForm();">
                            <br />
                            <h5 class="text-center text-white">Agende uma análise</h5>
                            <div class="col-md-12">
                                <input autocomplete="name" class="form-control" placeholder="NOME" type="text" id="Nome" name="Nome" required="required" oninvalid="this.setCustomValidity('Nome inválido')" oninput="setCustomValidity('')" />
                                <br />
                            </div>
                            <div class="col-md-12">
                                <input autocomplete="email" class="form-control" placeholder="E-MAIL" type="email" id="Email" name="Email" required="required" oninvalid="this.setCustomValidity('E-mail inválido')" oninput="setCustomValidity('')" />
                                <br />
                            </div>
                            <div class="col-md-12">
                                <input autocomplete="tel-national" class="form-control" placeholder="TELEFONE" type="tel" id="Telefone" name="Telefone" required="required" oninvalid="this.setCustomValidity('Telefone inválido')" oninput="setCustomValidity('')" />
                                <br />
                            </div>
                            <div class="col-md-12">
                                <textarea class="form-control" style="resize: none;" placeholder="MENSAGEM" rows="6" id="Mensagem" name="Mensagem" required="required" oninvalid="this.setCustomValidity('Mensagem inválida ')" oninput="setCustomValidity('')"></textarea>
                                <br />
                            </div>
                            <div class="col-md-3 col-md-offset-9">
                                <button type="submit" class="btn btn-primary col-md-12">ENVIAR</button>
                                <br />
                            </div>
                            <br />
                        </form>
                    </div>
                    <div class="col-md-6">
                        <br />
                        <br />
                        <br />
                        <div class="col-md-10 pull-right">
                            <img src="~/Content/Imagens/Untitled-28.png" class="img-responsive" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-11 col-md-offset-1" id="divFormCv">
            <div class="col-md-9">
                <div class="row">
                    <h2 class="tituloCliente">
                        Envie o seu <span>currículo</span>
                    </h2>
                    <div class="col-md-3">
                        <div class="row">
                            <hr class="hrtituloCliente" />
                        </div>
                    </div>
                    <div class="col-md-9"></div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <h4>
                                Constantemente, estamos em busca de novos talentos para as áreas de TI, gestão de projetos, vendas, suporte técnico e administrativo. Por meio do formulário abaixo, conte-nos um pouco sobre a sua trajetória profissional. Você pode ser o próximo a fazer parte da nossa equipe!
                            </h4>
                        </div>
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>
            <div class="row">
                <div class="row">
                    <div class="col-md-6">
                        <form class="form-horizontal form" id="formcontatoCv" method="post">
                            <br />
                            <h5 class="text-center text-white">Agende uma análise</h5>
                            <div class="col-md-12">
                                <input autocomplete="name" class="form-control" placeholder="NOME" type="text" name="NomeCv" id="NomeCv" required="required" />
                                <br />
                            </div>
                            <div class="col-md-12">
                                <input autocomplete="email" class="form-control" placeholder="E-MAIL" type="email" name="EmailCv" id="EmailCv" required="required" />
                                <br />
                            </div>
                            <div class="col-md-12">
                                <input autocomplete="tel-national" class="form-control" placeholder="TELEFONE" type="tel" name="TelefoneCv" id="TelefoneCv" required="required" />
                                <br />
                            </div>
                            <div class="col-md-12">
                                <label for='selecao-arquivo' id="labelFileCv" class="input-file col-md-12">SELECIONAR ARQUIVO<i class="fa fa-paperclip pull-right fa-2x"></i></label>
                                <br />
                                <input class="form-control" placeholder="SELECIONAR ARQUIVO" type="file" id="selecao-arquivo" />
                                <label id="msg-erroArquivo" class="col-md-12 text-danger"></label>
                                <br />
                            </div>
                            <div class="col-md-12">
                                <textarea class="form-control" style="resize: none;" placeholder="MENSAGEM" rows="6" name="MensagemCv" id="MensagemCv" required="required"></textarea>
                                <br />
                            </div>
                            <div class="col-md-3 col-md-offset-9">
                                <button type="submit" class="btn btn-primary col-md-12">ENVIAR</button>
                                <br />
                            </div>
                            <br />
                        </form>
                    </div>
                    <div class="col-md-6">
                        <br />
                        <br />
                        <br />
                        <div class="col-md-10 pull-right">
                            <img src="~/Content/Imagens/Untitled-38.png" class="img-responsive" alt=""/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $("form#formcontatoCv").submit(function (e) {
                e.preventDefault();
                var fileUpload = $("#selecao-arquivo").get(0);
                var files = fileUpload.files;
                if (files.length == 0) {
                    $("#msg-erroArquivo").text("Insira um arquivo");
                    return false;
                }
                if ($(this).validate({
                    messages: {
                        NomeCv: "Informe seu nome",
                        EmailCv: {
                            required: "E-mail é obrigatório",
                            email: "o email deve ser name@domain.com"
                        },
                        TelefoneCv: "Informe seu telefone",
                        MensagemCv: "Digite sua mensagem"
                    }
                })) {
                    window.email_do_usuario = $("#Email").val();
                    window.goog_report_conversion(window.location.href);
                    window.EnviarFormularioCv($(this).serialize(), "/Home/ContatoCv");
                }
            });
            $('#selecao-arquivo').on('change', function () {
                myfile = $(this).val();
                var ext = myfile.split('.').pop();
                var fileUpload = $("#selecao-arquivo").get(0);
                var files = fileUpload.files;
                if (files[0].size >= 5000000) {
                    $("#msg-erroArquivo").text("Arquivo maior que 5Mb");
                    return false;
                }
                if (ext == "pdf" || ext == "docx" || ext == "doc") {
                    $("#msg-erroArquivo").text("");
                    $("#labelFileCv").text("Arquivo anexado");
                } else {
                    $("#msg-erroArquivo").text("Arquivo inválido. Prefira Doc ou Pdf");
                }
            });
        });

    </script>
}