﻿@using SiteWorkMotor.ViewModel

@{
    ViewBag.Title = "Simulador - WorkMotor App";
    Layout = "../Shared/_LayoutClear.cshtml";
}


<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="item active">
            <div class="link">
                <img src="~/Content/Imagens/banner1_mobile.png" class="img-responsive banner hidden-lg hidden-md" alt="" />
                <div class="col-xs-12 hidden-md hidden-lg banner-titulos text-right">
                    <h3 class="tituloCliente">
                        Ter <b>mais clientes</b> para sua <b>loja</b><br /> ou <b>oficina é importante?</b>
                    </h3>
                    <h4 class="tituloCliente">Nossos <b>softwares</b> vão te ajudar.</h4>
                    <br />
                    <h2 class=" tituloCliente"><b>3.000 clientes</b></h2>
                    <h4 class=" tituloCliente"><b>Agende uma análise</b></h4>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-md-offset-8 col-lg-3 col-lg-offset-8 sobreBanner">
        <div class="col-md-7 hidden-sm hidden-xs">
            <img src="~/Content/Imagens/Banner_WorkMotor_Teste_OS-10.png" class="img-responsive img-promo">
        </div>

    </div>
    <div class="col-md-2  form-border" style="     margin-top: -13vh;margin-left: 135vh;">
        <form class="form-horizontal form" id="formContato" action="JavaScript:window.enviarForm();" data-form="index">
            <br />
            <button id="simulacao" type="submit" class="btn btn-primary col-md-12"><span>SIMULAR</span></button>
            <br />
            <br />
        </form>
    </div>

</div>
<div class="row text-white hidden-xs" style="background-color: #3586c5; width: 110%; height: 27vh;">
    <div class="col-md-5 text-center">
        <div class="row">
            <h1><strong>O melhor Software para Oficinas</strong></h1>
        </div>
        <div class="row">
            <h1>Administra a sua empresa facilmente</h1>
        </div>
    </div>
    <div class="col-md-1 bordaRightBranco"></div>
    <div class="col-md-5 text-center">
        <div class="row">
            <h4><strong>Dúvidas, orçamentos? Chame a gente no Whats!</strong></h4>
        </div>
        <div class="row">
            É só clicar no botão abaixo:
        </div>
        <div class="row">
            @{
                if (ViewBag.Device == "Mobile")
                {
                    <a href="https://api.whatsapp.com/send?phone=5511970112222"><img src="~/Content/Imagens/Botao_Whats_Site_WorkMotor_2019_HOME.png" class="img-responsive heightPatrocinadores" style="margin-left: auto; margin-right: auto; display: block;"></a>
                }
                else
                {
                    <a href="https://api.whatsapp.com/send?phone=5511970112222"><img src="~/Content/Imagens/Botao_Whats_Site_WorkMotor_2019_HOME.png" class="img-responsive heightPatrocinadores" style="margin-left: auto; margin-right: auto; display: block;"></a>
                }
            }
        </div>
    </div>
</div>


<div id="modalsimu" class="modal fade modalIcones" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-8 col-md-offset-3">
                            <iframe src="https://marvelapp.com/9e7f680?emb=1&iosapp=false&frameless=false" width="452" height="901" allowTransparency="true" frameborder="0"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $("#modalsimu").modal("show");
    //$('#simulacao').on("click", function () {
    //    $("#modalsimu").modal("show");
    //});

    $('#modalsimu').on('hide.bs.modal',
        function(e) {
            window.location.href = '@Url.Action("Index", "Home")';
        });

</script>