﻿@model SiteWorkMotor.ViewModel.UsuarioViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 col-sm-6 bordalogin ">
            <div class="card card-signup " style="margin-top: 45px;">
                @using (Html.BeginForm("Index", "LoginConteudo", FormMethod.Post, new { @class = "form-group col-md-12" }))
                {
                    <img src="~/Content/Imagens/logoLogin.png" class="img-responsive margimbottom" alt="" />
                    <div class="content">
                        <div class="input-group col-md-12">
                            <div class="form-group label-floating" id="div-login">
                                @Html.LabelFor(x => x.Login, new { @class = "control-label" })
                                @Html.TextBoxFor(x => x.Login, new { @class = "form-control" })
                                <span class="form-control-feedback">
                                    @Html.ValidationMessageFor(x => x.Login, "", new { @class = "text-danger" })
                                </span>
                            </div>


                        </div>
                        <div class="input-group col-md-12">

                            <div class="form-group label-floating ">
                                <label class="control-label">Senha</label>
                                @Html.TextBoxFor(x => x.Senha, new { @class = "form-control", type = "password" })
                                <span class="form-control-feedback">
                                    @Html.ValidationMessageFor(x => x.Senha, "", new { @class = "text-danger" })

                                </span>
                            </div>
                        </div>
                        <div class="text-center text-danger" id="mensagemErro">
                            @if (!string.IsNullOrEmpty(ViewBag.mensagem))
                            {
                                @ViewBag.mensagem
                            }
                        </div>
                        <div class="footer text-center ">
                            <button type="submit" id="btn-logar" class="btn btn-primary btn-lg col-md-12 botaoentrar">Entrar</button>
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>
</div>



