﻿@{
    ViewBag.Title = "Soluções para oficinas, autocentros, autopeças e negócios automotivos";
    ViewBag.Href = "workgroup/";
    Layout = "../Shared/_LayoutMenu.cshtml";
    ViewBag.Descricao = "Empresa de tecnologia especialista no segmento automotivo. Desenvolvemos soluções completas para que o seu negócio seja cada vez melhor.";
}
<div class="row" style="margin-top: 10vh;">
    <div class="col-md-12">
        <div class="col-md-11 col-md-offset-1">
            <div class="col-md-9">
                <div class="row">
                    <h1 class="tituloCliente">
                        <span>WorkGroup</span>
                    </h1>
                    <div class="col-md-3">
                        <div class="row">
                            <hr class="hrtituloCliente" />
                        </div>
                    </div>
                    <div class="col-md-9"></div>
                </div><div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <h4>
                                Com anos de atuação no setor automotivo, a WorkGroup (WG) oferece inovações tecnológicas que ajudam oficinas mecânicas, centros automotivos, atacarejos e lojas de autopeças a aumentar a lucratividade e a satisfação de clientes.
                            </h4>
                        </div>
                    </div>
                    <div class="col-md-4"></div>
                </div>
                <div class="row">
                    <h2 class="tituloCliente">
                        Soluções <span>precisas</span><br /> Para negócios automotivos
                    </h2>
                    <div class="col-md-3">
                        <div class="row">
                            <hr class="hrtituloCliente" />
                        </div>
                    </div>
                    <div class="col-md-9"></div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <h4>O WorkMotor é um sistema completo de gestão de autopeças, que atende oficinas mecânicas, reparadores, atacarejos e lojas de peças automotivas. Com o WorkMotor você pode melhorar o desempenho do seu negócio.</h4>
                        </div>
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>
            <div class="col-md-3 sobre form-border">
                <form class="form-horizontal form" id="formContato" action="JavaScript:window.enviarForm();">
                    <br />
                    <h5 class="text-center text-white">AGENDE UMA ANÁLISE</h5>
                    <div class="col-md-12">
                        <input autocomplete="name" class="form-control" placeholder="NOME" type="text" id="Nome" name="Nome" required="required" oninvalid="this.setCustomValidity('Nome inválido')" oninput="setCustomValidity('')" />
                        <br />
                    </div>
                    <div class="col-md-12">
                        <input autocomplete="email" class="form-control" placeholder="E-MAIL" type="email" id="Email" name="Email" required="required" oninvalid="this.setCustomValidity('E-mail inválido')" oninput="setCustomValidity('')" />
                        <br />
                    </div>
                    <div class="col-md-12">
                        <input autocomplete="tel-national" class="form-control" placeholder="TELEFONE" type="tel" id="Telefone" name="Telefone" required="required" oninvalid="this.setCustomValidity('Telefone inválido')" oninput="setCustomValidity('')" />
                        <br />
                    </div>
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary col-md-12">ENVIAR</button>
                        <br />
                    </div>
                    <br />
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <br />
    <br />
</div>
<div class="azulClaroBg row">
    <div class="col-md-12">
        <div class="col-xs-12 hidden-md hidden-lg">
            <div class="row">
                <div class="row">
                    <img src="~/Content/Imagens/Untitled-39.png" class="img-responsive" alt="" />
                </div>
            </div>
        </div>
        <div class="col-md-6 col-md-offset-1">
            <br />
            <br />
            <h3>
                A WorkGroup (WG) é uma empresa brasileira especializada no desenvolvimento e manutenção de sistemas, com foco 100% no setor automotivo. Suas soluções são projetadas com o objetivo de facilitar trabalhos diários dos usuários e aumentar a lucratividade nos negócios. Há mais de duas décadas no mercado, a WorkGroup também acumula experiência no desenvolvimento de sistemas para outros segmentos.
                Atualmente, possui mais de 4 mil clientes no Brasil, incluindo Porto Seguro, DPK (distribuidora de autopeças do Grupo DPaschoal), Bridgestone e outros. A empresa tem sede em Campinas (SP), revendas e suporte técnico em todo o País
            </h3>
        </div>
        <div class="col-md-4 pull-right hidden-xs">
            <div class="row">
                <div class="row">
                    <img src="~/Content/Imagens/Untitled-39.png" class="img-responsive" alt="" />
                </div>
            </div>
        </div>
        <br />
    </div>
</div>
<div class="row">
    <br />
    <br />
</div>
<div class="row">
    <br />
    <div class="col-md-12">
        <div class="col-md-11 col-md-offset-1">
            <div class="row">
                <h2 class="tituloCliente">
                    <span>Conheça</span> também:
                </h2>
                <div class="col-md-2">
                    <div class="row">
                        <hr class="hrtituloCliente" style="    margin-bottom: 15px;" />
                    </div>
                </div>
                <div class="col-md-10"></div>
            </div>
        </div>
    </div>
</div>
<div class="row produtos-logos">
    <br />
    <div class=" margemicone">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="col-md-2 iconesobre-produtos qc-logo">
                    <a href="http://www.queridocarro.com.br/">
                        <img src="/Content/Imagens/QcLogo.png" class="img-responsive" onmouseover="this.src = '/Content/Imagens/qcColorido.png'" onmouseout="this.src = '/Content/Imagens/QcLogo.png'"  alt=""/>
                    </a>
                </div>
                <div class="col-md-2 iconesobre-produtos cotaja-logo">
                    <a href="http://www.cotaja.com.br/login.aspx">
                        <img src="/Content/Imagens/cotaja.png" class="img-responsive" onmouseover="this.src = '/Content/Imagens/cotaJaColorido.png'" onmouseout="this.src = '/Content/Imagens/cotaja.png'"  alt=""/>
                    </a>
                </div>
                <div class="col-md-2 iconesobre-produtos guia-logo">
                    <a href="http://www.guiadepecas.com.br">
                        <img src="/Content/Imagens/GuaPecas.png" class="img-responsive" onmouseover="this.src = '/Content/Imagens/GuaPecasColorido.png'" onmouseout="this.src = '/Content/Imagens/GuaPecas.png'"  alt=""/>
                    </a>
                </div>
                <div class="col-md-2 iconesobre-produtos maisLucro-logo">
                    <a href="http://maislucro.net/">
                        <img src="/Content/Imagens/maisLucro.png" class="img-responsive" onmouseover="this.src = '/Content/Imagens/maisLucroColodiro.png'" onmouseout="this.src = '/Content/Imagens/maisLucro.png'"  alt=""/>
                    </a>
                </div>

                <div class="col-md-2 iconesobre-produtos asuamoto-logo">
                    <a href="http://asuamoto.com.br/">
                        <img src="/Content/Imagens/AsuaMoto.png" class="img-responsive" onmouseover="this.src = '/Content/Imagens/AsuaMotoColorida.png'" onmouseout="this.src = '/Content/Imagens/AsuaMoto.png'" />
                    </a>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
</div>
<div class="row">
    <br />
    <div class="col-md-12">
        <div class="col-md-11 col-md-offset-1">
            <div class="row">
                <h2 class="tituloCliente">
                    Seja nosso <span>representante</span>
                </h2>
                <div class="col-md-2">
                    <div class="row">
                        <hr class="hrtituloCliente" style="    margin-bottom: 15px;" />
                    </div>
                </div>
                <div class="col-md-10"></div>
            </div>
        </div>
    </div>
</div>
<div class="row wg faixaCinzaAzul">
    <div class="col-md-12">
        <div class="col-md-offset-1 col-md-10">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <h3 class="pull-right">
                            Se você é um profissional com perfil empreendedor, motivado pelo espírito de colaboração, engajamento de pessoas e geração de resultados, faça parte do nosso time de representantes. Fale conosco, saiba mais!
                        </h3>
                    </div>
                    <div class="row text-center">
                        <a class="btn btn-warning btn-lg btn-amarelo" href="/contato/"><b>CONTATO</b></a>
                    </div>
                    <br />
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>



