﻿@model SiteWorkMotor.ViewModel.ClienteViewModel
<div class="col-md-12 " id="sucessoCadastro" style="display: none;">
    <br/>
    <br/>
    <br/>
    <br/>
    <h4 class="text-center" style="color: white;">Cadastro realizado !</h4>
    <a href="/" target="_blank" class="btn btn-success  col-md-12" id="link-download">Baixar Workmotor Free</a>
</div>
@*<h4 class="text-center" id="titulo" style="background-color: rgba(195, 200, 204, 0.51); margin: 0; margin-left: -15px; margin-right: -15px; padding: 17px; color: #333333; border-top-left-radius: 35px; border-top-right-radius: 35px; ">FINALIZAR DOWNLOAD</h4>*@
@using (Html.BeginForm("RegistrarCliente", "DrMacete", FormMethod.Post, new {@id = "form-registrar-cliente", @class = "form-horizontal", role = "form"}))
{
    <div class="col-md-12 erroProcesso hidden">
        <h5>Erro no processo de cadastramento, tente novamente !</h5>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <input value="DR.MACETE" class="form-control" disabled="disabled" />
            @Html.TextBoxFor(m => m.PatrocinadorId, new { @class = "hidden", @placeholder = "DR.MACETE", @required = "required" })
        </div>
    </div>
   
    <div class="form-group">
        <div class="col-md-12">
            @Html.TextBoxFor(m => m.CpfCnpj, new { @class = "form-control", @id = "cpfCnpj", @placeholder = "CPF/CNPJ", @required = "required" })
            @Html.ValidationMessageFor(x => x.CpfCnpj, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-12">
            @Html.TextBoxFor(m => m.RazaoSocial, new { @class = "form-control", @placeholder = "NOME/RAZÃOSOCIAL",@required="required" })
            @Html.ValidationMessageFor(x => x.RazaoSocial, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-12">
            @Html.TextBoxFor(m => m.Cep, new { @class = "form-control", @id = "cep", @placeholder = "CEP", @required = "required" })
            @Html.ValidationMessageFor(x => x.Cep, "", new { @class = "text-danger" })
        </div>
    </div>

    @*<div class="col-md-10" id="Obs">
        <h6>*Obs: Dados que serão solicitados na instalação do WorkmotorFree deve ser os mesmos desse cadastro.</h6>
    </div>*@
    @Html.TextBoxFor(m => m.Id, new { @class = "hidden"})
    @Html.TextBoxFor(m => m.IndicacaoId, new { @class = "hidden"})
    @Html.TextBoxFor(m => m.Telefone, new { @class = "hidden"})
    @Html.TextBoxFor(m => m.Email, new { @class = "hidden"})

    <div class="form-group">
        <div class="col-md-12">
            <button type="submit"  class="btn btn-danger form-control">BAIXE AGORA <i class="fa"></i></button>
        </div>
    </div>
}
<script>
    workFree.mascararContato();
    workFree.mascararCpfCnpj();

    $(document).ready(function () {
        $("#cep").mask("99999-999");
    });
    $("#link-download").attr("href", "/free/baixararquivo/?idPatrocinador=" + $("#PatrocinadorId").val());

    if ($("#PatrocinadorId").val() == 1) {
        $("#logoDist").attr("src", "/Content/Imagens/logo-dpk.png");
    }
    if ($("#PatrocinadorId").val() == 4) {
        $("#logoDist").attr("src", "/Content/Imagens/logo-compredireto.png");
    }
    if ($("#PatrocinadorId").val() == 5) {
        $("#logoDist").attr("src", "/Content/Imagens/logo-gimenes.png");
    }

    $("#PatrocinadorId").change(function() {
        $("#link-download").attr("href", "/DrMacete/baixararquivo/?idPatrocinador=" + $(this).val());
    });
    $("#form-registrar-cliente").submit(function(e) {
        e.preventDefault();
        if ($(this).valid()) {
            $.ajax({
                url: "@Url.Action("RegistrarCliente", "DrMacete")",
                type: "post",
                async: false,
                data: $(this).serialize(),
                success: function(data) {
                    if (data == "True") {
                        $("#form-registrar-cliente").fadeOut(500,function() {
                            $("#titulo").addClass("hidden");
                            $(".form-cliente").addClass("transparente");
                            $("#sucessoCadastro").fadeIn(200);
                        });
                    }
                }
            });
        }
        return false;
    });
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments);
            },
            i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m);
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-69638641-1', 'auto');
    ga('send', 'pageview', 'event', 'botão', 'clique');

</script>