﻿@model SiteWorkMotor.ViewModel.ClienteViewModel
@{
    ViewBag.Title = "Upgrade";
    Layout = "../Shared/_LayoutDrMacete.cshtml";

}

<div class="row div-upgrade">
    <div class="col-md-12">
        <h2>Upgrade Workmotor Free</h2>
        <hr />
    </div>

    <div class="row">
        <div class="col-md-12">
            
            @if (!(bool)ViewBag.Registrar)
            {
                <div class="col-md-6 col-md-offset-3">
                    <div class="col-md-12">
                        <h4>Sua solicitação de upgrade foi registra, um representante comercial entrará em contato com você. Muito obrigada !</h4>
                    </div>
                </div>
            }
            else
            {
                <div class="col-md-6 col-md-offset-3">
                    <div class="col-md-12" id="sucessoCadastro" style="display: none;">
                        <h4>Sua solicitação de upgrade foi registra, um representante comercial entrará em contato com você. Muito obrigada !</h4>
                    </div>
                </div>

                <div class="col-md-8 col-md-offset-2 form-cliente">
                    @using (Html.BeginForm("RegistrarClienteUpgrade", "Home", FormMethod.Post, new {@id = "form-registrar-cliente-upgrade", @class = "form-horizontal", role = "form"}))
                    {
                        <div class="col-md-12">
                            <h4>Preencha os dados abaixo que entraremos em contato com você.</h4>
                        </div>

                        <div class="col-md-6 col-md-offset-3 erroProcesso hidden">
                            <h5>Erro no processo de solicitação de upgrade !</h5>
                        </div>

                        <div class="col-md-6 col-md-offset-3 validation-summary-errors">
                            @Html.ValidationSummary()
                        </div>

                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-3">
                                @Html.DropDownList("PatrocinadorId", (SelectList) ViewBag.Patrocinadores, "PATROCINADOR DO WORKMOTOR FREE", new {@class = "form-control dropdown-padrocinadores"})
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-3">
                                @Html.TextBoxFor(m => m.CpfCnpj, new {@class = "form-control", @id = "cpfCnpj", @placeholder = "CPF/CNPJ"})
                            </div>
                            <div class="col-md-8" id="errorCpfCnpf"></div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-3">
                                @Html.TextBoxFor(m => m.RazaoSocial, new {@class = "form-control", @placeholder = "NOME/RAZÃOSOCIAL"})
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-3">
                                @Html.TextBoxFor(m => m.Email, new {@class = "form-control", @placeholder = "E-MAIL"})
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-3">
                                @Html.TextBoxFor(m => m.Telefone, new {@class = "form-control", @id = "telefone", @placeholder = "TELEFONE"})
                            </div>
                            <div class="col-md-8" id="errorContato"></div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-3">
                                @Html.TextBoxFor(m => m.Cep, new {@class = "form-control", @id = "cep", @placeholder = "CEP"})
                            </div>
                        </div>

                        <div class="col-md-2 col-md-offset-5">
                            <input type="submit" value="Confirmar" class="btn btn-primary"/>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquerymask")

    <script>
        workFree.mascararContato();
        workFree.mascararCpfCnpj();

        $(document).ready(function () {
            $("#cep").mask("99999-999");
        });

        $("#form-registrar-cliente-upgrade").submit(function (e) {
            e.preventDefault();

            if($(this).valid()) {
                $.ajax({
                    url: "/home/RegistrarClienteUpgrade",
                    type: "post",
                    async: false,
                    data: $(this).serialize(),
                    success: function (data) {
                        if (data == "True") {
                            $("#form-registrar-cliente-upgrade").fadeOut(500, function () {
                                $("#sucessoCadastro").fadeIn(200);
                            });
                        } else {
                            $(".erroProcesso").removeClass("hidden");
                        }
                    }
                });
            }
            return false;
        });
    </script>
}
