﻿@{
    ViewBag.Title = "Sistema para Oficina Mecânica  - WorkMotor ";
    ViewBag.Href = "workmotor/";
    Layout = "../Shared/_LayoutMenu.cshtml";
    ViewBag.Descricao = "Sistema completo para Oficinas Mecânicas. Veja como podemos te ajudar a aumentar sua lucratividade, melhorar o relacionamento com seus clientes, se destacar da concorrência e muito mais.";

}
<div class="row" style="margin-top: 10vh;">
    <div class="col-md-12">
        <div class="col-md-11 col-md-offset-1">
            <div class="col-md-9">
                <div class="row">
                    <h1 class="tituloCliente">
                        Soluções <span>precisas</span><br /> para negócios automotivos
                    </h1>
                    <div class="col-md-3">
                        <div class="row">
                            <hr class="hrtituloCliente" />
                        </div>
                    </div>
                    <div class="col-md-9"></div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-11">
                        <div class="row">
                            <h4>
                                O WorkMotor é um sistema completo de gestão de autopeças, que atende oficinas mecânicas, reparadores, atacarejos e lojas de peças automotivas. Com o WorkMotor você pode melhorar o desempenho do seu negócio.
                                <br /> <br /> <br /> <br /><b>Clique nos ícones abaixo e veja como o WorkMotor te ajuda em cada cenário:</b>
                            </h4>
                        </div>
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>
            <div class="col-md-3 sobre form-border">
                <form class="form-horizontal form " id="formContato" action="JavaScript:window.enviarForm();">
                    <br />
                    <h5 class="text-center text-white">AGENDE UMA ANÁLISE</h5>
                    <div class="col-md-12">
                        <input autocomplete="name" class="form-control" placeholder="NOME" type="text" id="Nome" name="Nome" required="required" oninvalid="this.setCustomValidity('Nome inválido')" oninput="setCustomValidity('')" />
                        <br />
                    </div>
                    <div class="col-md-12">
                        <input autocomplete="email" class="form-control" placeholder="E-MAIL" type="email" id="Email" name="Email" required="required" oninvalid="this.setCustomValidity('E-mail inválido')" oninput="setCustomValidity('')" />
                        <br />
                    </div>
                    <div class="col-md-12">
                        <input autocomplete="tel-national" class="form-control" placeholder="TELEFONE" type="tel" id="Telefone" name="Telefone" required="required" oninvalid="this.setCustomValidity('Telefone inválido')" oninput="setCustomValidity('')" />
                        <br />
                    </div>
                    <div class="col-md-12 col-xs-12">
                        <button type="submit" class="btn btn-primary col-md-12  col-xs-12">ENVIAR</button>
                        <br />
                    </div>
                    <br />
                </form>
            </div>
        </div>
    </div>
</div>

<div class=" margemicone margemicone-responsivo sobre">
    <div class="col-md-2 iconesobre" data-toggle="modal" data-target="#modalLucratividade">
        <img src="/Content/Imagens/grafico.png" class="img-responsive" alt="" />
        <h2 class="azul"> LUCRATIVIDADE </h2>
    </div>
    <div class="col-md-2 iconesobre" data-toggle="modal" data-target="#modalSeguranca">
        <img src="/Content/Imagens/seguranca.png" class="img-responsive" alt="" />
        <h2 class="azul alinhamentosegurança"> SEGURANÇA </h2>
    </div>
    <div class="col-md-2 iconesobre" data-toggle="modal" data-target="#modalDestaque">
        <img src="/Content/Imagens/destaque.png" class="img-responsive" alt="" />
        <h2 class="azul alinhamentodestaque"> DESTAQUE </h2>
    </div>
    <div class="col-md-2 iconesobre" data-toggle="modal" data-target="#modalAtendimento">
        <img src="/Content/Imagens/carinhanotelefone.png" class="img-responsive" />
        <h2 class="azul alinhamentoatendimento"> ATENDIMENTO </h2>
    </div>

    <div class="col-md-2 iconesobre" data-toggle="modal" data-target="#modalInovacao">
        <img src="/Content/Imagens/lampada.png" class="img-responsive"  alt=""/>
        <h2 class="azul alinhamentoinovacao"> INOVAÇÃO </h2>
    </div>
    <br />
    <br />
    <div class="row"><br /><br /></div>
    <div class="row"><br /><br /></div>
    <br />
    <div class="col-md-12 col-xs-12 sobre-responsivo">
        <div class="col-md-5">
            <img src="/Content/Imagens/Untitled-28.png" class="img-responsive"  alt="" />
        </div>
        <div class="col-md-6 col-md-offset-1 col-xs-12">
            <div class="row">
                <h2 class="tituloCliente">
                    Software <span>com foco</span><br /> no aumento do seu lucro
                </h2>
                <div class="col-md-4">
                    <div class="row">
                        <hr class="hrtituloCliente" />
                    </div>
                </div>
                <div class="col-md-9"></div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <h4>
                            Simples de usar, torna mais fáceis e ágeis processos diários da área financeira como contas a pagar, contas a receber e fluxo de caixa, análise de resultados e organização de dados, ordens de serviços, solicitações de orçamentos, cadastro de clientes e muito mais.
                        </h4>
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>

    <div class="row"><br /></div>


    <div class="col-md-12 col-xs-12 sobre-responsivo sobre-responsivo-app">
        <div class="row">
            <div class="row">
                <img src="/Content/Imagens/engrenagemApp.png" class="img-responsive app maskAgua-engrenagem col-md-4"  alt=""/>
            </div>
        </div>
        <div class="col-md-5 col-xs-12">
            <div class="row">
                <br /><br />
            </div>
            <div class="row">
                <br /><br />
            </div>
            <div class="row pull-right">
                <h2 class="tituloCliente col-xs-12">
                    <span>Aplicativo</span> para tornar<br />
                    seu trabalho mais ágil
                </h2>
                <div class="col-md-4 col-md-offset-6">
                    <div class="row">
                        <hr class="hrtituloCliente" />
                    </div>
                </div>
                <div class="col-md-9"></div>
            </div>
            <div class="row pull-right">
                <div class="col-md-12  col-xs-12">
                    <div class="row">
                        <h4>
                            Simples de usar, torna mais fáceis e ágeis processos diários da área financeira como contas a pagar, contas a receber e fluxo de caixa, análise de resultados e organização de dados, ordens de serviços, solicitações de orçamentos, cadastro de clientes e muito mais.
                        </h4>
                        <a href="https://play.google.com/store/apps/details?id=workGroup.WorkMotor" class="pull-right">
                            <img src="~/Content/Imagens/google-play-storeQc.png"  alt=""/>
                        </a>
                        <a href="https://itunes.apple.com/br/app/workmotor/id1355810364?mt=8" class="pull-right">
                            <img src="~/Content/Imagens/app-storeQc.png" alt="" />
                        </a>
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
        <div class="col-md-5 col-md-offset-1 col-xs-12">
            <img src="/Content/Imagens/wkmApp.png" class="img-responsive"  alt=""/>
        </div>
    </div>
</div>

<div id="modalLucratividade" class="modal fade modalIcones" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6 " style="padding-top: 9%">
                            <br />
                            <iframe width="500" height="300" src="https://www.youtube.com/embed/5uyFXBQgsPU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </div>
                        <br />
                        <div class="col-md-6 col-textoVideo">
                            <h2>Lucratividade</h2>
                            <h4>
                                Toda empresa com bons lucros consegue crescer e se destacar no mercado, por isso, pensar na lucratividade é importante para qualquer negócio.
                                Com o WorkMotor, você tem acesso a inúmeras aplicações especiais desenvolvidas para que o lucro da sua empresa sempre cresça, realizando junto com o software um trabalho focado nos pontos mais importantes de uma oficina, como: a fidelização dos clientes e a economia do seu tempo, afinal, tempo é dinheiro e dinheiro é lucro. <br />
                                Nós garantimos o aumento de pelo menos 30% do lucro de sua empresa, caso contrário, devolvemos o seu investimento!
                                <br />
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modalSeguranca" class="modal fade modalIcones" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6 " style="padding-top: 3%">
                            <br />
                            <iframe width="500" height="300" src="https://www.youtube.com/embed/wimgL367QJE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </div>
                        <br />
                        <div class="col-md-6 col-textoVideo">
                            <h2>Segurança</h2>
                            <h4>
                                O WorkMotor é um software para o seu computador, que te ajuda a administrar com mais agilidade e eficiência a sua oficina, além de fácil, ele é seguro, pois é um sistema off-line que apenas você, dono da oficina ou auto peças tem acesso ao bando de dados.<br />
                                Todas informações armazenadas ficam seguras e você ainda tem a vantagem da estabilidade, pois mesmo sem internet o sistema pode se manter ativo, sem fazer com que você perca uma venda ou uma informação importante.
                                <br />
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modalDestaque" class="modal fade modalIcones" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6 " style="padding-top: 4%">
                            <br />
                            <iframe width="500" height="300" src="https://www.youtube.com/embed/woD-aZOcxR8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </div>
                        <br />
                        <div class="col-md-6 col-textoVideo">
                            <h2>Destaque</h2>
                            <h4>
                                Hoje, inúmeras oficinas e auto peças abrem suas portas, com isso, a concorrência se torna grande neste meio automotivo, então, como se destacar e conseguir sempre mais clientes?<br />
                                Com o WorkMotor você tem acesso a funcionalidades que seus concorrentes não têm. O uso do software WorkMotor faz com que sua agilidade no atendimento, seu controle e sua eficiência sejam pontos de destaque notados pelos clientes. Seu cliente também se sente mais tranquilo sabendo que a oficina conta com a tecnologia para sempre oferecer o melhor.
                                <br />
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modalAtendimento" class="modal fade modalIcones" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6 " style="padding-top: 2%">
                            <br />
                            <iframe width="500" height="300" src="https://www.youtube.com/embed/FoEjz53vA7E" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </div>
                        <br />
                        <div class="col-md-6 col-textoVideo">
                            <h2>Atendimento</h2>
                            <h4>
                                Você fica confuso com programas de computadores? Não se preocupe! O WorkMotor é fácil de usar, intuitivo e além disso, conta com um setor altamente especializado, desta forma, você é atendido por um técnico especialista, sem a necessidade de ficar passando por vários setores. O WorkMotor também conta com vídeo aulas todos os dias e um canal no YouTube completo.
                                <br />
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modalInovacao" class="modal fade modalIcones" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6" style="padding-top: 8%">
                            <br />
                            <iframe width="500" height="300" src="https://www.youtube.com/embed/NCkyULsr4FQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </div>
                        <br />
                        <div class="col-md-6 col-textoVideo">
                            <h2>Inovação</h2>
                            <h4>
                                O WorkMotor não é somente um software para negócios automotivos, é um sistema completo que pensa em toda necessidade do mecânico, dono de auto peças e oficinas. Além de um programa completo, o WorkMotor oferece inúmeros sistemas como o QueridoCarro.com, o Mais Lucro, o Cota Já, o Guia de Peças que auxiliam no dia a dia, trazendo mais facilidade para você e seu cliente.<br />
                                Além do mais, o WorkMotor possui o App WorkMotor, que agiliza o atendimento inicial com seu cliente, já que você pode fazer tudo isso na palma de sua mão, usando o seu celular. Imagine realizar o cadastro de novos clientes e veículos com apenas alguns cliques? Com o WorkMotor isso é possível!
                                <br />
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
