﻿@*@using (Html.BeginForm("Contato", "Home", FormMethod.Post, new { @class = "form-group col-md-12", @id = "Contato" }))*@
@*{*@
<form class="form-group col-md-12" action="JavaScript:window.enviarForm();" id="formContato">
    <div class="col-md-3">
        @Html.TextBoxFor(x => x.Nome, new { @class = "form-control corform espacamentoform", @placeholder = "NOME" })
    </div>
    <div class="col-md-12 margemdamsgnome">
        @Html.ValidationMessageFor(x => x.Nome, "", new { @class = "text-danger mensagemerro" })
    </div>
    <div class="col-sm-3">
        @Html.TextBoxFor(x => x.Email, new { @type = "email", @class = "form-control corform espacamentoform", @placeholder = "E-MAIL" })
    </div>
    <div class="col-md-12 margemdamsgemail">
        @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger mensagemerro" })
    </div>

    <div class="col-sm-3">
        @Html.TextBoxFor(x => x.Telefone, new { @class = "form-control corform espacamentoform", @placeholder = "TELEFONE" })
    </div>
    <div class="col-md-12 margemdamsgtelefone">
        @Html.ValidationMessageFor(x => x.Telefone, "", new { @class = "text-danger mensagemerro" })
    </div>

    <div class="col-md-4">
        <button class="btn  botaocinza"><span>Enviar</span></button>
    </div>
</form>

@*  }*@

