﻿@using SiteWorkMotor.ViewModel

@{
    ViewBag.Title = "Software para Oficina Mecânica - WorkMotor";
    ViewBag.Href = "";
    Layout = "../Shared/_LayoutMenu.cshtml";
    ViewBag.Descricao = "Aumente sua lucratividade, se destaque frente seus concorrentes e melhore o relacionamento com seus clientes. Nosso software para oficinas mecânicas faz justamente isso, confira agora.";
}

<div class="row">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item active">
                <div class="link">
                    @*<img src="~/Content/Imagens/banner-promo1.png" class="img-responsive banner hidden-sm hidden-xs" alt="" />*@
                    <img src="~/Content/Imagens/Banner_Site_WorkMotor_2019_HOME2.png" class="img-responsive banner hidden-sm hidden-xs" alt="" />
                    <img src="~/Content/Imagens/banner1_mobile.png" class="img-responsive banner hidden-lg hidden-md" alt="" />
                    <div class="col-xs-12 hidden-md hidden-lg banner-titulos text-right">
                        <h3 class="tituloCliente">
                            Ter <b>mais clientes</b> para sua <b>loja</b><br /> ou <b>oficina é importante?</b>
                        </h3>
                        <h4 class="tituloCliente">Nossos <b>softwares</b> vão te ajudar.</h4>
                        <br />
                        <h2 class=" tituloCliente"><b>3.000 clientes</b></h2>
                        <h4 class=" tituloCliente"><b>Agende uma análise</b></h4>
                    </div>
                </div>
            </div>
            @*<div class="item active">
                <div class="link">
                    <img src="~/Content/Imagens/banner-promo1.png" class="img-responsive banner hidden-sm hidden-xs" alt="" />
                    <img src="~/Content/Imagens/banner1_mobile.png" class="img-responsive banner hidden-lg hidden-md" alt="" />
                    <div class="col-xs-12 hidden-md hidden-lg banner-titulos text-right">
                        <h3 class="tituloCliente">
                            Ter <b>mais clientes</b> para sua <b>loja</b><br /> ou <b>oficina é importante?</b>
                        </h3>
                        <h4 class="tituloCliente">Nossos <b>softwares</b> vão te ajudar.</h4>
                        <br />
                        <h2 class=" tituloCliente"><b>3.000 clientes</b></h2>
                        <h4 class=" tituloCliente"><b>Agende uma análise</b></h4>
                    </div>
                </div>
            </div>
            <div class="item ">
                <div class="link">
                    <img src="/Content/Imagens/banner-promo2.png" class=" img-responsive banner hidden-sm hidden-xs" alt="" />
                    <img src="/Content/Imagens/banner2_mobile.png" class=" img-responsive banner hidden-lg hidden-md" alt="" />
                    <div class="col-xs-12 hidden-md hidden-lg banner-titulos banner-titulos-2 text-right">
                        <h3 class="tituloCliente">
                            <b>Clientes mais fiéis</b> fazem<br /> sua empresa <b>crescer!</b>
                        </h3>
                        <h4 class="tituloCliente">Temos solução para isso.</h4>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="link">
                    <img src="/Content/Imagens/banner-promo3.png" class="img-responsive banner hidden-sm hidden-xs" alt="" />
                    <img src="/Content/Imagens/banner3_mobile.png" class="img-responsive banner hidden-lg hidden-md" alt="" />
                    <div class="col-xs-12 hidden-md hidden-lg banner-titulos banner-titulos-3 text-right">
                        <h3 class="tituloCliente">
                            <b>Economize tempo</b><br /> na compra de <b>peças.</b>
                        </h3>
                        <h4 class="tituloCliente">Nossa tecnologia <br /> <b>agiliza seu trabalho</b></h4>
                    </div>
                </div>
            </div>*@
        </div>
        @*<a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left "></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right "></span>
            <span class="sr-only">Next</span>
        </a>*@
    </div>

    <div class="col-md-3 col-md-offset-8 col-lg-3 col-lg-offset-8 sobreBanner">
        <div class="row formContato hidden-xs text-white" style=" font-size: xx-large">
            <span class="text-center text-white hidden-xs">Preencha o formulário e receba todos os detalhes!</span>
        </div>
        <div class="col-md-12  form-border">
            @*<div class="col-md-5 hidden-sm hidden-xs">
                <img src="~/Content/Imagens/Banner_WorkMotor_Teste_OS-10.png" class="img-responsive img-promo">
            </div>*@

            <div class="col-md-12 col-xs-12">
                <form class="form-horizontal form" id="formContato" action="JavaScript:window.enviarForm();" data-form="index">
                    <br/>
                    <span class="text-center text-white hidden-xs">Dê mais opções a seus clientes.</span>
                    <div class="col-md-12">
                        <input class="form-control" placeholder="NOME" type="text" id="Nome" name="Nome" autocomplete="name" required="required"/>
                        <br/>
                    </div>
                    <div class="col-md-12">
                        <input class="form-control" placeholder="TELEFONE" type="tel" id="Telefone" name="Telefone" autocomplete="tel-national" required="required"/>
                        <br/>
                    </div>
                    <div class="col-md-12">
                        <input class="form-control" placeholder="E-MAIL" type="email" id="Email" name="Email" autocomplete="email" required="required"/>
                        <br/>
                    </div>
                    <div class="col-md-12">
                        @{
                            if (ViewBag.Device == "Mobile")
                            {
                                <button id="enviarFormulario" type="submit" class="btn btn-primary col-md-12">ENVIAR</button>
                            }
                            else
                            {
                                <button id="formHome" type="submit" class="btn btn-primary col-md-12"><span>SIMULAR</span></button>
                            }
                        }
                        <br/>
                    </div>
                    <br/>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row text-white hidden-xs" style="background-color: #3586c5; width: 110%;">
    <div class="col-md-5 text-center">
        <div class="row">
            <h1><strong>O melhor Software para Oficinas</strong></h1>
        </div>
        <div class="row">
            <h1>Administra a sua empresa facilmente</h1>
        </div>
    </div>
    <div class="col-md-1 bordaRightBranco"></div>
    <div class="col-md-5 text-center">
        <div class="row">
            <h4><strong>Dúvidas, orçamentos? Chame a gente no Whats!</strong></h4>
        </div>
        <div class="row">
            É só clicar no botão abaixo:
        </div>
        <div class="row">
            @{
                if (ViewBag.Device == "Mobile")
                {
                    //<a href="tel:+5511970112222"><img src="~/Content/Imagens/Botao_Whats_Site_WorkMotor_2019_HOME.png" class="img-responsive heightPatrocinadores" style="margin-left: auto; margin-right: auto; display: block;"></a>
                    <a href="https://api.whatsapp.com/send?phone=5511970112222"><img src="~/Content/Imagens/Botao_Whats_Site_WorkMotor_2019_HOME.png" class="img-responsive heightPatrocinadores" style="margin-left: auto; margin-right: auto; display: block;"></a>
                }
                else
                {
                    <a href="https://api.whatsapp.com/send?phone=5511970112222"><img src="~/Content/Imagens/Botao_Whats_Site_WorkMotor_2019_HOME.png" class="img-responsive heightPatrocinadores" style="margin-left: auto; margin-right: auto; display: block;"></a>
                }
            }
        </div>
    </div>
</div>

<div class="row ">
    <div class="col-md-4 col-md-offset-8 pull-right">
        <img src="~/Content/Imagens/logoParceiros.jpg" class="img-responsive heightPatrocinadores " @*style="width: 37vh;"*@>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="col-md-11 col-md-offset-1 col-xs-12">
            <div class="row">
                @*<img src="~/Content/Imagens/Untitled-10.png" class="img-responsive maskAgua-engrenagem hidden-sm hidden-xs" alt=""/>*@
                @*<img src="~/Content/Imagens/engrenagemApp.png" class="img-responsive maskAgua-engrenagem hidden-lg hidden-md" alt=""/>*@
            </div>
            <div class="row">
                <h2 class="tituloCliente">
                    Clientes <span>WorkMotor</span>
                </h2>
                <div class="col-md-2 col-xs-7">
                    <div class="row">
                        <hr class="hrtituloCliente" />
                    </div>
                </div>
                <div class="col-md-10"></div>
            </div>
            <div class="row">
                <div class="col-md-7 col-xs-12">
                    <div class="row">
                        <h2>O sucesso de nossos clientes é nosso combustível</h2>
                    </div>
                </div>
                <div class="col-md-6"></div>
            </div>
            <div class="row">
                <div class="col-md-6 col-xs-12 div-padding15 ">
                    <div class="col-md-4">
                        <img src="~/Content/Imagens/cliente1.png" class="img-responsive" alt=""/>
                    </div>
                    <div class="col-md-8 pull-left">
                        <br />
                        <h4>
                            “Escolhi o WorkMotor para abrir a empresa com o pé direito… Eu atribuo grande parte do sucesso da Revisa ao WorkMotor que me ajudou em muito na organização e administração da minha empresa."
                        </h4>
                        <h4><b>Silvio G. Neto - Proprietário da Revisa Bosch Car Service</b></h4>
                    </div>
                    <div class="col-md-8 col-xs-2"><br /></div>
                    <div class="row">
                        <a class="col-md-4 col-md-offset-8 col-xs-8 btn btn-primary btn-azulClaro" href="/clientes/">&nbsp;VEJA MAIS DETALHES&nbsp;</a>
                    </div>
                </div>
                <div class="col-xs-12"><br /></div>
                <div class="col-md-6 col-xs-12 div-padding15 padding15">
                    <div class="col-md-4">
                        <img src="~/Content/Imagens/cliente2.png" class="img-responsive" alt="" />
                    </div>
                    <div class="col-md-8 pull-left">
                        <br />
                        <h4>
                            “O nosso crescimento veio  junto com o  WorkMotor, é um programa completo que consegue atender a gente em toda a necessidade, desde a contabilidade, a parte de escritas fiscais, financeiro, estoques, notas fiscais, e muito mais”.
                        </h4>
                        <h4><b>Nelson - Proprietário da 3S Mecânica e Funilaria </b></h4>
                    </div>
                    <div class="col-md-8 col-xs-2"><br /></div>
                    <div class="row">
                        <a class="col-md-4 col-md-offset-8 col-xs-8 btn btn-primary btn-azulClaro" href="/clientes/">&nbsp;VEJA MAIS DETALHES&nbsp;</a>
                    </div>
                </div>
            </div>
            <br />
            <div class="hidden-xs">
                <br />
                <br />
            </div>
            <div class="row">
                <img src="~/Content/Imagens/Untitled-37.png" class="img-responsive maskAgua-carro" alt="" />
            </div>
            <div class="row">
                <h2 class="tituloCliente">
                    Soluções <span>precisas</span><br class="hidden-xs" /> Para negócios automotivos
                </h2>
                <div class="col-md-2  col-xs-7">
                    <div class="row">
                        <hr class="hrtituloCliente" />
                    </div>
                </div>
                <div class="col-md-10"></div>
            </div>
            <div class="row">
                <div class="col-md-8 col-xs-12">
                    <div class="row">
                        <h4>O WorkMotor é um sistema completo de gestão de autopeças, que atende oficinas mecânicas, reparadores, atacarejos e lojas de peças automotivas. Com o WorkMotor você pode melhorar o desempenho do seu negócio.</h4>
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <br class="hidden-xs" />
                    <br class="hidden-xs" />
                    <div class="row">
                        <a class="btn btn-primary btn-Cinza" href="/workgroup/">&nbsp;CONHEÇA A EMPRESA&nbsp;</a>
                    </div>
                    <br />
                </div>
            </div>

            <div class="row">
                <h2 class="tituloCliente">
                    Tenha <span>total controle</span><br /> de seu negócio
                </h2>
                <div class="col-md-2  col-xs-7">
                    <div class="row">
                        <hr class="hrtituloCliente" />
                    </div>
                </div>
                <div class="col-md-10"></div>
            </div>
            <div class="row">
                <div class="col-md-5 bordaRight col-xs-12">
                    <div class="col-md-10 pull-right">
                        <br class="hidden-lg hidden-md  col-xs-12" />
                        <img src="~/Content/Imagens/Untitled-23.png" class="img-responsive" alt=""/>
                        <br class="hidden-lg hidden-md  col-xs-12" />
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <div class="col-md-9 pull-left">
                        <img src="~/Content/Imagens/Untitled-24.png" class="img-responsive" alt=""/>
                    </div>
                </div>
            </div>
            <br />
        </div>
    </div>
</div>
<div class="row faixaCinzaAzul">
    <div class="col-md-12 col-lg-12">
        <div class="col-md-offset-1 col-md-5 col-lg-5">
            <div class="col-xs-12 hidden-md hidden-lg">
                <img src="~/Content/Imagens/Untitled-28.png" class="img-responsive imgMonitor" alt=""/>
            </div>
            <br />
            <div class="row">
                <h1 class="tituloCliente">
                    Software <span class="azulClaroHomeTxt">com foco</span><br /> no aumento do seu lucro
                </h1>
                <div class="col-md-4 col-lg-4 col-xs-7">
                    <div class="row">
                        <hr class="hrtituloCliente" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-12 col-xs-12">
                    <div class="row">
                        <h3 class="">
                            Simples de usar, toma mais fáceis e ágeis <br />
                            processos diários da área financeira como contas <br />
                            a pagar, contas a receber e fluxo de caixa, análise <br />
                            de resultados e organização de dados, ordens de <br />
                            serviços, solicitações de orçamentos, cadastro de <br />
                            clientes e muito mais.
                        </h3>
                    </div>
                    <div class="row">
                        <a href="/Contato/" class="btn btn-primary btn-azulClaro azulClaroHomeBg">POTENCIALIZE SEU NEGÓCIO</a>
                    </div>
                    <br />
                </div>
            </div>
        </div>
        <div class="col-md-4 hidden-xs">
            <img src="~/Content/Imagens/Untitled-28.png" class="img-responsive imgMonitor" alt="" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="col-md-11 col-md-offset-1 col-xs-12">
            <div class="row">
                <h2 class="tituloCliente">
                    <span>Acelere</span> sua empresa, <br /> conheça nossas vantagens:
                </h2>
                <div class="col-md-2  col-xs-7">
                    <div class="row">
                        <hr class="hrtituloCliente" />
                    </div>
                </div>
                <div class="col-md-10"></div>
            </div>
        </div>
    </div>
</div>
<div class="row margemicone margemicone-responsivo">
    <div class="col-md-2 iconesobre" data-toggle="modal" data-target="#modalLucratividade">
        <img src="/Content/Imagens/grafico.png" class="img-responsive" alt="" />
        <h2 class="azul"> LUCRATIVIDADE </h2>
    </div>
    <div class="col-md-2 iconesobre" data-toggle="modal" data-target="#modalSeguranca">
        <img src="/Content/Imagens/seguranca.png" class="img-responsive" alt="" />
        <h2 class="azul alinhamentosegurança"> SEGURANÇA </h2>
    </div>
    <div class="col-md-2 iconesobre" data-toggle="modal" data-target="#modalDestaque">
        <img src="/Content/Imagens/destaque.png" class="img-responsive" alt=""/>
        <h2 class="azul alinhamentodestaque"> DESTAQUE </h2>
    </div>
    <div class="col-md-2 iconesobre" data-toggle="modal" data-target="#modalAtendimento">
        <img src="/Content/Imagens/carinhanotelefone.png" class="img-responsive" alt=""/>
        <h2 class="azul alinhamentoatendimento"> ATENDIMENTO </h2>
    </div>

    <div class="col-md-2 iconesobre" data-toggle="modal" data-target="#modalInovacao">
        <img src="/Content/Imagens/lampada.png" class="img-responsive" alt="" />
        <h2 class="azul alinhamentoinovacao"> INOVAÇÃO </h2>
    </div>
</div>
<div class="row">
    <br />
    <div class="col-md-12">
        <div class="col-md-11 col-md-offset-1">
            <div class="row">
                <h2 class="tituloCliente">
                    <span>Conheça</span> também:
                </h2>
                <div class="col-md-2 col-xs-7">
                    <div class="row">
                        <hr class="hrtituloCliente" style="    margin-bottom: 15px;" />
                    </div>
                </div>
                <div class="col-md-10"></div>
            </div>
        </div>
    </div>
</div>
<div class="row produtos-logos">
    <br />
    <div class=" margemicone">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="col-md-2 col-xs-12 iconesobre-produtos qc-logo">
                    <a href="http://www.queridocarro.com.br/" target="_blank">
                        <img src="/Content/Imagens/QcLogo.png" class="img-responsive" onmouseover="this.src = '/Content/Imagens/qcColorido.png'" onmouseout="this.src = '/Content/Imagens/QcLogo.png'" alt="" />
                    </a>
                </div>
                <div class="col-md-2 col-xs-12 iconesobre-produtos cotaja-logo">
                    <a href="http://www.cotaja.com.br/login.aspx" target="_blank">
                        <img src="/Content/Imagens/cotaja.png" class="img-responsive" onmouseover="this.src = '/Content/Imagens/cotaJaColorido.png'" onmouseout="this.src = '/Content/Imagens/cotaja.png'" alt="" />
                    </a>
                </div>
                <div class="col-md-2 col-xs-12 iconesobre-produtos guia-logo">
                    <a href="http://www.guiadepecas.com.br" target="_blank">
                        <img src="/Content/Imagens/GuaPecas.png" class="img-responsive" onmouseover="this.src = '/Content/Imagens/GuaPecasColorido.png'" onmouseout="this.src = '/Content/Imagens/GuaPecas.png'" alt="" />
                    </a>
                </div>
                <div class="col-md-2 col-xs-12 iconesobre-produtos maisLucro-logo">
                    <a href="http://maislucro.net/" target="_blank">
                        <img src="/Content/Imagens/maisLucro.png" class="img-responsive" onmouseover="this.src = '/Content/Imagens/maisLucroColodiro.png'" onmouseout="this.src = '/Content/Imagens/maisLucro.png'" alt="" />
                    </a>
                </div>

                <div class="col-md-2 col-xs-12 iconesobre-produtos asuamoto-logo">
                    <a href="http://asuamoto.com.br/" target="_blank">
                        <img src="/Content/Imagens/AsuaMoto.png" class="img-responsive" onmouseover="this.src = '/Content/Imagens/AsuaMotoColorida.png'" onmouseout="this.src = '/Content/Imagens/AsuaMoto.png'" alt="" />
                    </a>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
</div>
<div class="row">
    <br />
</div>
<div class="row">
    <div class="col-md-12">
        <div class="col-md-offset-1 col-md-11">
            <div class="col-md-4 ">
                <h2 class="tituloCliente"><span>Vídeos</span></h2>
                <div class="col-md-8 col-xs-7">
                    <div class="row">
                        <hr class="hrtituloCliente" />
                    </div>
                    <br />
                    <br />
                    <br />
                </div>
                <div class="col-md-8 col-xs-12">
                    <iframe width="500" height="300" src="https://www.youtube.com/embed?listType=playlist&list=PL3SRuzDU_vgWNgfzS_CNTpUSyH9-nspPY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

                </div>
                <div class="row">
                    <div class="col-md-12 bordaRight">
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-md-offset-1">
                <h2 class="tituloCliente"><span>Blog</span></h2>
                <div class="col-md-7 col-xs-7">
                    <div class="row">
                        <hr class="hrtituloCliente" />
                    </div>
                </div>
                @if (@ViewBag.Blog != null)
                {
                    foreach (var b in (List<PublicacaoViewModel>)@ViewBag.Blog)
                    {
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <h2 class="pull-left">
                                        <a href="@Url.Action("Noticia", "Blog", new {id = b.Id, Descricao = b.Url})" class="blog-link">@b.TituloTexto.Trim(' ')</a>
                                    </h2>
                                </div>
                                <h4 class="text-justify">
                                    @b.Resumo
                                </h4>
                                <br />
                                <a class="btn btn-primary btn-azulClaro" href="@Url.Action("Noticia", "Blog", new {id = b.Id, Descricao = b.Url})">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;LER MAIS&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                            </div>
                        </div>
                        <br />
                    }
                }
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="modalLucratividade" class="modal fade modalIcones" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6 " style="padding-top: 9%">
                            <br />
                            <iframe width="500" height="300" src="https://www.youtube.com/embed/5uyFXBQgsPU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </div>
                        <br />
                        <div class="col-md-6 col-textoVideo">
                            <h2>Lucratividade</h2>
                            <h4>
                                Toda empresa com bons lucros consegue crescer e se destacar no mercado, por isso, pensar na lucratividade é importante para qualquer negócio.
                                Com o WorkMotor, você tem acesso a inúmeras aplicações especiais desenvolvidas para que o lucro da sua empresa sempre cresça, realizando junto com o software um trabalho focado nos pontos mais importantes de uma oficina, como: a fidelização dos clientes e a economia do seu tempo, afinal, tempo é dinheiro e dinheiro é lucro. <br />
                                Nós garantimos o aumento de pelo menos 30% do lucro de sua empresa, caso contrário, devolvemos o seu investimento!
                                <br />
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modalSeguranca" class="modal fade modalIcones" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6 " style="padding-top: 3%">
                            <br />
                            <iframe width="500" height="300" src="https://www.youtube.com/embed/wimgL367QJE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </div>
                        <br />
                        <div class="col-md-6 col-textoVideo">
                            <h2>Segurança</h2>
                            <h4>
                                O WorkMotor é um software para o seu computador, que te ajuda a administrar com mais agilidade e eficiência a sua oficina, além de fácil, ele é seguro, pois é um sistema off-line que apenas você, dono da oficina ou auto peças tem acesso ao bando de dados.<br />
                                Todas informações armazenadas ficam seguras e você ainda tem a vantagem da estabilidade, pois mesmo sem internet o sistema pode se manter ativo, sem fazer com que você perca uma venda ou uma informação importante.
                                <br />
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modalDestaque" class="modal fade modalIcones" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6 " style="padding-top: 4%">
                            <br />
                            <iframe width="500" height="300" src="https://www.youtube.com/embed/woD-aZOcxR8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </div>
                        <br />
                        <div class="col-md-6 col-textoVideo">
                            <h2>Destaque</h2>
                            <h4>
                                Hoje, inúmeras oficinas e auto peças abrem suas portas, com isso, a concorrência se torna grande neste meio automotivo, então, como se destacar e conseguir sempre mais clientes?<br />
                                Com o WorkMotor você tem acesso a funcionalidades que seus concorrentes não têm. O uso do software WorkMotor faz com que sua agilidade no atendimento, seu controle e sua eficiência sejam pontos de destaque notados pelos clientes. Seu cliente também se sente mais tranquilo sabendo que a oficina conta com a tecnologia para sempre oferecer o melhor.
                                <br />
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modalAtendimento" class="modal fade modalIcones" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6 " style="padding-top: 2%">
                            <br />
                            <iframe width="500" height="300" src="https://www.youtube.com/embed/FoEjz53vA7E" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </div>
                        <br />
                        <div class="col-md-6 col-textoVideo">
                            <h2>Atendimento</h2>
                            <h4>
                                Você fica confuso com programas de computadores? Não se preocupe! O WorkMotor é fácil de usar, intuitivo e além disso, conta com um setor altamente especializado, desta forma, você é atendido por um técnico especialista, sem a necessidade de ficar passando por vários setores. O WorkMotor também conta com vídeo aulas todos os dias e um canal no YouTube completo.
                                <br />
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modalInovacao" class="modal fade modalIcones" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6" style="padding-top: 8%">
                            <br />
                            <iframe width="500" height="300" src="https://www.youtube.com/embed/NCkyULsr4FQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </div>
                        <br />
                        <div class="col-md-6 col-textoVideo">
                            <h2>Inovação</h2>
                            <h4>
                                O WorkMotor não é somente um software para negócios automotivos, é um sistema completo que pensa em toda necessidade do mecânico, dono de auto peças e oficinas. Além de um programa completo, o WorkMotor oferece inúmeros sistemas como o QueridoCarro.com, o Mais Lucro, o Cota Já, o Guia de Peças que auxiliam no dia a dia, trazendo mais facilidade para você e seu cliente.<br />
                                Além do mais, o WorkMotor possui o App WorkMotor, que agiliza o atendimento inicial com seu cliente, já que você pode fazer tudo isso na palma de sua mão, usando o seu celular. Imagine realizar o cadastro de novos clientes e veículos com apenas alguns cliques? Com o WorkMotor isso é possível!
                                <br />
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modalSimulacao" class="modal fade modalIcones" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-8 col-md-offset-3">
                            <iframe src="https://marvelapp.com/9e7f680?emb=1&iosapp=false&frameless=false" width="452" height="901" allowTransparency="true" frameborder="0"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

