﻿@model SiteWorkMotor.ViewModel.ClienteViewModel

@if (ViewBag.SmsHistoricoAtivo == null)
{
    <div class="row row-title">
        <h1><b>VOCÊ ESTÁ QUASE LÁ!</b></h1>
        <h4 id="download-mensagem">Preencha o campo abaixo com o código que enviamos por SMS no número que você informou, faça o download e aproveite todas as funcionalidades disponíveis no Workmotor Free!</h4>
    </div>
    <div class="row">
        <div class="container step-three-container">
            <form class="form-horizontal" method="post" id="form-ativacao">
                <input type="text" class="form-control form-text" id ="chave" required>
                @Html.TextBoxFor(m => m.Id, new { @class = "hidden", @id = "clienteIdChave" })
                @Html.TextBox("historicoId", (int)ViewBag.SmsHistoricoId, new {@class="hidden", @id="historicoId"})
                <input type="submit" value="CONFIRMAR" class="btn btn-success" />
            </form>
        </div>
    </div>
}
else
{
    <div class="row row-title">
        <h1><b>COMPLETE SEU CADASTRO</b></h1>
        <h4 id="download-mensagem">OS DADOS ABAIXO SÃO PARA IDENTIFICA-LO NO SUPORTE.</h4>
        <h4 id="download-patrocinio" class="hidden">VOCÊ SELECIONOU A BASE <b id="download-nome"></b> COM <b id="download-pecas"></b> PEÇAS</h4>
        <h4 id="download-segundos" class="hidden">SE O DOWNLOADO NÃO FOR INICIADO EM ALGUNS SEGUNDOS, CLIQUE NO BOTÃO ABAIXO.</h4>
    </div>
    <div class="row">
        <div class="container step-three-container">
            @using (Html.BeginForm("RegistrarCliente", "Free", FormMethod.Post, new { @id = "form-registrar-cliente", @class = "form-horizontal", role = "form" }))
            {
                <div class="col-md-12 erroProcesso hidden">
                    <h5>Erro no processo de cadastramento, tente novamente !</h5>
                </div>

                <div class="form-group">
                    <div class="col-md-6 col-md-offset-3">
                        @Html.LabelFor(m => m.PatrocinadorId)
                        @Html.DropDownList("PatrocinadorId", (SelectList)ViewBag.Patrocinadores, new { @class = "form-control dropdown-padrocinadores", @required = "required", @id = "dropdown-patrocinadores" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-6 col-md-offset-3">
                        @Html.LabelFor(m => m.RazaoSocial)
                        @Html.TextBoxFor(m => m.RazaoSocial, new { @class = "form-control form-text", @placeholder = "NOME/RAZÃOSOCIAL", @required = "required" })
                        @Html.ValidationMessageFor(x => x.RazaoSocial, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-6 col-md-offset-3">
                        @Html.LabelFor(m => m.CpfCnpj)
                        @Html.TextBoxFor(m => m.CpfCnpj, new { @class = "form-control form-text", @id = "cpfCnpj", @placeholder = "CPF/CNPJ, INFORMAR SOMENTE NÚMEROS", @required = "required" })
                        @Html.ValidationMessageFor(x => x.CpfCnpj, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6 col-md-offset-3">
                        @Html.LabelFor(m => m.Cep)
                        @Html.TextBoxFor(m => m.Cep, new { @class = "form-control form-text", @id = "cep", @placeholder = "CEP", @required = "required" })
                        @Html.ValidationMessageFor(x => x.Cep, "", new { @class = "text-danger" })
                    </div>
                </div>
                @Html.TextBoxFor(m => m.Id, new { @class = "hidden", @id = "clienteId" })
                @Html.TextBoxFor(m => m.Telefone, new { @class = "hidden", @id = "clienteTelefone" })
                @Html.TextBoxFor(m => m.Email, new { @class = "hidden", @id = "clienteEmail" })
                <div class="form-group">
                    <div class="col-md-3 col-md-offset-6">
                        <button type="submit" class="btn btn-success form-group form-btn" style="width: 100%;" id="btnbaixar">BAIXAR WORKMOTOR <i class="fa"></i></button>
                    </div>
                </div>
            }
            <div class="hidden div-link-download">
                <a href="/" target="_blank" class="btn btn-success" id="link-download">BAIXAR WORKMOTOR</a>
            </div>
        </div>
    </div>
}


<script>
    workFree.mascararContato();
    workFree.mascararCpfCnpj();

    $('#step-two').on('hidden.bs.modal', function (e) {
        $("#btn-enviar").prop("disabled", false);
        $("#btn-enviar i").removeClass("fa-spin").removeClass("fa-spinner");
    })

    $(document).ready(function() {
        $("#cep").mask("99999-999");
    });

    $(document).ready(function() {
        $('#dropdown-patrocinadores').append($('<option>',
            {
                value: 4,
                text: 'Sem Patrocinador',
                selected: true,
                data_teste: '2'
            }));
    });

    $('#form-ativacao').submit(function(e) {
        e.preventDefault();
        var clienteId = $("#clienteIdChave").val();
        var smsHistoricoId = $("#historicoId").val();
        var chave = $("#chave").val();

        if ($(this).valid()) {
            $.ajax({
                url: '@Url.Action("ValidacaoChave", "Free")',
                data: {
                    "clienteId": clienteId,
                    "smsHistoricoId": smsHistoricoId,
                    "chave": chave
                },
                success: function(result) {
                    if (result !== "Fail") {
                        $("#clienteEmail").val($("#formEmail").val());
                        $("#clienteTelefone").val($("#telefone").val());
                        $(".row-three").html(result);
                        gtag('event', 'cadastro_free', {
                            'event_category': 'etapa_1',
                            'event_label': 'sucesso'
                        });
                    } else {
                        console.log("ERRO");
                    }
                }
            });
        }
    });

    $("#dropdown-patrocinadores").change(function () {
        var patrocinador = $(this).val();
        console.log(patrocinador);
        switch (patrocinador) {
        case "1":
            console.log(patrocinador);
            $("#download-nome").html("DPK");
            $("#download-pecas").html("29.964");
            break;

        case "3":
            console.log(patrocinador);
            $("#download-nome").html("GIMENES");
            $("#download-pecas").html("7.519");
            break;

        case "4":
            if ($("#dropdown-patrocinadores option:selected").text() === "Sem Patrocinador") {
                $(".row-title #download-patrocinio").addClass("hidden");
            }
            console.log(patrocinador);
            $("#download-nome").html("DR. MACETE");
            $("#download-pecas").html("37.483");
            return;

        case "6":
            console.log(patrocinador);
            $("#download-nome").html("BORFLEX");
            $("#download-pecas").html("1.365");
            break;

        case "8":
            console.log(patrocinador);
            $("#download-nome").html("CASA DO MECÂNICO");
            $("#download-pecas").html("42.168");
            break;

        default:
            console.log("ERRO!");
            break;
        }
        if ($("#download-patrocinio").hasClass("hidden")) {
            $("#download-patrocinio").removeClass("hidden");
        }
    });

    $("#form-registrar-cliente").submit(function(e) {
        e.preventDefault();
        var form = $(this).serialize();
        if ($(this).valid()) {
            $.ajax({
                url: "@Url.Action("RegistrarCliente","Free")",
                type: "post",
                async: false,
                data: form,
                beforeSend: function() {
                    $("#btnbaixar i").addClass("fa-spin fa-spinner");
                },
                success: function(data) {
                    if (data === "True") {
                        gtag('event', 'cadastro_free', {
                            'event_category': 'etapa_2',
                            'event_label': 'CPF'
                        });
                        email_do_usuario = $("#clienteEmail").val();
                        window.goog_report_conversion(window.location.href);
                        @if (ViewBag.Device == "Mobile")
                        {
                            <text>
                                console.log("Mobile");
                                $.ajax({
                                    url: "@Url.Action("EnviarEmailDownload","Free")",
                                    type: "post",
                                    data: form,
                                    success: function (response) {
                                        if (response === 'True') {
                                            $("#form-registrar-cliente").fadeOut(500,
                                                function () {
                                                    $(".row-title h1").html("CADASTRO REALIZADO COM SUCESSO.");
                                                    $(".row-title #download-mensagem").html("Enviamos um e-mail para você com o link para download.");
                                                    $(".row-title #download-patrocinio").addClass("hidden");
                                                });
                                        }
                                    }
                                });

                            </text>
                        }
                        else
                        {
                            <text>
                                console.log("Desktop");
                                var patrocinador = $("#dropdown-patrocinadores").val();
                                $("#link-download").attr("href", "/free/baixararquivo/?idPatrocinador=" + patrocinador);
                                var teste = $("#link-download").attr("href");
                                $("#form-registrar-cliente").fadeOut(500,
                                    function () {
                                        $(".div-link-download").removeClass("hidden");
                                        $(".row-title h1").html("CADASTRO REALIZADO COM SUCESSO.");
                                        //$(".row-title #download-mensagem").html("PARA MAIS DETALHES, USE O MENU PARA CONHECER MAIS SOBRE O WORKMOTOR OU CONVERSE COM NOSSO SUPORTE");
                                        $(".row-title #download-mensagem").addClass("hidden");
                                        $(".row-title #download-patrocinio").addClass("hidden");
                                        $("#download-segundos").removeClass("hidden");
                                    });
                                @* $("#link-download").attr("href", '@Url.Action("", "Free")');*@

                                console.log(teste);
                                window.open(teste, "_blank");
                            </text>
                        }
                    } else {
                        $("#form-registrar-cliente").fadeOut(500,
                            function () {
                                $(".row-title h1").html("FALHA NO CADASTRO");
                                $(".row-title #download-mensagem").html("PARECE QUE ESTAMOS TENDO UM PROBLEMA COM SEU CADASTRO. TENTE NOVAMENTE MAIS TARDE");
                            });
                    }
                }
            });
        }
        return false;
    });
</script>