﻿@using SiteWorkMotor.ViewModel
@model SiteWorkMotor.ViewModel.ClienteViewModel
@{
    ViewBag.Title = "WorkMotor Free";
    ViewBag.Href = "free/";
    Layout = "~/Views/Shared/_LayoutFree.cshtml";
}

<div class="row fonttt">
    <div class="row input-free" id="step-one" style="position: relative; width: 100%; color: #13304e;">
        <div class="row banner_free">
            <div class="container" style="margin-top: 10vh; margin-bottom: 5vh">
                <div class="row">
                    <div class="col-md-5 col-sm-12 container-form-one">
                        <h1>
                            <span class="font-enlarge">WORKMOTOR FREE</span>
                        </h1>
                        <h3>O MELHOR SOFTWARE DE OFICINAS E AUTOPEÇAS <span class="font-enlarge">GRATUITAMENTE</span></h3>
                    </div>
                    <div class="col-md-7 col-sm-12 container-prop-one">
                        <div class="row container-prop-row font-enlarge">
                            <span class="prop-span-cur">R$</span> <span class="prop-span-val">00,00</span>
                        </div>
                        <div class="row container-list-row">
                            <div class="col-md-6 prop-one-list">
                                <ul>
                                    <li>Agenda</li>
                                    <li>Cadastro de Clientes e Fornecedores</li>
                                    <li>Consulta de Produtos</li>
                                    <li>Consulta de Serviço</li>
                                </ul>
                            </div>
                            <div class="col-md-6 prop-one-list prop-list-divider">
                                <ul>
                                    <li>Orçamento e OS</li>
                                    <li>Histórico de Veículos</li>
                                    <li>Relatório de Clientes</li>
                                    <li>Relatório de Fornecedores</li>
                                    <li>Impressões</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-padding-mobile-free">
            <div class="row">
                <h2 class="tituloCliente">
                    Realmente <span>Gratuito</span>
                </h2>
                <div class="col-md-4">
                    <div class="row">
                        <hr class="hrtituloCliente" />
                        <h4>
                            WorkMotor Free não para de funcionar!
                        </h4>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 3vh;">
                @using (Html.BeginForm("RegistrarCliente", "Free", FormMethod.Post, new {@id="form-registrar-cliente1", role = "form", @class = "form-group fonttt"}))
                {
                    <div class="col-md-5 col-sm-12">
                        @Html.TextBoxFor(m => m.Email, new {@class = "form-control form-group", @type = "email", @placeholder = "E-MAIL", @required = "required", @id = "formEmail"})
                        @Html.ValidationMessageFor(x => x.Email, "", new {@class = "text-danger"})
                    </div>
                    <div class="col-md-5 col-sm-12">
                        @Html.TextBoxFor(m => m.Telefone, new {@class = "form-control form-group", @id = "telefone", @placeholder = "DDD+TELEFONE", @required = "required"})
                        @Html.ValidationMessageFor(x => x.Telefone, "", new {@class = "text-danger"})
                    </div>
                    <div class="col-md-2">
                        <button type="submit" id="btn-enviar" class="btn btn-success form-btn"><b>AVANÇAR</b> <i class="fa"></i></button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


<div class="row" style="margin-right: 0;">
    <div class="col-md-12">
        <div class="col-md-11 col-md-offset-1">
            <div class="row">
                <h2 class="tituloCliente">
                    WorkMotor <span>Free</span>
                </h2>
                <div class="col-md-2 col-xs-7">
                    <div class="row">
                        <hr class="hrtituloCliente" style="margin-bottom: 15px;" />
                    </div>
                </div>
                <div class="col-md-10"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="row">
            <div class="container">
                <div class="col-md-5">
                    <img src="~/Content/Imagens/monitor.png" class="img-responsive" style="position: relative; z-index: 500">
                </div>
                <div class="col-md-7">
                    <p>O WorkMotor Free é uma versão simplificada do WorkMotor e inteiramente gratuita! Nesta versão você poderá usufruir de alguns elementos de tecnologia e inovação que o sistema WorkMotor oferece, auxiliando na administração de seu negócio automotivo. </p>

                    <p>Economize seu tempo e foque no que realmente importa! As suítes de aplicações do WorkMotor Free trabalham junto com você focando nos pontos mais importantes de sua oficina, auxiliando no seu dia a dia e no crescimento de sua oficina, auto peças ou centro automotivo.</p>
                </div>
            </div>
        </div>
        <div class="row row-conheca-youtube" style="margin-right: 0;">
            <div class="col-md-6 col-md-offset-6">
                <a href="#" style="color: white" id="turu"><i class="fa fa-caret-right"></i> Clique <span>aqui</span> e assista nosso vídeo!</a>
            </div>
        </div>
    </div>
</div>

<div class="row" style="margin-right: 0;">
    <div class="container">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <img src="~/Content/Imagens/logo_bfx.png" alt="" class="img-responsive"/>
                        </div>
                    </div>
                    <div class="row parceiros-imagem-slide-col-slide-divider">
                        <hr class="hrtituloCliente"/>
                    </div>
                    <div class="row parceiros-imagem-slide-col-slide-texto">
                        <p>A BFX-Borflex é uma empresa nacional, com 30 anos de atuação no mercado. Desenvolve e produz a mais completa linha de produtos metal borracha de alta performance para a indústria automobilística nacional e internacional. Com permanentes investimentos em pesquisa e tecnologia, profissionais treinados e capacitados, sólidas parcerias e uma política comercial transparente, a BFX-Borflex é uma das líderes do setor no mercado de peças e componentes de suspensão para a indústria automotiva. Dispõe de mais de 2.500 itens, todos certificados com o selo ISO 9001:2015, que garante o alto padrão de qualidade, para veículos das linhas leve e pesado, nacionais e importados.</p>
                    </div>
                </div>

                <div class="item">
                    <div class="row">
                        <div class="col-md-4 col-md-offset-4">
                            <img src="~/Content/Imagens/logo_dpk.png" alt="" class=" img-responsive"/>
                        </div>
                    </div>
                    <div class="row parceiros-imagem-slide-col-slide-divider">
                        <hr class="hrtituloCliente"/>
                    </div>
                    <div class="row parceiros-imagem-slide-col-slide-texto">
                        <p>Especializada na distribuição automotiva no Brasil, a DPK está no mercado desde 1987, contando com dezoito filiais pelo país com um sistema avançado de distribuição de produtos. Com sua matriz em Campinas, ela também atua nas cidades de Belém, Belo Horizonte, Brasília, Campo Grande, Curitiba, Florianópolis, Fortaleza, Goiânia, Porto Alegre, Pouso Alegre, Presidente Prudente, Recife, Ribeirão Preto, Rio de Janeiro, Salvador, São Paulo e Vitória. Para deixar sua infraestrutura mais dinâmica e completa, a DPK possui escritórios regionais, franquias e postos de atendimento ao cliente, conhecidos como PAAC – todos dispostos a atender as necessidades dos clientes.</p>
                    </div>
                </div>

                <div class="item">
                    <div class="row">
                        <div class="container">
                            <div class="col-md-12 col-md-offset-1">
                                <img src="~/Content/Imagens/logo_cdm.png" alt="" class=" img-responsive"/>
                            </div>
                        </div>
                    </div>
                    <div class="row parceiros-imagem-slide-col-slide-divider">
                        <hr class="hrtituloCliente"/>
                    </div>
                    <div class="row parceiros-imagem-slide-col-slide-texto">
                        <p>Empresa fundada em 1991, fornecem todas as máquinas e equipamentos para a sua oficina mecânica e entregam para todo o Brasil. Distribuem produtos de fabricantes nacionais e de própria importação de alguns dos maiores fabricantes internacionais. Na Casa do Mecânico você encontra elevadores automotivos, máquinas de solda, compressores de ar, tornos mecânicos, pneumáticas, ferramentas manuais e diversas outras máquinas e equipamentos.</p>
                    </div>
                </div>

                <div class="item">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <img src="~/Content/Imagens/logo_gimenes.png" alt="" class=" img-responsive"/>
                        </div>
                    </div>
                    <div class="row parceiros-imagem-slide-col-slide-divider">
                        <hr class="hrtituloCliente"/>
                    </div>
                    <div class="row parceiros-imagem-slide-col-slide-texto">
                        <p>Uma das primeiras distribuidoras de Auto Peças especializada em Injeção Eletrônica e com uma modesta sede própria, porém com uma ótima localização estratégica. Dotados de amplas instalações, totalmente informatizado e dotado de um amplo estoque.Dentre os demais produtos estão: Bomba de Combustível, Mangueiras, Pré Filtros, Reparos para Bico, Aneis de Vedação, Conectores, Sondas, Guarnições, Abraçadeiras, Tampas da Bomba de Combustível, Sensores, Bicos, Chicotes</p>
                    </div>
                </div>

                <div class="item">
                    <div class="row">
                        <div class="col-md-4 col-md-offset-4">
                            <img src="~/Content/Imagens/logo_drm.png" alt="" class=" img-responsive"/>
                        </div>
                    </div>
                    <div class="row parceiros-imagem-slide-col-slide-divider">
                        <hr class="hrtituloCliente"/>
                    </div>
                    <div class="row parceiros-imagem-slide-col-slide-texto">
                        <p>O mecânico Everson Boer, de Campinas (SP), é conhecido desde 2011 como Dr. Macete, personagem que criou para ilustrar os mais de 100 vídeos que tem na internet com dicas inusitadas para carros como resolver problema no alternador, carreira dentada, câmbio, como fazer chupeta, carro que bebe muito, vazamento de água, cuidados com o motor, etc, tudo de forma didática e divertida. Everson Boer tem mais de 100 vídeos no ar. “A audiência total dos vídeos já passou de 5 milhões”</p>
                    </div>
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control slide-control" href="#myCarousel" data-slide="prev">
                @*<span class="glyphicon glyphicon-chevron-left"></span>*@
                <span class="fa fa-caret-left fa-4x"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control slide-control carousel-control-right" href="#myCarousel" data-slide="next">
                @*<span class="glyphicon glyphicon-chevron-right"></span>*@
                <span class="fa fa-caret-right fa-4x"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>


<div class="row">
    <br />
    <div class="col-md-12">
        <div class="col-md-11 col-md-offset-1">
            <div class="row">
                <h2 class="tituloCliente">
                    <span>Conheça</span> também:
                </h2>
                <div class="col-md-2 col-xs-7">
                    <div class="row">
                        <hr class="hrtituloCliente" style="margin-bottom: 15px;" />
                    </div>
                </div>
                <div class="col-md-10"></div>
            </div>
        </div>
    </div>
</div>
<div class="row produtos-logos">
    <br />
    <div class=" margemicone">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="col-md-2 col-xs-12 iconesobre-produtos qc-logo">
                    <a href="http://www.queridocarro.com.br/" target="_blank">
                        <img src="/Content/Imagens/QcLogo.png" class="img-responsive" onmouseover="this.src = '/Content/Imagens/qcColorido.png'" onmouseout="this.src = '/Content/Imagens/QcLogo.png'" alt="" />
                    </a>
                </div>
                <div class="col-md-2 col-xs-12 iconesobre-produtos cotaja-logo">
                    <a href="http://www.cotaja.com.br/login.aspx" target="_blank">
                        <img src="/Content/Imagens/cotaja.png" class="img-responsive" onmouseover="this.src = '/Content/Imagens/cotaJaColorido.png'" onmouseout="this.src = '/Content/Imagens/cotaja.png'" alt="" />
                    </a>
                </div>
                <div class="col-md-2 col-xs-12 iconesobre-produtos guia-logo">
                    <a href="http://www.guiadepecas.com.br" target="_blank">
                        <img src="/Content/Imagens/GuaPecas.png" class="img-responsive" onmouseover="this.src = '/Content/Imagens/GuaPecasColorido.png'" onmouseout="this.src = '/Content/Imagens/GuaPecas.png'" alt="" />
                    </a>
                </div>
                <div class="col-md-2 col-xs-12 iconesobre-produtos maisLucro-logo">
                    <a href="http://maislucro.net/" target="_blank">
                        <img src="/Content/Imagens/maisLucro.png" class="img-responsive" onmouseover="this.src = '/Content/Imagens/maisLucroColodiro.png'" onmouseout="this.src = '/Content/Imagens/maisLucro.png'" alt="" />
                    </a>
                </div>

                <div class="col-md-2 col-xs-12 iconesobre-produtos asuamoto-logo">
                    <a href="http://asuamoto.com.br/" target="_blank">
                        <img src="/Content/Imagens/AsuaMoto.png" class="img-responsive" onmouseover="this.src = '/Content/Imagens/AsuaMotoColorida.png'" onmouseout="this.src = '/Content/Imagens/AsuaMoto.png'" alt="" />
                    </a>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
</div>
<div class="row">
    <br />
</div>
<div class="row">
    <div class="col-md-12">
        <div class="col-md-offset-1 col-md-11">
            <div class="col-md-4 ">
                <h2 class="tituloCliente"><span>Vídeos</span></h2>
                <div class="col-md-8 col-xs-7">
                    <div class="row">
                        <hr class="hrtituloCliente" />
                    </div>
                    <br />
                    <br />
                    <br />
                </div>
                <div class="col-md-8 col-xs-12">
                    <iframe width="500" height="300" src="https://www.youtube.com/embed?listType=playlist&list=PL3SRuzDU_vgWNgfzS_CNTpUSyH9-nspPY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

                </div>
                <div class="row">
                    <div class="col-md-12 bordaRight">
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-md-offset-1">
                <h2 class="tituloCliente"><span>Blog</span></h2>
                <div class="col-md-7 col-xs-7">
                    <div class="row">
                        <hr class="hrtituloCliente" />
                    </div>
                </div>
                @if (@ViewBag.Blog != null)
                {
                    foreach (var b in (List<PublicacaoViewModel>)@ViewBag.Blog)
                    {
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <h2 class="pull-left">
                                        <a href="@Url.Action("Noticia", "Blog", new {id = b.Id, Descricao = b.Url})" class="blog-link">@b.TituloTexto.Trim(' ')</a>
                                    </h2>
                                </div>
                                <h4 class="text-justify">
                                    @b.Resumo
                                </h4>
                                <br />
                                <a class="btn btn-primary btn-azulClaro" href="@Url.Action("Noticia", "Blog", new {id = b.Id, Descricao = b.Url})">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;LER MAIS&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                            </div>
                        </div>
                        <br />
                    }
                }
            </div>
        </div>
    </div>
</div>

@*
    //////////////////// Modais ////////////////////
*@



<div id="modalYay" class="modal fade modalIcones" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-12 " style="padding-top: 9%">
                            <br />
                            <iframe width="850" height="450" src="https://www.youtube.com/embed/XfiuwBjtHcA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    workFree.mascararContato();
    workFree.mascararCpfCnpj();

    //var control;

    $(document).ready(function() {
        $("#cep").mask("99999-999");
    });
    $("#form-registrar-cliente1").submit(function(e) {
        e.preventDefault();
        $("#btn-enviar").prop("disabled", true);
        $("#btn-enviar i").addClass("fa-spin").addClass("fa-spinner");

        if ($(this).valid()) {
            
            $.ajax({
                url: "@Url.Action("RegistrarCliente1", "Free")",
                type: "post",
                async: true,
                data: $(this).serialize(),
                beforeSend: function() {
                    $("#btn-enviar").prop("disabled", true);
                },
                success: function(data) {
                    if (data !== "Fail") {
                        $("#clienteEmail").val($("#formEmail").val());
                        $("#clienteTelefone").val($("#telefone").val());
                        $(".row-three").html(data);
                        gtag('event', 'cadastro_free', {
                            'event_category': 'etapa_1',
                            'event_label': 'sucesso'
                        });
                        $("#step-two").modal('show');
                    } else {
                        console.log("ERRO");
                    }
                }
            });
        } else {
            $("#btn-enviar i").removeClass("fa-spin fa-spinner");
            $("#btn-enviar").prop("disabled", false);
        }
        return false;
    });

    $("#turu").click(function() {
        $("#modalYay").modal("show");
    });

    
</script>