﻿@using Core
@model System.Collections.Generic.List<Core.Contato>

@{
    ViewBag.Title = "Todos os Contatos";
    Layout = "../Shared/_LayoutAdm.cshtml";
}


<div class="white-bg tabelacontatos" id="conteudo">

    <div class="col-md-12">
        <h2 class="text-center cabecariotbcontatos">
            Todos os contatos
        </h2>

        <br /><br /><br />

        <table class="table table-striped table-bordered" id="todosContatos">
            <thead>
                <tr>
                    <th>Data</th>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Telefone</th>
                    <th>Mensagem</th>
                    <th>Visualizado em</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var c in Model)
                {
                    <tr>
                        <td><span class='hidden'>@c.DataContato.ToString("yyyy-MM-dd hh:mm:ss.ffff")</span>@c.DataContato</td>
                        <td>@c.Nome</td>
                        <td>@c.Email</td>
                        <td>@c.Telefone</td>
                        <td>
                            @if (c.Mensagem != "Contato via home, sem opção de inserir mensagem")
                            {
                                @c.Mensagem
                            }

                        </td>
                        <td>@c.DataVisualizacao</td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#todosContatos').dataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese-Brasil.json"
            },
            "order": [[0, "desc"]]
        });
    });
</script>