﻿@model List<SiteWorkMotor.ViewModel.PublicaoViewModel>
@{
    ViewBag.Title = "";
    Layout = "../Shared/LayoutConteudo.cshtml";
}

<div class="white-bg" id="conteudo">
    <div cslass="col-md-12">
        <h2 class="col-md-12">
            <br />
            Posts
            <a class="pull-right btn btn-primary" href="@Url.Action("Index", "Editor", new {Id = 0})">Novo Post</a>
        </h2>
        <br />
        <div class="col-md-12">
            <table class="table table-striped table-bordered" id="publicacoes">
                <thead>
                    <tr>
                        <th>Publicado em</th>
                        <th>Titulo</th>
                        <th>Status</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        foreach (var c in Model)
                        {
                            <tr>
                                <td>@c.DataPublicacao</td>
                                <td>@c.Titulo</td>
                                <td>@c.Status</td>
                                <td>
                                    <a href="#" class="copiarProposta" data-id="@c.Id" data-desc="@c.Url">Copiar</a> &nbsp;

                                    <a href="@Url.Action("Index", "Editor", new {id = c.Id})">Editar</a> &nbsp;
                                    <a href="@Url.Action("Publicar", "Editor", new {id = c.Id})">Publicar</a>&nbsp;
                                    <a href="@Url.Action("Despublicar", "Editor", new {id = c.Id})">Despublicar</a>&nbsp;
                                    <a href="#" class="link-deletar" data-id="@c.Id">Deletar</a>&nbsp;
                                </td>
                            </tr>

                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Modal -->
<div id="modalTextoCopiado" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="">
                <br />
                <h4 class="modal-title">&nbsp; Link cópiado para área de transferência.</h4>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modalPostDeletar" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="">
                <br />
                <h4 class="modal-title">&nbsp; Deseja realmente deletar esse post?</h4>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">NÃO!</button>
                    <button type="button" class="btn btn-success" id="btn-deletar" data-id="">SIM!</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.copiarProposta').click(function () {
            var id = $(this).attr("data-id");
            var desc = $(this).attr("data-desc");
            copyTextToClipboard("https://workmotor.com.br/blog/noticia/" + id + "/" + desc);
            $("#modalTextoCopiado").modal("show");
        });

        $('#publicacoes').dataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese-Brasil.json"
            }
        });

        $(".link-deletar").click(function (e) {
            e.preventDefault();
            $("#btn-deletar").data("id", $(this).data("id"));
            $("#modalPostDeletar").modal("show");
        });

        $("#btn-deletar").click(function () {
            console.log($(this).data("id"));
            var url = '@Url.Action("Deletar", "Editor", new { id = "id" })';
            window.location.href = url.replace('id', $(this).data("id"));
        });
    });

    function copyTextToClipboard(text) {
        var textArea = document.createElement("textarea");

        textArea.style.position = 'fixed';
        textArea.style.top = 0;
        textArea.style.left = 0;
        textArea.style.width = '2em';
        textArea.style.height = '2em';
        textArea.style.padding = 0;
        textArea.style.border = 'none';
        textArea.style.outline = 'none';
        textArea.style.boxShadow = 'none';
        textArea.style.background = 'transparent';
        textArea.value = text;

        document.body.appendChild(textArea);
        textArea.select();

        try {
            var successful = document.execCommand('copy');
            var msg = successful ? 'successful' : 'unsuccessful';
            console.log('Copying text command was ' + msg);
        } catch (err) {
            console.log('Oops, unable to copy');
            alert("Erro ao copiar! Tente novamente");
            window.prompt("Copie para área de transferência: Ctrl+C e tecle Enter", text);
        }
        document.body.removeChild(textArea);
    }

    

</script>