﻿
@{
    ViewBag.Title = "Suporte";
    Layout = "../Shared/_LayoutDrMacete.cshtml";

}
<style>
    #livechat-full {
        left: 31% !important;
        width: 37% !important;
        height: 82% !important;
    }
</style>
<div class="row div-treinamento">
    <div class="col-md-6 col-md-offset-3">
        <h2>FICOU COM ALGUMA DÚVIDA?</h2>
        <hr/>
    </div>

    <div class="row">

        <div class="hidden" id="atualizador">
            <span>@ViewBag.Atualizador</span>
        </div>


        <div class="hidden" id="pat">
            <span>@ViewBag.tipoAcesso</span>
        </div>


        @if ((bool)ViewBag.Atualizador)
        {
            <div class="col-md-12">
                <h2>Atualizações</h2>
                <hr />
            </div>
            <div class="col-md-12">
                <h4>Última atualização do sistema realizada em @string.Format("{0:dd/MM/yyyy}", ViewBag.DataAtualizador), caso não tenha atualizado seu sistema clique <a href="/" target="_blanc" id="link-atualizador"> aqui</a> e baixe o atualizador.</h4>
            </div>
        }
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/jquery")

    <script> 
        if($("#atualizador span").text() == 'True'){
            if($("#pat span").text() == 'dpk') {
                $("#link-atualizador").attr("href", "/DrMacete/baixarAtualizador/?descPatrocinador=dpk");
            }
            if ($("#pat span").text() == 'compredireto') {
                $("#link-atualizador").attr("href", "/DrMacete/baixarAtualizador/?descPatrocinador=compredireto");
            }
            if ($("#pat span").text() == 'gimenes') {
                $("#link-atualizador").attr("href", "/DrMacete/baixarAtualizador/?descPatrocinador=gimenes");
            }
        }
        $(document).ready(function () { // chat
            window.__lc = window.__lc || {};
            window.__lc.license = 5902661;
            (function () {
                var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
                lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
            })();
            setTimeout(function () {
                $("#livechat-compact-container").css("visibility", "hidden");
                $("#livechat-compact-container").css("opacity", "0");
                $("#livechat-compact-container").css("transform", "none");

                $("#livechat-full").css("visibility", "inherit");
                $("#livechat-full").css("opacity", "100");
                $("#livechat-full").css("transform", "none");
            }, 1500);
        });
    </script>
}

