﻿
@{
    ViewBag.Title = "Franquia WorkMotor com baixo custo de investimento";
    ViewBag.Href = "franquia/";
    Layout = "../Shared/_LayoutMenu.cshtml";
    ViewBag.Descricao = "Seja o dono do seu próprio negócio, com pouco investimento, vendendo um sistema completo para oficinas e auto peças, que de tá total apoio utilizando o sistema de pré-vendas e o método de spin selling.";
}

<div class="row franquia-row-franquia" >
    <div class="col-md-12">
        <div class="col-md-11 col-md-offset-1">
            <div class="col-md-6 franquia-col-franquia-texto">
                <div class="row">
                    <h1 class="tituloCliente text-white">
                        <span>Franquia</span> WorkMotor
                    </h1>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="row">
                            <hr class="hrtituloCliente" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-11">
                        <div class="row">
                            <h4>
                                Você como o investidor, parceiro e patrocinador da expansão nacional da rede de franquias Workgroup. Comercialize produtos do segmento automotivo, com foco na lucratividade e recorrência.
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="row">
                            <hr class="hrtituloCliente" style="margin-bottom: 0;" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-11">
                        <div class="row">
                            <h4>
                                O Grupo WorkGroup entrou no sistema franchising em 2018 e atualmente administra 04 unidades em todo o país. Com o know-how acumulado, é possível transmitir o conhecimento de negócio e gestão com segurança e garantia de sucesso aos empreendedores.
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-11">
                        <a class="col-md-4 col-xs-8 btn btn-primary btn-azulClaro" style="margin-top: 2vh;" href="#formContato">&nbsp;MAIS INFORMAÇÕES&nbsp;</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 franquia-col-franquia-imagem hidden-xs">
                <img src="~/Content/Imagens/Computadores_Franquia.png" alt=""/>
            </div>
        </div>
    </div>
</div>

<div class="row franquia-row-vantagens" >
    <div class="col-md-12">
        <div class="col-md-11 col-md-offset-1">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <h2 class="tituloCliente">
                            <span>Vantagens e Benefícios</span>
                        </h2>
                        <div class="col-md-3">
                            <div class="row">
                                <hr class="hrtituloCliente" />
                            </div>
                        </div>
                        <div class="col-md-9"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-xs-12">
                            <div class="row">
                                <h4>
                                    Ganhos acima da média de mercado, empresa sólida e com processos definidos, experiência no segmento, treinamentos contínuos.
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="myCarousel" class="carousel slide text-white" data-ride="carousel">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="col-md-7 col-xs-12 franquia-row-vantagens-slide-texto">
                                    <h2>PARCERIAS</h2>
                                    <p>Possuímos parcerias com grandes empresas de mercado como DPASCHOAL  TECHNOMOTOR, SEBRAE E SINDIPEÇAS.</p>
                                </div>
                                <div class="col-md-4 franquia-row-vantagens-slide-imagem hidden-xs">
                                    <img src="~/Content/Imagens/girl_notebook.png" alt=""/>
                                </div>
                            </div>

                            <div class="item">
                                <div class="col-md-7 franquia-row-vantagens-slide-texto">
                                    <h2>RISCO ZERO</h2>
                                    <p>O desenvolvimento dependerá única e exclusivamente da performance  e dedicaçãodo franqueado.</p>
                                </div>
                                <div class="col-md-4 franquia-row-vantagens-slide-imagem hidden-xs">
                                    <img id="time" src="~/Content/Imagens/team.png"  alt=""/>
                                </div>
                            </div>

                            <div class="item">
                                <div class="col-md-7 franquia-row-vantagens-slide-texto">
                                    <h2>TRANSPARÊNCIA</h2>
                                    <p>Pautamos pela honestidade e transparência na relação com os franqueados, todas os processos são muito bem definidos  visando um melhor entendimento de todo setor.</p>
                                </div>
                                <div class="col-md-4 franquia-row-vantagens-slide-imagem hidden-xs">
                                    <img id="pc" src="~/Content/Imagens/Untitled-28.png" alt="" />
                                </div>
                            </div>
                        </div>

                        <!-- Left and right controls -->
                        <a class="left carousel-control slide-control franquia-row-vantagens-slide-controls-left" href="#myCarousel" data-slide="prev">
                            @*<span class="glyphicon glyphicon-chevron-left"></span>*@
                            <span class=" glyphicon glyphicon-chevron-left"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control slide-control franquia-row-vantagens-slide-controls-right" href="#myCarousel" data-slide="next">
                            @*<span class="glyphicon glyphicon-chevron-right"></span>*@
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        @*<img src="~/Content/Imagens/girl_notebook.png" style="position: absolute; width: 47vw; height: auto; bottom: -50vh; right: 7vw;" />*@
    </div>
</div>
<div class="row" >
    <div class="col-md-12 franquia-row-col-cadastrese">
        <span>SEJA UM FRANQUEADO <a href="#formContato" style="color: #428bca;">CADASTRE-SE</a> AGORA</span>
    </div>
</div>
<div class="row">
    <div class="col-md-5 col-md-offset-4" style="padding-top: 6vh;">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/pDadet9ZPVo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
</div>
<div class="row">
    <img src="~/Content/Imagens/spin_pre.png" style="width: 100%; height: auto;" alt=""/>
</div>
<div class="row">
    <br />
    <div class="col-md-12">
        <div class="col-md-11 col-md-offset-1">
            <div class="row">
                <h2 class="tituloCliente">
                    <span>Conheça</span> também:
                </h2>
                <div class="col-md-2">
                    <div class="row">
                        <hr class="hrtituloCliente" style="    margin-bottom: 15px;" />
                    </div>
                </div>
                <div class="col-md-10"></div>
            </div>
        </div>
    </div>
</div>
<div class="row produtos-logos">
    <br />
    <div class=" margemicone">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="col-md-2 col-xs-12 iconesobre-produtos qc-logo">
                    <a href="http://www.queridocarro.com.br/">
                        <img src="/Content/Imagens/QcLogo.png" class="img-responsive" onmouseover="this.src = '/Content/Imagens/qcColorido.png'" onmouseout="this.src = '/Content/Imagens/QcLogo.png'" alt=""/>
                    </a>
                </div>
                <div class="col-md-2 col-xs-12 iconesobre-produtos cotaja-logo">
                    <a href="http://www.cotaja.com.br/login.aspx">
                        <img src="/Content/Imagens/cotaja.png" class="img-responsive" onmouseover="this.src = '/Content/Imagens/cotaJaColorido.png'" onmouseout="this.src = '/Content/Imagens/cotaja.png'" alt=""/>
                    </a>
                </div>
                <div class="col-md-2 col-xs-12 iconesobre-produtos guia-logo">
                    <a href="http://www.guiadepecas.com.br">
                        <img src="/Content/Imagens/GuaPecas.png" class="img-responsive" onmouseover="this.src = '/Content/Imagens/GuaPecasColorido.png'" onmouseout="this.src = '/Content/Imagens/GuaPecas.png'" alt=""/>
                    </a>
                </div>
                <div class="col-md-2 col-xs-12 iconesobre-produtos maisLucro-logo">
                    <a href="http://maislucro.net/">
                        <img src="/Content/Imagens/maisLucro.png" class="img-responsive" onmouseover="this.src = '/Content/Imagens/maisLucroColodiro.png'" onmouseout="this.src = '/Content/Imagens/maisLucro.png'" alt="" />
                    </a>
                </div>

                <div class="col-md-2 col-xs-12 iconesobre-produtos asuamoto-logo">
                    <a href="http://asuamoto.com.br/">
                        <img src="/Content/Imagens/AsuaMoto.png" class="img-responsive" onmouseover="this.src = '/Content/Imagens/AsuaMotoColorida.png'" onmouseout="this.src = '/Content/Imagens/AsuaMoto.png'" alt=""/>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
</div>
<div class="row" style="margin-top: 10vh;">
    <div class="col-md-12">
        <div class="col-md-11 col-md-offset-1">
            <div class="col-md-9">
                <div class="row">
                    <h2 class="tituloCliente">
                        <span>Preencha</span> o formulário<br>
                        e ligamos para você
                    </h2>
                    <div class="col-md-3">
                        <div class="row">
                            <hr class="hrtituloCliente"/>
                        </div>
                    </div>
                    <div class="col-md-9"></div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-11">
                        <div class="row">
                            <h4>
                                Temos uma equipe de profissionais dedicada para responder às suas duvidas. Preencha o formulário abaixo e diga-nos como podemos ajudá-lo.
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="row formularioContato" id="formContato" style="margin-left: 8.0vw; margin-top: 1vh; width: 100%;">
                    <div class="container">
                        <img src="/Content/Imagens/engrenagemApp.png" class="img-responsive app maskAgua-engrenagem franquia-maskAgua-engrenagem hidden-xs hidden-sm" alt=""/>
                        <form class="form" id="formContato">
                            <div class="row" style="margin-top: 1vh;">
                                <div class="col-md-6">
                                    <input autocomplete="name" class="form-control" placeholder="NOME" type="text" id="Nome" name="Nome" required="required" oninvalid="this.setCustomValidity('Nome inválido')" oninput="setCustomValidity('')"/>
                                </div>
                                <div class="col-md-6">
                                    <input autocomplete="tel-national" class="form-control" placeholder="TELEFONE" type="tel" id="Telefone" name="Telefone" required="required" oninvalid="this.setCustomValidity('Telefone inválido')" oninput="setCustomValidity('')" />
                                </div>
                            </div>
                            <div class="row" style="margin-top: 1vh;">
                                <div class="col-md-12">
                                    <input autocomplete="email" class="form-control" placeholder="E-MAIL" type="email" id="Email" name="Email" required="required" oninvalid="this.setCustomValidity('E-mail inválido')" oninput="setCustomValidity('')" />
                                </div>
                            </div>
                            <div class="row" style="margin-top: 1vh;">
                                <div class="col-md-12">
                                    <textarea class="form-control" placeholder="MENSAGEM" rows="6" id="Mensagem" name="Mensagem" required="required" style="resize: none" oninvalid="this.setCustomValidity('Mensagem inválida ')" oninput="setCustomValidity('')"></textarea>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 1vh;">
                                <div class="col-md-12">
                                    <div class="col-md-2 col-md-offset-10" style="padding-right: 0 !important;">
                                        <button type="submit" class="btn btn-primary col-md-12" style="position: relative; right: 0;">ENVIAR</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function() {
            $("form#formContato").submit(function(e) {
                e.preventDefault();
                if ($(this).validate({
                    messages: {
                        Nome: "Informe seu nome",
                        Email: {
                            required: "E-mail é obrigatório",
                            email: "o email deve ser name@domain.com"
                        },
                        Telefone: "Informe seu telefone",
                        Mensagem: "Digite sua mensagem"
                    }
                })) {
                    window.EnviarFormulario($(this).serialize(), "/Home/ContatoMsg");
                }
            });
        });
    </script>
}