﻿@font-face {
  font-family: fontPadrao;
  src: url('../../fonts/AvenirNextLTPro-Regular.otf');
}
.transparente {
  background-color: transparent !important;
}
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: pink;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: pink;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: pink;
}
#livechat-full {
  left: 0 !important;
}
#livechat-compact-container {
  left: 0 !important;
  right: 0 !important;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: pink;
}
body {
  overflow: hidden;
  padding-top: 20px;
  min-height: 100vh;
  background-size: 100% 100% !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-image: url(/Content/Imagens/background_1200x675.jpg) !important;
  background-repeat: no-repeat;
}
body footer {
  background-color: white;
  box-shadow: white;
  border: none;
  color: #fff;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}
body footer p {
  position: relative;
  top: 5px;
}
#btn-enviar.btn-danger {
  background-color: rgba(226, 17, 22, 0.68) !important;
  border: 1px #991f22 !important;
  font-size: 19px;
  border-radius: 27px;
  width: 100%;
  /* padding-right: 0; */
  height: 41px;
}
.titulo-baixar {
  /*background-color: rgba(195, 200, 204, 0.51);*/
  /*margin: 0;*/
  /*margin-left: -15px;*/
  /*margin-right: -15px;*/
  color: #ffff00 !important;
  font-size: 30px;
  margin-bottom: -4px;
  font-weight: bold;
  /*border-top-left-radius: 35px;*/
  /*border-top-right-radius: 35px;*/
}
button.ytp-large-play-button {
  background-color: #6593ca !important;
}
.form-cliente {
  /*background-color: rgba(204, 210, 214, 0.4);*/
  /*border-top-left-radius: 35px;
        border-top-right-radius: 35px;
        border-bottom-left-radius: 35px;
        border-bottom-right-radius: 35px;*/
}
.form-cliente[disabled],
.form-cliente[readonly],
fieldset[disabled] .form-cliente {
  background-color: #d43f3a !important;
  opacity: 1;
}
.form-cliente input {
  background-color: #12446d !important;
  border: none;
  border-bottom: solid 1px #12446d !important;
  box-shadow: none;
  border-radius: 25px !important;
  margin-top: 0.5vw;
  margin-bottom: 0.5vw;
  color: white !important;
}
.form-cliente button {
  /*margin-top: 1vw;*/
}
.form-cliente .form-group {
  margin-bottom: 0;
}
.form-cliente .form-horizontal {
  margin-top: -1vw;
}
.navbar {
  background-color: transparent;
  background: transparent;
  border-width: 0;
}
@media (max-width: 768px) {
  .navbar {
    background-color: #3e3e3e !important;
  }
}
.navbar.navbar-shrink {
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #3e3e3e !important;
  padding: 10px;
}
.navbar .div-logo-main {
  position: absolute;
  min-height: 81%;
  min-width: 22%;
  background-image: url("/Content/Imagens/logo_free_macete_600x85.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: 50% 100%;
  top: 5px;
}
@media (min-width: 768px) {
  .navbar .div-logo-main {
    background-size: 100% 100% !important;
    min-height: 81%;
    min-width: 22%;
  }
}
@media (max-width: 480px) {
  .navbar .div-logo-main {
    background-size: 100% 100% !important;
    min-height: 81%;
    min-width: 22%;
    margin-left: 30px;
  }
}
.navbar a {
  text-decoration: none;
}
.navbar .free {
  font-family: 'Orbitron';
  font-size: 42px;
  margin-left: 265px;
  color: #74aede;
}
@media (max-width: 480px) {
  .navbar .free {
    font-size: 35px;
    margin-left: 272px;
    margin-top: 20px;
  }
}
.navbar .liMenu span {
  font-family: Ubuntu;
  font-size: 18px;
  color: white;
}
.div-index {
  padding-top: 40px;
}
.div-index h3 {
  margin-top: 1vw;
  color: #333333;
  text-align: center;
}
.div-index h4 {
  margin-top: -5px;
  color: #333333;
  text-align: center;
  /*padding-bottom: 25px;*/
}
.div-index h4 .titulo {
  color: #ffff00;
}
.div-index #sucessoCadastro a {
  margin-left: 12px;
}
.div-index .form-cliente {
  color: white;
  text-align: center;
  margin-top: -18vw;
}
.div-index .form-cliente input {
  background-color: rgba(255, 255, 255, 0.5);
}
.div-index .form-cliente select {
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: solid 1px #7f7f7f !important;
  box-shadow: none;
  border-radius: 0 !important;
  margin-top: 0.5vw;
  margin-bottom: 0.5vw;
}
.div-index .form-cliente h4 {
  margin-left: 90px;
}
.div-index .form-cliente h6 {
  margin-left: -15px;
}
.div-index .form-cliente h5 {
  color: red;
  margin-left: -95px;
}
.div-index .form-cliente #logoDist {
  margin-left: -100px;
}
@media (max-width: 480px) {
  .div-index .form-cliente h4 {
    margin-left: -5px;
  }
  .div-index .form-cliente .btn {
    margin-left: -10px;
  }
  .div-index .form-cliente #logoDist {
    margin-left: -8px;
  }
}
.div-index .div-standard-background {
  color: white;
}
.div-index .div-standard-background h3.titulo {
  color: white;
  font-weight: bold;
  margin-left: 120px;
  margin-top: 0.5%;
  position: absolute;
  margin-left: 30%;
  font-size: 15px;
}
.div-index .div-standard-background h4 {
  color: white;
}
.div-index .div-standard-background hr {
  margin-top: -10px;
  margin-bottom: 5px;
}
.div-index .div-standard-background span {
  font-size: 60px;
  /*font-family:*/
}
.div-index .erroCpfCnpj,
.div-index .erroEmail,
.div-index .errorCadastro {
  color: red;
}
.div-index .validation-summary-errors {
  color: red;
  margin-left: -30px;
}
.div-index .sucessEmail {
  color: lawngreen;
}
.div-patrocinadores {
  padding-top: 50px;
}
.div-patrocinadores .carousel-control {
  margin-top: 12vw;
  z-index: 999;
}
.div-patrocinadores .active img {
  min-width: 63%;
}
.div-patrocinadores .pre-right {
  filter: brightness(69%);
  margin-top: -250px !important;
  margin-left: 290px !important;
  display: block !important;
}
.div-patrocinadores .pre-left {
  filter: brightness(69%);
  margin-top: -260px !important;
  margin-left: 70px !important;
  display: block !important;
}
.div-patrocinadores .carousel-control.left {
  background-image: none;
}
.div-patrocinadores .carousel-control.right {
  background-image: none;
}
.div-patrocinadores h2 {
  text-align: center;
  color: white;
}
.div-patrocinadores h5 {
  color: white;
}
.div-patrocinadores hr {
  margin-top: -5px;
}
.div-patrocinadores p {
  color: white;
  text-align: justify;
}
.div-patrocinadores .input-contato-mensagem {
  resize: none;
  height: 150px;
}
.div-patrocinadores .form-contato-padrocinador .sucessContato {
  color: lawngreen;
}
.div-patrocinadores .form-contato-padrocinador .errorContato {
  color: red;
}
.div-patrocinadores .form-contato-padrocinador .btn {
  margin-left: -15px;
}
.div-patrocinadores .form-contato-padrocinador .validation-summary-errors {
  color: red;
}
.div-patrocinadores .div-conteudo-patrocinadores {
  padding-top: 20px;
  margin-top: -70px;
  /*background-color: @body-bg;*/
  border-radius: 5px;
}
.div-patrocinadores .div-conteudo-patrocinadores #logo-compredireto {
  background-image: url("../Content/Imagens/logo-compredireto.png") !important;
  background-repeat: no-repeat;
  background-size: 30% 100% !important;
  min-height: 50px;
}
    .div-patrocinadores .div-conteudo-patrocinadores #logo-dpk {
        background-image: url("../Content/Imagens/logo-dpk.png") !important;
        background-repeat: no-repeat;
        background-size: 30% 100% !important;
        min-height: 50px;
    }
    .div-patrocinadores .div-conteudo-patrocinadores #logo-gimenes {
        background-image: url("../Content/Imagens/logo-gimenes.png") !important;
        background-repeat: no-repeat;
        background-size: 30% 100% !important;
        min-height: 50px;
    }
.div-patrocinadores .div-conteudo-patrocinadores a {
  text-decoration: none;
}
.div-treinamento {
  padding-top: 40px;
}
.div-treinamento h2 {
  text-align: center;
  color: #ffff00 !important;
  font-weight: bold;
}
.div-treinamento h4 {
  color: white;
  text-align: center;
}
.div-treinamento h4 a {
  text-decoration: none;
  color: #173160;
  font-weight: bold;
}
.div-treinamento h4 a:hover {
  color: #081122;
}
.div-treinamento h5 {
  color: white;
  text-align: center;
}
.div-treinamento h5 a {
  text-decoration: none;
  color: #74aede;
}
.div-treinamento h5 a:hover {
  color: #368acf;
}
.div-treinamento hr {
  margin-top: -5px;
}
.div-upgrade {
  padding-top: 40px;
}
.div-upgrade h2 {
  text-align: center;
  color: white;
}
.div-upgrade h4 {
  color: white;
  text-align: center;
}
.div-upgrade h4 a {
  text-decoration: none;
  color: #74aede;
}
.div-upgrade h4 a:hover {
  color: #368acf;
}
.div-upgrade h5 {
  color: white;
  text-align: center;
}
.div-upgrade h5 a {
  text-decoration: none;
  color: #74aede;
}
.div-upgrade h5 a:hover {
  color: #368acf;
}
.div-upgrade hr {
  margin-top: -5px;
}
.div-upgrade .validation-summary-errors {
  color: red;
}
.div-upgrade .erroProcesso {
  color: red;
}
.navbar-inverse {
  background-color: #173160 !important;
}
