﻿@body-bg: #212121;
@footer-gradient-color-inicio: #1d1d1d;
@footer-gradient-color-final: #3e3e3e;
@div-standard-backgroung-bg-color-halfopacity: rgba(255, 255, 255, 0.6);
@write: white;
@font-face {
    font-family: fontPadrao;
    src: url('../../fonts/AvenirNextLTPro-Regular.otf');
}
.transparente {
    background-color: transparent !important;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: pink;
}

::-moz-placeholder { /* Firefox 19+ */
    color: pink;
}

:-ms-input-placeholder { /* IE 10+ */
    color: pink;
}
#livechat-full {
    left: 0 !important;
}

#livechat-compact-container {
    left: 0 !important;
    right: 0 !important;
}
:-moz-placeholder { /* Firefox 18- */
    color: pink;
}
body {
    overflow: hidden;
    padding-top: 20px;
    min-height: 100vh;
    background-size: 100% 100% !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    //background-image: url("../Content/images/index-background.jpg") !important;
    background-image: url(/Content/images/background_1200x675.jpg) !important;
    background-repeat: no-repeat;

    footer {
        //background: linear-gradient(to right, @footer-gradient-color-final, @footer-gradient-color-inicio);
        background-color: white;
        box-shadow: white;
        border: none;
        //box-shadow: 0 0 1px 1px @footer-gradient-color-inicio;
        color: #fff;
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        text-align: center;

        p {
            position: relative;
            top: 5px;
        }
    }
}
#btn-enviar.btn-danger {
    background-color: rgba(226, 17, 22, 0.68) !important;
    border: 1px #991f22 !important;
    font-size: 19px;
    border-radius: 27px;
    width: 100%;
    /* padding-right: 0; */
    height: 41px;
}
.titulo-baixar {
    /*background-color: rgba(195, 200, 204, 0.51);*/
    /*margin: 0;*/
    /*margin-left: -15px;*/
    /*margin-right: -15px;*/
    //padding: 17px;
    color: #ffff00 !important;
    font-size: 30px;
    margin-bottom: -4px;
    font-weight: bold;
    /*border-top-left-radius: 35px;*/
    /*border-top-right-radius: 35px;*/
}
    button.ytp-large-play-button {
        background-color: #6593ca !important;
    }

.form-cliente {

    &[disabled],
    &[readonly],
    fieldset[disabled] & {
        background-color: #d43f3a !important;
        opacity: 1; // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655
    }
    /*background-color: rgba(204, 210, 214, 0.4);*/
    /*border-top-left-radius: 35px;
        border-top-right-radius: 35px;
        border-bottom-left-radius: 35px;
        border-bottom-right-radius: 35px;*/
    input {
        background-color: #12446d !important;
        border: none;
        border-bottom: solid 1px #12446d !important;
        box-shadow: none;
        border-radius: 25px !important;
        margin-top: 0.5vw;
        margin-bottom: 0.5vw;
        color: white !important;
    }

    button {
        /*margin-top: 1vw;*/
    }

    .form-group{
        margin-bottom: 0;
    } .form-horizontal {
        margin-top: -1vw;
    }
}

.navbar {
    background-color: transparent;
    background: transparent;
    border-width: 0;

    @media(max-width: 768px) {
        background-color: @footer-gradient-color-final !important;
    }


    &.navbar-shrink {
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        background-color: @footer-gradient-color-final !important;
        padding: 10px;
    }

    .div-logo-main {
        position: absolute;
        min-height: 81%;
        min-width: 22%;
        background-image: url("/Content/Imagens/logo_free_macete_600x85.png");
        background-repeat: no-repeat;
        background-position-x: center;
        background-size: 50% 100%;
        top:5px;

        @media(min-width: 768px) {
            background-size: 100% 100% !important;
            min-height: 81%;
            min-width: 22%;
        }

        @media(max-width: 480px) {
            background-size: 100% 100% !important;
            min-height: 81%;
            min-width: 22%;
            margin-left: 30px;
        }
    }

    a {
        text-decoration: none;
    }

    .free {
        font-family: 'Orbitron';
        font-size: 42px;
        margin-left: 265px;
        color: #74aede;

        @media(max-width: 480px) {
            font-size: 35px;
            margin-left: 272px;
            margin-top: 20px;
        }
    }

    .liMenu {
        span {
            font-family: Ubuntu;
            font-size: 18px;
            color: @write;
        }
    }
}


.div-index {
    padding-top: 40px;

    h3 {
        margin-top: 1vw;
        color: #333333;
        text-align: center;
    }

    h4 {
        margin-top: -5px;
        color: #333333;
        text-align: center;
        /*padding-bottom: 25px;*/
        .titulo {
            color: #ffff00;
        }
    }


    #sucessoCadastro {
        a {
            margin-left: 12px;
        }
    }

    .form-cliente {
        input {
            background-color: rgba(255, 255, 255, 0.5);
        }

        select {
            background-color: rgba(255, 255, 255, 0.5);
            border: none;
            border-bottom: solid 1px #7f7f7f !important;
            box-shadow: none;
            border-radius: 0 !important;
            margin-top: 0.5vw;
            margin-bottom: 0.5vw;
        }
        //  margin-top: 30px;
        color: @write;
        text-align: center;
        margin-top: -18vw;

        h4 {
            margin-left: -90px;
        }

        h6 {
            margin-left: -15px;
        }

        .btn {
            //margin-left:40px;
        }

        h5 {
            color: red;
            margin-left: -95px;
        }

        #logoDist {
            margin-left: -100px;
        }

        @media(max-width: 480px) {
            h4 {
                margin-left: -5px;
            }

            .btn {
                margin-left: -10px;
            }

            #logoDist {
                margin-left: -8px;
            }
        }
    }

    .div-standard-background {
        // margin-top: 20px;
        //background-color: @div-standard-backgroung-bg-color-halfopacity;
        // background-color: @body-bg;
        //background-color: #12446d;
        //  background-image: url("/Content/images/boneco_home_800x594.png") !important;
        //  background-repeat: no-repeat;
        h4.titulo {
            color: white;
            font-weight: bold;
            margin-left: 120px;
            margin-top: 0%;
            position: absolute;
            margin-left: 37%;
            font-size: 10px;
        }

        h4 {
            color: white;
            font-weight: bold;
            margin-left: 120px;
            margin-top: 10%;
            position: absolute;
            margin-left: 37%;
        }

        hr {
            margin-top: -10px;
            margin-bottom: 5px;
        }

        span {
            font-size: 60px;
            /*font-family:*/
        }

        color: white;
    }

    .erroCpfCnpj, .erroEmail, .errorCadastro {
        color: red;
    }

    .validation-summary-errors {
        color: red;
        margin-left: -30px;
    }

    .sucessEmail {
        color: lawngreen;
    }
}

.div-patrocinadores {
    .carousel-control {
        margin-top: 12vw;
        z-index: 999;
    }

    .active {
        img {
            min-width: 63%;
        }
    }

    .pre-right {
        filter: brightness( 69% );
        margin-top: -250px !important;
        margin-left: 290px !important;
        display: block !important;
    }

    .pre-left {
        filter: brightness( 69% );
        margin-top: -260px !important;
        margin-left: 70px !important;
        display: block !important;
    }

    .carousel-control.left {
        background-image: none;
    }

    .carousel-control.right {
        background-image: none;
    }

    padding-top: 50px;

    h2 {
        text-align: center;
        color: @write;
    }

    h5 {
        color: @write;
    }

    hr {
        margin-top: -5px;
    }

    p {
        color: @write;
        text-align: justify;
    }

    .input-contato-mensagem {
        resize: none;
        height: 150px;
    }

    .form-contato-padrocinador {
        .sucessContato {
            color: lawngreen;
        }

        .errorContato {
            color: red;
        }

        .btn {
            margin-left: -15px;
        }

        .validation-summary-errors {
            color: red;
        }
    }

    .div-conteudo-patrocinadores {
        padding-top: 20px;
        margin-top: -70px;
        /*background-color: @body-bg;*/
        border-radius: 5px;

        #logo-compredireto {
            background-image: url("../Content/images/logo-compredireto.png") !important;
            background-repeat: no-repeat;
            background-size: 30% 100% !important;
            min-height: 50px;
        }

        #logo-dpk {
            background-image: url("../Content/images/logo-dpk.png") !important;
            background-repeat: no-repeat;
            background-size: 30% 100% !important;
            min-height: 50px;
        }

        #logo-gimenes {
            background-image: url("../Content/images/logo-gimenes.png") !important;
            background-repeat: no-repeat;
            background-size: 30% 100% !important;
            min-height: 50px;
        }

        a {
            text-decoration: none;
        }
    }
}

.div-treinamento {
    padding-top: 40px;

    h2 {
        text-align: center;
        color: #ffff00 !important;
        font-weight: bold;
    }

    h4 {
        color: @write;
        text-align: center;

        a {
            text-decoration: none;
            color: #173160;
            font-weight:bold;

            &:hover {
                color: darken(#173160, 15%);
            }
        }
    }

    h5 {
        color: @write;
        text-align: center;

        a {
            text-decoration: none;
            color: #74aede;

            &:hover {
                color: darken(#74aede, 15%);
            }
        }
    }

    hr {
        margin-top: -5px;
    }
}

    .div-upgrade {
        padding-top: 40px;

        h2 {
            text-align: center;
            color: @write;
        }

        h4 {
            color: @write;
            text-align: center;

            a {
                text-decoration: none;
                color: #74aede;

                &:hover {
                    color: darken(#74aede, 15%);
                }
            }
        }

        h5 {
            color: @write;
            text-align: center;

            a {
                text-decoration: none;
                color: #74aede;

                &:hover {
                    color: darken(#74aede, 15%);
                }
            }
        }

        hr {
            margin-top: -5px;
        }

        .validation-summary-errors {
            color: red;
        }

        .erroProcesso {
            color: red;
        }
    }


.navbar-inverse {
    background-color: #173160 !important;
}

.logodpk {
    position: absolute;
    min-height: 81%;
    min-width: 36%;
    background-image: url(/Content/Imagens/logofree_dpk.png);
    background-repeat: no-repeat;
    background-position-x: left;
    background-size: 63% 100%;
    top: 5px;
}

    