﻿@font-face {
  font-family: AvenirNextLTPro-Regular;
  src: url('../fonts/AvenirNextLTPro-Regular.otf') format('opentype');
}
@font-face {
  font-family: 'gobold_boldregular';
  src: url('../../fonts/gobold_bold-webfont.woff2') format('woff2'), url('../../fonts/gobold_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir Next LT Pro';
  src: url('../fonts/subset-AvenirNextLTPro-Regular.eot');
  src: url('../fonts/subset-AvenirNextLTPro-Regular.eot') format('eot'), url('../fonts/subset-AvenirNextLTPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: AvenirNextLTPro-Bold;
  src: url('../fonts/AvenirNextLTPro-Bold.otf') format('opentype'), url('../fonts/AvenirNextLTPro-Bold.eot') format('eot'), url('../fonts/AvenirNextLTPro-Bold.woff') format('woff');
}
@font-face {
  font-family: AvenirNextLTPro-Regular;
  src: url('../fonts/AvenirNextLTPro-Regular.otf') format('opentype'), url('../fonts/AvenirNextLTPro-Regular.otf') format('eot');
}
body {
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Avenir Next LT Pro';
}
/*CÓDIGO ORIGINAL*/
/*@font-face {
    font-family: 'gobold_boldregular';
    src: url('../../fonts/gobold_bold-webfont.woff2') format('woff2'), url('../../fonts/gobold_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Avenir Next LT Pro';
    src: url('../fonts/subset-AvenirNextLTPro-Regular.eot');
    src: url('../fonts/subset-AvenirNextLTPro-Regular.eot') format('eot'), url('../fonts/subset-AvenirNextLTPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}*/
.cabecario {
  padding-bottom: 10px;
}
.divlogo {
  margin-left: 3%;
}
.nav > li > a {
  padding: 10px 27px;
}
.linkworkmotorfree {
  color: #ffffff;
}
.banner {
  margin-top: 8vh;
}
.blog-link {
  text-decoration: none !important;
  color: #333 !important;
}
.blog-link:hover {
  text-decoration: none !important;
  color: #6c9bb5 !important;
  font-weight: bold !important;
}
.blog-link:focus {
  text-decoration: none !important;
  color: #6c9bb5 !important;
  font-weight: bold !important;
}
.sobreBannerMobile {
  margin-top: -55vh;
}
.sobreBanner {
  margin-top: -63vh;
}
.text-white {
  color: white;
}
.border {
  border-right: solid 5px #315299;
}
.text-justify {
  text-align: justify;
}
.col-lg-offset-00 {
  margin-left: 54%;
}
.loginazul {
  background-color: #315299;
  color: white;
  border: 1px solid #315299;
  padding: 21px 9px;
  border-radius: 0px;
}
.sempadding {
  padding: 0;
}
.textosobre {
  color: #ffffff;
}
.alinhamentotexto {
  margin-top: 8vh;
  font-size: 21px;
  padding: 38px 75px 0 2px;
}
.titulosobre {
  font-weight: bold;
}
.border2 {
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px thin;
  width: 49%;
  margin-left: -6%;
}
.azul {
  font-size: 16px;
  color: #004669;
  justify-content: center;
}
.iconesobre {
  margin-left: 2%;
  margin-right: 1%;
}
.iconesobre img {
  max-width: 60%;
}
.margemicone {
  margin-left: 4%;
  margin-top: 29px;
}
.wgfoto {
  background-image: url('/Content/Imagens/sobrewkm.png');
  height: 72vh;
  background-repeat: no-repeat;
  background-size: 214vh;
}
.contato {
  color: dodgerblue;
  text-align: right;
  font-weight: 650;
  font-size: 33px;
}
.bordercontact {
  border-right: solid 3px dodgerblue;
  min-height: 28vh;
}
.corform {
  background-color: #1e90ff;
  border: 1px solid #1e90ff;
  border-radius: 7px;
  padding: 20px 12px;
  color: #ffffff;
}
.botaocinza {
  background-color: #777;
  color: #ffffff;
}
.fontgobold {
  font-family: 'gobold_boldregular';
}
.fontavenir {
  font-family: 'Avenir Next LT Pro';
}
/*.fontgobold {
    font-family: 'gobold_boldregular';
}

.fontavenir {
    font-family: 'Avenir Next LT Pro';
}*/
.atende {
  font-size: 43px;
}
.aumenteseulucro {
  font-size: 25px;
}
.havinte {
  font-size: 17px;
}
.espacoborda {
  padding-left: 39px;
}
.letracbc {
  font-size: 13px;
}
.letracbc a {
  padding: 10px 18px !important;
}
#workfree a {
  font-family: AvenirNextLTPro-Regular;
  background: #f4e621;
  color: #000 !important;
  font-weight: bold !important;
}
#workfree a:hover {
  background: #312e32;
  color: #999 !important;
  font-weight: bold !important;
}
#areacliente {
  font-family: AvenirNextLTPro-Regular;
  background: #ffffff;
  color: #000 !important;
  font-weight: bold !important;
}
#areacliente:hover {
  background: #312e32;
  color: #ffffff !important;
  font-weight: bold !important;
}
.espaco {
  margin-right: 5%;
}
.margemborda {
  margin-right: 3%;
}
.margemcontact {
  margin-right: 6%;
}
.bordasobre {
  margin-bottom: 3%;
  margin-top: 4%;
}
.espacotexto {
  margin: 17px -33px 10px;
  letter-spacing: 0px;
}
.espacoinut {
  margin-top: 5px;
}
.botaoenviar {
  margin-top: 8%;
  margin-left: -12%;
  padding: 10px 9px;
  border-radius: 0px;
}
.alinhamentosegurança {
  margin-left: 5%;
}
.alinhamentodestaque {
  margin-left: 9%;
}
.alinhamentoatendimento {
  margin-left: 3%;
}
.alinhamentoinovacao {
  margin-left: 9%;
}
.bordasobrewg {
  margin-left: 0%;
  margin-top: 18px;
  margin-bottom: 18px;
}
.fontsizewg {
  font-size: 49px;
  margin: -12px -8px 13px;
  letter-spacing: -1px;
}
.fontcontato {
  letter-spacing: -1px;
}
.espacamentoform {
  margin-bottom: 7px;
}
.logolayoutadm {
  padding-top: 13px;
}
.alinhamentoform {
  margin-top: 21px;
}
.alinhamentocont {
  width: 49%;
}
.textoaumente {
  margin-left: -3%;
}
.corbtnenviar {
  background-color: #5d7fba;
}
.espacamentotextowg {
  line-height: 144%;
}
.sembarra {
  margin-right: 0;
}
#menu a:hover,
#menu a:focus,
#menu a.mPS2id-highlight {
  color: #578AC6;
  text-decoration: none;
}
.mensagemerro {
  color: #000000 !important;
  font-size: large;
}
.margemdamsgnome {
  margin-top: 1%;
}
.margemdamsgemail {
  margin-top: 2%;
}
.margemdamsgtelefone {
  margin-top: 2%;
}
.bordalogin {
  margin-top: 13%;
  background-color: rgba(255, 255, 255, 0.8);
  height: 50vh;
}
.inputdesabilitado {
  background-color: #315299 !important;
}
.margimbottom {
  margin-bottom: 19px;
}
.imagemlogin {
  background-image: url('/Content/Imagens/home_factory_slider_bg.jpg');
  height: 72vh;
  background-repeat: no-repeat;
  /*background-size: 1350px;*/
}
.botaoentrar {
  margin-left: -11px;
  width: 302px;
  border-radius: 0px;
}
.tabelacontatos {
  margin-top: 3%;
  /*margin-left: -21px;*/
}
.alinhamentotbcontato {
  margin-left: 0px;
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v29/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}
.bio-row {
  width: 50%;
  float: left;
  margin-bottom: 10px;
  padding: 0 15px;
}
.bio-row p span {
  width: 100px;
  display: inline-block;
}
.state-overview .symbol,
.state-overview .value {
  display: inline-block;
  text-align: center;
}
.state-overview .value {
  float: right;
}
.state-overview .value h1,
.state-overview .value p {
  margin: 0;
  padding: 0;
  color: #c6cad6;
}
.state-overview .value h1 {
  font-weight: 300;
}
.state-overview .symbol i {
  color: #fff;
  font-size: 50px;
}
.state-overview .symbol {
  width: 40%;
  padding: 25px 15px;
  -webkit-border-radius: 4px 0px 0px 4px;
  border-radius: 4px 0px 0px 4px;
}
.state-overview .value {
  width: 58%;
  padding-top: 21px;
}
.state-overview .terques {
  background: #6ccac9;
}
.state-overview .red {
  background: #ff6c60;
}
.state-overview .yellow {
  background: #f8d347;
}
.state-overview .blue {
  background: #3b5998;
}
#fileimagem {
  opacity: 0 !important;
  position: absolute !important;
  right: 19px !important;
  bottom: 0 !important;
  left: 45% !important;
  width: 50% !important;
  height: 19% !important;
  z-index: 100 !important;
  top: 81% !important;
}
.dropdown-menu li > a:hover,
.dropdown-menu li > a {
  margin: 0;
  margin-bottom: -5px;
  margin-top: -5px;
}
.dropdown-menu li > a {
  padding: 18px 20px;
}
.video iframe {
  margin-top: -27px;
}
.btn-upload {
  bottom: 0px;
  right: 11px;
  position: absolute;
  background: rgba(234, 234, 234, 0.76);
  border: none;
  font-size: 18px;
  height: 19%;
  width: 50%;
}
.jcropper-holder {
  border: 1px black solid;
}
#outer {
  text-align: center;
}
.jcExample {
  text-align: left;
  background: white;
  width: 700px;
  font-size: 80%;
  margin: 3.5em auto 2em auto;
  *margin: 3.5em 10% 2em 10%;
  border: 1px black solid;
  padding: 1em 2em 2em;
}
#options .input-group .input-group-addon {
  padding: 0px 4px 0px;
}
.form-group.form {
  margin-top: -13px;
}
#options i {
  margin-left: 5px;
}
#options h4 {
  color: #2a3542;
  font-weight: bold;
}
#options a {
  color: black;
}
#options .white-bg {
  /*border-radius: 42px 0 0 42px;*/
}
.icon-input {
  right: 0;
  position: absolute;
  margin-top: -29px;
}
.badge-notify {
  background: rgba(255, 0, 0, 0.8);
  position: absolute;
  font-family: monospace;
  margin-top: 8px;
  margin-left: 4px;
  font-size: 10px;
}
.ui.search.dropdown {
  min-width: 0;
}
@media only screen and (min-width: 992px) {
  .ui.search.dropdown .menu {
    max-height: 26.4284rem;
  }
}
#ascrail2001 div {
  background-color: white !important;
}
.menu {
  z-index: 999;
}
.text-cfop,
.text-cest {
  width: 860px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.text-cfop-metade,
.text-origem {
  width: 365px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.text-ncm {
  width: 525px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.checkbox input[type=checkbox]:checked + .checkbox-material .check {
  background: #3b5998;
}
.alert {
  padding: 5px 15px;
}
.site-min-height {
  min-height: 100%;
}
select.valid {
  -webkit-appearance: none;
  padding: 0 !important;
}
.layoutMenu {
  background-color: #aaaaaa;
  background-color: rgba(170, 170, 170, 0.35);
}
.layoutMenu .container .body {
  margin-top: 1vw;
  background-color: #FFFFFF;
}
body.signup-page.login {
  background-color: #aaaaaa;
}
body.signup-page {
  background: #CCCCCC;
  color: #393A3D;
}
.header-filter:after {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: block;
  left: 0;
  top: 0;
  content: "";
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
.nav-pills > li > a {
  line-height: 24px;
  /*text-transform: uppercase;*/
  font-size: 12px;
  font-weight: 500;
  min-width: 100px;
  text-align: center;
  color: #555555;
  transition: all 0.3s;
}
.nav-pills > li i {
  display: block;
  font-size: 30px;
  padding: 15px 0;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:active,
.nav-pills > li > a:hover {
  background-color: #3b5998;
  color: #FFFFFF;
  box-shadow: 0 16px 26px -10px #1e1e4f, 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px #1e1e4f;
}
a .material-icons,
a:hover .material-icons,
a:focus .material-icons .navbar.navbar-info {
  background-color: #FFFFFF;
  color: #3b5998;
}
.container-body {
  width: 100%;
  height: 100%;
}
.navbar {
  margin-bottom: 0 !important;
}
.nav a {
  color: #555555;
}
.navbar {
  border: 0;
  box-shadow: none;
  padding: 0px 0;
}
.card .header-primary {
  background: linear-gradient(60deg, #3b5998, #1e1e4f);
}
.btn-primary {
  background-color: #204361 !important;
  color: white;
  border: #204361 !important;
  font-size: 14px;
}
.form-group.is-focused .form-control {
  outline: none;
  background-image: linear-gradient(#3b5998, #3b5998), linear-gradient(#D2D2D2, #D2D2D2);
  background-size: 100% 2px, 100% 1px;
  box-shadow: none;
  transition-duration: 0.3s;
}
.form-group.is-focused .form-control .material-input:after {
  background-color: #3b5998;
}
.form-group.is-focused label,
.form-group.is-focused label.control-label {
  color: #3b5998;
}
.btn.btn-primary,
.navbar .navbar-nav > li > a.btn.btn-primary {
  box-shadow: 0 2px 2px 0 rgba(30, 30, 79, 0.14), 0 3px 1px -2px rgba(30, 30, 79, 0.2), 0 1px 5px 0 rgba(30, 30, 79, 0.12);
}
.btn.btn-primary:focus,
.btn.btn-primary:active,
.btn.btn-primary:hover,
.navbar .navbar-nav > li > a.btn.btn-primary:focus,
.navbar .navbar-nav > li > a.btn.btn-primary:active,
.navbar .navbar-nav > li > a.btn.btn-primary:hover {
  box-shadow: 0 14px 26px -12px rgba(30, 30, 79, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(30, 30, 79, 0.2);
}
.btn.btn-primary.disabled,
.btn.btn-primary.disabled:hover,
.btn.btn-primary.disabled:focus,
.btn.btn-primary.disabled.focus,
.btn.btn-primary.disabled:active,
.btn.btn-primary.disabled.active,
.btn.btn-primary:disabled,
.btn.btn-primary:disabled:hover,
.btn.btn-primary:disabled:focus,
.btn.btn-primary:disabled.focus,
.btn.btn-primary:disabled:active,
.btn.btn-primary:disabled.active,
.btn.btn-primary[disabled],
.btn.btn-primary[disabled]:hover,
.btn.btn-primary[disabled]:focus,
.btn.btn-primary[disabled].focus,
.btn.btn-primary[disabled]:active,
.btn.btn-primary[disabled].active,
fieldset[disabled] .btn.btn-primary,
fieldset[disabled] .btn.btn-primary:hover,
fieldset[disabled] .btn.btn-primary:focus,
fieldset[disabled] .btn.btn-primary.focus,
fieldset[disabled] .btn.btn-primary:active,
fieldset[disabled] .btn.btn-primary.active,
.navbar .navbar-nav > li > a.btn.btn-primary.disabled,
.navbar .navbar-nav > li > a.btn.btn-primary.disabled:hover,
.navbar .navbar-nav > li > a.btn.btn-primary.disabled:focus,
.navbar .navbar-nav > li > a.btn.btn-primary.disabled.focus,
.navbar .navbar-nav > li > a.btn.btn-primary.disabled:active,
.navbar .navbar-nav > li > a.btn.btn-primary.disabled.active,
.navbar .navbar-nav > li > a.btn.btn-primary:disabled,
.navbar .navbar-nav > li > a.btn.btn-primary:disabled:hover,
.navbar .navbar-nav > li > a.btn.btn-primary:disabled:focus,
.navbar .navbar-nav > li > a.btn.btn-primary:disabled.focus,
.navbar .navbar-nav > li > a.btn.btn-primary:disabled:active,
.navbar .navbar-nav > li > a.btn.btn-primary:disabled.active,
.navbar .navbar-nav > li > a.btn.btn-primary[disabled],
.navbar .navbar-nav > li > a.btn.btn-primary[disabled]:hover,
.navbar .navbar-nav > li > a.btn.btn-primary[disabled]:focus,
.navbar .navbar-nav > li > a.btn.btn-primary[disabled].focus,
.navbar .navbar-nav > li > a.btn.btn-primary[disabled]:active,
.navbar .navbar-nav > li > a.btn.btn-primary[disabled].active,
fieldset[disabled] .navbar .navbar-nav > li > a.btn.btn-primary,
fieldset[disabled] .navbar .navbar-nav > li > a.btn.btn-primary:hover,
fieldset[disabled] .navbar .navbar-nav > li > a.btn.btn-primary:focus,
fieldset[disabled] .navbar .navbar-nav > li > a.btn.btn-primary.focus,
fieldset[disabled] .navbar .navbar-nav > li > a.btn.btn-primary:active,
fieldset[disabled] .navbar .navbar-nav > li > a.btn.btn-primary.active {
  box-shadow: none;
}
.btn.btn-primary.btn-simple,
.navbar .navbar-nav > li > a.btn.btn-primary.btn-simple {
  background-color: transparent;
  color: #3b5998;
  box-shadow: none;
}
.btn.btn-primary.btn-simple:hover,
.btn.btn-primary.btn-simple:focus,
.btn.btn-primary.btn-simple:active,
.navbar .navbar-nav > li > a.btn.btn-primary.btn-simple:hover,
.navbar .navbar-nav > li > a.btn.btn-primary.btn-simple:focus,
.navbar .navbar-nav > li > a.btn.btn-primary.btn-simple:active {
  background-color: transparent;
  color: #3b5998;
}
.btn.btn-info.btn-simple,
.navbar .navbar-nav > li > a.btn.btn-info.btn-simple {
  background-color: transparent;
  color: #3b5998 !important;
  box-shadow: none;
}
.Cadastrar {
  color: #555555 !important;
  background-color: rgba(153, 153, 153, 0.18) !important;
}
.esqueceuSenha {
  color: #555555 !important;
}
.signup-page .wrapper .card-signup.card-cadastro {
  margin: 100px 0 40px;
}
@media (max-width: 768px) {
  .signup-page .wrapper .card-signup.card-cadastro {
    margin: 40px 0 40px;
  }
}
.titulo {
  color: #3b5998;
}
.signup-page .wrapper .card-signup {
  margin: 120px 0 10px;
}
@media (max-width: 768px) {
  .signup-page .wrapper .card-signup {
    margin: 40px 0 10px;
  }
}
@media (min-width: 768px) {
  .signup-page .wrapper .card-signup {
    margin: 80px 0 10px;
  }
}
.navbar.navbar-transparent {
  background-color: rgba(0, 0, 0, 0);
  padding-top: 10px;
  border-radius: 0;
}
.alert {
  z-index: 99999999;
  margin-bottom: 0;
}
#sidebar {
  width: 200px;
  position: fixed;
  background: #2a3542;
  margin-top: 3%;
  height: 110%;
  z-index: 9998;
}
#sidebar ul li {
  position: relative;
}
#sidebar .sub-menu > .sub li {
  padding-left: 32px;
}
#sidebar .sub-menu > .sub li:last-child {
  padding-bottom: 10px;
}
/*menu icon plus minus*/
.dcjq-icon {
  top: 10px;
}
ul.sidebar-menu li ul.sub li a {
  padding: 0;
}
/*LEFT NAVIGATION ICON*/
.dcjq-icon {
  background: url(/Content/Imagens/nav-expand.png) no-repeat top;
  height: 17px;
  width: 17px;
  display: inline-block;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  position: absolute;
  right: 10px;
  top: 15px;
}
.active .dcjq-icon {
  background: url(/Content/Imagens/nav-expand.png) no-repeat bottom;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
.nav-collapse.collapse {
  display: inline;
}
ul.sidebar-menu,
ul.sidebar-menu li ul.sub {
  margin: -2px 0 0;
  padding: 0;
}
ul.sidebar-menu p {
  color: rgba(255, 255, 255, 0.58);
  display: block;
  line-height: 42px;
  /*text-transform: uppercase;*/
  margin-top: 80px;
  /*margin-right: 29px;*/
  margin-bottom: 21px;
}
ul.sidebar-menu p i {
  font-size: 80px;
}
#sidebar > ul > li > ul.sub {
  display: none;
}
#sidebar > ul > li.active > ul.sub,
#sidebar > ul > li > ul.sub > li > a {
  display: block;
}
ul.sidebar-menu li ul.sub li {
  background: #35404D;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}
ul.sidebar-menu li ul.sub li:last-child {
  border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
}
ul.sidebar-menu li ul.sub li a {
  font-size: 12px;
  padding: 6px 0;
  line-height: 35px;
  height: 35px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #aeb2b7;
  /*text-transform: uppercase;*/
}
ul.sidebar-menu li ul.sub li a:hover,
ul.sidebar-menu li ul.sub li.active a {
  color: #FFFFFF;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: block;
}
ul.sidebar-menu li {
  /*line-height: 20px !important;*/
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
}
ul.sidebar-menu li.sub-menu {
  line-height: 15px;
}
ul.sidebar-menu li a span {
  display: inline-block;
}
ul.sidebar-menu li a {
  color: #aeb2b7;
  text-decoration: none;
  display: block;
  padding: 15px 0 15px 10px;
  font-size: 12px;
  outline: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  /*text-transform: uppercase;*/
  transition: all 0.3s ease;
}
ul.sidebar-menu li a.active,
ul.sidebar-menu li a:hover,
ul.sidebar-menu li a:focus {
  background: #35404d;
  color: #fff;
  display: block;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
ul.sidebar-menu li a i {
  font-size: 15px;
  padding-right: 6px;
}
ul.sidebar-menu li a:hover i,
ul.sidebar-menu li a:focus i {
  color: #FFFFFF;
}
ul.sidebar-menu li a.active i {
  color: #FFFFFF;
}
.mail-info,
.mail-info:hover {
  margin: -3px 6px 0 0;
  font-size: 11px;
}
#main-content {
  margin-left: 200px;
  margin-top: 2%;
}
.header,
.footer {
  max-height: 60px;
  padding: 3px 0 0 15px;
}
.header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1002;
}
.white-bg {
  background: #fff;
  width: 100%;
}
.white-bg-so {
  background: #fff;
}
.white-bg-cadastro {
  background: #fff;
}
.navcolor-bg {
  background: #5b6e84;
  border-bottom: 1px solid #5b6e84;
}
.wrapper {
  display: inline-block;
  padding: 16px;
  width: 100%;
}
a.logoLateral {
  font-size: 22px;
  color: #2e2e2e;
  float: left;
  /*text-transform: uppercase;*/
  margin-top: 8px;
}
a.logoLateral:hover,
a.logoLateral:focus {
  text-decoration: none;
  outline: none;
}
a.logoLateral span {
  color: #78cd51;
}
#top_menu .nav > li,
ul.top-menu > li {
  float: left;
  margin-right: 15px;
}
.notify-row {
  float: right;
  margin-top: 8px;
  margin-left: 92px;
}
.acesso-row {
  float: right;
  margin-top: 8px;
}
.notify-row .notification span.label {
  display: inline-block;
  height: 18px;
  width: 20px;
  padding: 5px;
}
ul.top-menu > li > a {
  color: #666666;
  font-size: 16px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  border: 1px solid #f0f0f8 !important;
  padding: 2px 6px;
  margin-right: 15px;
}
ul.top-menu > li > a:hover,
ul.top-menu > li > a:focus {
  border: 1px solid #f0f0f8 !important;
  background-color: #fff !important;
  border-color: #f0f0f8 !important;
  text-decoration: none;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  color: #2E2E2E !important;
}
.notify-row .badge {
  position: absolute;
  right: -10px;
  top: -10px;
  z-index: 100;
}
.dropdown-menu.extended {
  max-width: 300px !important;
  min-width: 160px !important;
  top: 42px;
  width: 235px !important;
  padding: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.176) !important;
  border: none !important;
  border-radius: 4px;
  -webkit-border-radius: 4px;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* Safari and Chrome */
  .dropdown-menu.extended {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.176) !important;
  }
}
.dropdown-menu.extended li p {
  background-color: #F1F2F7;
  color: #666666;
  margin: 0;
  padding: 10px;
  border-radius: 4px 4px 0px 0px;
  -webkit-border-radius: 4px 4px 0px 0px;
}
.dropdown-menu.extended li p.green {
  background-color: #a9d86e;
  color: #fff;
}
.dropdown-menu.extended li p.red {
  background-color: #223c74;
  color: #fff;
}
.dropdown-menu.extended li p.yellow {
  background-color: #fcb322;
  color: #fff;
}
.dropdown-menu.extended li a {
  border-bottom: 1px solid #EBEBEB !important;
  font-size: 12px;
  list-style: none;
  padding: 15px 10px !important;
  width: 100%;
  display: inline-block;
}
.dropdown-menu.extended li a:hover {
  background-color: #F7F8F9 !important;
  color: #2E2E2E;
}
.dropdown-menu.tasks-bar .task-info .desc {
  font-size: 13px;
  font-weight: normal;
}
.dropdown-menu.tasks-bar .task-info .percent {
  display: inline-block;
  float: right;
  font-size: 13px;
  font-weight: 600;
  padding-left: 10px;
  margin-top: -4px;
}
.dropdown-menu.extended .progress {
  margin-bottom: 0 !important;
  height: 10px;
}
.dropdown-menu.inbox li a .photo img {
  border-radius: 2px 2px 2px 2px;
  float: left;
  height: 40px;
  margin-right: 4px;
  width: 40px;
}
.dropdown-menu.inbox li a .subject {
  display: block;
}
.dropdown-menu.inbox li a .subject .from {
  font-size: 12px;
  font-weight: 600;
}
.dropdown-menu.inbox li a .subject .time {
  font-size: 11px;
  font-style: italic;
  font-weight: bold;
  position: absolute;
  right: 5px;
}
.dropdown-menu.inbox li a .message {
  display: block !important;
  font-size: 11px;
}
.top-nav {
  margin-top: -35px;
}
.top-nav ul.top-menu > li .dropdown-menu.logout {
  width: 268px !important;
}
.top-nav li.dropdown .dropdown-menu {
  float: right;
  right: 0;
  left: auto;
}
.dropdown-menu.extended.logout > li {
  float: left;
  text-align: center;
  width: 33.3%;
}
.dropdown-menu.extended.logout > li:last-child {
  float: left;
  text-align: center;
  width: 100%;
  background: #a9d96c;
  border-radius: 0 0 3px 3px;
}
.dropdown-menu.extended.logout > li:last-child > a,
.dropdown-menu.extended.logout > li:last-child > a:hover {
  color: #fff;
  border-bottom: none !important;
  /*text-transform: uppercase;*/
}
.dropdown-menu.extended.logout > li:last-child > a:hover > i {
  color: #fff;
}
.dropdown-menu.extended.logout > li > a {
  color: #a4abbb;
  border-bottom: none !important;
}
.full-width .dropdown-menu.extended.logout > li > a:hover {
  background: none !important;
  color: #50c8ea !important;
}
.dropdown-menu.extended.logout > li > a:hover {
  background: none !important;
}
.dropdown-menu.extended.logout > li > a:hover i {
  color: #50c8ea;
}
.dropdown-menu.extended.logout > li > a i {
  font-size: 17px;
}
.dropdown-menu.extended.logout > li > a > i {
  display: block;
}
.top-nav .username {
  font-size: 13px;
  color: #555555;
}
.top-nav ul.top-menu > li > a {
  border: 1px solid #eeeeee;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  padding: 6px;
  background: none;
  margin-right: 0;
}
.top-nav ul.top-menu > li {
  margin-left: 10px;
}
.top-nav ul.top-menu > li > a:hover,
.top-nav ul.top-menu > li > a:focus {
  border: 1px solid #F1F2F7;
  background: #F1F2F7;
}
.top-nav .nav .caret {
  border-bottom-color: #A4AABA;
  border-top-color: #A4AABA;
}
.top-nav ul.top-menu > li > a:hover .caret {
  border-bottom-color: #000;
  border-top-color: #000;
}
.log-arrow-up {
  width: 20px;
  height: 11px;
  position: absolute;
  right: 20px;
  top: -10px;
}
.titulo {
  margin-top: 0;
  font-weight: bold;
  font-family: avenir next heavy;
}
a,
a:hover,
a:focus {
  color: #223c74;
}
.btn:not(.btn-just-icon):not(.btn-fab) .fa,
.navbar .navbar-nav > li > a.btn:not(.btn-just-icon):not(.btn-fab) .fa {
  font-size: 18px;
  margin-top: 0;
  position: relative;
  top: 0;
}
.pesquisa {
  text-transform: uppercase;
}
.enter {
  margin-top: 1vw;
}
.enter2 {
  margin-top: 2vw;
}
.btn.btn-info.btn-simple,
.navbar .navbar-nav > li > a.btn.btn-info.btn-simple {
  background-color: transparent;
  color: #223c74;
  box-shadow: none;
}
.td-dados {
  line-height: 1.8 !important;
}
#tabela_filter {
  display: none;
}
#tabela_info {
  display: none;
}
#tabela_length label {
  display: inline-flex;
}
a.current {
  z-index: 2;
  color: #fff;
  background-color: #007bff !important;
  border-color: #007bff;
}
a.paginate_button {
  color: #223c74 !important;
}
.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #ddd;
}
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  background-color: #223c74;
  border-color: #223c74;
}
.pagination {
  display: inline-flex !important;
}
.table.dataTable.no-footer {
  border-bottom: 1px solid #ddd;
}
.table {
  margin-top: -10px !important;
}
thead tr {
  background-color: #223c74;
  color: white;
}
span.form-control-feedback {
  z-index: 3;
  background: white;
}
@media screen and (max-width: 768px) {
  #sidebar {
    display: none;
  }
}
#main-content {
  margin-left: 200px;
}
@media screen and (max-width: 768px) {
  #main-content {
    margin-left: 0px;
  }
}
@media screen and (min-width: 2500px) {
  ul.sidebar-menu p {
    margin-top: 198px;
  }
}
iframe {
  max-width: 95%;
  max-height: 90%;
}
@media screen and (max-width: 1024px) {
  iframe {
    max-width: 80%;
  }
}
@media screen and (max-width: 450px) {
  iframe {
    max-width: 80%;
  }
}
.cabecariotbcontatos {
  margin-bottom: -78px;
}
.navbar.navbar-info {
  background-color: white;
  z-index: 9999999999999999;
  color: black;
  padding: 0.5%;
}
.navbar.navbar-info.conteudo {
  background-color: white;
  z-index: 999;
  color: black;
  padding: 0.5%;
}
#sidebar.conteudo {
  z-index: 999;
}
.textocliente {
  margin: 10px 234px 10px;
}
.imglogin {
  margin-left: 37vh;
}
.margimcliente {
  margin-top: 25vh;
}
.margimvideos {
  margin-top: 2vh;
  margin-left: 35vh;
  margin-bottom: 5vh;
}
.link {
  cursor: hand;
  cursor: pointer;
}
.alinhamento {
  margin: 0 17px 10px !important;
}
.videos {
  margin-left: 32vh;
}
.carousel-control {
  background-image: none !important;
}
.setinha {
  margin-top: -9vh;
  color: #315299 !important;
}
.margimbottomlogin {
  margin-top: 15%;
}
.textoEntrevista {
  color: black !important;
  text-shadow: 0 0px 0 rgba(0, 0, 0, 0);
  padding: 0px 22vh 0 27vh;
  text-align: justify;
}
.textoMariano {
  color: black !important;
  text-shadow: 0 0px 0 rgba(0, 0, 0, 0);
  text-align: justify;
  padding: 0px 22vh 0 32vh;
}
.preto {
  color: black !important;
  text-shadow: 0 0px 0 rgba(0, 0, 0, 0);
}
.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}
.clientefoto {
  background-image: url('/Content/Imagens/Clientes1.jpg');
  height: 30vh;
  background-repeat: no-repeat;
  background-size: 214vh;
}
.item {
  display: none;
  position: relative;
  transition: 6s ease-in-out left;
}
.depoimento {
  padding-top: 3% !important;
}
.videosinicio {
  min-width: 100%;
}
.textolucro {
  margin-bottom: 2%;
}
.telainicial {
  margin-bottom: 10px;
}
.navbar-inverse {
  background-color: #312e32 !important;
}
.divlogo {
  margin-top: 0.5vw;
  width: 19vh;
}
.divlogo img {
  margin-top: 0.5vw;
  margin-bottom: 1vw;
  max-width: 100%;
}
.form-border {
  background-color: #ffffff21;
  border-radius: 24px;
}
.sobre.form-border {
  background-color: #4786C5;
  border-radius: 24px;
}
.form-control,
button {
  height: 40px;
}
.tituloCliente span {
  color: #548cc7;
  font-weight: bolder;
}
.hrtituloCliente {
  border-top: 2px solid #548cc7;
  margin-top: 0;
}
.bordaRight {
  border-right: 1px solid #548cc7;
}
.bordaRightBranco {
  min-height: 13vh;
  margin-top: 1%;
  margin-bottom: 1%;
  border-right: 4px solid white;
}
.faixaCinzaAzul {
  background-color: #4c5a63;
  color: white;
  margin-top: 14vh;
  margin-bottom: 11vh;
}
.imgMonitor {
  position: absolute;
  margin-top: -5vh;
}
.qc-logo {
  min-width: 25%;
}
.cotaja-logo {
  margin-top: -1vw;
  width: 12vw;
}
.guia-logo {
  width: 11vw;
}
.maisLucro-logo {
  width: 22vw;
}
.asuamoto-logo {
  width: 22vw;
  margin-left: -8vh;
}
.produtos-logos {
  background-color: rgba(0, 0, 0, 0);
}
.maskAgua-engrenagem {
  position: absolute;
  right: 0;
  height: 48vw;
  z-index: -1;
  top: -15vw;
}
.app.maskAgua-engrenagem {
  position: absolute;
  right: -1vw;
  height: 32vw;
  z-index: -1;
  top: 0vw;
}
.maskAgua-carro {
  position: absolute;
  left: -9vw;
  height: 17vw;
  z-index: -1;
}
.alinhamentoBtn-vermais {
  margin-top: 20vh;
}
.btn-azulClaro {
  background-color: #6C9BB5 !important;
}
.btn-Cinza {
  background-color: #4C5A63 !important;
}
.form ::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #578AC6 !important;
}
.form :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #578AC6 !important;
  opacity: 1;
}
.form ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #578AC6 !important;
  opacity: 1;
}
.form :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #578AC6 !important;
}
.form ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #578AC6 !important;
}
.form ::placeholder {
  /* Most modern browsers support this now. */
  color: #578AC6 !important;
}
.form button {
  background-color: #202e3adb !important;
}
.btn-amarelo {
  background-color: #f4e621 !important;
  color: black;
  border: 1px solid #f4e621 !important;
  border-radius: 0;
}
.wg.faixaCinzaAzul {
  margin-top: 4vh;
}
.azulClaroBg {
  background-color: #B4DAFC;
}
.azulClaroHomeTxt {
  color: #2F8BC9 !important;
}
.azulClaroHomeBg {
  background-color: #2F8BC9 !important;
}
.modalIcones {
  color: white;
}
.modalIcones .modal-content {
  background-color: transparent;
  box-shadow: none;
  border: none;
}
.modalIcones .modal-header {
  border-bottom: none;
  margin-bottom: 5%;
}
.modalIcones .modal-header button {
  font-size: 70px;
  color: white;
  opacity: 1;
}
.modalIcones .col-textoVideo {
  border-left: 2px solid white;
}
.modal-dialog {
  /*position: relative;*/
  width: auto;
  max-width: 600px;
  margin: 10px;
}
.modal-sm {
  max-width: 300px;
}
.modal-lg {
  max-width: 900px;
}
.font-size {
  font-size: 1.6vw;
}
.font-size a {
  color: black;
  text-decoration: none;
}
.font-size a:hover {
  color: #6c9bb5 !important;
  text-decoration: none;
  font-weight: bold;
}
.font-size a:focus {
  color: #6c9bb5 !important;
  text-decoration: none;
  font-weight: bold;
}
@media (min-width: 768px) {
  .modal-dialog {
    margin: 30px auto;
  }
}
@media (min-width: 320px) {
  .modal-sm {
    margin-right: auto;
    margin-left: auto;
  }
}
@media (min-width: 620px) {
  .modal-dialog {
    margin-right: auto;
    margin-left: auto;
  }
  .modal-lg {
    margin-right: 10px;
    margin-left: 10px;
  }
}
@media (min-width: 920px) {
  .modal-lg {
    margin-right: auto;
    margin-left: auto;
    left: 0;
  }
}
.formularioContato input,
.formularioContato textarea {
  background: #4786c5;
  color: white;
}
.formularioContato button {
  background: #f4e621 !important;
  color: black !important;
  font-weight: bold;
}
.formularioContato ::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #578AC6 !important;
}
.formularioContato :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: white !important;
  opacity: 1;
}
.formularioContato ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: white !important;
  opacity: 1;
}
.formularioContato :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white !important;
}
.formularioContato ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white !important;
}
.formularioContato ::placeholder {
  /* Most modern browsers support this now. */
  color: white !important;
}
input[type='file'] {
  display: none;
}
label.input-file {
  padding-top: 8px;
  height: 40px;
  background-color: #4786c5;
  border-radius: 2px;
  color: white;
  font-weight: unset;
}
.iconesobre {
  cursor: pointer;
}
label.error {
  color: red;
}
.banner-titulos {
  margin-top: -35vh;
}
.banner-titulos-2 {
  margin-top: -17vh;
}
.banner-titulos-3 {
  margin-top: -20vh;
}
.banner-titulos .tituloCliente span,
.banner-titulos .tituloCliente {
  color: white;
}
.padding15 {
  margin-top: -20px !important;
}
@media screen and (max-width: 480px) {
  .font-size {
    font-size: 4vw;
  }
  .sobre-responsivo {
    left: -30px;
  }
  .close {
    line-height: 0;
  }
  .modal-dialog {
    margin: 0;
    padding: 0;
    margin-top: 50px;
  }
  body.modal-open,
  .modal-open .navbar-fixed-top,
  .modal-open .navbar-fixed-bottom {
    margin-right: 0;
  }
  .sobre-responsivo .col-xs-12 {
    width: 130%;
  }
  .sobre-responsivo.sobre-responsivo-app.col-xs-12 {
    width: 82%;
  }
  .navbar-header button.navbar-toggle {
    border: 1px solid white;
    border-radius: 31px;
  }
  .cabecario {
    float: none !important;
  }
  .divlogo img {
    margin-top: 3vw;
    margin-bottom: 1vw;
  }
  .banner-titulos {
    margin-top: -26vh;
  }
  .banner-titulos-2 {
    margin-top: -12vh;
  }
  .banner-titulos-3 {
    margin-top: -15vh;
  }
  .sobreBannerMobile {
    margin-top: 0vh;
  }
  .sobreBanner {
    margin-top: 0vh;
  }
  .form-border {
    background-color: transparent;
  }
  .banner {
    margin-top: 6.5vh;
  }
  .maskAgua-engrenagem {
    position: absolute;
    right: 0;
    height: 77vw;
    z-index: -1;
    top: -15vw;
  }
  .div-padding15 {
    padding-left: 0px;
  }
  .padding15 {
    margin-top: 15px !important;
  }
  .alinhamentoBtn-vermais {
    margin-top: 2vh;
  }
  .maskAgua-carro {
    position: absolute;
    left: -9vw;
    height: 47vw;
    z-index: -1;
    margin-top: 8vh;
  }
  .imgMonitor {
    position: relative;
  }
  .faixaCinzaAzul {
    margin-bottom: 2vh;
  }
  .margemicone {
    margin-left: 0;
  }
  .margemicone.margemicone-responsivo {
    margin-left: 22%;
  }
  .margemicone.margemicone-responsivo.sobre {
    left: -50px;
    position: relative;
  }
  .cotaja-logo,
  .guia-logo,
  .maisLucro-logo,
  .asuamoto-logo {
    width: 100%;
  }
  .cotaja-logo,
  .guia-logo,
  .maisLucro-logo {
    margin-left: 6vh;
  }
  .asuamoto-logo {
    margin-left: 0vh;
    margin-top: 3vh;
  }
  .maisLucro-logo {
    margin-top: 3vh;
  }
}
@media screen and (max-width: 414px) {
  .cabecario {
    float: none !important;
  }
  .divlogo img {
    margin-top: 3vw;
    margin-bottom: 1vw;
  }
  .banner-titulos {
    margin-top: -30vh;
  }
  .banner-titulos-2 {
    margin-top: -15vh;
  }
  .banner-titulos-3 {
    margin-top: -17vh;
  }
  .sobreBannerMobile {
    margin-top: 0vh;
  }
  .sobreBanner {
    margin-top: 0vh;
  }
  .form-border {
    background-color: transparent;
  }
  .banner {
    margin-top: 6.5vh;
  }
  .maskAgua-engrenagem {
    position: absolute;
    right: 0;
    height: 77vw;
    z-index: -1;
    top: -15vw;
  }
  .div-padding15 {
    padding-left: 0px;
  }
  .alinhamentoBtn-vermais {
    margin-top: 2vh;
  }
  .maskAgua-carro {
    position: absolute;
    left: -9vw;
    height: 47vw;
    z-index: -1;
    margin-top: 8vh;
  }
  .imgMonitor {
    position: relative;
  }
  .faixaCinzaAzul {
    margin-bottom: 2vh;
  }
  .margemicone {
    margin-left: 0;
  }
  .margemicone.margemicone-responsivo {
    margin-left: 22%;
  }
  .cotaja-logo,
  .guia-logo,
  .maisLucro-logo,
  .asuamoto-logo {
    width: 100%;
  }
  .cotaja-logo,
  .guia-logo,
  .maisLucro-logo {
    margin-left: 6vh;
  }
  .asuamoto-logo {
    margin-left: 0vh;
    margin-top: 3vh;
  }
  .maisLucro-logo {
    margin-top: 3vh;
  }
}
@media screen and (max-width: 412px) {
  .banner-titulos {
    margin-top: -34vh;
  }
  .banner-titulos-2 {
    margin-top: -17vh;
  }
  .banner-titulos-3 {
    margin-top: -20vh;
  }
  .sobreBannerMobile {
    margin-top: 0vh;
  }
  .sobreBanner {
    margin-top: 0vh;
  }
  .form-border {
    background-color: transparent;
  }
  .maskAgua-engrenagem {
    position: absolute;
    right: 0;
    height: 77vw;
    z-index: -1;
    top: -15vw;
  }
  .div-padding15 {
    padding-left: 0px;
  }
  .alinhamentoBtn-vermais {
    margin-top: 2vh;
  }
  .maskAgua-carro {
    position: absolute;
    left: -9vw;
    height: 47vw;
    z-index: -1;
    margin-top: 8vh;
  }
  .imgMonitor {
    position: relative;
  }
  .faixaCinzaAzul {
    margin-bottom: 2vh;
  }
  .margemicone {
    margin-left: 0;
  }
  .margemicone.margemicone-responsivo {
    margin-left: 22%;
  }
  .cotaja-logo,
  .guia-logo,
  .maisLucro-logo,
  .asuamoto-logo {
    width: 100%;
  }
  .cotaja-logo,
  .guia-logo,
  .maisLucro-logo {
    margin-left: 6vh;
  }
  .asuamoto-logo {
    margin-left: 0vh;
    margin-top: 3vh;
  }
  .maisLucro-logo {
    margin-top: 3vh;
  }
}
@media screen and (max-width: 411px) {
  .banner-titulos {
    margin-top: -30vh;
  }
  .banner-titulos-2 {
    margin-top: -15vh;
  }
  .banner-titulos-3 {
    margin-top: -17vh;
  }
  .sobreBannerMobile {
    margin-top: 0vh;
  }
  .sobreBanner {
    margin-top: 0vh;
  }
  .form-border {
    background-color: transparent;
  }
  .maskAgua-engrenagem {
    position: absolute;
    right: 0;
    height: 77vw;
    z-index: -1;
    top: -15vw;
  }
  .div-padding15 {
    padding-left: 0px;
  }
  .alinhamentoBtn-vermais {
    margin-top: 2vh;
  }
  .maskAgua-carro {
    position: absolute;
    left: -9vw;
    height: 47vw;
    z-index: -1;
    margin-top: 8vh;
  }
  .imgMonitor {
    position: relative;
  }
  .faixaCinzaAzul {
    margin-bottom: 2vh;
  }
  .margemicone {
    margin-left: 0;
  }
  .margemicone.margemicone-responsivo {
    margin-left: 22%;
  }
  .cotaja-logo,
  .guia-logo,
  .maisLucro-logo,
  .asuamoto-logo {
    width: 100%;
  }
  .cotaja-logo,
  .guia-logo,
  .maisLucro-logo {
    margin-left: 6vh;
  }
  .asuamoto-logo {
    margin-left: 0vh;
    margin-top: 3vh;
  }
  .maisLucro-logo {
    margin-top: 3vh;
  }
}
@media screen and (max-width: 375px) {
  .divlogo img {
    margin-top: 4vw;
    margin-bottom: 0vw;
    width: 50vw;
  }
  .banner-titulos {
    margin-top: -34vh;
  }
  .banner-titulos-2 {
    margin-top: -16vh;
  }
  .banner-titulos-3 {
    margin-top: -19vh;
  }
  .cabecario {
    float: none !important;
  }
  .navbar-header button.navbar-toggle {
    border: 1px solid white;
    border-radius: 31px;
  }
  .banner {
    margin-top: 7vh;
  }
  .sobreBannerMobile {
    margin-top: 0vh;
  }
  .sobreBanner {
    margin-top: 0vh;
  }
  .form-border {
    background-color: transparent;
  }
  .maskAgua-engrenagem {
    position: absolute;
    right: 0;
    height: 77vw;
    z-index: -1;
    top: -15vw;
  }
  .div-padding15 {
    padding-left: 0px;
  }
  .alinhamentoBtn-vermais {
    margin-top: 2vh;
  }
  .maskAgua-carro {
    position: absolute;
    left: -9vw;
    height: 47vw;
    z-index: -1;
    margin-top: 8vh;
  }
  .imgMonitor {
    position: relative;
  }
  .faixaCinzaAzul {
    margin-bottom: 2vh;
  }
  .margemicone {
    margin-left: 0;
  }
  .margemicone.margemicone-responsivo {
    margin-left: 22%;
  }
  .cotaja-logo,
  .guia-logo,
  .maisLucro-logo,
  .asuamoto-logo {
    width: 100%;
  }
  .cotaja-logo,
  .guia-logo,
  .maisLucro-logo {
    margin-left: 6vh;
  }
  .asuamoto-logo {
    margin-left: 0vh;
    margin-top: 3vh;
  }
  .maisLucro-logo {
    margin-top: 3vh;
  }
}
@media screen and (max-width: 360px) {
  .banner-titulos {
    margin-top: -35vh;
  }
  .banner-titulos-2 {
    margin-top: -16vh;
  }
  .banner-titulos-3 {
    margin-top: -17vh;
  }
  .banner-titulos h3 {
    margin-top: 10px;
    font-size: 20px;
  }
  .banner-titulos h4 {
    font-size: 16px;
  }
  .divlogo img {
    margin-top: 4vw;
    margin-bottom: 0vw;
    width: 50vw;
  }
  .cabecario {
    float: none !important;
  }
  .navbar-header button.navbar-toggle {
    border: 1px solid white;
    border-radius: 31px;
  }
  .banner {
    margin-top: 9vh;
  }
  .sobreBannerMobile {
    margin-top: 0;
  }
  .sobreBanner {
    margin-top: 0vh;
  }
  .form-border {
    background-color: transparent;
  }
  .maskAgua-engrenagem {
    position: absolute;
    right: 0;
    height: 77vw;
    z-index: -1;
    top: -15vw;
  }
  .div-padding15 {
    padding-left: 0px;
  }
  .alinhamentoBtn-vermais {
    margin-top: 2vh;
  }
  .maskAgua-carro {
    position: absolute;
    left: -9vw;
    height: 47vw;
    z-index: -1;
    margin-top: 8vh;
  }
  .imgMonitor {
    position: relative;
  }
  .faixaCinzaAzul {
    margin-bottom: 2vh;
  }
  .margemicone {
    margin-left: 0;
  }
  .margemicone.margemicone-responsivo {
    margin-left: 22%;
  }
  .cotaja-logo,
  .guia-logo,
  .maisLucro-logo,
  .asuamoto-logo {
    width: 100%;
  }
  .cotaja-logo,
  .guia-logo,
  .maisLucro-logo {
    margin-left: 6vh;
  }
  .asuamoto-logo {
    margin-left: 0vh;
    margin-top: 3vh;
  }
  .maisLucro-logo {
    margin-top: 3vh;
  }
}
@media screen and (max-width: 320px) {
  .sobre-responsivo {
    left: -60px;
  }
  .sobre-responsivo .col-xs-12 {
    width: 130%;
  }
  .sobre-responsivo.sobre-responsivo-app.col-xs-12 {
    width: 82%;
  }
  .banner-titulos {
    margin-top: -35vh;
  }
  .banner-titulos-2 {
    margin-top: -16vh;
  }
  .banner-titulos-3 {
    margin-top: -17vh;
  }
  .banner-titulos h3 {
    margin-top: 10px;
    font-size: 20px;
  }
  .banner-titulos h4 {
    font-size: 16px;
  }
  .divlogo img {
    margin-top: 4vw;
    margin-bottom: 0vw;
    width: 50vw;
  }
  .cabecario {
    float: none !important;
  }
  .navbar-header button.navbar-toggle {
    border: 1px solid white;
    border-radius: 31px;
  }
  .banner {
    margin-top: 9vh;
  }
  .sobreBannerMobile {
    margin-top: 0;
  }
  .sobreBanner {
    margin-top: 0vh;
  }
  .form-border {
    background-color: transparent;
  }
  .maskAgua-engrenagem {
    position: absolute;
    right: 0;
    height: 77vw;
    z-index: -1;
    top: -15vw;
  }
  .div-padding15 {
    padding-left: 0px;
  }
  .alinhamentoBtn-vermais {
    margin-top: 2vh;
  }
  .maskAgua-carro {
    position: absolute;
    left: -9vw;
    height: 47vw;
    z-index: -1;
    margin-top: 8vh;
  }
  .imgMonitor {
    position: relative;
  }
  .faixaCinzaAzul {
    margin-bottom: 2vh;
  }
  .margemicone {
    margin-left: 0;
  }
  .margemicone.margemicone-responsivo {
    margin-left: 22%;
  }
  .cotaja-logo,
  .guia-logo,
  .maisLucro-logo,
  .asuamoto-logo {
    width: 100%;
  }
  .cotaja-logo,
  .guia-logo,
  .maisLucro-logo {
    margin-left: 6vh;
  }
  .asuamoto-logo {
    margin-left: 0vh;
    margin-top: 3vh;
  }
  .maisLucro-logo {
    margin-top: 3vh;
  }
}
#formContato span {
  font-family: AvenirNextLTPro-Bold;
  font-size: large;
}
@media screen and (min-height: 415px) {
  /*.sobreBanner {
        margin-top: 0;
    }*/
  .img-promo {
    position: absolute;
    bottom: -82vh;
  }
  #formContato span {
    font-size: medium;
  }
}
@media screen and (min-height: 470px) {
  /*.sobreBanner {
        margin-top: 0;
    }*/
  .img-promo {
    position: absolute;
    bottom: -75vh;
  }
  #formContato span {
    font-size: medium;
  }
}
@media screen and (min-height: 500px) {
  /*.sobreBanner {
        margin-top: 0;
    }*/
  .img-promo {
    position: absolute;
    bottom: -67vh;
  }
  #formContato span {
    font-size: medium;
  }
}
@media screen and (min-height: 560px) {
  /*.sobreBanner {
        margin-top: 0;
    }*/
  .img-promo {
    position: absolute;
    bottom: -59vh;
  }
  #formContato span {
    font-size: medium;
  }
}
@media screen and (min-height: 630px) {
  /*.sobreBanner {
        margin-top: 0;
    }*/
  .img-promo {
    position: absolute;
    bottom: -53vh;
  }
  #formContato span {
    font-size: medium;
  }
}
@media screen and (min-height: 710px) {
  /*.sobreBanner {
        margin-top: 0;
    }*/
  .img-promo {
    position: absolute;
    bottom: -48vh;
  }
  #formContato span {
    font-size: medium;
  }
}
@media screen and (min-height: 780px) {
  /*.sobreBanner {
        margin-top: 0;
    }*/
  .img-promo {
    position: absolute;
    bottom: -44vh;
  }
  #formContato span {
    font-size: medium;
  }
}
@media screen and (min-width: 1024px) {
  .margintop30px {
    margin-top: -30px;
  }
  .banner {
    margin-top: 11vh;
  }
  .imgMonitor {
    margin-top: 10vh;
    min-width: 121%;
  }
  .alinhamentoBtn-vermais {
    margin-top: 9vh;
  }
}
@media screen and (min-width: 1280px) {
  .banner {
    margin-top: 5.8vh;
  }
  .imgMonitor {
    margin-top: -2vh;
    min-width: 121%;
  }
  .alinhamentoBtn-vermais {
    margin-top: 13vh;
  }
}
@media screen and (min-width: 1366px) {
  .banner {
    margin-top: 4.5vh;
  }
  .imgMonitor {
    margin-top: -6vh;
  }
  .alinhamentoBtn-vermais {
    margin-top: 17vh;
  }
}
@media screen and (min-width: 1440px) {
  .banner {
    margin-top: 6.1vh;
  }
  .imgMonitor {
    margin-top: -6vh;
  }
  .alinhamentoBtn-vermais {
    margin-top: 16vh;
  }
}
@media screen and (min-width: 1600px) {
  .banner {
    margin-top: 6vh;
  }
  .imgMonitor {
    margin-top: -9vh;
  }
}
@media screen and (min-width: 1680px) {
  .banner {
    margin-top: 6vh;
  }
  .alinhamentoBtn-vermais {
    margin-top: 18vh;
  }
}
@media screen and (min-width: 1920px) {
  .banner {
    margin-top: 5.6vh;
  }
  .sobreBanner {
    margin-top: -60vh;
  }
  .imgMonitor {
    margin-top: -11vh;
  }
  .alinhamentoBtn-vermais {
    margin-top: 19vh;
  }
}
.editorNoticias .video iframe {
  margin-top: 0;
}
.video .editorNoticias iframe {
  margin-top: 0;
}
.mt-4,
.my-4 {
  margin-top: 3rem !important;
  margin-bottom: -0.5rem;
}
.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  /*background-color: #fff;*/
  background-clip: border-box;
  /*border: 1px solid rgba(0,0,0,.125);*/
  border-radius: 0.25rem;
}
.card-header {
  padding: 1.2rem 1.4rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  font-size: 2rem;
  font-weight: bold;
  margin-top: 0;
}
.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}
.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}
.mb-0,
.my-0 {
  margin-bottom: 0 !important;
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
  font-size: 1.55rem;
}
.parceiros-receize {
  width: 20% !important;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.parceiros-receize-small {
  width: 20% !important;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.parceiros-receize-small img {
  width: auto !important;
  height: 6vh !important;
}
.parceiros-margin-tecno img {
  margin-left: 7vw !important;
}
.parceiros-margin img {
  margin-left: 12vw !important;
}
.parceiros-margin-up img {
  margin-left: 4vw !important;
}
.parceiros-margin-up-mega img {
  margin-left: 8vw !important;
}
.parceiros-receize > .container {
  display: inline-block;
  vertical-align: middle;
}
/*.parceiros-receize img {
    width: 100%;
    height: auto;
}*/
.slide-control {
  position: absolute;
  padding-top: 10vh;
  z-index: 5;
  display: inline-block !important;
  color: #0089ff;
}
.input-franquia {
  background-color: #0089ff !important;
  color: white !important;
}
.franquia-row-franquia {
  margin-top: 7vh;
  background-color: #504D51;
}
.franquia-col-franquia-texto {
  margin-top: 7vh;
}
.franquia-col-franquia-texto h4 {
  color: white;
}
.franquia-col-franquia-imagem {
  background-color: #343235;
  position: relative;
  right: -2vw;
}
.franquia-col-franquia-imagem img {
  width: 110%;
  height: auto;
  position: relative;
  right: 5vw;
  margin-top: 6vh;
  margin-bottom: 6vh;
}
.franquia-row-vantagens {
  margin-top: 10vh;
  height: 50vh;
}
.franquia-row-vantagens-slide-texto {
  background-color: #578AC6;
  top: 23vh;
}
.franquia-row-vantagens-slide-imagem img {
  right: 9vw !important;
  position: relative;
  max-height: 50vh;
}
.franquia-row-vantagens-slide-imagem #pc {
  right: 1vw !important;
}
.franquia-row-vantagens-slide-imagem #time {
  right: 3vw !important;
}
.franquia-row-vantagens-slide-controls-left {
  left: -15vw !important;
  padding-top: 0 !important;
  top: 1vh;
  color: #343235 !important;
  font-size: 4vw !important;
}
.franquia-row-vantagens-slide-controls-right {
  right: -2vw !important;
  padding-top: 0 !important;
  top: -2vh;
  color: #343235 !important;
  font-size: 4vw !important;
}
.franquia-row-col-cadastrese {
  background-color: #343235 !important;
  overflow: hidden !important;
  padding-top: 2vh !important;
  padding-bottom: 2vh !important;
  padding-left: 28vw !important;
  font-size: 1.9vw !important;
  color: white;
}
.franquia-maskAgua-engrenagem {
  width: 71%;
  height: auto !important;
  right: -37vw !important;
  top: -25vh !important;
}
.parceiros-row-parceiros {
  margin-top: 10vh;
}
.parceiros-row-divider {
  right: 0;
  position: absolute;
  margin-top: 3vh;
}
.parceiros-row-imagem-slide {
  padding-left: 5vw;
  padding-right: 5vw;
  margin-top: 6vh;
}
.parceiros-imagem-slide-col-imagem img {
  width: 100%;
  height: auto;
}
.parceiros-imagem-slide-col-slide-porto-imagem {
  width: 85% !important;
  text-align: center;
}
.parceiros-imagem img {
  height: 7vh !important;
  width: auto !important;
  margin-left: auto;
  margin-right: auto;
}
.parceiros-imagem-slide-col-slide-dpk-imagem {
  width: 80% !important;
  text-align: center;
}
.parceiros-imagem-slide-col-slide-dpaschoal-imagem {
  width: 85% !important;
  text-align: center;
}
.parceiros-imagem-slide-col-slide-divider {
  padding-left: 10vw;
  padding-right: 10vw;
  margin-top: 6vh;
}
.parceiros-imagem-slide-col-slide-texto {
  padding-left: 7vw;
  padding-right: 7vw;
}
.parceiros-maskAgua-engrenagem {
  width: 45% !important;
  height: auto !important;
  right: -18vw !important;
  top: 85vh !important;
}
@media (max-width: 1440px) {
  .nav > li > a {
    padding: 10px 20px;
  }
  .franquia-row-vantagens {
    margin-top: 10vh;
    height: 45vh;
  }
  .franquia-col-franquia-imagem {
    right: -3vw;
  }
  .franquia-col-franquia-imagem img {
    margin-top: 6vh;
    margin-bottom: 2vh;
  }
  .franquia-row-vantagens-slide-texto {
    top: 13vh;
  }
  .franquia-row-vantagens-slide-imagem img {
    right: 10vw !important;
    position: relative;
    max-height: 45vh;
  }
  .franquia-row-vantagens-slide-imagem #pc {
    right: 2vw !important;
  }
  .franquia-row-vantagens-slide-imagem #time {
    right: 4vw !important;
  }
  .franquia-maskAgua-engrenagem {
    width: 71%;
    height: auto !important;
    right: -25vw !important;
    top: -25vh !important;
  }
  .parceiros-maskAgua-engrenagem {
    width: 38% !important;
    height: auto !important;
    right: 0vw !important;
    top: 93vh !important;
  }
}
@media (max-width: 1366px) {
  .nav > li > a {
    padding: 10px 19px;
  }
  .franquia-col-franquia-imagem img {
    margin-top: 8vh;
    margin-bottom: 3vh;
  }
  .franquia-maskAgua-engrenagem {
    width: 71%;
    height: auto !important;
    right: -25vw !important;
    top: -25vh !important;
  }
}
@media (max-width: 1360px) {
  .nav > li > a {
    padding: 10px 19px;
  }
  .franquia-col-franquia-imagem img {
    margin-top: 9vh;
    margin-bottom: 4vh;
  }
  .franquia-row-vantagens-slide-imagem img {
    right: 10vw !important;
  }
  .franquia-maskAgua-engrenagem {
    width: 71%;
    height: auto !important;
    right: -25vw !important;
    top: -25vh !important;
  }
}
@media (max-width: 1280px) {
  .nav > li > a {
    padding: 10px 15px;
  }
  .franquia-row-franquia {
    margin-top: 6vh;
  }
  .franquia-col-franquia-texto {
    margin-top: 4vh;
  }
  .franquia-col-franquia-imagem img {
    margin-top: 9vh;
    margin-bottom: 4vh;
  }
  .franquia-row-vantagens-slide-texto {
    top: 13vh;
  }
  .franquia-row-vantagens {
    margin-top: 10vh;
    height: 45vh;
  }
  .franquia-row-vantagens-slide-imagem img {
    right: 10vw !important;
    position: relative;
    max-height: 45vh;
  }
  .franquia-row-vantagens-slide-imagem #pc {
    right: 3vw !important;
  }
  .franquia-row-vantagens-slide-imagem #time {
    right: 4vw !important;
  }
  .franquia-maskAgua-engrenagem {
    width: 71%;
    height: auto !important;
    right: -25vw !important;
    top: -25vh !important;
  }
  .parceiros-maskAgua-engrenagem {
    width: 38% !important;
    height: auto !important;
    right: 0vw !important;
    top: 125vh !important;
  }
}
@media (max-width: 1152px) {
  .nav > li > a {
    padding: 10px 10px;
  }
  .letracbc {
    font-size: 12px;
  }
  .franquia-row-franquia {
    margin-top: 2vh;
  }
  .franquia-row-vantagens {
    margin-top: 10vh;
    height: 35vh;
  }
  .franquia-col-franquia-imagem img {
    margin-top: 10vh;
  }
  .franquia-row-vantagens {
    margin-top: 10vh;
    height: 35vh;
  }
  .franquia-row-vantagens-slide-texto {
    top: 10vh;
  }
  .franquia-row-vantagens-slide-imagem img {
    right: 11vw !important;
    position: relative;
    max-height: 35vh;
  }
  .franquia-maskAgua-engrenagem {
    width: 71%;
    height: auto !important;
    right: -25vw !important;
    top: -25vh !important;
  }
  .parceiros-maskAgua-engrenagem {
    width: 38% !important;
    height: auto !important;
    right: 0vw !important;
    top: 85vh !important;
  }
}
@media (max-width: 1024px) {
  .nav > li > a {
    padding: 10px 6px;
  }
  .letracbc {
    font-size: 10px;
  }
  .franquia-col-franquia-imagem img {
    width: 115%;
    right: 5vw;
    margin-top: 12vh;
    margin-bottom: 9vh;
  }
  .franquia-maskAgua-engrenagem {
    width: 71%;
    height: auto !important;
    right: -25vw !important;
    top: -25vh !important;
  }
}
@media (min-height: 1366px) {
  .franquia-row-vantagens {
    margin-top: 10vh;
    height: 20vh;
  }
  .franquia-row-vantagens-slide-texto {
    top: 5vh;
  }
  .franquia-row-vantagens-slide-imagem img {
    right: 11vw !important;
    position: relative;
    max-height: 20vh;
  }
  .franquia-row-vantagens-slide-imagem #pc {
    right: 2vw !important;
  }
  .franquia-row-vantagens-slide-imagem #time {
    right: 3vw !important;
  }
  .adjust-1366 {
    margin-right: 0 !important;
  }
  .carousel-control {
    top: -10vh;
  }
  .carousel-control-right {
    top: -10vh !important;
  }
  .parceiros-maskAgua-engrenagem {
    top: 55vh !important;
  }
}
@media (max-width: 768px) {
  .carousel-control {
    left: -10vw;
  }
  .carousel-control-right {
    right: -10vw !important;
  }
  .parceiros-receize {
    width: auto !important;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }
  .parceiros-receize-small {
    width: auto !important;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }
}
@media (max-width: 500px) {
  .franquia-row-franquia {
    margin-top: 4vh;
  }
  .franquia-row-vantagens {
    margin-top: 5vh;
    height: auto;
  }
  .franquia-row-vantagens-slide-texto {
    top: 0vh;
  }
  .franquia-row-vantagens-slide-controls-left {
    left: -14vw !important;
    top: 1.5vh;
    font-size: 6vw !important;
  }
  .franquia-row-vantagens-slide-controls-right {
    right: -7vw !important;
    top: 1vh;
    font-size: 6vw !important;
  }
  .carousel-control {
    left: -10vw;
  }
  .carousel-control-right {
    right: -10vw !important;
  }
  .parceiros-receize {
    width: auto !important;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }
  .parceiros-receize-small {
    width: auto !important;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }
  .parceiros-maskAgua-engrenagem {
    top: 197vh !important;
  }
}
#divChat .bloco-status.status-offline {
  left: 15px !important;
}
#divChat .bloco-status.status-offline {
  left: 15px !important;
}
#livechat-compact-container {
  left: 1% !important;
  right: auto !important;
  bottom: 0 !important;
}
#livechat-full {
  left: 1% !important;
  right: auto !important;
  bottom: 0 !important;
}
iframe#livechat-full-view {
  max-width: 100% !important;
  max-height: 100% !important;
}
#divChat .bloco-status.status-offline {
  left: 15px !important;
}
#livechat-compact-container {
  left: 1% !important;
  right: auto !important;
  bottom: 0 !important;
}
#livechat-full {
  left: 1% !important;
  right: auto !important;
  bottom: 0 !important;
}
iframe#livechat-full-view {
  max-width: 100% !important;
  max-height: 100% !important;
}
.blog-imagem img {
  max-width: 100% !important;
  max-height: 100% !important;
}
.text-warning {
  color: red !important;
}
.footer-geral {
  background-color: #efefef;
  margin-top: 10vh !important;
}
.hr-footer {
  color: black !important;
  width: 100vw;
  border-width: 0.5vh;
  margin: 0px 0px;
  border-color: black;
}
.footer-contato {
  background-size: cover;
  background-repeat: no-repeat !important;
  background-image: url(Imagens/IMAGEM_CONTATO_Comp.jpg);
  color: white;
  height: 350px;
  font-size: 3vh !important;
}
.hr-footer-contato {
  color: white;
  position: relative;
  left: -40vw;
  border-width: 0.5vh;
}
.row-null-padding-contato {
  padding-left: 10vw;
  padding-right: 10vw;
}
.links-compartilhamento b {
  vertical-align: super;
}
.links-compartilhamento a {
  text-decoration: none;
  color: black;
  font-size: 5vh;
  margin-right: 0.5vw;
}
.links-compartilhamento a:hover {
  color: #6c9bb5 !important;
  text-decoration: none;
}
.banner_free {
  background-image: url(Imagens/free_banner_light.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
.container-form-one {
  text-align: right;
  padding-top: 3%;
}
.container-prop-one {
  font-family: AvenirNextLTPro-Regular;
  color: white;
}
.container-prop-row {
  text-align: center;
}
.container-list-row {
  padding-left: 12%;
}
.prop-span-cur {
  font-size: 3vw;
}
.prop-span-val {
  font-size: 6vw;
}
.prop-one-list {
  padding-right: 0;
}
.prop-one-list ul {
  padding: 0;
}
.prop-list-divider {
  border-left-style: solid;
  border-left-width: medium;
  border-left-color: white;
  padding-left: 8%;
}
.step-opacity {
  opacity: 0.5;
}
.input-free button {
  background-color: #076d09 !important;
  border-radius: 0 !important;
  height: 6vh;
}
.input-free input {
  color: white !important;
  background-color: #15304d;
  border-radius: 0 !important;
  height: 6vh;
}
.input-free select {
  color: white !important;
  background-color: #15304d;
  border-radius: 0 !important;
  height: 6vh;
}
.font-enlarge {
  font-family: AvenirNextLTPro-Bold !important;
  font-weight: bold !important;
}
.fonttt {
  font-family: AvenirNextLTPro-Regular !important;
}
.row-conheca-youtube {
  font-size: 2vw;
  background-color: #13304e;
  color: white;
  padding: 3vh 0;
  position: relative;
  bottom: 6vh;
}
.row-padding-mobile-free {
  margin-top: 5vh;
  padding-left: 12vw;
  padding-right: 9vw;
}
@media (max-width: 990px) {
  .prop-list-divider {
    border-left-style: none;
    border-left-width: medium;
    border-left-color: white;
    padding-left: 15px;
  }
  .prop-span-cur {
    font-size: 6vh;
  }
  .prop-span-val {
    font-size: 12vh;
  }
  .row-conheca-youtube {
    bottom: 0;
    padding-left: 10vw;
  }
  .row-padding-mobile-free {
    padding-left: 13vw;
    padding-right: 5vw;
  }
}
#formHome {
  background-color: #fcfb00 !important;
  color: #00377a !important;
}
.formHome {
  background-color: #fcfb00 !important;
  color: #00377a !important;
  font-weight: bold !important;
  font-family: AvenirNextLTPro-Bold !important;
  width: 100%;
}
#formHome span {
  font-weight: bold !important;
  font-family: AvenirNextLTPro-Bold !important;
}
#exitIntent span {
  font-family: AvenirNextLTPro-Bold;
}
#exitIntent p {
  font-family: AvenirNextLTPro-Regular;
  font-size: xx-large;
}
#exitIntent h2 {
  font-family: AvenirNextLTPro-Bold;
}
.row-exitIntent-form {
  background-image: url('/Content/Imagens/exitIntentBack.png');
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: -20px;
  margin-right: -20px;
}
.row-exitIntent-form .container {
  margin-top: 5vh;
  margin-bottom: 5vh;
}
#modalSimulacao iframe {
  margin-top: -50%;
  width: 20vw !important;
}
.chatMobile {
  background-color: greenyellow;
  position: fixed;
  bottom: 0;
  right: 10%;
  width: 25%;
  height: 14vw;
  text-align: center;
  padding-top: 2%;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  z-index: 5000;
}
.chatMobile a {
  text-decoration: none;
  color: black !important;
}