<p>&nbsp;</p>

<h2><strong>1) Tenha bons fornecedores</strong></h2>

<p>&nbsp; Da mesma maneira que os clientes devem se preocupar em qual oficina mec&acirc;nica est&aacute; levando seu autom&oacute;vel, &eacute; importante que os profissionais se preocupem tamb&eacute;m com quem fornece as ferramentas de trabalho, como pe&ccedil;as e equipamentos. Ter fornecedores de confian&ccedil;a e de qualidade fazem toda a diferen&ccedil;a no servi&ccedil;o que &eacute; prestado e pode refletir no bom ou mau funcionamento do carro. Voc&ecirc; n&atilde;o gostaria de ter um cliente insatisfeito devido a uma pe&ccedil;a que soltou ou desgastou muito r&aacute;pido, certo? Por isso, ser criterioso na escolha dos seus fornecedores &eacute; uma das primeiras coisas para se pensar. Os clientes est&atilde;o cada vez mais exigentes e um trabalho s&oacute; &eacute; bem feito quando se tem os meios certos para realizar as atividades, ent&atilde;o invista em bons equipamentos. Avalie sempre para n&atilde;o ter preju&iacute;zos l&aacute; na frente. &nbsp;</p>

<p><img alt="" height="373" src="https://www.workmotor.com.br/content/ImagensPosts//1.jpg" width="497" /></p>

<h2><strong>2) N&atilde;o mistures as contas</strong></h2>

<p>&nbsp; Um dos principais erros de quem possui pequenos neg&oacute;cios, &eacute; misturar as contas pessoais com as da empresa. N&atilde;o deixe que isso aconte&ccedil;a na sua oficina mec&acirc;nica. &Eacute; importante que voc&ecirc; tenha um pro labore com data fixa de recebimento. Misturar despesas pessoais pode gerar problemas tribut&aacute;rios e falta de dinheiro no caixa, acarretando em v&aacute;rias consequ&ecirc;ncias como, atraso no pagamento de colaboradores ou perda da no&ccedil;&atilde;o do que &eacute; rent&aacute;vel ou traz preju&iacute;zo para a empresa. Tal h&aacute;bito pode lev&aacute;-lo a fal&ecirc;ncia, por isso, evite levar suas despesas pessoais para o trabalho e tamb&eacute;m as despesas do trabalho para casa. Para que as contas estejam sempre em dia, conte com uma empresa especializada em contabilidade para lhe auxiliar na parte tribut&aacute;ria. Se achar complicado, o aux&iacute;lio ser&aacute; sempre bem-vindo. Outra alternativa &eacute; contar com um CRM para o setor automotivo, que pode te ajudar a entender mais sobre todas as despesas da sua oficina mec&acirc;nica. Esta forma &eacute; pr&aacute;tica e f&aacute;cil de entender. &nbsp;</p>

<p><img alt="" height="373" src="https://www.workmotor.com.br/content/ImagensPosts//2.jpg" width="497" /></p>

<h2><strong>3) Construa um bom relacionamento com o cliente</strong></h2>

<p>&nbsp; O cliente precisa se sentir &agrave; vontade na sua oficina mec&acirc;nica para voltar outras vezes e indicar o seu trabalho. Mostre que o seu trabalho &eacute; de confian&ccedil;a, profissional e que existe dedica&ccedil;&atilde;o de todos da sua equipe. Explique os procedimentos, poss&iacute;veis problemas e solu&ccedil;&otilde;es. Acompanhar como est&atilde;o os ve&iacute;culos depois de passarem na sua oficina demonstra interesse em ter o cliente satisfeito. O atendimento deve ser impec&aacute;vel do inicio ao fim, tentando trazer a solu&ccedil;&atilde;o mais cab&iacute;vel para o cliente. Outra forma de estreitar o relacionamento com seu cliente &eacute; elaborar um cadastro. Assim, al&eacute;m de conhec&ecirc;-los melhor, voc&ecirc; tamb&eacute;m ter&aacute; uma base de dados para oferecer promo&ccedil;&otilde;es, criar campanhas de marketing e gerenciar um calend&aacute;rio para lembra-lo que est&aacute; na hora de voltar &agrave; oficina para uma nova revis&atilde;o. Com um programa de CRM ser&aacute; mais pr&aacute;tico para fazer todo este gerenciamento. Consulte! &nbsp;</p>

<p><img alt="" height="373" src="https://www.workmotor.com.br/content/ImagensPosts//3.jpg" width="497" /></p>

<h2><strong>4) Invista nos seus funcion&aacute;rios</strong></h2>

<p>&nbsp; Independente do segmento, colaborador bom &eacute; colaborador feliz. Quando contratar um novo funcion&aacute;rio em sua oficina mec&acirc;nica, apresente ele aos outros colegas de trabalho e a empresa, ensine os procedimentos e esteja aberto a sanar d&uacute;vidas. Explore e valorize as habilidades de cada um e ofere&ccedil;a benef&iacute;cios de acordo com a realidade do seu neg&oacute;cio. Outro ponto importante dentro da sua oficina mec&acirc;nica &eacute; oferecer capacita&ccedil;&atilde;o profissional quando poss&iacute;vel para que novas aprendizados sejam aplic&aacute;veis na sua oficina mec&acirc;nica. Com profissionais sempre atualizados, sua oficina mec&acirc;nica n&atilde;o fica para tr&aacute;s e acompanhar&aacute; sempre as evolu&ccedil;&otilde;es do mercado automotivo, as novas tecnologias que chegam junto aos lan&ccedil;amentos e estar&aacute; pronta para atender aos problemas mais complexos. &nbsp;</p>

<p><img alt="" height="373" src="https://www.workmotor.com.br/content/ImagensPosts//4.jpg" width="497" /></p>

<h2><strong>5) Tempo &eacute; dinheiro</strong></h2>

<p>&nbsp; Desenvolva na sua oficina mec&acirc;nica m&eacute;todos de trabalho para que n&atilde;o se perca muito tempo resolvendo um problema, claro que determinadas situa&ccedil;&otilde;es pedem um pouco mais de paci&ecirc;ncia, mas nem sempre a demora &eacute; sinal de qualidade no trabalho a ser entregue. N&atilde;o pressione a equipe para agir de maneira muita r&aacute;pida, mas os orientem para que sejam pr&aacute;ticos e eficazes, sem perder a qualidade. Distra&ccedil;&otilde;es podem fazer mal ao neg&oacute;cio. Seguindo essas recomenda&ccedil;&otilde;es, ser&aacute; muito mais f&aacute;cil identificar erros e corrigi-los. Tenha um m&eacute;todo de trabalho, busque sempre trazer melhorias em sua oficina e mantenha sua equipe em harmonia. Lembre- se sempre que o cliente &eacute; observador e n&atilde;o volta para lugares onde n&atilde;o se sentiu acolhido, confort&aacute;vel ou se teve um mau atendimento. Quando o cliente est&aacute; contente com o servi&ccedil;o prestado, ele sempre pode indicar para outras pessoas. &nbsp; &nbsp; &nbsp; &nbsp;</p>

<p><img alt="" height="373" src="https://www.workmotor.com.br/content/ImagensPosts//5.jpg" width="497" /></p>
