<p><span style="font-size:18px"><strong><span style="font-family:&quot;Calibri&quot;,sans-serif">Como cuidar da bateria?</span></strong></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">A bateria n&atilde;o &eacute; nada mais nada menos do que o principal item do sistema el&eacute;trico do seu ve&iacute;culo.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">O componente &eacute; a fonte de energia para que voc&ecirc; consiga ligar o r&aacute;dio e dar a partida.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Voc&ecirc; deve comparecer a uma oficina de confian&ccedil;a pelo menos uma vez por ano para verificar se est&aacute; tudo bem com a bateria do seu carro.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Al&eacute;m disso, existem alguns h&aacute;bitos que podem prolongar a vida &uacute;til da pe&ccedil;a.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Confira:</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Desligue todos os equipamentos el&eacute;tricos antes de dar a partida;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Verifique e limpe os terminais da bateria anualmente;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">N&atilde;o fique mais de 15 dias sem dar a partida no seu carro;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">N&atilde;o deixe o aparelho de som ligado por muito tempo sem o carro estar funcionando;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Fa&ccedil;a manuten&ccedil;&atilde;o periodicamente para evitar poss&iacute;veis danos.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:18px"><strong><span style="font-family:Calibri,sans-serif">Como escolher a bateria ideal para o seu carro?</span></strong></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Antes de comprar uma bateria para o seu carro, siga o manual de instru&ccedil;&otilde;es que veio com o seu ve&iacute;culo para saber o tamanho ideal e outras caracter&iacute;sticas pr&oacute;prias para o modelo que voc&ecirc; dirige.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Na hora de decidir entre os tipos de bateria, voc&ecirc; deve saber que as seladas n&atilde;o demandam manuten&ccedil;&atilde;o peri&oacute;dica e t&ecirc;m vida &uacute;til mais longa.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">As n&atilde;o seladas, por sua vez, precisam ser checadas com frequ&ecirc;ncia e voc&ecirc; pode ter que repor o n&iacute;vel de &aacute;gua de tempos em tempos.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Evite baterias que tenham sido fabricadas h&aacute; mais de seis meses e prefira aquelas que tenham garantia pr&oacute;xima de tr&ecirc;s anos, per&iacute;odo estimado para a vida &uacute;til.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:18px"><strong><span style="font-family:Calibri,sans-serif">Servi&ccedil;os e pe&ccedil;as para bateria: Como saber a hora de troc&aacute;-la?</span></strong></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Voc&ecirc; saber&aacute; que &eacute; hora de trocar a bateria quando estiver utilizando a mesma por mais de tr&ecirc;s anos.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Ap&oacute;s esse per&iacute;odo, os problemas come&ccedil;am a aparecer, como dificuldades para utilizar componentes el&eacute;tricos e dar a partida no carro.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Existem outros sinais que mostram que voc&ecirc; precisa substituir a bateria do seu carro, antes que voc&ecirc; n&atilde;o consiga mais ligar o motor. S&atilde;o eles:</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Perda de corrente no sistema el&eacute;trico;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Queima de fus&iacute;veis;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Bateria descarrega com muita frequ&ecirc;ncia e rapidamente;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Vazamento do l&iacute;quido da bateria;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Dificuldade para dar a partida;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Dificuldade para utilizar componentes el&eacute;tricos;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Luz da bateria acesa no painel;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Ru&iacute;do agudo na hora de dar a partida;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Deixar o carro parado por mais de 15 dias, sem dar partida.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:18px"><strong><span style="font-family:Calibri,sans-serif">Onde trocar a bateria?</span></strong></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Para trocar a bateria do seu carro, voc&ecirc; deve procurar uma oficina mec&acirc;nica que ofere&ccedil;a o servi&ccedil;o.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Em geral, a grande maioria delas faz isso em poucos instantes. Para saber os locais mais pr&oacute;ximos que oferecem os melhores servi&ccedil;os, basta verificar no QueridoCarro.com.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Ap&oacute;s ficar cerca de 20 minutinhos no mec&acirc;nico para a troca segura e eficiente da bateria, &eacute; recomendado tamb&eacute;m que voc&ecirc; aproveite para pedir uma verifica&ccedil;&atilde;o no alternador.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">A pe&ccedil;a comp&otilde;e o sistema el&eacute;trico do ve&iacute;culo e utiliza o giro do motor para gerar energia el&eacute;trica e carregar a bateria do seu carro.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:18px"><strong><span style="font-family:Calibri,sans-serif">Onde descartar a bateria usada?</span></strong></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">As baterias automotivas s&atilde;o compostas por placas met&aacute;licas de chumbo e diversas subst&acirc;ncias qu&iacute;micas, como &aacute;cido sulf&uacute;rico, por exemplo. Para que a energia seja gerada, os produtos reagem entre si.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Entretanto, a bateria tamb&eacute;m tem em sua composi&ccedil;&atilde;o pl&aacute;stico ou papel&atilde;o, materiais que podem ser reciclados. Ainda assim, voc&ecirc; n&atilde;o deve descart&aacute;-la no lixo comum ou em um posto de reciclagem.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">A recomenda&ccedil;&atilde;o &eacute; levar a bateria para um ponto de vendas. No local, o comerciante saber&aacute; onde fazer o descarte correto da bateria, sem causar danos ao meio ambiente.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:18px"><strong><span style="font-family:Calibri,sans-serif">Conte com o QueridoCarro.com</span></strong></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Com o QueridoCarro.com, voc&ecirc; pode conhecer os melhores servi&ccedil;os e pe&ccedil;as para baterias em oficinas do seu bairro, perto do seu trabalho, perto da escola dos seus filhos, onde voc&ecirc; estiver e quiser!</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Desta forma, voc&ecirc; poder&aacute; ter um servi&ccedil;o de qualidade pertinho de voc&ecirc;.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Basta voc&ecirc; indicar o nome da rua mais pr&oacute;xima onde voc&ecirc; deseja encontrar uma oficina mec&acirc;nica e ver&aacute; uma lista com os estabelecimentos.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Voc&ecirc; pode optar por ligar, visitar o local ou entrar em contato por mensagem dentro do pr&oacute;prio site.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Tudo o que &eacute; preciso para ter acesso a essas facilidades &eacute; um simples cadastro e pronto!</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Tudo o que voc&ecirc; precisa estar&aacute; a poucos cliques de dist&acirc;ncia, sendo poss&iacute;vel acessar o recurso pelo celular, e resolver os problemas com a bateria do seu carro de forma r&aacute;pida na palma de sua m&atilde;o.</span></span></p>
