<p>&nbsp; <em>&nbsp;</em>Se voc&ecirc; &eacute; um empres&aacute;rio do setor mec&acirc;nico e tem sua oficina, por exemplo, j&aacute; deve ter se perguntado como saber cobrar pelo servi&ccedil;o mec&acirc;nico, certo? &nbsp; Geralmente, quem presta servi&ccedil;os tem dificuldades de precificar o trabalho. Como n&atilde;o se trata de algo que se possa medir, como no caso de produtos, a dificuldade parece ser maior. &nbsp; Mas, se voc&ecirc; j&aacute; sentiu esta dificuldade saiba que voc&ecirc; n&atilde;o est&aacute; sozinho. Separamos algumas dicas para que voc&ecirc; tenha mais seguran&ccedil;a na hora de cobrar pelos servi&ccedil;os mec&acirc;nicos da sua oficina. &nbsp;</p>

<p><img alt="" height="373" src="https://www.workmotor.com.br/content/ImagensPosts//quanto_cobrar_perfil_negocio.jpg" width="398" /></p>

<h2><strong>Entenda o perfil do seu neg&oacute;cio</strong></h2>

<p>&nbsp; Tudo o que qualquer empres&aacute;rio deseja &eacute; ter lucro com o seu neg&oacute;cio. Na oficina mec&acirc;nica &eacute; a mesma coisa. &nbsp; Por isso, saiba quais s&atilde;o os custos e despesas e o que &eacute; necess&aacute;rio para cobrir isto e dar lucro. Parece dif&iacute;cil? Mas n&atilde;o &eacute; quando se tem tudo na ponta do l&aacute;pis. &nbsp; <strong><em>Gastos fixos</em></strong>: &eacute; tudo aquilo que n&atilde;o vai sofrer impacto, ou seja, voc&ecirc; ter&aacute; de pagar e s&atilde;o fundamentais para o funcionamento do neg&oacute;cio, como: &nbsp; - Aluguel ou financiamento do local onde sua oficina est&aacute; instalada - Luz, &aacute;gua, telefone, internet, condom&iacute;nio, IPTU - Folha de pagamento dos colaboradores e pr&oacute;-labore &nbsp; <strong><em>Gastos vari&aacute;veis</em></strong>: &eacute; tudo aquilo que pode surgir no decorrer do m&ecirc;s, como uma despesa extra, por exemplo, ou ainda a tributa&ccedil;&atilde;o que voc&ecirc; ter&aacute; de acordo com os servi&ccedil;os prestados. &nbsp; Se sua oficina mec&acirc;nica teve mais trabalho, ela ter&aacute; mais lucro. Mas, tamb&eacute;m, ter&aacute; mais carga tribut&aacute;ria. Os valores dos impostos podem ser considerados despesas vari&aacute;veis. &nbsp; <strong><em>Gastos diretos</em></strong>: Sua oficina mec&acirc;nica depende de alguns itens fundamentais para funcionar, como: pe&ccedil;as, acess&oacute;rios, equipamentos, itens de seguran&ccedil;a, manuten&ccedil;&atilde;o, etc. Estes custos s&atilde;o considerados despesas diretas. &nbsp;</p>

<h2><strong>Como cobrar pelo servi&ccedil;o mec&acirc;nico?</strong></h2>

<p>&nbsp; Agora, organizar estas informa&ccedil;&otilde;es &eacute; fundamental para saber como cobrar pelo servi&ccedil;o da sua oficina. &nbsp; Tente fazer uma tabela com os servi&ccedil;os que oferece, os custos que possui para execut&aacute;-lo, o valor das pe&ccedil;as que podem ser utilizadas, o sal&aacute;rio do mec&acirc;nico e o tempo m&eacute;dio que ele leva para fazer o trabalho. &nbsp; Com isso em m&atilde;os, &eacute; hora de colocar a sua margem de lucro. Quanto voc&ecirc; gostaria de ter de ganho em cima de cada servi&ccedil;o prestado? &nbsp; Esta &eacute; uma maneira de calcular quanto cobrar na sua oficina mec&acirc;nica e ter uma refer&ecirc;ncia de valores m&iacute;nimos que devem ser praticados. &nbsp;</p>

<p><img alt="" height="373" src="https://www.workmotor.com.br/content/ImagensPosts//quanto_cobrar.jpg" width="398" /></p>

<h2><strong>Tenha um sistema de ERP</strong></h2>

<p>&nbsp; Agora que voc&ecirc; j&aacute; sabe quais s&atilde;o todas os custos fixos e vari&aacute;veis do seu neg&oacute;cio, que tal organiz&aacute;-los em um sistema que ajuda na gest&atilde;o de tudo isso? &nbsp; Adote um ERP para lhe auxiliar no controle da sua oficina mec&acirc;nica. Um ERP ajuda na din&acirc;mica financeira do neg&oacute;cio, no controle de caixa, gest&atilde;o de vendas, atendimento, faturamento, entre outras obriga&ccedil;&otilde;es fiscais. &nbsp; Se voc&ecirc; tem dificuldade para saber como anda a sa&uacute;de financeira da sua oficina mec&acirc;nica, ent&atilde;o tenha ferramentas para facilitar o seu dia. &nbsp;Conhe&ccedil;a uma sugest&atilde;o de <a href="http://www.workmotor.com.br/">software automotivo</a> aqui. &nbsp;</p>

<p><img alt="" height="373" src="https://www.workmotor.com.br/content/ImagensPosts//tenha_sistema_erp.jpg" width="398" /></p>

<h2><strong>Conhe&ccedil;a o seu cliente</strong></h2>

<p><strong>&nbsp;</strong> Para deixar os custos ainda melhores para a sua oficina mec&acirc;nica, &eacute; importante que voc&ecirc; conhe&ccedil;a o seu cliente, suas necessidades e o que ele est&aacute; buscando. &nbsp; Afinal, o que ele busca? Pre&ccedil;o, qualidade, custo-benef&iacute;cio, agilidade? Nem sempre chegar a uma conclus&atilde;o &eacute; tarefa f&aacute;cil, mas voc&ecirc; pode come&ccedil;ar a tra&ccedil;ar o perfil do seu cliente de v&aacute;rias maneiras. &nbsp; Se a sua oficina mec&acirc;nica est&aacute; localizada num bairro classe A, por exemplo, talvez atendimento exclusivo e qualidade estejam entre as prioridades dos seus clientes. Neste caso, pagar mais caro pode ser positivo para ele se o trabalho for de qualidade, pontual, profissional e de confian&ccedil;a. &nbsp; J&aacute; se sua oficina mec&acirc;nica est&aacute; em um bairro classe C ou ainda mais afastada dos grandes centros, voc&ecirc; deve avaliar o que faz diferen&ccedil;a para o cliente, como: pre&ccedil;o, custo-benef&iacute;cio e qualidade. &nbsp; Para chegar a outros dados importantes, &eacute; poss&iacute;vel deixar dispon&iacute;vel uma pesquisa de opini&atilde;o para que voc&ecirc; tenha m&eacute;tricas sobre as expectativas dos clientes que passam pela sua oficina mec&acirc;nica. &nbsp;</p>

<h2><strong>Pesquisa de mercado</strong></h2>

<p>&nbsp; Voc&ecirc; sabe quanto sua concorrente est&aacute; cobrando para fazer o mesmo servi&ccedil;o mec&acirc;nico que a sua oficina? &nbsp; Fazer pesquisa de mercado para ter uma base de valores, tamb&eacute;m &eacute; uma maneira de saber se os seus pre&ccedil;os est&atilde;o dentro da m&eacute;dia para sua regi&atilde;o e p&uacute;blico-alvo. &nbsp; Esta pesquisa pode ser feita por telefone e voc&ecirc; tamb&eacute;m pode considerar concession&aacute;rias. Por mais que voc&ecirc; j&aacute; saiba que o valor por ser mais alto, &eacute; v&aacute;lido ter par&acirc;metros para mais e para menos. &nbsp;</p>
