<p><span style="font-size:18px"><strong><span style="font-family:&quot;Calibri&quot;,sans-serif">Principais servi&ccedil;os e pe&ccedil;as para ar-condicionado </span></strong></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">O ar-condicionado automotivo j&aacute; &eacute; um item de s&eacute;rie em diversos ve&iacute;culos, de diversas marcas e modelos.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Trata-se de um componente que traz comodidade e j&aacute; se tornou indispens&aacute;vel para muitos motoristas que n&atilde;o abrem m&atilde;o de conforto.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">O que poucos sabem &eacute; que o item tamb&eacute;m demanda manuten&ccedil;&atilde;o, assim como outros componentes el&eacute;tricos e pe&ccedil;as que fazem parte mec&acirc;nica do ve&iacute;culo.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">O cuidado &eacute; necess&aacute;rio para que voc&ecirc; n&atilde;o passe calor nos dias quentes de ver&atilde;o e tenha que recorrer aos vidros abertos. Al&eacute;m de perder a comodidade &agrave; qual voc&ecirc; j&aacute; tinha se acostumado, a falta de cuidados pode resultar em preju&iacute;zo financeiro com o reparo do ar-condicionado.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Quanto mais tempo voc&ecirc; levar para identificar um problema, ele pode ficar maior e custar mais caro!</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Portanto, os principais servi&ccedil;os para o ar-condicionado incluem a manuten&ccedil;&atilde;o preventiva, com poss&iacute;vel substitui&ccedil;&atilde;o de pe&ccedil;as, e o reparo, que varia de acordo com o problema apresentado.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:18px"><strong><span style="font-family:Calibri,sans-serif">Quando fazer manuten&ccedil;&atilde;o no ar-condicionado do carro</span></strong></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">O ar-condicionado do seu carro precisa passar por uma inspe&ccedil;&atilde;o a cada seis meses ou 30 mil quil&ocirc;metros rodados, o que ocorrer primeiro.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Contudo, &eacute; poss&iacute;vel que antes desse per&iacute;odo voc&ecirc; tenha que visitar uma oficina mec&acirc;nica para verificar se h&aacute; algum problema.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Ser&aacute; o caso se voc&ecirc; perceber as seguintes anormalidades:</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Mau cheiro ao ligar o ar-condicionado;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Passageiros espirrando quando o recurso est&aacute; acionado;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Dificuldade para respirar dentro do carro;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Demora no esfriamento (que pode ser causada por vazamento de g&aacute;s).</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:18px"><strong><span style="font-family:Calibri,sans-serif">Servi&ccedil;os e pe&ccedil;as para ar-condicionado automotivo</span></strong></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">A manuten&ccedil;&atilde;o do ar-condicionado pode incluir apenas alguns servi&ccedil;os ou envolver a substitui&ccedil;&atilde;o de algumas pe&ccedil;as.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">No primeiro caso, o servi&ccedil;o &eacute; a higieniza&ccedil;&atilde;o de todo o sistema de resfriamento do seu ve&iacute;culo. O segundo passo &eacute; a limpeza da tubula&ccedil;&atilde;o.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">No processo de higieniza&ccedil;&atilde;o, &eacute; poss&iacute;vel que o filtro de part&iacute;culas tenha que ser trocado para evitar o ac&uacute;mulo e circula&ccedil;&atilde;o de sujeira pelo ar, dentro do carro.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">A limpeza da tubula&ccedil;&atilde;o, por sua vez, &eacute; feita com o uso de um spray pr&oacute;prio, que &eacute; homologado pelas montadoras. Evite produtos substitutos ou paralelos.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Se houver algum tipo de problema com o g&aacute;s, &eacute; poss&iacute;vel que as mangueiras tenham que ser reparadas ou substitu&iacute;das.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">O ar-condicionado tamb&eacute;m &eacute; composto por outras pe&ccedil;as, que podem apresentar defeito caso o motorista nunca acione o recurso de resfriamento. S&atilde;o elas:</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Compressor;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Condensador;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Evaporador;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Cilindros;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Pist&otilde;es.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Com profissionais capacitados, temos certeza que sua experi&ecirc;ncia com pe&ccedil;as e servi&ccedil;os para ar-condicionado ser&aacute; positiva.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:18px"><strong><span style="font-family:Calibri,sans-serif">Como contratar um profissional capacitado</span></strong></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Se j&aacute; se passaram seis meses ou 30 mil quil&ocirc;metros desde a compra do seu carro ou &uacute;ltima manuten&ccedil;&atilde;o do sistema de ar-condicionado, &eacute; recomend&aacute;vel buscar um profissional capacitado para dar uma checada no sistema de refrigera&ccedil;&atilde;o.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">O profissional deve ter refer&ecirc;ncia e ser reconhecido no mercado para que voc&ecirc; n&atilde;o entre em uma fria quando est&aacute; simplesmente tentando fazer uma manuten&ccedil;&atilde;o no ar-condicionado.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">O QueridoCarro.com &eacute; o site ideal para te ajudar a encontrar profissionais capacitados e que possam identificar problemas de forma eficaz.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Existem algumas caracter&iacute;sticas que devem ser observadas antes de contratar algu&eacute;m para esse tipo de manuten&ccedil;&atilde;o ou reparo.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">O profissional deve ser:</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Trabalhar com ferramentas e pe&ccedil;as homologadas pela montadora;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Ter especializa&ccedil;&atilde;o com esse tipo de manuten&ccedil;&atilde;o e reparo;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Ser bem avaliado pelos clientes anteriores;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Possuir algum tipo de refer&ecirc;ncia no mercado.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Voc&ecirc; saber&aacute; isso e muito mais por meio do sistema desenvolvido pelo QueridoCarro.com. No site, voc&ecirc; poder&aacute; conhecer essas e outras informa&ccedil;&otilde;es.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:18px"><strong><span style="font-family:Calibri,sans-serif">Conte com o QueridoCarro.com</span></strong></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Voc&ecirc; pode contar com o QueridoCarro.com na hora de buscar servi&ccedil;os e pe&ccedil;as para ar-condicionado para fazer a manuten&ccedil;&atilde;o do equipamento, considerando os seguintes pontos:</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:16px"><strong><span style="font-family:Calibri,sans-serif">Rapidez</span></strong></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Em poucos cliques, voc&ecirc; consegue saber quais s&atilde;o as oficinas mais pr&oacute;ximas de voc&ecirc; que oferecem um servi&ccedil;o t&atilde;o espec&iacute;fico.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:16px"><strong><span style="font-family:Calibri,sans-serif">Qualidade</span></strong></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Com o recurso de poder visualizar coment&aacute;rios de clientes antigos, voc&ecirc; poder&aacute; ter certeza de que est&aacute; contratando um servi&ccedil;o de qualidade.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:16px"><strong><span style="font-family:Calibri,sans-serif">Praticidade</span></strong></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Voc&ecirc; pode agendar os servi&ccedil;os para o ar-condicionado do seu carro por meio do site, sem precisar ir at&eacute; a oficina ou fazer uma liga&ccedil;&atilde;o.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Voc&ecirc; escolhe no calend&aacute;rio a melhor data e hor&aacute;rio para voc&ecirc;, se programa e pronto! Basta levar o seu carro para passar por uma manuten&ccedil;&atilde;o.</span></span></p>
