<h1 style="margin-left:0cm; margin-right:0cm"><img alt="" height="200" src="http://wgtreina.com.br/wiki/images/9/91/Banner_Nota.png" width="1000" /></h1>

<p>&nbsp;</p>

<hr />
<p style="margin-left:0cm; margin-right:0cm; text-align:justify">&nbsp;</p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;"><a href="https://www.youtube.com/watch?v=J0j-LmoEMHk" target="_blank"><img alt="" height="170" src="http://wgtreina.com.br/wiki/images/9/91/Anota_ai.png" style="float:left" width="300" /></a>&nbsp;</span></span></span></p>

<p style="margin-left:320px; margin-right:0cm; text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">Disponibilizamos mais um v&iacute;deo do quadro <strong><u><a href="https://www.youtube.com/playlist?list=PL3SRuzDU_vgXIkfHzdyABEzHs6FFXyVsy" target="_blank">&ldquo;Anota A&iacute;&rdquo;</a></u> </strong>no nosso canal no <u><strong><a href="http://www.youtube.com/c/workgroup" target="_blank">YouTube.</a></strong></u></span></span></span></p>

<p style="margin-left:320px; margin-right:0cm; text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;"><strong><a href="https://www.youtube.com/watch?v=J0j-LmoEMHk" target="_blank">Nesse v&iacute;deo</a></strong> falaremos sobre <strong>Nota Fiscal Eletr&ocirc;nica.</strong></span></span></span></p>

<p style="margin-left:320px; margin-right:0cm; text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif">C<span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">onhe&ccedil;a suas caracter&iacute;sticas e os pr&eacute;-requisitos para emiss&atilde;o de notas!</span></span></span></p>

<p style="margin-left:320px; margin-right:0cm; text-align:justify">&nbsp;</p>

<p style="margin-left:320px; margin-right:0cm; text-align:justify">&nbsp;</p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify">&nbsp;</p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;"><img alt="" height="247" src="http://wgtreina.com.br/wiki/images/e/ea/Nota_Tal%C3%A3o.png" style="float:right" width="300" /></span></span></span></p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify">&nbsp;</p>

<p style="margin-right:0cm; text-align:right"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">Quem n&atilde;o se lembra das notas fiscais (NF) de antigamente?&nbsp;</span></span></span></p>

<p style="margin-right:0cm; text-align:right"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">Aquelas em tal&atilde;o, que tinham o preenchimento feito &agrave; m&atilde;o...</span></span></span></p>

<p style="margin-right:0cm; text-align:right"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">Que al&eacute;m do trabalho geravam muitos custos, principalmente com papel.</span></span></span></p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify">&nbsp;</p>

<p style="margin-left:0cm; margin-right:0cm; text-align:center">&nbsp;</p>

<p style="margin-left:0cm; margin-right:0cm; text-align:center">&nbsp;</p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify">&nbsp;</p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">Hoje em dia o processo est&aacute; se tornando cada vez mais digital, tornando-o mais pr&aacute;tico, r&aacute;pido e seguro. </span></span></span></p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">A <strong>NF-e, Nota Fiscal Eletr&ocirc;nica</strong>, &eacute; um documento fiscal que existe digitalmente, utilizado para registrar a circula&ccedil;&atilde;o de mercadorias, como uma transfer&ecirc;ncia de propriedade sobre um bem de uma empresa para uma pessoa f&iacute;sica ou outra empresa, quando tem valor financeiro envolvido a Nota Fiscal eletr&ocirc;nica tamb&eacute;m apresenta o recolhimento de impostos, assim, evitando sonega&ccedil;&atilde;o. </span></span></span></p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">As notas fiscais podem tamb&eacute;m ser utilizadas em contextos mais amplos como na regulariza&ccedil;&atilde;o de doa&ccedil;&otilde;es, transporte e empr&eacute;stimos de bens. </span></span></span></p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">A representa&ccedil;&atilde;o gr&aacute;fica da NF-e &eacute; o <strong>DANFE (Documento Auxiliar da Nota Fiscal Eletr&ocirc;nica)</strong> que deve ser impresso ap&oacute;s a valida&ccedil;&atilde;o da nota por parte da SEFAZ e antes da circula&ccedil;&atilde;o da mercadoria. Ela deve conter a chave de acesso e todas as informa&ccedil;&otilde;es presentes na Nota Fiscal Eletr&ocirc;nica.</span></span></span></p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify">&nbsp;</p>

<p style="text-align:center"><img alt="" height="321" src="http://wgtreina.com.br/wiki/images/4/4b/DANFE.png" width="300" /></p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">Para impress&atilde;o do DANFE deve ser utilizado folha A4, mas, quando a transa&ccedil;&atilde;o comercial &eacute; feita fora do estabelecimento, o DANFE pode ser Simplificado, neste caso, a impress&atilde;o pode ser menor.</span></span></span></p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><strong><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">Benef&iacute;cios da NF-e</span></strong></span></span></p>

<ul>
	<li style="text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">Velocidade da transmiss&atilde;o das informa&ccedil;&otilde;es;</span></span></span></li>
	<li style="text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">Simplifica&ccedil;&atilde;o do processo;</span></span></span></li>
	<li style="text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">Redu&ccedil;&atilde;o de custos, com papel, transporte e armazenamento de documentos fiscais;</span></span></span></li>
	<li style="text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">Assertividade e credibilidade no processo fiscal.</span></span></span></li>
</ul>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><strong><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">Pr&eacute;-requisitos </span></strong></span></span></p>

<ol>
	<li style="text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">Ter permiss&atilde;o com a SEFAZ para envio de NF-e. O envio de NF-e pode ocorrer em 2 ambientes:&nbsp; Ambiente de homologa&ccedil;&atilde;o (Ambiente de testes de envio, sem validade fiscal/jur&iacute;dica) normalmente dispon&iacute;vel para clientes que est&atilde;o come&ccedil;ando a emitir Nota Fiscal Eletr&ocirc;nica e Ambiente de produ&ccedil;&atilde;o (Ambiente com validade jur&iacute;dica e fiscal). A contabilidade ser&aacute; respons&aacute;vel por te comunicar sobre qual ambiente foi liberado. Se for em homologa&ccedil;&atilde;o, tamb&eacute;m ir&aacute; informar a quantidade de notas que poder&atilde;o ser emitidas, para que depois desse n&uacute;mero comece as emiss&otilde;es com validade jur&iacute;dica (Ambiente de Produ&ccedil;&atilde;o);</span></span></span></li>
	<li style="text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">Possuir internet em seu computador;</span></span></span></li>
	<li style="text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">Possuir certificado digital A1 ou A3 (Token ou Cart&atilde;o/Leitor) instalado no computador.</span></span></span></li>
</ol>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><strong><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">Requisitos Para Emiss&atilde;o no WorkMotor</span></strong></span></span></p>

<ol>
	<li style="text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">M&oacute;dulo Fiscal configurado no WorkMotor;</span></span></span></li>
	<li style="text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">Para a emiss&atilde;o de qualquer documento fiscal eletr&ocirc;nico &eacute; necess&aacute;rio o preenchimento completo do cadastro do cliente, o qual n&atilde;o permite cliente consumidor, ou seja, dever&aacute; ser apresentado os dados reais do cliente para a emiss&atilde;o do documento.</span></span></span></li>
</ol>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><strong><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">IMPORTANTE</span></strong><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">: Seguem os dados cadastrais obrigat&oacute;rios para a emiss&atilde;o de NF-e:</span></span></span></p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><u><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">EMITENTE</span></u><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;"> (Empresa que est&aacute; emitindo a nota)</span></span></span></p>

<ul>
	<li style="text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">CNPJ</span></span></span></li>
	<li style="text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">Raz&atilde;o social</span></span></span></li>
	<li style="text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">IE - Inscri&ccedil;&atilde;o Estadual</span></span></span></li>
	<li style="text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">Nome Fantasia</span></span></span></li>
	<li style="text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">DDD + telefone</span></span></span></li>
	<li style="text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">Endere&ccedil;o Completo (Endere&ccedil;o + N&ordm; + Bairro + Cidade + UF + CEP)</span></span></span></li>
	<li style="text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">CNPJ da Contabilidade (Obrigat&oacute;rio apenas em BA)</span></span></span></li>
</ul>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><u><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">PRODUTO</span></u></span></span></p>

<ul>
	<li style="text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">C&oacute;digo</span></span></span></li>
	<li style="text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">Descri&ccedil;&atilde;o</span></span></span></li>
	<li style="text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">Pre&ccedil;o de compra</span></span></span></li>
	<li style="text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">Margem</span></span></span></li>
	<li style="text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">Pre&ccedil;o de venda</span></span></span></li>
	<li style="text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">Classifica&ccedil;&atilde;o Fiscal (NCM)</span></span></span></li>
	<li style="text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">Origem da Mercadoria</span></span></span></li>
	<li style="text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">CST/CSON</span></span></span></li>
	<li style="text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">EAN- C&oacute;digo de barras (Opcional)</span></span></span></li>
	<li style="text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">PIS/COFINS (Entrada e sa&iacute;da)</span></span></span></li>
	<li style="text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">CFOP (Deve ser preenchido no momento do envio da nota)</span></span></span></li>
</ul>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><u><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">DESTINAT&Aacute;RIO</span></u><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;"> (Empresa ou Cliente que est&aacute; recebendo a nota)</span></span></span></p>

<ul>
	<li style="text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">CNPJ/CPF</span></span></span></li>
	<li style="text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">Raz&atilde;o social/Nome Completo</span></span></span></li>
	<li style="text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">IE - Inscri&ccedil;&atilde;o Estadual / RG</span></span></span></li>
	<li style="text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">Ind. IE &ndash; Indica&ccedil;&atilde;o de Inscri&ccedil;&atilde;o Estadual</span></span></span></li>
	<li style="text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">Nome Fantasia</span></span></span></li>
	<li style="text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">DDD + telefone</span></span></span></li>
	<li style="text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">Endere&ccedil;o Completo principal (Endere&ccedil;o + N&ordm; + Bairro + Cidade + UF + CEP)</span></span></span></li>
	<li style="text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">Endere&ccedil;o Completo cobran&ccedil;a (Endere&ccedil;o + N&ordm; + Bairro + Cidade + UF + CEP)</span></span></span></li>
	<li style="text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">Endere&ccedil;o Completo entrega (Endere&ccedil;o + N&ordm; + Bairro + Cidade + UF + CEP)</span></span></span></li>
</ul>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify">&nbsp;</p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><strong><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">No WorkMotor &eacute; poss&iacute;vel realizar as principais emiss&otilde;es:</span></span></span></strong></p>

<ul>
	<li style="text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">Nota de Devolu&ccedil;&atilde;o: tanto devolu&ccedil;&atilde;o de entrada (cliente devolve para a loja) e devolu&ccedil;&atilde;o de sa&iacute;da (loja devolve para o fornecedor). </span></span></span></li>
	<li style="text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">Nota Complementar: utilizado para complementar impostos, valores e quantidades.</span></span></span></li>
	<li style="text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">Nota de Ajuste: ajustar o total de impostos emitidos no m&ecirc;s.</span></span></span></li>
	<li style="text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">Carta de Corre&ccedil;&atilde;o: utilizada para corrigir informa&ccedil;&otilde;es de uma nota j&aacute; emitida, vale ressaltar que n&atilde;o s&atilde;o todas as informa&ccedil;&otilde;es que podem ser corrigidas.</span></span></span></li>
</ul>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><strong><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><u><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">O que pode ser corrigido pela Carta de Corre&ccedil;&atilde;o:</span></u></span></span></strong></p>

<ul>
	<li style="text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">Natureza de Opera&ccedil;&atilde;o (CFOP) desde que n&atilde;o mude a natureza dos impostos</span></span></span></li>
	<li style="text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">C&oacute;digos Fiscais &ndash; C&oacute;digo de Situa&ccedil;&atilde;o Tribut&aacute;ria (desde que n&atilde;o altere valores fiscais)</span></span></span></li>
	<li style="text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">Data da Emiss&atilde;o ou de Sa&iacute;da (desde que n&atilde;o altere o per&iacute;odo de apura&ccedil;&atilde;o do ICMS)</span></span></span></li>
	<li style="text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">Peso, volume, acondicionamento, etc.</span></span></span></li>
	<li style="text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">Dados do Transportador</span></span></span></li>
	<li style="text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">Endere&ccedil;o do Destinat&aacute;rio (Desde que n&atilde;o altere na sua totalidade)</span></span></span></li>
	<li style="text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">Raz&atilde;o Social do Destinat&aacute;rio (Desde que n&atilde;o altere por completo)</span></span></span></li>
	<li style="text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">Omiss&atilde;o ou erro na fundamenta&ccedil;&atilde;o legal que amparou a sa&iacute;da com algum benef&iacute;cio fiscal, ou opera&ccedil;&atilde;o que contemple a sua necessidade (Dados Adicionais)</span></span></span></li>
</ul>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><strong><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><u><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">O que N&Atilde;O pode ser corrigido pela Carta de Corre&ccedil;&atilde;o:</span></u></span></span></strong></p>

<ul>
	<li style="text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">Data de emiss&atilde;o, quando esta alterar o per&iacute;odo de apura&ccedil;&atilde;o do ICMS</span></span></span></li>
	<li style="text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">Valores Fiscais</span></span></span></li>
	<li style="text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">Destaque de Impostos</span></span></span></li>
	<li style="text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">Descri&ccedil;&atilde;o da mercadoria que altere a al&iacute;quota do imposto</span></span></span></li>
	<li style="text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">Mudan&ccedil;a completa do nome do Emitente ou Destinat&aacute;rio</span></span></span></li>
	<li style="text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">Qualquer outra altera&ccedil;&atilde;o de dados que modifiquem o total da Nota ou o valor do Imposto</span></span></span></li>
	<li style="text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">Quaisquer outros dados que alterem o c&aacute;lculo ou a opera&ccedil;&atilde;o do imposto.</span></span></span></li>
	<li style="text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">Estes dados podem ser consultados na legisla&ccedil;&atilde;o no: AJUSTE SINIEF 01, DE 30 DE MAR&Ccedil;O DE 2007</span></span></span></li>
</ul>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">A impress&atilde;o da Carta de Corre&ccedil;&atilde;o &eacute; realizada atrav&eacute;s do Portal da Nota Fiscal:</span></span></span></p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><u><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;"><a href="http://www.nfe.fazenda.gov.br/portal/principal.aspx" target="_blank">http://www.nfe.fazenda.gov.br/portal/principal.aspx</a></span></span></span></u></p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">Em caso de d&uacute;vida consulte sua Contabilidade.</span></span></span></p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><strong><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">Observa&ccedil;&atilde;o</span></strong><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">: &Eacute; poss&iacute;vel cancelar uma Nota de acordo com o prazo de <u>at&eacute; 24h</u> da emiss&atilde;o.</span></span></span></p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><strong><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">IMPORTANTE</span></strong><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">: N&atilde;o utilizar NF-e ou qualquer outro documento fiscal caracteriza sonega&ccedil;&atilde;o fiscal.</span></span></span></p>

<p style="margin-left:0cm; margin-right:0cm">&nbsp;</p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">Acompanhe nossos conte&uacute;dos.</span></span></span></p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><strong><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">Contamos com Voc&ecirc;!</span></strong></span></span></p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify">&nbsp;</p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><strong><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">FONTE(S):</span></strong></span></span></p>

<ul>
	<li><u><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;"><a href="https://www.nibo.com.br/">Nibo</a></span></span></span></u></li>
	<li><u><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;"><a href="https://www.significados.com.br/danfe/">Significados</a></span></span></span></u></li>
</ul>
