<p>&nbsp;</p>

<p><img alt="" height="200" src="http://wgtreina.com.br/wiki/images/f/fc/Banner_18_jul.png" width="1000" /></p>

<hr />
<p>&nbsp;</p>

<p>Disponibilizamos mais um v&iacute;deo do quadro <u><strong><a href="https://www.youtube.com/playlist?list=PL3SRuzDU_vgWivVH8X0hN1JJX3B-MiCAl" target="_blank"><span style="color:#2980b9">&ldquo;Ser&aacute; que?&rdquo;</span></a></strong></u> no nosso canal no YouTube.<br />
<u><strong><a href="https://www.youtube.com/watch?v=h6LeDb3SoS4" target="_blank"><span style="color:#2980b9">Nesse v&iacute;deo</span></a></strong></u> falaremos sobre Cancelamento extempor&acirc;neo, conhe&ccedil;a suas caracter&iacute;sticas!</p>

<p>&nbsp;</p>

<p><a href="https://www.youtube.com/watch?v=h6LeDb3SoS4" target="_blank"><img alt="" height="198" src="http://wgtreina.com.br/wiki/images/1/19/SER%C3%81_QUE_8.png" style="float:left" width="350" /></a></p>

<p style="margin-left:360px; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Emiss&atilde;o de NF-e &ndash; Nota Fiscal Eletr&ocirc;nica &eacute; uma das obriga&ccedil;&otilde;es legais que faz parte da maioria das empresas. </span></span></p>

<p style="margin-left:360px; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Existem v&aacute;rias situa&ccedil;&otilde;es que podem levar ao cancelamento de uma Nota Fiscal emitida e autorizada para uso, por exemplo: erro de digita&ccedil;&atilde;o, cliente errado, altera&ccedil;&atilde;o de endere&ccedil;o do cliente, descri&ccedil;&atilde;o do produto errada, falta da mercadoria, desist&ecirc;ncia do cliente e entre outras. Esses erros invalidam a nota emitida sendo necess&aacute;rio realizar o cancelamento dentro de 24 horas da emiss&atilde;o trav&eacute;s do software que fez a emiss&atilde;o. (Este prazo de at&eacute; 24 horas da emiss&atilde;o foi determinado para evitar o cancelamento de Notas Fiscais Eletr&ocirc;nicas ap&oacute;s a circula&ccedil;&atilde;o de mercadorias.)</span></span></p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><strong><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Mas, quando o prazo j&aacute; excedeu as 24 horas, o que fazer?</span></span></strong></p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Dependendo da situa&ccedil;&atilde;o da Nota Fiscal Eletr&ocirc;nica e da causa do erro existem outras op&ccedil;&otilde;es al&eacute;m do cancelamento:</span></span></p>

<ul>
	<li style="text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><u>Nota de Devolu&ccedil;&atilde;o:</u> pode ser realizada a emiss&atilde;o de uma nota de devolu&ccedil;&atilde;o, que devolve uma parte ou total dos itens adquiridos;</span></span></li>
	<li style="text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><u>Carta de Corre&ccedil;&atilde;o:</u> permite corrigir algumas informa&ccedil;&otilde;es, desde que n&atilde;o altere valores;</span></span></li>
	<li style="text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><u>Nota Complementar:</u> complementa quantidade, valores e impostos que n&atilde;o tenham sido informados na nota enviada. &nbsp;</span></span></li>
</ul>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Para definir qual a melhor op&ccedil;&atilde;o sempre consulte sua Contabilidade. No entanto, se a necessidade for realmente o cancelamento ainda existe uma alternativa: Muitos empres&aacute;rios acreditam que n&atilde;o o h&aacute; o que fazer nos casos em que exceda o prazo regulamentado de 24 horas, por&eacute;m, muitos estados oferecem a possibilidade do <strong>cancelamento <sup>1</sup>extempor&acirc;neo</strong> mediante algumas regras para que o cancelamento seja poss&iacute;vel:</span></span></p>

<ul>
	<li style="text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">O Fisco precisa autorizar a emiss&atilde;o do evento;</span></span></li>
	<li style="text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">A mercadoria n&atilde;o pode ter sa&iacute;do do estabelecimento;</span></span></li>
	<li style="text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">O destinat&aacute;rio n&atilde;o pode ter feito a Ci&ecirc;ncia da Emiss&atilde;o.</span></span></li>
</ul>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">A Ci&ecirc;ncia da Emiss&atilde;o identifica que o destinat&aacute;rio da opera&ccedil;&atilde;o, constante na NF-e, tem conhecimento da emiss&atilde;o do documento. A mesma registra a obten&ccedil;&atilde;o do arquivo XML permitindo que ap&oacute;s o registro o destinat&aacute;rio possa realizar o download do arquivo.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><strong>O que &eacute; o cancelamento extempor&acirc;neo?</strong></span></span></p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">O cancelamento extempor&acirc;neo &eacute; um recurso que a SEFAZ do estado oferece para o contribuinte que precisa cancelar uma nota fiscal fora do prazo de 24 horas previsto em lei.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><strong>Como efetuo um cancelamento extempor&acirc;neo?</strong></span></span></p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Para realizar esse cancelamento o contribuinte deve entrar em contato com a SEFAZ do seu estado requerendo o cancelamento da NF-e. Este contato normalmente &eacute; feito pela sua contabilidade, mas pode ser feito tamb&eacute;m por voc&ecirc; mesmo.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Ap&oacute;s a SEFAZ&nbsp;analisar o processo e autorizar o cancelamento da NF-e &eacute; liberado um novo prazo para realiza&ccedil;&atilde;o do cancelamento e para concluir essa etapa de regulariza&ccedil;&atilde;o &eacute; necess&aacute;rio realizar o cancelamento atrav&eacute;s do mesmo software em que as notas foram emitidas.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">O prazo e regras para solicitar o cancelamento extempor&acirc;neo tem varia&ccedil;&atilde;o de acordo com o estado, por exemplo, no estado de S&atilde;o Paulo &eacute; de at&eacute; 480 horas ap&oacute;s a emiss&atilde;o. O pedido deve ser acompanhado de:</span></span></p>

<ul>
	<li style="text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Chave de acesso da NF-e que ser&aacute; cancelada extemporaneamente;</span></span></li>
	<li style="text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Folha do livro de Registros de Sa&iacute;das e/ou Entradas;</span></span></li>
	<li style="text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Comprovante de que a opera&ccedil;&atilde;o n&atilde;o ocorreu, atrav&eacute;s de declara&ccedil;&atilde;o firmada entre destinat&aacute;rio/remetente, se tratando de pedido que envolva estados diferentes &eacute; necess&aacute;rio que apresente c&oacute;pia de correspond&ecirc;ncia entregue pelo destinat&aacute;rio &agrave; reparti&ccedil;&atilde;o fiscal do seu domic&iacute;lio, em que declara que n&atilde;o utilizou como cr&eacute;dito, ou que estornou os produtos constantes na Nota Fiscal.</span></span></li>
</ul>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Vale ressaltar que a solicita&ccedil;&atilde;o de cancelamento extempor&acirc;neo pode ocasionar cobran&ccedil;a de multa por parte da SEFAZ com regra v&aacute;lida para todo o pa&iacute;s sendo que o valor tem varia&ccedil;&atilde;o de acordo com estado praticando-se normalmente o percentual de 1,5% do valor da nota fiscal que ser&aacute; cancelada.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><strong>Dicas para evitar o cancelamento extempor&acirc;neo:</strong></span></span></p>

<ol>
	<li style="text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Para que n&atilde;o seja preciso pagar multa para realizar o cancelamento de uma nota &eacute; preciso ficar atento na emiss&atilde;o de suas NF-e&rsquo;s para que n&atilde;o haja erros no processo. Verifique mais de uma vez os dados lan&ccedil;ados antes de confirmar o envio;</span></span></li>
	<li style="text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">O cancelamento &eacute; um processo que deve ser feito apenas quando necess&aacute;rio e n&atilde;o havendo a possibilidade de reverter o erro com outro recurso;</span></span></li>
	<li style="text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Ao identificar um erro em uma nota emitida n&atilde;o perca tempo: verifique com sua contabilidade qual a&ccedil;&atilde;o deve ser feita e no caso de ter constatado a necessidade do cancelamento, o fa&ccedil;a de imediato;</span></span></li>
	<li style="text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Cumprir com o prazo correto &eacute; de extrema import&acirc;ncia, pois, por mais que haja a solu&ccedil;&atilde;o do cancelamento fora do prazo tamb&eacute;m h&aacute; custos extras em decorr&ecirc;ncia disso.</span></span></li>
</ol>

<p style="margin-left:36pt; margin-right:0cm; text-align:justify">&nbsp;</p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Alguns estados s&atilde;o mais rigorosos quanto &agrave; cancelamento de Nota Fiscal Eletr&ocirc;nica, por isso, &eacute; importante saber os prazos e legisla&ccedil;&otilde;es de seu estado para poder dar seguimento ao processo.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Tenha sempre o acompanhamento cont&aacute;bil para sua empresa,&nbsp;para que todas as quest&otilde;es fiscais sejam resolvidas de forma correta e n&atilde;o traga problemas futuros. </span></span></p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">&Eacute; essencial que tenha um software para realizar as emiss&otilde;es, o WorkMotor &eacute; um emissor de NF-e qualificado que facilita no momento da emiss&atilde;o ou do cancelamento, o software est&aacute; apto e dentro da legisla&ccedil;&atilde;o para que realize o envio de suas Notas Fiscais.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><u><strong><a href="https://www.youtube.com/watch?v=CsPRI3CPNF8&amp;feature=youtu.be&amp;list=PL3SRuzDU_vgVK071Sl-k54ce3Gc6_92Md" target="_blank"><span style="color:#2980b9">Neste link</span></a></strong></u> h&aacute; um v&iacute;deo de passo a passo de como efetuar a emiss&atilde;o de notas fiscais no&nbsp;WorkMotor com os principais dados para evitar problemas de preenchimento bem com uma <u><strong><a href="https://www.youtube.com/watch?v=rKYCeY9rWgc&amp;t=1s" target="_blank"><span style="color:#2980b9">verifica&ccedil;&atilde;o no cadastro</span></a></strong></u> de clientes e produtos que s&atilde;o as premissas para uma Nota Fiscal Eletr&ocirc;nica sem transtornos.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify">&nbsp;</p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><sup>1 </sup>EXTEMPOR&Acirc;NEO. Que ocorre fora do tempo desej&aacute;vel; ser&ocirc;dio. Dicion&aacute;rio online do Michaelis. 12 jun. 2018. Dispon&iacute;vel em &lt;https://michaelis.uol.com.br/&gt;.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify">&nbsp;</p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><strong><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">FONTE:</span></span></strong></p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><a href="https://portal.fazenda.sp.gov.br/servicos/nfe/Paginas/perguntas-frequentes.aspx">https://portal.fazenda.sp.gov.br/servicos/nfe/Paginas/perguntas-frequentes.aspx</a></span></span></p>

<p>&nbsp;&nbsp;</p>
