<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><img alt="" height="200" src="http://wgtreina.com.br/wiki/images/1/16/Banner_27_06.jpg" width="1000" /></p>

<hr />
<p style="margin-left:0cm; margin-right:0cm; text-align:justify">&nbsp;</p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">Disponibilizamos mais um v&iacute;deo do quadro <u><strong><span style="color:#3498db">&ldquo;</span><a href="https://www.youtube.com/playlist?list=PL3SRuzDU_vgWivVH8X0hN1JJX3B-MiCAl" target="_blank"><span style="color:#3498db">Ser&aacute; que?</span></a><span style="color:#3498db">&rdquo;</span></strong></u><span style="color:#3498db"> </span>no nosso canal no YouTube.</span></span></span></p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;"><u><strong><a href="https://www.youtube.com/watch?v=xpXsgFYw2v0&amp;list=PL3SRuzDU_vgWivVH8X0hN1JJX3B-MiCAl&amp;index=8&amp;t=0s" target="_blank"><span style="color:#3498db">Nesse v&iacute;deo</span></a></strong></u> falaremos sobre <strong>Importa&ccedil;&atilde;o de XML</strong> no WorkMotor.</span></span></span></p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify">&nbsp;</p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;"><a href="https://www.youtube.com/watch?v=xpXsgFYw2v0&amp;list=PL3SRuzDU_vgWivVH8X0hN1JJX3B-MiCAl&amp;index=8&amp;t=0s" target="_blank"><img alt="" height="197" src="http://wgtreina.com.br/wiki/images/2/2b/V%C3%ADdeo.png" style="float:left" width="350" /></a></span></span></span></p>

<p style="margin-left:360px; margin-right:0cm; text-align:justify">&nbsp;</p>

<p style="margin-left:360px; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">O respons&aacute;vel pelo processo de entrada de mercadorias, sabe o quanto pode ser trabalhoso organizar a documenta&ccedil;&atilde;o e registrar as compras recebidas. </span></span></span></p>

<p style="margin-left:360px; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">Registrar esse processo em um software pode ser t&atilde;o trabalhoso quanto gerenciar todo o processo manualmente, j&aacute; que no sistema devem conter todos os dados exatamente como constam nas Notas Fiscais eletr&ocirc;nicas.</span></span></span></p>

<p style="margin-left:360px; margin-right:0cm">&nbsp;</p>

<p style="margin-left:360px; margin-right:0cm">&nbsp;</p>

<p style="margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">O objetivo de um software de gest&atilde;o, &eacute; auxiliar em todos os processos, para que tenha mais agilidade. </span></span></span></p>

<p style="margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">Se tratando de Nota Fiscal eletr&ocirc;nica de Compras, o WorkMotor conta com o recurso de Importa&ccedil;&atilde;o de XML. </span></span></span></p>

<p style="margin-right:0cm">&nbsp;</p>

<p style="margin-left:0cm; margin-right:0cm"><img alt="" height="298" src="http://wgtreina.com.br/wiki/images/f/f2/Xml1.png" style="float:right" width="500" /></p>

<p style="margin-left:160px; margin-right:0cm; text-align:right">&nbsp;</p>

<p style="margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">Mas, afinal o que &eacute; XML da NF-e?</span></span></span></p>

<p style="margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">XML - e<strong>X</strong>tensible <strong>M</strong>arkup <strong>L</strong>anguage: &eacute; o arquivo digital da nota fiscal eletr&ocirc;nica, que corresponde ao </span><u><strong><a href="http://www.nfe.fazenda.gov.br/portal/listaConteudo.aspx?tipoConteudo=/fwLvLUSmU8=" target="_blank"><span style="font-size:12.0pt">padr&atilde;o nacional</span></a></strong></u><span style="font-size:12.0pt"><u> </u>de escritura&ccedil;&atilde;o fiscal, por isso, &eacute; v&aacute;lida em todo territ&oacute;rio nacional.</span></span></span></p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">Surgiu com a cria&ccedil;&atilde;o do </span><u><strong><a href="http://sped.rfb.gov.br/pagina/show/964" target="_blank"><span style="font-size:12.0pt">SPED</span></a></strong></u><span style="font-size:12.0pt"> que deu in&iacute;cio a Nota Fiscal eletr&ocirc;nica, para atender a legisla&ccedil;&atilde;o &eacute; necess&aacute;rio que qualquer circula&ccedil;&atilde;o de mercadoria seja feita com registro na Nota Fiscal eletr&ocirc;nica, portanto para cada NF-e deve se ter um XML.</span></span></span></p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify">&nbsp;</p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">Quando &eacute; realizada uma compra, normalmente a empresa fornecedora envia atrav&eacute;s de e-mail os formatos em PDF (DANFE - Documento Auxiliar da Nota Fiscal Eletr&ocirc;nica) e em XML.</span></span></span></p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">Exemplo:</span></span></span></p>

<p style="text-align:center"><img alt="" height="47" src="http://wgtreina.com.br/wiki/images/d/de/Xml2.png" width="616" /></p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">De acordo com a </span><strong><u><a href="https://www.confaz.fazenda.gov.br/legislacao/ajustes/2005/AJ_011_05_007_05" target="_blank"><span style="font-size:12.0pt"><span style="background-color:#f4f4f4">clausula s&eacute;tima do &sect; 7&ordm; do Ajuste SINIEF 07/05</span></span></a></u><span style="font-size:12.0pt"><span style="background-color:#f4f4f4"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;"><span style="color:#2f455a">, </span></span></span></span></strong><span style="font-size:12.0pt">o arquivo de XML deve ser encaminhado ou disponibilizado para download. Caso n&atilde;o receba, basta solicitar diretamente a empresa fornecedora.</span></span></span></p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">A contabilidade necessita desse documento para realizar as obriga&ccedil;&otilde;es legais de sua empresa, para ela conseguir ler o arquivo e identificar as informa&ccedil;&otilde;es da NF-e, &eacute; necess&aacute;rio que tenha um programa espec&iacute;fico para ler o XML.</span></span></span></p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">Dentro do arquivo constam informa&ccedil;&otilde;es importantes para serem avaliadas e utilizadas, como por exemplo, informa&ccedil;&otilde;es como base de c&aacute;lculo, valores de fretes, seguro, PIS, IPI e Cofins.</span></span></span></p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">Os arquivos precisam ser guardados por 5 anos, tanto pelo fornecedor quanto pelo comprador, isso &eacute; necess&aacute;rio para garantia em casos de troca de produtos ou servi&ccedil;os e tamb&eacute;m para o caso de uma fiscaliza&ccedil;&atilde;o da Receita Federal. Apesar do conhecimento da Receita sobre todas as notas emitidas, ela deixa claro que &eacute; de responsabilidade dos envolvidos na transa&ccedil;&atilde;o o armazenamento dos arquivos. O n&atilde;o armazenamento pode acarretar multas.</span></span></span></p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><u><span style="font-size:12.0pt">Dicas de armazenamento:</span></u></span></span></p>

<ul>
	<li style="text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-size:12.0pt">Crie pastas com nomes diferentes para identificar os per&iacute;odos de emiss&atilde;o;</span></span></span></li>
</ul>

<p style="text-align:center"><img alt="" height="160" src="http://wgtreina.com.br/wiki/images/1/17/Pasta2_xml.png" width="114" /></p>

<ul>
	<li style="text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-size:12.0pt">Mantenha um backup externo, para garantia&nbsp;em casos de problemas com o computador.</span></span></span></li>
</ul>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">Para utiliza&ccedil;&atilde;o no software, o arquivo em formato de XML n&atilde;o necessita ser impresso e nem aberto, apenas importado.</span></span></span></p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><u><span style="font-size:12.0pt">Benef&iacute;cios do XML:</span></u></span></span></p>

<ul>
	<li><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-size:12.0pt">Integra&ccedil;&atilde;o das informa&ccedil;&otilde;es;</span></span></span></li>
	<li><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-size:12.0pt">Diminui&ccedil;&atilde;o de custo com as informa&ccedil;&otilde;es fiscais;</span></span></span></li>
	<li><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-size:12.0pt">Agilidade no processo de emiss&atilde;o e processamento das informa&ccedil;&otilde;es.</span></span></span></li>
</ul>

<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">No WorkMotor &eacute; poss&iacute;vel realizar a entrada manual da Nota Fiscal e tamb&eacute;m a Importa&ccedil;&atilde;o de XML.</span></span></span></p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">No caso da Importa&ccedil;&atilde;o, o software faz a leitura do arquivo e registra as informa&ccedil;&otilde;es na tela de Compras automaticamente, garantindo um processo de entrada de mercadorias mais r&aacute;pido e simples. </span></span></span></p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">Atrav&eacute;s da Importa&ccedil;&atilde;o de XML no WorkMotor, tamb&eacute;m &eacute; poss&iacute;vel realizar o cadastro de um novo fornecedor, atualizar as informa&ccedil;&otilde;es de um cadastro j&aacute; existente e cadastrar novos produtos.</span></span></span></p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">Quando &eacute; realizada a entrada manual &eacute; necess&aacute;rio que preencha a chave de acesso da nota, j&aacute; na importa&ccedil;&atilde;o a chave &eacute; identificada automaticamente.</span></span></span></p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">Tem alguma d&uacute;vida sobre algum processo ou sempre se perguntou se tem outra forma de fazer algo?</span></span></span></p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">&nbsp;Aproveite o espa&ccedil;o do quadro e mande sua sugest&atilde;o/d&uacute;vida.</span></span></span></p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><strong><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">Contamos com Voc&ecirc;!</span></strong></span></span></p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><strong><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">FONTE:</span></strong></span></span></p>

<ul>
	<li style="text-align:justify"><u><strong><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;"><a href="http://enotas.com.br/blog/o-que-e-arquivo-xml-da-nfe/" target="_blank">Enotas</a></span></span></span></strong></u></li>
</ul>
