<p><img alt="" height="200" src="http://wgtreina.com.br/wiki/images/c/c4/Banner_fiscal.png" style="float:left" width="1000" /></p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<hr />
<p style="text-align:justify"><span style="font-size:16px"><span style="font-family:Calibri,sans-serif">Disponibilizamos mais um v&iacute;deo do quadro &ldquo;<u><em><a href="https://www.youtube.com/watch?v=BFRcsaATnY0&amp;list=PL3SRuzDU_vgWivVH8X0hN1JJX3B-MiCAl" target="_blank"><span style="color:#3498db">Ser&aacute; que?</span></a></em></u>&rdquo; no nosso canal no <u><a href="https://www.youtube.com/c/workgroup" target="_blank"><span style="color:#3498db">YouTube</span></a></u>.&nbsp;</span></span></p>

<p style="text-align:justify"><span style="font-size:16px"><span style="font-family:Calibri,sans-serif"><u><a href="https://www.youtube.com/watch?v=p106_htjgus" target="_blank"><span style="color:#3498db">Nesse v&iacute;deo</span></a></u> falaremos sobre SPED, conhe&ccedil;a suas caracter&iacute;sticas.</span></span></p>

<p style="text-align:justify">&nbsp;</p>

<p style="text-align:justify"><a href="https://www.youtube.com/watch?v=p106_htjgus" target="_blank"><img alt="" height="197" src="https://i.ytimg.com/vi/p106_htjgus/maxresdefault.jpg" style="float:left" width="350" /></a></p>

<p style="margin-left:360px; text-align:justify"><span style="font-size:16px"><span style="font-family:Calibri,sans-serif">O <u><a href="http://sped.rfb.gov.br/" target="_blank"><span style="color:#3498db">SPED</span></a></u> &ndash; <strong>Sistema P&uacute;blico de Escritura&ccedil;&atilde;o Digital</strong>, surgiu a partir da necessidade de maior integra&ccedil;&atilde;o administrativa, padroniza&ccedil;&atilde;o, melhor qualidade das informa&ccedil;&otilde;es e cruzamento de informa&ccedil;&otilde;es em larga escala envolvendo as esferas federal, estadual e municipal.&nbsp;<br />
Institu&iacute;do desde Janeiro/2017 pelo <u><a href="http://www.planalto.gov.br/ccivil_03/_Ato2007-2010/2007/Decreto/D6022.htm" target="_blank"><span style="color:#3498db">Decreto n&ordm; 6.022</span></a></u>, o SPED faz parte do Programa de Acelera&ccedil;&atilde;o do Crescimento do Governo Federal.&nbsp;<br />
Consiste na moderniza&ccedil;&atilde;o de como realizar o cumprimento das obriga&ccedil;&otilde;es acess&oacute;rias, transmitida pelos contribuintes aos &oacute;rg&atilde;os fiscalizadores, por meio de documento eletr&ocirc;nico com validade jur&iacute;dica, ou seja, assinada por um certificado digital.</span></span></p>

<p style="margin-left:360px; text-align:justify">&nbsp;</p>

<p style="text-align:justify">&nbsp;</p>

<p style="text-align:justify"><strong><span style="font-size:16px"><span style="font-family:Calibri,sans-serif">Objetivos</span></span></strong></p>

<ul>
	<li style="text-align:justify"><span style="font-size:16px"><span style="font-family:Calibri,sans-serif">Proporcionar a integra&ccedil;&atilde;o dos fiscos atrav&eacute;s da padroniza&ccedil;&atilde;o das informa&ccedil;&otilde;es;</span></span></li>
	<li style="text-align:justify"><span style="font-size:16px"><span style="font-family:Calibri,sans-serif">Uniformizar as obriga&ccedil;&otilde;es acess&oacute;rias para os contribuintes, a partir da transmiss&atilde;o &uacute;nica de distintas obriga&ccedil;&otilde;es acess&oacute;rias de diferentes &oacute;rg&atilde;os;</span></span></li>
	<li style="text-align:justify"><span style="font-size:16px"><span style="font-family:Calibri,sans-serif">Tornar mais r&aacute;pida a identifica&ccedil;&atilde;o de il&iacute;citos tribut&aacute;rios, a partir do cruzamento de dados, a audit&oacute;ria eletr&ocirc;nica se torna mais eficaz.&nbsp;</span></span></li>
</ul>

<p style="text-align:justify">&nbsp;</p>

<p style="text-align:justify"><strong><span style="font-size:16px"><span style="font-family:Calibri,sans-serif">Benef&iacute;cios</span></span></strong></p>

<ul>
	<li style="text-align:justify"><span style="font-size:16px"><span style="font-family:Calibri,sans-serif">Redu&ccedil;&atilde;o de custo com papel e com armazenamento de informa&ccedil;&otilde;es;</span></span></li>
	<li style="text-align:justify"><span style="font-size:16px"><span style="font-family:Calibri,sans-serif">Redu&ccedil;&atilde;o de custo com a simplifica&ccedil;&atilde;o das obriga&ccedil;&otilde;es acess&oacute;rias;</span></span></li>
	<li style="text-align:justify"><span style="font-size:16px"><span style="font-family:Calibri,sans-serif">Padroniza&ccedil;&atilde;o das informa&ccedil;&otilde;es que o contribuinte envia para as esferas governamentais;</span></span></li>
	<li style="text-align:justify"><span style="font-size:16px"><span style="font-family:Calibri,sans-serif">Redu&ccedil;&atilde;o de pr&aacute;ticas fraudulentas;</span></span></li>
	<li style="text-align:justify"><span style="font-size:16px"><span style="font-family:Calibri,sans-serif">Rapidez no acesso &agrave;s informa&ccedil;&otilde;es;</span></span></li>
	<li style="text-align:justify"><span style="font-size:16px"><span style="font-family:Calibri,sans-serif">Aumento da produtividade do auditor;</span></span></li>
	<li style="text-align:justify"><span style="font-size:16px"><span style="font-family:Calibri,sans-serif">Cruzamento dos dados fiscais e cont&aacute;beis.</span></span></li>
</ul>

<p style="text-align:justify"><br />
<span style="font-size:16px"><span style="font-family:Calibri,sans-serif">Grande parte dos contribuintes j&aacute; utilizam recursos de inform&aacute;tica para efetuar tanto a escritura&ccedil;&atilde;o fiscal quanto a cont&aacute;bil.&nbsp;</span></span></p>

<p style="text-align:justify"><br />
<span style="font-size:16px"><span style="font-family:Calibri,sans-serif">Atrav&eacute;s do software &eacute; poss&iacute;vel gerar os seguintes arquivos:&nbsp;<br />
<strong>EFD ICMS</strong> &ndash; Escritura&ccedil;&atilde;o Fiscal Digital ICMS, &eacute; um arquivo digital, que cont&eacute;m um conjunto de escritura&ccedil;&otilde;es e registro de apura&ccedil;&atilde;o de imposto de interesse dos Fiscos da unidades federadas e da Secret&aacute;ria da Receita Federal do Brasil. O arquivo precisa ser assinado digitalmente e transmitido ao ambiente SPED. &nbsp;A legisla&ccedil;&atilde;o geral encontra-se no endere&ccedil;o: <u><a href="http://sped.rfb.gov.br/pastalegislacao/show/518" target="_blank"><span style="color:#3498db">http://sped.rfb.gov.br/pastalegislacao/show/518</span></a></u>. A legisla&ccedil;&atilde;o espec&iacute;fica de cada estado deve ser consultada no site da Secretaria de Fazenda do domic&iacute;lio do contribuinte.&nbsp;<br />
<br />
<strong>EFD Contribui&ccedil;&otilde;es </strong>&ndash; Escritura&ccedil;&atilde;o Fiscal Digital Contribui&ccedil;&otilde;es, trata-se de um arquivo digital a ser utilizado pelas pessoas jur&iacute;dicas de direito privado na escritura&ccedil;&atilde;o da contribui&ccedil;&atilde;o para o PIS/Pasep e da Cofins, nos regimes de apura&ccedil;&atilde;o n&atilde;o-cumulativos e/ou cumulativos. A partir da <u><a href="http://www.planalto.gov.br/ccivil_03/_ato2011-2014/2011/lei/l12546.htm" target="_blank">lei 12.546/2011</a></u>, a EFD Contribui&ccedil;&otilde;es passou a contemplar a escritura&ccedil;&atilde;o digital da Contribui&ccedil;&atilde;o Previdenci&aacute;ria sobre a Recita Bruta para alguns setores e atividades. O arquivo precisa passar por um validador antes de ser enviado ao ambiente Sped, necess&aacute;rio tamb&eacute;m que seja assinado digitalmente.&nbsp;<br />
A periodicidade de apresenta&ccedil;&atilde;o dos arquivos deve ser verificado com a contabilidade.</span></span></p>

<p style="text-align:justify"><br />
<span style="font-size:16px"><span style="font-family:Calibri,sans-serif"><u>Programa Validador</u></span></span></p>

<p style="text-align:justify"><span style="font-size:16px"><span style="font-family:Calibri,sans-serif">Programa respons&aacute;vel por analisar o arquivo gerado, para identificar poss&iacute;veis erros, permitindo que o contribuinte corrija os erros antes de enviar o arquivo para o ambiente Sped.</span></span></p>

<p style="text-align:justify">&nbsp;</p>

<p style="text-align:justify"><span style="font-size:16px"><span style="font-family:Calibri,sans-serif"><strong>Dicas para prevenir erros</strong>:&nbsp;</span></span></p>

<ul>
	<li style="text-align:justify"><span style="font-size:16px"><span style="font-family:Calibri,sans-serif">Realize corretamente as entradas de notas fiscais, identificando CFOP (C&oacute;digo Fiscal de Opera&ccedil;&otilde;es e Presta&ccedil;&otilde;es) correspondente e demais informa&ccedil;&otilde;es conforme nota recebida;</span></span></li>
	<li style="text-align:justify"><span style="font-size:16px"><span style="font-family:Calibri,sans-serif">Mantenha os cadastros dos clientes/fornecedores preenchidos com informa&ccedil;&otilde;es corretas;</span></span></li>
	<li style="text-align:justify"><span style="font-size:16px"><span style="font-family:Calibri,sans-serif">Identifique corretamente os clientes nas vendas para a realiza&ccedil;&atilde;o da emiss&atilde;o da Nota Fiscal.&nbsp;</span></span></li>
</ul>

<p style="text-align:justify">&nbsp;</p>

<p style="text-align:justify"><span style="font-size:16px"><span style="font-family:Calibri,sans-serif">Tem alguma d&uacute;vida sobre algum processo ou sempre se perguntou se tem outra forma de fazer algo?&nbsp;<br />
Aproveite o espa&ccedil;o do quadro e mande sua sugest&atilde;o/d&uacute;vida.&nbsp;</span></span></p>

<p style="text-align:justify"><span style="font-size:16px"><span style="font-family:Calibri,sans-serif">Contamos com Voc&ecirc;!&nbsp;</span></span></p>

<p style="text-align:justify"><span style="font-size:16px"><span style="font-family:Calibri,sans-serif">Link do canal: <u><a href="https://www.youtube.com/c/workgroup" target="_blank"><span style="color:#3498db">https://www.youtube.com/c/workgroup</span></a></u></span></span></p>

<p style="text-align:justify">&nbsp;</p>

<p style="text-align:justify"><span style="font-size:16px"><span style="font-family:Calibri,sans-serif">FONTE: <u><a href="http://sped.rfb.gov.br/" target="_blank"><span style="color:#3498db">SPED</span></a></u></span></span></p>
