<p><span style="font-size:18px"><strong><span style="font-family:&quot;Calibri&quot;,sans-serif">Servi&ccedil;os e pe&ccedil;as para pneus, suspens&atilde;o e freios</span></strong></span></p>

<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Os pneus, a suspens&atilde;o e os freios s&atilde;o os pilares da seguran&ccedil;a do seu ve&iacute;culo. S&atilde;o componentes usados com frequ&ecirc;ncia que perdem a qualidade com o tempo, por conta do desgaste natural provocado pelo uso.</span></span></p>

<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Os pneus gastos podem causar acidentes por escorregarem na pista, principalmente em um asfalto molhado. Os freios, por sua vez, perdem a capacidade de resposta r&aacute;pida.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Consequentemente, voc&ecirc; vai demorar para reduzir a velocidade e parar, o que pode causar um acidente.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Por fim, a suspens&atilde;o &eacute; respons&aacute;vel por amortecer as irregularidades dos terrenos sobre os quais voc&ecirc; vai dirigir.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Se essa parte n&atilde;o estiver em dia, voc&ecirc; vai notar trepida&ccedil;&otilde;es, trancos, impactos secos, desestabilidade e ter&aacute; maiores riscos de se envolver em um acidente.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Estes itens s&atilde;o os pilares da seguran&ccedil;a do seu ve&iacute;culo.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><strong><span style="font-size:18px"><span style="font-family:Calibri,sans-serif">Como checar estado de conserva&ccedil;&atilde;o dos pneus?</span></span></strong></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Os pneus v&ecirc;m com indicadores de desgaste de f&aacute;brica. O principal deles &eacute; o TWI (Tread Wear Indicator). Trata-se de uma sali&ecirc;ncia de borracha que fica dentro dos sulcos do pneu.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Para localizar o marcador, basta procurar a sigla TWI ou o desenho de um tri&acirc;ngulo. Quanto menor a profundidade dos tra&ccedil;os, maior o desgaste da borracha do pneu.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Al&eacute;m disso, os pneus tamb&eacute;m t&ecirc;m data de validade. Os n&uacute;meros ficam junto com a sigla DOT (Department of Transportation). S&atilde;o quatro d&iacute;gitos, sendo os dois primeiros a semana e os dois &uacute;ltimos, o ano de fabrica&ccedil;&atilde;o.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Se estiver escrito 2311, ser&aacute; a 23&ordf; semana do ano de 2011, por exemplo. Ent&atilde;o, basta contar cinco anos ap&oacute;s a data de fabrica&ccedil;&atilde;o para saber a data de validade.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:18px"><strong><span style="font-family:Calibri,sans-serif">Servi&ccedil;os para troca de pneus</span></strong></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Voc&ecirc; n&atilde;o deve trocar os pneus do seu carro apenas quando eles furam. Ao notar os primeiros sinais de desgaste e ver que eles podem ser considerados &ldquo;carecas&rdquo;, voc&ecirc; precisa fazer a troca.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Pneus com rasgos, bolhas ou perfura&ccedil;&otilde;es tamb&eacute;m devem ser trocados, mesmo que estejam dentro do prazo de validade e n&atilde;o estejam t&atilde;o desgastados assim.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">A medida deve ser tomada para evitar que voc&ecirc; fique com um pneu furado no meio da estrada.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Se poss&iacute;vel, fa&ccedil;a a rod&iacute;zio dos os pneus para que sejam gastos ao mesmo tempo e na mesma propor&ccedil;&atilde;o.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Em caso de trocas de pneus, caso o or&ccedil;amento n&atilde;o permita no momento, priorize o eixo traseiro, pois &eacute; a parte respons&aacute;vel pela estabilidade do seu carro.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:18px"><strong><span style="font-family:Calibri,sans-serif">Manuten&ccedil;&atilde;o preventiva da suspens&atilde;o</span></strong></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">A manuten&ccedil;&atilde;o preventiva da suspens&atilde;o evita defeitos que podem se agravar com o tempo e evita que voc&ecirc; fique na m&atilde;o com o seu carro.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Confira as pe&ccedil;as que devem ser checadas em uma revis&atilde;o:</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Amortecedor;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Mola;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Piv&ocirc; de suspens&atilde;o;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Bra&ccedil;o oscilante;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Barra estabilizadora.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">O QueridoCarro.com vai ter ajudar a escolher os melhores servi&ccedil;os e pe&ccedil;as para pneus, suspens&atilde;o e freios.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:18px"><strong><span style="font-family:Calibri,sans-serif">Saiba tudo sobre a manuten&ccedil;&atilde;o dos freios</span></strong></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">As pastilhas dos freios devem ser substitu&iacute;das dentro do prazo indicado pelo fabricante, para evitar que os discos sofram com desgaste.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Evite fazer o chamado &ldquo;passe&rdquo; no disco do freio, pois trata-se de um procedimento que tira as imperfei&ccedil;&otilde;es da pe&ccedil;a e a deixa mais fina.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Isso compromete a sua seguran&ccedil;a dentro do ve&iacute;culo. Portanto, sempre fa&ccedil;a a substitui&ccedil;&atilde;o.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Na hora da manuten&ccedil;&atilde;o, o mec&acirc;nico deve ficar atento aos tambores e &agrave;s sapatas dos freios. S&atilde;o pe&ccedil;as importantes para o mecanismo funcionar e a resposta de frenagem ser imediata.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:18px"><strong><span style="font-family:Calibri,sans-serif">Como identificar problemas nos freios</span></strong></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Quando o freio est&aacute; com algum tipo de problema, voc&ecirc; vai notar alguns &ldquo;sintomas&rdquo;. Os ind&iacute;cios s&atilde;o:</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Ru&iacute;dos incomuns;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Pedal mais duro;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Vazamento no flu&iacute;do de freio;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Disco do freio fino;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Luzes do painel indicando problemas com o sistema de frenagem;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Maior tempo de resposta ao pisar no pedal do freio.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:18px"><strong><span style="font-family:Calibri,sans-serif">Conte com o QueridoCarro.com</span></strong></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Quer estar sempre seguro? Para isso, &eacute; preciso que voc&ecirc; contrate um servi&ccedil;o de confian&ccedil;a.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Para conseguir encontrar um profissional capacitado em servi&ccedil;os e pe&ccedil;as para pneus, suspens&atilde;o e freios pertinho de voc&ecirc;, conte com o QueridoCarro.com.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">O site permite que voc&ecirc; busque as melhores oficinas para fazer a manuten&ccedil;&atilde;o dos pneus, freios e da suspens&atilde;o do seu ve&iacute;culo.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Voc&ecirc; ainda pode verificar se alguma oficina oferece as tr&ecirc;s op&ccedil;&otilde;es de servi&ccedil;os, para que voc&ecirc; economize tempo e, quem sabe, consiga um bom desconto.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Acesse QueridoCarro.com e cuide da sua seguran&ccedil;a e de todos os ocupantes do seu ve&iacute;culo!</span></span></p>

<p style="margin-left:0cm; margin-right:0cm">&nbsp;</p>
