<p>&nbsp;</p>

<h2>1 &ndash; Treine colaboradores para serem prestativos</h2>

<p>&nbsp; &Eacute; muito comum que o cliente leve o carro &agrave; oficina mec&acirc;nica para solucionar um problema e acabe descobrindo outro. Carro exige manuten&ccedil;&atilde;o e s&oacute; um bom profissional consegue ter esse olhar perspicaz para ajudar o seu cliente. Por isso, &eacute; importante investir em treinamentos que desenvolvam habilidades t&eacute;cnicas, que posam trazer solu&ccedil;&otilde;es al&eacute;m das quais o cliente veio buscar. Um bom mec&acirc;nico pode ajudar a prevenir que problemas mais s&eacute;rios aconte&ccedil;am futuramente e j&aacute; oferecer uma solu&ccedil;&atilde;o. &nbsp;</p>

<p><img alt="" height="373" src="https://www.workmotor.com.br/content/ImagensPosts//1(1).jpg" width="497" /></p>

<h2>2 &ndash; Foque no atendimento</h2>

<p>&nbsp; Como tem sido o atendimento na sua oficina mec&acirc;nica? &Eacute; importante padronizar a forma como os seus clientes s&atilde;o atendidos. Instrua seus colaboradores para serem simp&aacute;ticos e prestativos, a mostrarem interesse em resolver os problemas que o carro tem e, principalmente, ter empatia com o cliente. Muitas vezes a manuten&ccedil;&atilde;o necess&aacute;ria veio de emerg&ecirc;ncia e causou transtorno. Ser sol&iacute;cito nestas horas faz toda a diferen&ccedil;a. Outro ponto importante &eacute; que seu cliente se sinta &agrave; vontade com o mec&acirc;nico e com o atendimento prestado. Ter um padr&atilde;o de atendimento vai ajudar a sua oficina mec&acirc;nica a passar uma imagem profissional. Al&eacute;m disso, &eacute; fundamental que seus colaboradores se sintam parte fundamental da oficina mec&acirc;nica para que o desenvolvimento do neg&oacute;cio seja eficaz. Se voc&ecirc; ainda tiver alguma d&uacute;vida, fa&ccedil;a um teste. Ligue na oficina como se fosse cliente e veja como ser&aacute; atendido. Esta &eacute; uma maneira simples que pode lhe dar indicativos de como sua equipe est&aacute; atendendo o cliente e como voc&ecirc; pode orient&aacute;-los para melhorar sempre. &nbsp;</p>

<p><img alt="" height="373" src="https://www.workmotor.com.br/content/ImagensPosts//2(1).jpg" width="497" /></p>

<h2>3 &ndash; Tenha uma comunica&ccedil;&atilde;o eficiente</h2>

<p>&nbsp; Voc&ecirc; j&aacute; ouviu uma explica&ccedil;&atilde;o e n&atilde;o entendeu, pois n&atilde;o domina o assunto? Pois &eacute;, muitas vezes o universo automotivo pode n&atilde;o ser a praia do seu cliente. Por isso, instrua seus colaboradores a falarem de maneira clara e objetiva. Um discurso muito t&eacute;cnico pode deixar o cliente confuso e fazer com que ele v&aacute; buscar a solu&ccedil;&atilde;o em outra oficina. Utilizar uma linguagem mais simples e de acordo com a realidade do seu cliente &eacute; fundamental. Seja objetivo, claro e honesto. Seu cliente precisa sair da oficina com solu&ccedil;&otilde;es e n&atilde;o com mais d&uacute;vidas. &nbsp;</p>

<h2>4- Seja o mentor dos seus colaboradores</h2>

<p>&nbsp; Voc&ecirc; mesmo pode ajudar no crescimento da sua equipe de profissionais, sendo um l&iacute;der para eles. Que tal compartilhar um pouco da sua experi&ecirc;ncia, contar casos interessantes de atendimento, as solu&ccedil;&otilde;es que foram aplicadas e dar dicas de como melhorar? O desenvolvimento da sua equipe tamb&eacute;m pode ser feito por meio de uma conversa entre chefe e colaborador. &Eacute; importante mostrar interesse em seus funcion&aacute;rios, nos seus problemas e estar disposto a ouvi-los. Feedbacks s&atilde;o importantes para passar pontos positivos e pontos a serem melhorados. &nbsp;</p>

<h2>5 &ndash; Incentive a busca por informa&ccedil;&otilde;es</h2>

<p>&nbsp; No setor automotivo sempre aparece algo novo e cada vez mais surgem carros com recursos inusitados e mais tecnol&oacute;gicos. Incentive os mec&acirc;nicos da sua oficina a lerem mais sobre as novidades do mercado, os modelos rec&eacute;m lan&ccedil;ados e o que eles oferecem. Afinal, a qualquer momento pode aparecer um cliente dirigindo algum carro que exija mais conhecimento. Se poss&iacute;vel, compre revistas do setor e deixe &agrave; disposi&ccedil;&atilde;o dos colaboradores. Instigue a curiosidade de seus funcion&aacute;rios e promova o conhecimento na sua equipe. Outra maneira de promover o conhecimento &eacute; por meio de cursos de atualiza&ccedil;&atilde;o profissional, treinamentos, workshops, cursos online, etc. &nbsp;</p>

<p><img alt="" height="373" src="https://www.workmotor.com.br/content/ImagensPosts//3(1).jpg" width="497" /></p>

<h2>6 &ndash; Valorize seu colaborador</h2>

<p>&nbsp; Valorizar e reconhecer o desenvolvimento de cada colaborador &eacute; importante para motiv&aacute;-los a serem sempre melhores. Oferecer novos treinamentos, mostrar novas possibilidades e caminhos para executar um trabalho melhor, &eacute; sinal de que voc&ecirc; confia na equipe e quer o crescimento de cada um deles. Al&eacute;m disso, quando todos os seus colaboradores, desde o mec&acirc;nico at&eacute; o balconista, est&atilde;o bem instru&iacute;dos, todos conseguem prestar um atendimento e servi&ccedil;o de qualidade. Quando habilidade, capacita&ccedil;&atilde;o e prestatividade andam juntas, at&eacute; poss&iacute;veis problemas se tornam mais f&aacute;cies de resolver sem que seja necess&aacute;rio esperar pela decis&atilde;o do chefe</p>

<p><img alt="" height="373" src="https://www.workmotor.com.br/content/ImagensPosts//4(2).jpg" width="497" /></p>
