<p><span style="font-size:18px"><strong><span style="font-family:&quot;Calibri&quot;,sans-serif">Principais servi&ccedil;os e pe&ccedil;as de auto el&eacute;trica</span></strong></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Na hora de fazer a manuten&ccedil;&atilde;o do seu ve&iacute;culo, voc&ecirc; n&atilde;o pode esquecer da parte el&eacute;trica.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Diversos itens devem ser verificados periodicamente para evitar problemas e uma poss&iacute;vel pane.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Confira as pe&ccedil;as que devem ser verificadas e com qual frequ&ecirc;ncia:</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><strong><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">A<span style="font-size:18px">lternador</span></span></span></strong></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">O alternador deve ser verificado em uma auto el&eacute;trica sempre que voc&ecirc; note alguma dificuldade na hora de dar a partida no motor.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Problemas nas l&acirc;mpadas, na bateria ou em qualquer componente el&eacute;trico podem indicar que &eacute; hora de passar por uma revis&atilde;o e checar a pe&ccedil;a.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:18px"><strong><span style="font-family:Calibri,sans-serif">Bateria</span></strong></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">A bateria &eacute; o principal item que comp&otilde;e o sistema el&eacute;trico do seu carro, por ser a fonte de energia para todos os outros componentes.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Voc&ecirc; deve checar em uma oficina se est&aacute; tudo certo com a bateria anualmente.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">A vida &uacute;til da bateria &eacute; de at&eacute; tr&ecirc;s anos, em m&eacute;dia, mas antes disso &eacute; preciso fazer alguns testes em um local especializado, apenas para ter a certeza de que est&aacute; tudo bem e que voc&ecirc; n&atilde;o ter&aacute; surpresas desagrad&aacute;veis.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:18px"><strong><span style="font-family:Calibri,sans-serif">L&acirc;mpadas e far&oacute;is</span></strong></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">&Eacute; preciso verificar todas as l&acirc;mpadas e far&oacute;is do carro frequentemente para evitar acidentes e at&eacute; mesmo uma multa caso parem de funcionar.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">O sistema de ilumina&ccedil;&atilde;o de um ve&iacute;culo &eacute; essencial para a seguran&ccedil;a, assim como as luzes de sinaliza&ccedil;&atilde;o.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Especialistas recomendam trocar as l&acirc;mpadas anualmente para evitar que falhem em um momento de necessidade.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Contudo, pe&ccedil;a sempre para um amigo ou familiar verificar para voc&ecirc; se as luzes est&atilde;o funcionando normalmente, antes de sair da garagem para pegar a estrada.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><strong><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">P<span style="font-size:18px">erif&eacute;ricos e acess&oacute;rios</span></span></span></strong></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Voc&ecirc; pode aproveitar sua visita anual a auto el&eacute;trica e verificar se os vidros e travas el&eacute;tricas est&atilde;o em pleno funcionamento.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Outros itens que merecem a sua aten&ccedil;&atilde;o s&atilde;o o alarme, o sistema de som e qualquer item tecnol&oacute;gico que esteja instalado no seu ve&iacute;culo, mesmo que apenas para a sua comodidade.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Se voc&ecirc; instalou um item que n&atilde;o veio de f&aacute;brica com o seu carro, a aten&ccedil;&atilde;o deve ser dobrada.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Confira com um especialista se o acess&oacute;rio n&atilde;o est&aacute; consumindo mais energia da bateria do que deveria.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Assim, voc&ecirc; evita que um simples item de conforto ou entretenimento seja um problema.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:18px"><strong><span style="font-family:Calibri,sans-serif">Principais reparos de auto el&eacute;trica</span></strong></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Apesar de alguns itens merecerem maior aten&ccedil;&atilde;o na hora da manuten&ccedil;&atilde;o, alguns reparos s&atilde;o mais comuns quando voc&ecirc; tem que procurar uma auto el&eacute;trica.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Confira os principais reparos:</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Troca de fus&iacute;veis;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Recoloca&ccedil;&atilde;o de cabos soltos;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Troca da correia do alternador;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Reparo nas velas;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Troca da bateria;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Conserto no alternador;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Troca de item do sistema de igni&ccedil;&atilde;o (fio da bobina, chave de igni&ccedil;&atilde;o ou magneto, por exemplo).</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:18px"><strong><span style="font-family:Calibri,sans-serif">Onde descartar a bateria el&eacute;trica do seu carro?</span></strong></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">As baterias automotivas se desgastam e precisam ser trocadas, em m&eacute;dia, a cada tr&ecirc;s anos. Na hora de fazer o descarte, evite jogar a bateria fora no lixo dom&eacute;stico comum.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Alguns componentes da bateria s&atilde;o nocivos ao meio ambiente e podem causar diversos preju&iacute;zos ambientais caso n&atilde;o sejam descartados da maneira correta.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Apesar disso, grande parte da bateria pode ser reciclada. Portanto, a recomenda&ccedil;&atilde;o &eacute; de que o descarte seja feito em um ponto de venda de baterias.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">O com&eacute;rcio far&aacute; o descarte da forma mais adequada.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:18px"><strong><span style="font-family:&quot;Calibri&quot;,sans-serif">Como escolher servi&ccedil;os e pe&ccedil;as de confian&ccedil;a?</span></strong></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Para escolher servi&ccedil;os e pe&ccedil;as de auto el&eacute;trica com a certeza de qualidade, &eacute; preciso que voc&ecirc; tenha refer&ecirc;ncias sobre o estabelecimento em quest&atilde;o.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Contudo, n&atilde;o &eacute; preciso que voc&ecirc; v&aacute; para uma auto el&eacute;trica grande do centro da cidade.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">O QueridoCarro.com &eacute; um site que te ajuda a localizar as melhores auto el&eacute;tricas, visualizar os relatos e avalia&ccedil;&otilde;es dos clientes anteriores e ainda agendar o servi&ccedil;o com apenas alguns cliques.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:18px"><strong><span style="font-family:Calibri,sans-serif">Conte com o QueridoCarro.com</span></strong></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Se voc&ecirc; &eacute; uma pessoa precavida, que prefere prevenir do que remediar, pode contar com o QueridoCarro.com para escolher os melhores locais para a manuten&ccedil;&atilde;o do sistema el&eacute;trico do seu ve&iacute;culo.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">O seu carro j&aacute; est&aacute; apresentando sinais de falha el&eacute;trica? N&atilde;o se preocupe.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">O QueridoCarro.com tamb&eacute;m traz uma lista de auto el&eacute;tricas especializadas em reparos, com pe&ccedil;as de qualidade e bem pertinho de voc&ecirc;!</span></span></p>
