<p><span style="font-size:18px"><strong><span style="font-family:&quot;Calibri&quot;,sans-serif">Principais servi&ccedil;os e pe&ccedil;as de auto el&eacute;trica</span></strong></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Na hora de fazer a manuten&ccedil;&atilde;o do seu ve&iacute;culo, voc&ecirc; n&atilde;o pode esquecer da parte el&eacute;trica.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Diversos itens devem ser verificados periodicamente para evitar problemas e uma poss&iacute;vel pane.</span></span></p>

<p><span style="font-size:11.0pt"><span style="font-family:&quot;Calibri&quot;,sans-serif">Confira as pe&ccedil;as que devem ser verificadas e com qual frequ&ecirc;ncia:</span></span></p>

<p><span style="font-size:18px"><strong><span style="font-family:&quot;Calibri&quot;,sans-serif">Alternador</span></strong></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">O alternador deve ser verificado em uma auto el&eacute;trica sempre que voc&ecirc; note alguma dificuldade na hora de dar a partida no motor.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Problemas nas l&acirc;mpadas, na bateria ou em qualquer componente el&eacute;trico podem indicar que &eacute; hora de passar por uma revis&atilde;o e checar a pe&ccedil;a.</span></span></p>

<p>&nbsp;</p>
