<p><span style="font-size:18px"><strong><span style="font-family:&quot;Calibri&quot;,sans-serif">Import&acirc;ncia de trocar o &oacute;leo</span></strong></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Fazer as trocas de &oacute;leo respeitando os prazos determinados pelo fabricante s&atilde;o essenciais para aumentar a vida &uacute;til do motor do seu carro.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Se voc&ecirc; descuidar desta manuten&ccedil;&atilde;o t&atilde;o importante, voc&ecirc; perder&aacute; desempenho nas pistas, perceber&aacute; aumento no consumo do combust&iacute;vel e poder&aacute; at&eacute; mesmo fundir o motor.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">&Eacute; importante lembrar que um motor fundido pode custar at&eacute; metade do valor de um autom&oacute;vel para ser consertado.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Quer motivo maior que esse para prestar aten&ccedil;&atilde;o no calend&aacute;rio de troca de &oacute;leo?</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:18px"><strong><span style="font-family:Calibri,sans-serif">Quando fazer as trocas de &oacute;leo?</span></strong></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Se voc&ecirc; utiliza lubrificante mineral, deve fazer a troca de &oacute;leo a cada 5 mil quil&ocirc;metros rodados. Se for &oacute;leo sint&eacute;tico, o prazo &eacute; a cada 10 mil quil&ocirc;metros.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Outra forma de medir a necessidade &eacute; por meio do tempo. A cada seis meses, fa&ccedil;a uma troca de &oacute;leo e do filtro.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:18px"><strong><span style="font-family:Calibri,sans-serif">Servi&ccedil;os e pe&ccedil;as para troca de &oacute;leo: uso de aditivos</span></strong></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">A quest&atilde;o do uso de aditivos no &oacute;leo &eacute; bem pol&ecirc;mica. Os fabricantes n&atilde;o recomendam a pr&aacute;tica, por acreditarem que os &oacute;leos comuns j&aacute; contam com a quantidade correta de aditivo.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Mais do que isso poderia comprometer a vida &uacute;til do motor.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Alguns especialistas, por&eacute;m, acreditam que aditivos podem at&eacute; aumentar a pot&ecirc;ncia do ve&iacute;culo, mas que nem todos t&ecirc;m essa fun&ccedil;&atilde;o garantida.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Portanto, se puder evitar, melhor. Consulte sempre um especialista em servi&ccedil;os e pe&ccedil;as para troca de &oacute;leo.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:18px"><strong><span style="font-family:Calibri,sans-serif">O &oacute;leo certo para o seu carro</span></strong></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Nas especifica&ccedil;&otilde;es do seu carro, voc&ecirc; deve verificar se o &oacute;leo utilizado deve ser mineral, sint&eacute;tico ou semissint&eacute;tico. O fabricante deixa isso claro no manual do propriet&aacute;rio.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Os &oacute;leos s&atilde;o classificados por viscosidade (SAE) e desempenho (API ou ACEA). Essas siglas v&ecirc;m acompanhadas de n&uacute;meros que indicam o n&iacute;vel de cada caracter&iacute;stica.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Veja a diferen&ccedil;a de cada tipo de &oacute;leo:</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:18px"><strong><span style="font-family:Calibri,sans-serif">Mineral</span></strong></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Obtido por meio da separa&ccedil;&atilde;o de componentes do petr&oacute;leo. &Eacute; uma mistura de v&aacute;rios compostos.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:18px"><strong><span style="font-family:Calibri,sans-serif">Sint&eacute;tico</span></strong></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Obtido por meio de rea&ccedil;&otilde;es qu&iacute;micas, portanto s&atilde;o produtos mais puros e de qualidade superior.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:18px"><strong><span style="font-family:Calibri,sans-serif">Semissint&eacute;tico</span></strong></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Basicamente, &eacute; a mistura entre os &oacute;leos mineral e sint&eacute;tico, reunindo as melhores propriedades de cada tipo.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:18px"><strong><span style="font-family:Calibri,sans-serif">Como checar o n&iacute;vel do &oacute;leo</span></strong></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Para checar o n&iacute;vel do &oacute;leo, o motor deve estar frio e ter sido desligado h&aacute; pelo menos cinco minutos.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">O ve&iacute;culo tamb&eacute;m deve estar em um local plano e nivelado para que n&atilde;o haja altera&ccedil;&otilde;es na hora da checagem.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Em seguida, voc&ecirc; deve puxar a vareta do reservat&oacute;rio de &oacute;leo e verificar se o lubrificante atinge a marca indicada como suficiente. Se estiver abaixo do tracinho que indica a quantidade m&iacute;nima, voc&ecirc; ter&aacute; que completar.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">N&atilde;o se assuste ao ver que o &oacute;leo est&aacute; preto. Pelo contr&aacute;rio, a cor &eacute; natural e indica que a lubrifica&ccedil;&atilde;o est&aacute; ocorrendo corretamente.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Para completar o n&iacute;vel, &eacute; preciso apenas tomar o cuidado de utilizar a mesma marca de lubrificante.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:18px"><strong><span style="font-family:Calibri,sans-serif">Profissionais qualificados para o servi&ccedil;o</span></strong></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Servi&ccedil;os e pe&ccedil;as para troca de &oacute;leo podem parecer um procedimento simples e, at&eacute; mesmo, sem import&acirc;ncia.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Por&eacute;m, trata-se de uma pr&aacute;tica fundamental para garantir a vida &uacute;til do motor do seu ve&iacute;culo e evitar preju&iacute;zos financeiros altos, caso o motor venha a fundir por baixo n&iacute;vel de lubrificante.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Al&eacute;m disso, a troca de &oacute;leo n&atilde;o deve ser feita de qualquer maneira e por qualquer pessoa.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">&Eacute; preciso que o profissional seja qualificado, saiba escoar todo o &oacute;leo velho antes de colocar o novo e fa&ccedil;a a substitui&ccedil;&atilde;o do filtro de forma correta.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11.0pt"><span style="font-family:&quot;Calibri&quot;,sans-serif">Para encontrar um profissional qualificado para cuidar de uma parte t&atilde;o importante de manuten&ccedil;&atilde;o do seu ve&iacute;culo, voc&ecirc; pode recorrer ao QueridoCarro.com.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:18px"><strong><span style="font-family:&quot;Calibri&quot;,sans-serif">Conte com o QueridoCarro.com</span></strong></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Conte com o QueridoCarro.com sempre que estiver procurando um profissional qualificado para a manuten&ccedil;&atilde;o do seu ve&iacute;culo.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">A ferramenta re&uacute;ne diversos profissionais especializados em servi&ccedil;os e pe&ccedil;as para troca de &oacute;leo e re&uacute;ne uma lista de oficinas mec&acirc;nicas qualificadas, que s&atilde;o avaliadas pelos clientes no pr&oacute;prio site.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Desta maneira, voc&ecirc; poder&aacute; conferir a avalia&ccedil;&atilde;o feita pelos clientes para saber qual o local mais indicado para o seu ve&iacute;culo.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Para sua comodidade, voc&ecirc; tamb&eacute;m poder&aacute; mandar uma mensagem para a oficina com o intuito de tirar d&uacute;vidas e agendar um atendimento na data que for mais conveniente para voc&ecirc;, sem precisar fazer uma liga&ccedil;&atilde;o ou visitar o local.</span></span></p>
