<p><span style="font-size:18px"><strong><span style="font-family:&quot;Calibri&quot;,sans-serif">Cuidados que aumentam a vida &uacute;til do motor</span></strong></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">O motor &eacute; uma pe&ccedil;a fundamental para o funcionamento do ve&iacute;culo.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">A boa qualidade do componente garante economia de combust&iacute;vel, baixo n&iacute;vel de polui&ccedil;&atilde;o e, o mais importante, voc&ecirc; n&atilde;o ficar&aacute; na m&atilde;o quando mais precisar.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Veja os principais cuidados para aumentar a vida &uacute;til do motor do seu carro:</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Fa&ccedil;a a troca de &oacute;leo a cada seis meses ou 10 mil quil&ocirc;metros rodados;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Troque os filtros de &oacute;leo, combust&iacute;vel e de ar dentro do per&iacute;odo estabelecido pelo fabricante;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Verifique sempre o n&iacute;vel de &aacute;gua do radiador;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Fa&ccedil;a as trocas de marcha suavemente e evite esticar;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">N&atilde;o acelere o carro enquanto estiver parado;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Opte por gasolina aditivada sempre que poss&iacute;vel;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Evite passar da velocidade m&aacute;xima recomendada pelo fabricante nos primeiros 3 mil quil&ocirc;metros;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">N&atilde;o passe de 5 mil rota&ccedil;&otilde;es por minuto;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Nos primeiros mil quil&ocirc;metros, espere cinco minutos para o carro aquecer antes de voc&ecirc; pegar a estrada.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:18px"><strong><span style="font-family:Calibri,sans-serif">Revis&atilde;o peri&oacute;dica pode evitar problemas graves</span></strong></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Fazer a revis&atilde;o peri&oacute;dica do seu ve&iacute;culo &eacute; t&atilde;o importante quanto ir ao m&eacute;dico regularmente.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Voc&ecirc; checa se tudo est&aacute; bem e resolve uma falha de funcionamento antes que se torne um problema grave ou fatal.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Quanto mais velho for o carro, mais itens v&atilde;o entrando na lista de checagem e substitui&ccedil;&atilde;o na hora de fazer a revis&atilde;o peri&oacute;dica.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Por mais que a revis&atilde;o fique mais cara com o passar do tempo, por conta das substitui&ccedil;&otilde;es de pe&ccedil;as, prevenir &eacute; sempre mais em conta do que remediar.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Veja as principais vantagens de fazer uma revis&atilde;o peri&oacute;dica no seu ve&iacute;culo:</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Aumenta a vida &uacute;til do motor e de outras pe&ccedil;as;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Diminui as chances de pane mec&acirc;nica e el&eacute;trica;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Evita gastos desnecess&aacute;rios com reboque;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Evita substitui&ccedil;&atilde;o de pe&ccedil;as que s&atilde;o danificadas por falha em outros componentes;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Evita gastos com multas, pois algumas pe&ccedil;as devem estar em dia por determina&ccedil;&atilde;o das leis de tr&acirc;nsito.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:16px"><strong><span style="font-family:Calibri,sans-serif">Servi&ccedil;os e pe&ccedil;as para o motor: ret&iacute;fica</span></strong></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Retificar um motor significa substituir algumas pe&ccedil;as do componente, que se desgastam com o tempo. Em geral, o procedimento &eacute; necess&aacute;rio ap&oacute;s 200 mil quil&ocirc;metros rodados.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">A ret&iacute;fica completa consiste em restaurar as partes de baixo (cilindros, virabrequim, bielas e pist&otilde;es) e de cima (v&aacute;lvulas, cabe&ccedil;ote, guias, comando de v&aacute;lvulas e sedes).</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Fatores que indicam a necessidade de retificar o motor:</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Alto consumo de combust&iacute;vel;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">&Oacute;leo lubrificante acabando com frequ&ecirc;ncia;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Muita fuma&ccedil;a saindo pelo escapamento;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Pot&ecirc;ncia baixa;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Torque insuficiente;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Motor com barulhos;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Superaquecimento do motor.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:18px"><strong><span style="font-family:Calibri,sans-serif">Como evitar fundir o motor</span></strong></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Dizer que o motor fundiu significa que houve um aquecimento t&atilde;o alto que as pe&ccedil;as derreteram e se uniram.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Isso ocorre quando o componente n&atilde;o est&aacute; com a lubrifica&ccedil;&atilde;o adequada. Com isso, ocorre o superaquecimento do motor.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">O problema &eacute; comum quando o &oacute;leo do motor est&aacute; sujo ou os n&iacute;veis est&atilde;o insuficientes. De qualquer maneira, o motorista vai perceber um cheiro de queimado e vir&aacute; uma fuma&ccedil;a subir quando isso ocorrer.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Para evitar fundir o motor, voc&ecirc; deve seguir dicas b&aacute;sicas:</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Fa&ccedil;a revis&otilde;es periodicamente;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Verifique o n&iacute;vel do l&iacute;quido de arrefecimento;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Fa&ccedil;a a troca de &oacute;leo periodicamente;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Troque o filtro de &oacute;leo quando for substituir o lubrificante;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Evite misturar &oacute;leos de marcas diferentes, quando for completar.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:18px"><strong><span style="font-family:Calibri,sans-serif">Cuidados com o motor no inverno</span></strong></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Para ter um motor com maior vida &uacute;til, voc&ecirc; tamb&eacute;m deve ter alguns cuidados especiais no inverno:</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">N&atilde;o insista quando o carro n&atilde;o quiser pegar;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Verifique o carburador em dias mais frios;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Mantenha os n&iacute;veis adequados de gasolina no reservat&oacute;rio de partida;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Cheque o n&iacute;vel de carga da bateria;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">N&atilde;o deixe o carro desligado por muito tempo;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">N&atilde;o desligue e ligue o carro em um congestionamento.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:18px"><strong><span style="font-family:Calibri,sans-serif">Servi&ccedil;o de qualidade para o motor do seu ve&iacute;culo</span></strong></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Quando estamos falando da pe&ccedil;a mais importante do carro, voc&ecirc; n&atilde;o pode buscar qualquer servi&ccedil;o para um reparo ou manuten&ccedil;&atilde;o peri&oacute;dica.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Busque sempre um servi&ccedil;o de qualidade, com profissionais reconhecidos no mercado.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:18px"><strong><span style="font-family:Calibri,sans-serif">Conte com o QueridoCarro.com</span></strong></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Para ter sempre o melhor, conte com o QueridoCarro.com na hora de escolher servi&ccedil;os e pe&ccedil;as para o motor.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">A ferramenta permite que voc&ecirc; veja quais s&atilde;o os melhores profissionais mais perto de voc&ecirc;.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Assim, voc&ecirc; ter&aacute; assist&ecirc;ncia sempre que precisar e n&atilde;o ter&aacute; mais desculpas para fazer as famosas manuten&ccedil;&otilde;es peri&oacute;dicas!</span></span></p>
