<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="font-family:Calibri">Se voc&ecirc; est&aacute; aqui, lendo este texto, &eacute; porque reconhece que medidas precisam ser tomadas para manter um bom desempenho de sua oficina mec&acirc;nica ou autope&ccedil;as, para n&atilde;o fechar as portas, e provavelmente, j&aacute; deve ter ouvido falar do uso de diversas tecnologias, como <a href="https://www.workmotor.com.br/Blog/Noticia/1014/sistema-gest%C3%A3o-erp-ajudar-oficina-ferramenta-programa-gestao">sistemas ERP</a>, <a href="https://www.workmotor.com.br/Blog/Noticia/1014/sistema-gest%C3%A3o-erp-ajudar-oficina-ferramenta-programa-gestao">softwares de gest&atilde;o</a>, <a href="https://www.workmotor.com.br/Blog/Noticia/1/software-gest%C3%A3o-autopecas-oficinas">programas de computadores</a>, marketing digital, entre muitos outros. </span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="font-family:Calibri">Esses nomes podem parecer assustadores n&atilde;o &eacute; mesmo?</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="font-family:Calibri">Voc&ecirc;, que cresceu botando a m&atilde;o na massa e v&ecirc; jovens lidando com tecnologias, pode ter um pouco de receio sobre usar a tecnologia em seu neg&oacute;cio n&atilde;o &eacute; mesmo? &Eacute; normal termos esta sensa&ccedil;&atilde;o quando estamos nos aventurando em uma &aacute;rea diferente da nossa de atua&ccedil;&atilde;o, mas, fique tranquilo, neste texto voc&ecirc; conseguir&aacute; entender que a tecnologia &eacute; uma facilitadora e que voc&ecirc; poder&aacute; us&aacute;-la para conseguir aumentar os lucros do seu neg&oacute;cio. </span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><img alt="" height="373" src="https://www.workmotor.com.br/content/ImagensPosts//Tecnologia_Mais_Lucro_complicada.jpg" width="398" /></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="font-family:Calibri"><strong>A tecnologia n&atilde;o &eacute; um monstro de 7 cabe&ccedil;as</strong></span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="font-family:Calibri">No mundo dos dispositivos m&oacute;veis, programas de computadores, e tudo mais, tudo foi pensado com um simples objetivo: facilitar o seu dia-a-dia. Ent&atilde;o, deixe de lado esta ideia de que mexer com programas de gest&atilde;o, softwares, &eacute; algo que voc&ecirc; n&atilde;o vai conseguir fazer, pois eles foram criados para te ajudar e para simplificar o seu dia, basta os encarar com outros olhos. </span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="font-family:Calibri">Se voc&ecirc; abre o motor de um carro em sua oficina mec&acirc;nica e consegue encontrar o problema ou sabe para que serve toda a pe&ccedil;a e qual sua aplica&ccedil;&atilde;o em sua autope&ccedil;as, voc&ecirc; com certeza conseguir&aacute; trabalhar com a tecnologia muito bem. </span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><img alt="" height="373" src="https://www.workmotor.com.br/content/ImagensPosts//Tecnologia_Mais_Lucro_programa_facil_oficina.jpg" width="398" /></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:20px"><span style="font-family:Calibri"><strong>Importante no come&ccedil;o e no crescimento</strong></span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="font-family:Calibri">Se voc&ecirc; est&aacute; come&ccedil;ando o seu neg&oacute;cio automotivo, tecnologias s&atilde;o necess&aacute;rias para que voc&ecirc; tenha uma boa organiza&ccedil;&atilde;o e comece com o p&eacute; direito, e se voc&ecirc; j&aacute; tem seu neg&oacute;cio h&aacute; um tempo, a tecnologia pode te ajudar a ter mais lucro, mais clientes voltando, mais organiza&ccedil;&atilde;o e o melhor: dar mais tempo para voc&ecirc; conseguir focar no que importa. </span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="font-family:Calibri"><strong>No come&ccedil;o:</strong></span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="font-family:Calibri">Programas de computador para sua oficina podem te ajudar a organizar tudo o que voc&ecirc; precisa em menos tempo, com eles voc&ecirc; pode organizar seu estoque, seus clientes em contatos, realizar ordens de servi&ccedil;o e mensurar como foi o seu desempenho nos meses. Esta organiza&ccedil;&atilde;o ajuda voc&ecirc; a ter foco, sem foco e gest&atilde;o nenhum neg&oacute;cio sai do lugar, afinal de contas, como voc&ecirc; conseguir&aacute; aplicar a&ccedil;&otilde;es se n&atilde;o sabe onde tem que melhorar? Ou assim que abre n&atilde;o consegue controlar seu estoque e fica devendo alguma pe&ccedil;a a algum cliente? </span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="font-family:Calibri">As primeiras impress&otilde;es s&atilde;o as que sempre ficam e s&atilde;o cruciais para que seu cliente retorne e te indique para mais amigos, se ele chegar em um local com organiza&ccedil;&atilde;o, limpeza e onde tudo &eacute; computadorizado, pode ter certeza que voc&ecirc; facilmente o conquistar&aacute;.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><img alt="" height="373" src="https://www.workmotor.com.br/content/ImagensPosts//Tecnologia_Mais_Lucro_cliente.jpg" width="398" /></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="font-family:Calibri"><strong>No desenvolvimento:</strong></span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="font-family:Calibri">Voc&ecirc; j&aacute; tem sua oficina ou autope&ccedil;as h&aacute; algum tempo e sempre fez tudo no papelzinho? No come&ccedil;o at&eacute; recebia alguns clientes devido a seu bom atendimento, mas depois de um tempo esta frequ&ecirc;ncia come&ccedil;ou a cair? N&atilde;o pense que &eacute; normal de todo neg&oacute;cio ter uma montanha-russa de clientes ou que a crise est&aacute; afastando tudo de todos. </span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="font-family:Calibri">A realidade &eacute; que, ano passado no Brasil, houve um aumento de 11,5% no n&uacute;mero de servi&ccedil;os automotivos, segundo as estat&iacute;sticas do Simples Nacional (SINAC). Seus concorrentes aumentaram. O que voc&ecirc; far&aacute; para se destacar?</span></span><br />
&nbsp;</p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="font-family:Calibri"><strong>Uma quest&atilde;o de gest&atilde;o</strong><br />
Dentre as oficinas que mais se destacam, est&atilde;o aquelas que reconhecem que a gest&atilde;o &eacute; o principal quesito para o crescimento, e convenhamos, ningu&eacute;m consegue fazer a gest&atilde;o de uma oficina mec&acirc;nica usando papel e caneta apenas. &Eacute; ai que a tecnologia entra, como auxiliar importante e vital para a gest&atilde;o de seu neg&oacute;cio.<br />
&nbsp;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="font-family:Calibri"><strong>De olho no mercado</strong></span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="font-family:Calibri">Voc&ecirc; j&aacute; sabe agora que voc&ecirc; tem mais concorrentes, mas tamb&eacute;m, voc&ecirc; tem mais clientes em potencial, j&aacute; que em apenas dois anos, o n&uacute;mero de carros no Brasil cresceu 8,3%, chegando a 93,8 milh&otilde;es em 2016, segundo os dados do Departamento Nacional de Tr&acirc;nsito (Denatran), deixando o nosso pa&iacute;s entre os maiores mercados automotivos do mundo. </span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><img alt="" height="373" src="https://www.workmotor.com.br/content/ImagensPosts//Tecnologia_Mais_Lucro_frota_brasileira_mercado.jpg" width="398" /></p>

<p style="margin-left:0cm; margin-right:0cm"><br />
<span style="font-size:12pt"><span style="font-family:Calibri"><strong>Que tipo de tecnologia usar no meu neg&oacute;cio?</strong></span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="font-family:Calibri">Voc&ecirc; j&aacute; leu que oficinas mec&acirc;nicas e autope&ccedil;as sem gest&atilde;o n&atilde;o crescem, e a gest&atilde;o n&atilde;o existe sem o uso de tecnologias. Mas, que tipo de tecnologia usar no seu neg&oacute;cio?<br />
Veja abaixo 3 op&ccedil;&otilde;es que voc&ecirc; pode implementar em sua oficina ou autope&ccedil;as.<br />
<br />
<strong>1. Softwares e Programas de Gest&atilde;o:</strong><br />
Eles est&atilde;o no topo da lista, pois normalmente oferecem um leque de op&ccedil;&otilde;es que resolvem v&aacute;rios quesitos ao mesmo tempo. Procure um programa completo e veja se ele consegue se adequar a todas as suas necessidades. </span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="font-family:Calibri"><strong>Como funciona:</strong><br />
Voc&ecirc; precisa de um computador, dependendo do tamanho do seu neg&oacute;cio, pode precisar de mais. Voc&ecirc; instala o programa em seu computador e pronto, algumas empresas oferecem um t&eacute;cnico para fazer este trabalho para voc&ecirc;, por isso &eacute; importante verificar se a empresa oferece suporte. Ap&oacute;s instalado, voc&ecirc; coloca seus dados no programa, como dados de estoque, clientes, e pronto, praticamente o resto o programa faz por si s&oacute;.<br />
Verifique tamb&eacute;m se o software, al&eacute;m do suporte, oferece tutoriais ou pequenos cursos para que voc&ecirc; consiga tirar suas d&uacute;vidas. </span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="font-family:Calibri">Em pouco tempo voc&ecirc; j&aacute; estar&aacute; habituado e poder&aacute; at&eacute; se perguntar: como consegui passar tanto tempo sem um programa de gest&atilde;o? </span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><img alt="" height="373" src="https://www.workmotor.com.br/content/ImagensPosts//Tecnologia_Mais_Lucro_programa_gestao.jpg" width="398" /></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="font-family:Calibri"><strong>2. Tecnologia de Relacionamento com o Cliente</strong></span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="font-family:Calibri">Investir em ferramentas que focam no relacionamento com o seu cliente &eacute; muito importante. Tecnologias que possam ligar, enviar e-mails e mensagens se mostram eficazes na fidelidade e no retorno dos clientes, gerando mais lucro. Os clientes se sentem lembrados e tamb&eacute;m lembram de voc&ecirc;. </span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="font-family:Calibri"><strong>Como funciona:</strong><br />
S&atilde;o pacotes que voc&ecirc; contrata e em sua grande maioria, voc&ecirc; n&atilde;o precisa fazer sozinho, uma empresa faz todo o trabalho por voc&ecirc;. A &uacute;nica coisa &eacute; que voc&ecirc; precisa fornecer dados dos seus clientes, e para isso, &eacute; importante ter um software de gest&atilde;o, j&aacute; que este &eacute; um elemento b&aacute;sico e presente em quase todos eles. </span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="font-family:Calibri">A empresa respons&aacute;vel pega os dados completos dos seus clientes, como e-mail, celular e contato telef&ocirc;nico fixo e manda mensagens, ou faz liga&ccedil;&atilde;o em nome de sua empresa, informando sobre uma promo&ccedil;&atilde;o, lembrete de revis&atilde;o, etc.<br />
Esse investimento gera um retorno maior e mais lucro, deixando voc&ecirc; um passo a frente da concorr&ecirc;ncia.</span></span><br />
&nbsp;</p>

<p style="margin-left:0cm; margin-right:0cm"><img alt="" height="373" src="https://www.workmotor.com.br/content/ImagensPosts//Tecnologia_Mais_Lucro_cliente_contato_marketing.jpg" width="398" /></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="font-family:Calibri"><strong>3. M&iacute;dias Sociais</strong></span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="font-family:Calibri">As m&iacute;dias sociais, como Facebook, Instagram e YouTube, tem se mostrado fortes aliadas de qualquer neg&oacute;cio, s&atilde;o gratuitas e com a capacidade de criar posts patrocinados que alcan&ccedil;am muita gente, investindo pouco. Em sua grande maioria, as m&iacute;dias sociais s&atilde;o intuitivas e f&aacute;cies de usar e muitas pessoas est&atilde;o passando a usa-las como ferramentas de busca. </span></span></p>

<p style="margin-left:0cm; margin-right:0cm">&nbsp;</p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="font-family:Calibri"><strong>Como funciona:</strong><br />
Voc&ecirc; precisa ter uma p&aacute;gina de sua oficina ou autope&ccedil;as no facebook e/ou integram. Depois &eacute; s&oacute; criar postagens com imagens, textos falando de promo&ccedil;&otilde;es e conte&uacute;dos legais para seus clientes. As redes sociais n&atilde;o precisam de t&eacute;cnico, pois s&atilde;o f&aacute;ceis de usar, mas &eacute; sempre bom manter uma const&acirc;ncia nas publica&ccedil;&otilde;es e claro, oferecer sempre mais ao cliente. </span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="font-family:Calibri">O pr&oacute;prio facebook oferece tutoriais caso voc&ecirc; queira fazer a&ccedil;&otilde;es pagas de suas promo&ccedil;&otilde;es e seguindo suas aulas voc&ecirc; consegue fazer por conta.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><img alt="" height="373" src="https://www.workmotor.com.br/content/ImagensPosts//Tecnologia_Mais_Lucro_redes_sociais.jpg" width="398" /></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="font-family:Calibri"><strong>Unindo as tecnologias</strong></span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="font-family:Calibri">Se voc&ecirc; optar por apenas uma dessas tecnologias, j&aacute; estar&aacute; dando um grande passo, por&eacute;m, tamb&eacute;m pode chegar a estagnar em algum momento, j&aacute; que, cada vez o mundo se torna mais tecnol&oacute;gico e preza pelo uso de mais e mais ferramentas. Se conseguir utilizar todas ao mesmo tempo, n&atilde;o h&aacute; d&uacute;vidas de que seu neg&oacute;cio s&oacute; vai crescer.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="font-family:Calibri">Foi o caso de Francisco Severiano Alves, que desde 1994 tem sua oficina na cidade de Itaquaquecetuba em S&atilde;o Paulo. Ele tinha muita experi&ecirc;ncia no setor automotivo, mas n&atilde;o conhecia estrat&eacute;gias de gest&atilde;o, como estas tecnol&oacute;gicas. Ap&oacute;s 2002, Francisco come&ccedil;ou a fazer cursos e dar mais aten&ccedil;&atilde;o para esta &aacute;rea, o resultado foi excelente e o esperado: em 2010 ele ganhou o Pr&ecirc;mio Competitividade para Micro e Pequenas Empresas (MPE), na categoria Modelo de Excel&ecirc;ncia e Gest&atilde;o &ndash; com&eacute;rcio no estado de S&atilde;o Paulo. </span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="font-family:Calibri">Voc&ecirc; usa tecnologias em seu trabalho, sabe a import&acirc;ncia de uma ferramenta nova, ou de uma automa&ccedil;&atilde;o de algum procedimento para que resultados saiam mais r&aacute;pido e com mais efici&ecirc;ncia. Seus clientes tamb&eacute;m t&ecirc;m essa no&ccedil;&atilde;o e gostam quando se deparam com um neg&oacute;cio que se preocupa sempre em oferecer o melhor.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm">&nbsp;</p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="font-family:Calibri"><strong>Tecnologia &eacute; tempo</strong></span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="font-family:Calibri">Fa&ccedil;a de cabe&ccedil;a a seguinte equa&ccedil;&atilde;o: 2397 x 89. Dif&iacute;cil n&atilde;o &eacute; mesmo? N&atilde;o &eacute; imposs&iacute;vel, mas chegar no resultado utilizando papel e caneta ou a cabe&ccedil;a certamente &eacute; muito mais lento do que se voc&ecirc; digitar esses n&uacute;meros em uma calculadora, n&atilde;o &eacute; mesmo?</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="font-family:Calibri">Calculadoras tamb&eacute;m s&atilde;o consideradas tecnologia, assim como ferramentas, assim como um programa de gest&atilde;o para oficinas, assim como m&iacute;dias sociais e programas de marketing digital, e todas elas t&ecirc;m um objetivo: fazer com que voc&ecirc; ganhe tempo. </span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="font-family:Calibri">Com tempo extra voc&ecirc; pode atender mais clientes, ter mais lucro ou at&eacute; mesmo conseguir aquela folguinha para fazer uma viagem merecida em fam&iacute;lia. </span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><img alt="" height="373" src="https://www.workmotor.com.br/content/ImagensPosts//Tecnologia_Mais_Lucro_tempo_ganhar.jpg" width="398" /></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="font-family:Calibri"><strong>Por onde come&ccedil;ar?</strong></span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="font-family:Calibri">Existem diversos softwares e programas de gest&atilde;o para oficinas, dos mais tecnol&oacute;gicos aos mais simples e pode parecer confuso na hora de escolher. Mas vamos te dar uma dica de um que consiga realizar dois principais elementos tecnol&oacute;gicos em um &uacute;nico lugar: Software de Gest&atilde;o e Relacionamento com Clientes, e que, acima de tudo oferece suporte, v&iacute;deo aulas e muito mais, para que voc&ecirc; otimize o seu tempo. Esta ferramenta &eacute; o Workmotor.<br />
<br />
<a href="https://www.workmotor.com.br/workmotor/">WorkMotor</a> &eacute; um programa ERP de gest&atilde;o especializado em oficinas e autope&ccedil;as, que &eacute; simples de usar, tornando f&aacute;ceis e &aacute;geis processos di&aacute;rios de diversas &aacute;reas como: &aacute;rea dos clientes (cadastro e consulta), contas a pagar, contas a receber, fluxo de caixa, an&aacute;lise de resultados, organiza&ccedil;&atilde;o de dados, ordens de servi&ccedil;o, incluindo solicita&ccedil;&otilde;es de or&ccedil;amentos e muito mais. </span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><img alt="" height="373" src="https://www.workmotor.com.br/content/ImagensPosts//Tecnologia_Mais_Lucro_workmotor_Sistema_programa_gestao_erp.jpg" width="398" /></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="font-family:Calibri">O programa se expande para novas tecnologias, como o celular, tendo uma vers&atilde;o em aplicativo, assim voc&ecirc; n&atilde;o precisa ficar indo ao computador o tempo todo e pode atender seu cliente ainda mais r&aacute;pido usando o seu smartphone. </span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><br />
<span style="font-size:12pt"><span style="font-family:Calibri">Al&eacute;m do mais, o WorkMotor conta com atendimento &aacute;gil, j&aacute; que possui acesso ao cadastro nacional dos ve&iacute;culos, e pela placa do carro, voc&ecirc; consegue a m&atilde;o v&aacute;rias informa&ccedil;&otilde;es que s&atilde;o preenchidas automaticamente. O programa tamb&eacute;m oferece relacionamento com o cliente, outro ponto forte que foi comentado neste texto, j&aacute; que consegue gerar pesquisas de satisfa&ccedil;&atilde;o, hist&oacute;rico online que o seu cliente pode acessar gratuitamente depois, e convites para revis&otilde;es e promo&ccedil;&otilde;es com o <a href="http://www.maislucro.net/">Mais Lucro.</a><br />
<br />
<strong>Mais Lucro</strong> </span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="font-family:Calibri">O Mais Lucro &eacute; uma tecnologia integrada ao WorkMotor, que cria campanhas para que seus clientes retornem.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="font-family:Calibri">Ele pega a base de dados dos seus clientes pelo programa de gest&atilde;o, separa os contatos completos, aqueles com telefone, e-mail e celular e cria uma lista.<br />
Com o Mais Lucro voc&ecirc; escolhe que tipo de campanha quer fazer: convite para retorno, avisando sobre revis&atilde;o, sobre promo&ccedil;&otilde;es e muito mais.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="font-family:Calibri">O investimento &eacute; vari&aacute;vel, voc&ecirc; escolhe o quanto quer investir e o retorno &eacute; garantido. H&aacute; diversos casos de sucesso, com investimentos de R$300,00 e uma receita total final de R$ 13.735,56.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="font-family:Calibri">Seus clientes recebem liga&ccedil;&otilde;es automatizadas, mensagens de voz de de texto os lembrando de voltar para a sua oficina.&nbsp; </span></span></p>

<p style="margin-left:0cm; margin-right:0cm">&nbsp;</p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="font-family:Calibri"><strong>QueridoCarro.Com</strong><br />
O <a href="http://www.queridocarro.com">QueridoCarro.com</a> &eacute; outra inova&ccedil;&atilde;o do WorkMotor, onde futuros clientes encontram sua oficina por meio de uma pesquisa online pelo CEP e voc&ecirc; ainda pode oferecer muito mais a seus novos clientes, como o Hist&oacute;rico Online. Todo seu servi&ccedil;o fica dispon&iacute;vel online, onde voc&ecirc; e o cliente podem consultar sempre que puderem. </span></span></p>

<p style="margin-left:0cm; margin-right:0cm">&nbsp;</p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="font-family:Calibri">&Eacute; a tecnologia trabalhando a seu favor, para que voc&ecirc; tenha mais tempo para focar no que realmente importa, seu futuro, sua fam&iacute;lia, seus amigos e seu lazer. </span></span></p>
