<p><span style="font-size:18px"><strong><span style="font-family:&quot;Calibri&quot;,sans-serif">C&acirc;mbio manual x c&acirc;mbio autom&aacute;tico: qual a diferen&ccedil;a?</span></strong></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">O c&acirc;mbio manual &eacute; o jeito mais simples de trocar as marchas na hora de dirigir. O pr&oacute;prio motorista controla, por meio de uma alavanca, as mudan&ccedil;as.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">O funcionamento do sistema &eacute; por meio de mecanismos que travam e destravam sequ&ecirc;ncias de embreagem dentro de uma caixa.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Alguns carros com c&acirc;mbio manual j&aacute; s&atilde;o projetados visando a economia de combust&iacute;vel. Nestes casos, o ve&iacute;culo conta com a sexta marcha ou mais para diminuir a rota&ccedil;&atilde;o do motor e gastar menos etanol ou gasolina.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">O c&acirc;mbio autom&aacute;tico sai de f&aacute;brica com o ve&iacute;culo para oferecer uma comodidade a mais ao motorista. Neste caso, o carro calcula qual o momento certo de fazer as trocas de marcha, sem a necessidade de encostar na alavanca a todo instante.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">O c&aacute;lculo do momento certo para as trocas &eacute; feito com base na carga do ve&iacute;culo, na posi&ccedil;&atilde;o do acelerador e na velocidade.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Com esses par&acirc;metros &eacute; poss&iacute;vel dirigir de forma econ&ocirc;mica e despreocupada, por&eacute;m, sem a esportividade do c&acirc;mbio manual.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:18px"><strong><span style="font-family:Calibri,sans-serif">Manuten&ccedil;&atilde;o do c&acirc;mbio manual x c&acirc;mbio autom&aacute;tico</span></strong></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">O reparo e a manuten&ccedil;&atilde;o de um c&acirc;mbio manual s&atilde;o servi&ccedil;os complexos.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">O mec&acirc;nico faz uma checagem detalhada das engrenagens, desmonta toda a caixa de velocidades e executa as a&ccedil;&otilde;es necess&aacute;rias de acordo com cada caso.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Os principais itens da manuten&ccedil;&atilde;o do c&acirc;mbio manual s&atilde;o:</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-family:Calibri,sans-serif; font-size:11pt">Cuidado na hora de mudar as marchas;</span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Troca de &oacute;leo da caixa de velocidades nos primeiros 50 mil quil&ocirc;metros e depois a cada 100 mil;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Inspe&ccedil;&atilde;o do n&iacute;vel do &oacute;leo;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Inspe&ccedil;&atilde;o de todas as pe&ccedil;as que comp&otilde;em a engrenagem.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">A manuten&ccedil;&atilde;o do c&acirc;mbio autom&aacute;tico, por sua vez, &eacute; um procedimento mais caro, que s&oacute; deve ser feito por profissionais extremamente capacitados.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Veja as dicas de manuten&ccedil;&atilde;o desse tipo de transmiss&atilde;o de marchas:</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-family:Calibri,sans-serif; font-size:11pt">Escolha um bom profissional para os reparos;</span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Troque o flu&iacute;do da transmiss&atilde;o com a frequ&ecirc;ncia recomendada pelo especialista;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Mantenha o l&iacute;quido de arrefecimento do motor em n&iacute;veis satisfat&oacute;rios.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Caso o seu carro autom&aacute;tico apresente trepida&ccedil;&otilde;es na hora das mudan&ccedil;as de marcha ou voc&ecirc; perceba demora para arrancar, pode ser um sinal de problema.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Outro ind&iacute;cio de que algo est&aacute; errado &eacute; se voc&ecirc; nota trocas mais arrastadas.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Caso isso ocorra, n&atilde;o hesite em levar o seu ve&iacute;culo para uma revis&atilde;o. De prefer&ecirc;ncia, busque uma oficina especializada em servi&ccedil;os e pe&ccedil;as para c&acirc;mbio.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:18px"><strong><span style="font-family:Calibri,sans-serif">Como encontrar servi&ccedil;os e pe&ccedil;as para c&acirc;mbio</span></strong></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Seja autom&aacute;tico ou manual, o servi&ccedil;o deve ser bem feito para que voc&ecirc; n&atilde;o tenha problemas com o c&acirc;mbio do seu ve&iacute;culo na hora de pegar a estrada.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Para encontrar oficinas mec&acirc;nicas de qualidade e autope&ccedil;as de confian&ccedil;a, voc&ecirc; precisa de refer&ecirc;ncias.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">&Eacute; justamente isso que o QueridoCarro.com te proporciona, seguran&ccedil;a na hora de escolher o melhor servi&ccedil;o para o c&acirc;mbio do seu carro. O site conta com uma lista de profissionais de qualidade cadastrados.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Caso voc&ecirc; queira mais detalhes, poder&aacute; ver os coment&aacute;rios dos clientes antigos e saber&aacute; em detalhes como &eacute; o atendimento, a qualidade das pe&ccedil;as, o pre&ccedil;o e outras informa&ccedil;&otilde;es que considerar relevante.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:18px"><strong><span style="font-family:Calibri,sans-serif">Conte com o QueridoCarro.com</span></strong></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Para visualizar a lista de oficinais e profissionais de servi&ccedil;os e pe&ccedil;as para c&acirc;mbio autom&aacute;tico ou manual, basta dizer para o QueridoCarro.com onde voc&ecirc; quer encontrar o servi&ccedil;o.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Especifique o nome de uma rua e voc&ecirc; ver&aacute; uma lista de estabelecimentos bem pertinho de voc&ecirc;.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Ap&oacute;s especificar o tipo de servi&ccedil;o que voc&ecirc; precisa, ser&aacute; a hora de entrar em contato com as oficinas. Pelo pr&oacute;prio site &eacute; poss&iacute;vel tirar d&uacute;vidas, trocar informa&ccedil;&otilde;es e agendar uma visita.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">&Eacute; uma forma pr&aacute;tica e r&aacute;pida de manter a seguran&ccedil;a do seu ve&iacute;culo. Agora, dizer que n&atilde;o tem refer&ecirc;ncia para uma oficina perto de voc&ecirc; ou que n&atilde;o tem tempo para fazer uma liga&ccedil;&atilde;o n&atilde;o s&atilde;o mais desculpas.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Para conseguir um servi&ccedil;o com garantia de qualidade, basta fazer um simples cadastro gratuito, buscar o atendimento que deseja, trocar poucas mensagens e pronto: a visita do seu carro ao mec&acirc;nico j&aacute; est&aacute; agendada!</span></span></p>
