<p><span style="font-size:18px"><strong><span style="font-family:&quot;Calibri&quot;,sans-serif">Como saber quais os melhores servi&ccedil;os e pe&ccedil;as para a funilaria?</span></strong></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">De um simples ralado na pintura at&eacute; um amassado mais grave, bater o carro &eacute; sempre uma dor de cabe&ccedil;a.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">E nenhum motorista vai querer um servi&ccedil;o meia-boca ou pe&ccedil;as de m&aacute; qualidade, certo?</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Portanto, &eacute; importante que voc&ecirc; saiba como avaliar quais s&atilde;o os melhores servi&ccedil;os e os melhores servi&ccedil;os e pe&ccedil;as para funilaria do seu carro. Veja as dicas:</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:18px"><strong><span style="font-family:Calibri,sans-serif">Tipo de solda</span></strong></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Quando voc&ecirc; for ao local para fazer a funilaria do ve&iacute;culo, observe o tipo de solda utilizada. A t&eacute;cnica com oxiacetileno, que &eacute; aquela chama que esquenta as chapas, n&atilde;o &eacute; mais utilizada por ser um processo prejudicial.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">O correto &eacute; a funilaria utilizar solda a ponto por resist&ecirc;ncia. Outra op&ccedil;&atilde;o &eacute; a t&eacute;cnica MIG/MAG. Se estiver em d&uacute;vida, voc&ecirc; pode perguntar para o profissional a t&eacute;cnica que ele usa.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Ao procurar funilaria pelo QueridoCarro.com, voc&ecirc; pode inclusive perguntar pelo site, sem precisar ir at&eacute; o local ou telefonar.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:18px"><strong><span style="font-family:Calibri,sans-serif">Bancada de estiramento</span></strong></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Outro item a ser avaliado &eacute; a bancada de estiramento.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Trata-se de um elemento essencial para a garantia de um bom trabalho, al&eacute;m de r&eacute;guas espec&iacute;ficas para identificar a geometria do ve&iacute;culo e executar o servi&ccedil;o com precis&atilde;o.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:18px"><strong><span style="font-family:Calibri,sans-serif">Estufa</span></strong></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Voc&ecirc; tamb&eacute;m deve observar se a funilaria em que voc&ecirc; pretende fazer os servi&ccedil;os de reparo tem uma estufa. Trata-se de um local para fazer a secagem de forma mais r&aacute;pida da pintura.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Desta forma, o carro sai da oficina muito mais r&aacute;pido e com maior garantia de qualidade.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:18px"><strong><span style="font-family:Calibri,sans-serif">Martelinho de ouro, funileiro ou pintor?</span></strong></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Dependendo de como foi o acidente, voc&ecirc; pode precisar de um martelinho de ouro, um funileiro ou somente um pintor.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">N&atilde;o &eacute; poss&iacute;vel dizer qual profissional &eacute; melhor sem avaliar tamb&eacute;m as condi&ccedil;&otilde;es do ve&iacute;culo.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Cada situa&ccedil;&atilde;o demanda a indica&ccedil;&atilde;o de um tipo de trabalho. Veja as ocasi&otilde;es em que o martelinho de ouro &eacute; mais indicado:</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Quando a pintura n&atilde;o foi removida;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Amassados, contra&ccedil;&otilde;es ou retra&ccedil;&otilde;es na lataria do carro.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:18px"><strong><span style="font-family:Calibri,sans-serif">Conhe&ccedil;a as vantagens do servi&ccedil;o:</span></strong></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11.0pt"><span style="font-family:&quot;Calibri&quot;,sans-serif">Mais agilidade na entrega do ve&iacute;culo;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11.0pt"><span style="font-family:&quot;Calibri&quot;,sans-serif">N&atilde;o altera a pintura original;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11.0pt"><span style="font-family:&quot;Calibri&quot;,sans-serif">N&atilde;o altera a textura da lataria.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:18px"><strong><span style="font-family:&quot;Calibri&quot;,sans-serif">Veja as ocasi&otilde;es em que a funilaria &eacute; mais indicada:</span></strong></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11.0pt"><span style="font-family:&quot;Calibri&quot;,sans-serif">Dano profundo;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11.0pt"><span style="font-family:&quot;Calibri&quot;,sans-serif">Batida removeu a tinta;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11.0pt"><span style="font-family:&quot;Calibri&quot;,sans-serif">Danos em jun&ccedil;&atilde;o de chapas, dobras e quinas.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:18px"><strong><span style="font-family:&quot;Calibri&quot;,sans-serif">Conhe&ccedil;a as vantagens do servi&ccedil;o:</span></strong></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11.0pt"><span style="font-family:&quot;Calibri&quot;,sans-serif">Possibilidade de recuperar mais tipos de dano;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11.0pt"><span style="font-family:&quot;Calibri&quot;,sans-serif">Servi&ccedil;o inclui pintura.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:18px"><strong><span style="font-family:&quot;Calibri&quot;,sans-serif">Veja as ocasi&otilde;es em que a pintura do ve&iacute;culo &eacute; mais indicada:</span></strong></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11.0pt"><span style="font-family:&quot;Calibri&quot;,sans-serif">Desejo de mudar a cor do carro;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11.0pt"><span style="font-family:&quot;Calibri&quot;,sans-serif">Repara&ccedil;&atilde;o apenas na pintura do ve&iacute;culo (tinta queimada ou descascada).</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:18px"><strong><span style="font-family:&quot;Calibri&quot;,sans-serif">Conhe&ccedil;a as vantagens do servi&ccedil;o:</span></strong></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11.0pt"><span style="font-family:&quot;Calibri&quot;,sans-serif">Mais r&aacute;pido;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11.0pt"><span style="font-family:&quot;Calibri&quot;,sans-serif">Mais barato.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:18px"><strong><span style="font-family:&quot;Calibri&quot;,sans-serif">Como escolher pe&ccedil;as perfeitas para o carro? </span></strong></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Se voc&ecirc; quer o melhor para o seu ve&iacute;culo, deve procurar comprar pe&ccedil;as para a funilaria do carro em locais de confian&ccedil;a.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Duvide se o pre&ccedil;o for baixo demais ou se voc&ecirc; n&atilde;o conseguir obter a nota fiscal do produto.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Com o QueridoCarro.com &eacute; poss&iacute;vel saber quais s&atilde;o as oficinas com melhor avalia&ccedil;&atilde;o em servi&ccedil;os e pe&ccedil;as para funilaria.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">O site tamb&eacute;m permite que voc&ecirc; conhe&ccedil;a as autope&ccedil;as de determinado local e saiba como os clientes anteriores avaliaram as pe&ccedil;as.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Se voc&ecirc; pretende economizar, deve tomar cuidado. Provavelmente, algu&eacute;m vai te oferecer pe&ccedil;as recondicionadas, que s&atilde;o componentes usados que j&aacute; passaram por algum tipo de reparo.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Esse tipo de pe&ccedil;a j&aacute; passou por pinturas, soldas ou substitui&ccedil;&otilde;es. Em geral, a vida &uacute;til da pe&ccedil;a recondicionada &eacute; muito mais curta do que uma pe&ccedil;a comum, portanto, o barato pode sair caro.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:18px"><strong><span style="font-family:Calibri,sans-serif">Cuidados com a pintura do carro</span></strong></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Depois de saber mais sobre servi&ccedil;os e pe&ccedil;as para funilaria, fique por dentro dos cuidados com a pintura do seu carro:</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Lave o carro sempre na sombra e sem escovas;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Evite deixar o ve&iacute;culo sob a luz do sol por muito tempo;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Procure lavar imediatamente fezes de p&aacute;ssaros que possam cair na lataria, para evitar manchas;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Se a gasolina escorrer na pintura do carro, lave imediatamente;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Evite estacionar perto de &aacute;rvores, pois a seiva das plantas mancha a pintura;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Fa&ccedil;a polimento apenas quando for extremamente necess&aacute;rio.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:18px"><strong><span style="font-family:Calibri,sans-serif">Conte com o QueridoCarro.com</span></strong></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Se voc&ecirc; bateu o carro e precisa de ajuda para encontrar bons servi&ccedil;os e pe&ccedil;as para funilaria, n&atilde;o perca tempo nos sites de busca, entre no QueridoCarro.com.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Com a ferramenta, voc&ecirc; encontra profissionais de qualidade, cadastrados no sistema, que est&atilde;o esperando para cuidar do seu carro da melhor forma poss&iacute;vel.</span></span></p>
