<p><span style="font-size:18px"><strong><span style="font-family:&quot;Calibri&quot;,sans-serif">Troca de vidros danificados</span></strong></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Se um vidro do seu carro est&aacute; trincado, riscado ou quebrado, &eacute; importante que voc&ecirc; fa&ccedil;a a troca o quanto antes.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Um vidro danificado pode comprometer a visibilidade do motorista, tanto na frente quanto dos lados e atr&aacute;s.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Qualquer irregularidade no vidro pode cobrir algum obst&aacute;culo na pista e resultar em um acidente grave.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">A troca de um ou mais vidros danificados &eacute; um procedimento simples e voc&ecirc; n&atilde;o ficar&aacute; muito tempo sem o seu ve&iacute;culo.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">N&atilde;o deixe para depois um problema que pode se tornar cada vez maior! Procure um profissional qualificado de forma r&aacute;pida e pr&aacute;tica no QueridoCarro.com e fa&ccedil;a o reparo dos vidros danificados do seu ve&iacute;culo.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:18px"><strong><span style="font-family:Calibri,sans-serif">Para-brisa</span></strong></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">O para-brisa &eacute; o vidro mais importante do carro e deve estar impec&aacute;vel, pois &eacute; para onde os olhos do motorista ficam voltados a maioria do tempo.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Qualquer defeito na pe&ccedil;a pode resultar em um acidente ou inc&ocirc;modo para dirigir.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Al&eacute;m disso, o para-brisa &eacute; um item de seguran&ccedil;a e deve sempre estar em boa qualidade. Em uma colis&atilde;o, o vidro de qualidade n&atilde;o vai descolar ou soltar peda&ccedil;os que possam ferir o motorista e o passageiro que est&aacute; sentado no banco da frente.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Caso o para-brisa seja de m&aacute; qualidade, pode descolar e, inclusive, impedir o funcionamento do airbag. Com isso, um acidente de carro pode ser fatal por conta de um item que voc&ecirc; nem imaginava ser essencial para a sua seguran&ccedil;a.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Neste caso, contar com servi&ccedil;os e pe&ccedil;as para vidros pode te ajudar a manter estes itens sempre em funcionamento.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:18px"><strong><span style="font-family:Calibri,sans-serif">Troca de vidro lateral</span></strong></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Os vidros laterais precisam ser substitu&iacute;dos na maioria dos casos em que ocorre algum tipo de dano. Por conta da abertura e fechamento autom&aacute;ticos, qualquer problema j&aacute; pode impedir o funcionamento deste mecanismo.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Para evitar que voc&ecirc; fique com os vidros fechados ou abertos sempre, sem poder aliviar o calor ou se proteger do frio e da chuva, mantenha os vidros laterais sempre em boas condi&ccedil;&otilde;es.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Caso os vidros estejam trincados ou quebrados, fa&ccedil;a a substitui&ccedil;&atilde;o por completo o quanto antes.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Prolongar o tempo de reparo tamb&eacute;m pode danificar o mecanismo de abertura e fechamento da janela. Com isso, o pre&ccedil;o do conserto ficar&aacute; muito mais alto. Evite preju&iacute;zos!</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:18px"><strong><span style="font-family:Calibri,sans-serif">Qualidade do servi&ccedil;o &eacute; a sua seguran&ccedil;a</span></strong></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Na hora de buscar um profissional respons&aacute;vel pela troca de vidros automotivos, voc&ecirc; deve prezar pela qualidade do servi&ccedil;o em primeiro lugar.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Por todos os itens que mencionamos acima, fica claro que a qualidade do servi&ccedil;o &eacute; a sua seguran&ccedil;a. Al&eacute;m de a visibilidade n&atilde;o ficar comprometida, voc&ecirc; ficar&aacute; mais protegido.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Voc&ecirc; vai evitar que o vidro trave quando voc&ecirc; mais precisar fech&aacute;-lo ou abri-lo e ainda ter&aacute; a certeza de que pode encostar na janela ou no para-brisa sem risco de se cortar ou quebrar ainda mais o que est&aacute; trincado.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">No QueridoCarro.com voc&ecirc; ter&aacute; a garantia de bons profissionais para te atender em servi&ccedil;os e pe&ccedil;as para vidros.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:18px"><strong><span style="font-family:Calibri,sans-serif">Apar&ecirc;ncia ap&oacute;s a troca</span></strong></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Al&eacute;m da maior seguran&ccedil;a, a apar&ecirc;ncia ap&oacute;s a troca &eacute; muito importante. Voc&ecirc; ter&aacute; um vidro que vai deixar o carro com cara de novo.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Repare bem se n&atilde;o restou nenhum tipo de mancha, rachadura, arranh&atilde;o ou cola no vidro.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Caso isso aconte&ccedil;a, volte imediatamente &agrave; oficina que executou o trabalho e pe&ccedil;a que o dano seja reparado. N&atilde;o deixe passar muito tempo, sen&atilde;o voc&ecirc; perder&aacute; a garantia do servi&ccedil;o!</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:18px"><strong><span style="font-family:Calibri,sans-serif">Pe&ccedil;as e servi&ccedil;os para vidros: cuidados essenciais</span></strong></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Siga algumas dicas para conservar e prolongar a vida &uacute;til dos vidros do seu carro:</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Limpe os vidros com &aacute;gua e sab&atilde;o ou &aacute;lcool;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Evite utilizar abrasivos, solventes, amon&iacute;aco, cloro e &aacute;gua sanit&aacute;ria;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Evite direcionar o ar-condicionado para os vidros quando estiver calor;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Tome cuidado com locais que tenham muitas pedras na rua, para que n&atilde;o atinjam os vidros;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Se estiver em uma pista off-road, mantenha dist&acirc;ncia do ve&iacute;culo da frente para evitar que sejam lan&ccedil;adas pedrinhas no vidro do seu carro.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:18px"><strong><span style="font-family:Calibri,sans-serif">Conte com o QueridoCarro.com</span></strong></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Se voc&ecirc; precisa trocar o vidro do seu ve&iacute;culo, conte com o QueridoCarro.com. Com a ferramenta, voc&ecirc; ter&aacute; refer&ecirc;ncias sobre os servi&ccedil;os executados e poder&aacute; ter certeza de que est&aacute; contratando um servi&ccedil;o de qualidade.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Lembre-se: a qualidade do servi&ccedil;o &eacute; a garantia da sua seguran&ccedil;a!</span></span></p>
