<p><img alt="" src="https://workmotor.com.br/blog/noticia/1051/siglas-workmotor-versão-build-termos-atendimento" /><img alt="" height="200" src="http://wgtreina.com.br/wiki/images/8/84/Glossario2.jpg" width="1000" /></p>

<hr />
<p><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">Disponibilizamos mais um v&iacute;deo do quadro <span style="color:#2980b9">&quot;</span><strong><span style="color:#2980b9"><a href="https://www.youtube.com/playlist?list=PL3SRuzDU_vgXIkfHzdyABEzHs6FFXyVsy" target="_blank">Anota A&iacute;</a>&quot;</span>&nbsp;</strong>no nosso canal no YouTube.</span></span></span></p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;"><u><strong><a href="https://www.youtube.com/watch?v=BFrLkjVfspQ" target="_blank">Nesse v&iacute;deo</a></strong></u> falaremos mais sobre algumas <strong>Siglas e Termos </strong>que utilizamos em nossos canais de atendimento.</span></span></span></p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify">&nbsp;</p>

<p><a href="https://www.youtube.com/watch?v=BFrLkjVfspQ" target="_blank"><img alt="" height="197" src="http://wgtreina.com.br/wiki/images/5/57/Anotaai8.png" style="float:left" width="350" /></a></p>

<p style="margin-left:200px; margin-right:0cm; text-align:justify">&nbsp;</p>

<p style="margin-left:360px; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">Siglas e termos s&atilde;o constantes na nossa rotina di&aacute;ria e entender os seus significados &eacute; de extrema import&acirc;ncia para que execute as a&ccedil;&otilde;es corretamente.</span></span></span></p>

<p style="margin-left:360px; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">Apresentamos abaixo algumas siglas e termos que utilizamos constantemente atrav&eacute;s dos nossos canais de atendimento.</span></span></span></p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><strong><span style="font-size:12.0pt">Acesso:</span></strong></span></span></p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">Quando pedimos o &ldquo;Acesso&rdquo; estamos nos referenciando ao acesso remoto do computador que necessita de diagn&oacute;stico do software WorkMotor. Este acesso remoto pode ser realizado atrav&eacute;s das seguintes ferramentas: o TeamViewer 10, o UltraViewer , Show My PC ou mesmo o Acesso Remoto do Windows. O acesso &eacute; composto por um usu&aacute;rio e senha e &eacute; atrav&eacute;s dessas informa&ccedil;&otilde;es que &eacute; feito o acesso ao computador remotamente e preferenciamos esses aplicativos e recursos na vers&atilde;o gratuita. Caso seja necess&aacute;rio o link para download ele &eacute; enviado no pr&oacute;prio atendimento pelo t&eacute;cnico.&nbsp;</span></span></span></p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">Ao realizarmos o acesso remoto, dependendo do desempenho do computador e internet, pode ocorrer lentid&atilde;o para executar as corre&ccedil;&otilde;es.</span></span></span></p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">&Eacute; sempre importante que voc&ecirc; monitore o acesso remoto efetuado no momento.</span></span></span></p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><strong><span style="font-size:12.0pt">Vers&atilde;o:</span></strong></span></span></p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">S&atilde;o grandes atualiza&ccedil;&otilde;es de recursos do software, s&atilde;o identificadas por numera&ccedil;&otilde;es.</span></span></span></p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><strong><span style="font-size:12.0pt">Build: </span></strong></span></span></p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">S&atilde;o as atualiza&ccedil;&otilde;es que ocorrem frequentemente geralmente de 3 em 3 meses e as mesmas mant&ecirc;m a vers&atilde;o que o sistema est&aacute;, apenas adiciona melhorias e corre&ccedil;&otilde;es do sistema.&nbsp;</span></span></span></p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">No WorkMotor &eacute; apresentado o n&uacute;mero da vers&atilde;o e build para que acompanhe e mantenha sempre seu software atualizado.</span></span></span></p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">Cada n&uacute;mero possui um significado e &eacute; utilizado pelos setores no momento de averiguar o conjunto de recursos liberados em determinado pacote de atualiza&ccedil;&atilde;o.</span></span></span></p>

<p style="margin-left:0cm; margin-right:0cm; text-align:center">&nbsp;</p>

<p style="margin-left:0cm; margin-right:0cm; text-align:center"><img alt="" height="349" src="http://wgtreina.com.br/wiki/images/4/47/Vers%C3%A3o_build.png" width="361" /></p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><strong><span style="font-size:12.0pt">CSC:</span></strong></span></span></p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">C&oacute;digo de Seguran&ccedil;a do Contribuinte: Esse c&oacute;digo &eacute; fornecido ao cliente pela SEFAZ do estado a qual pertence, essa libera&ccedil;&atilde;o &eacute; obrigat&oacute;ria para a emiss&atilde;o de Nota Fiscal do Consumidor &ndash; eletr&ocirc;nica (NFC-e). &Eacute; um c&oacute;digo &uacute;nico que identifica que a empresa est&aacute; liberada para a emiss&atilde;o.</span></span></span></p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><strong><span style="font-size:12.0pt">DAV:</span></strong></span></span></p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">Documento Auxiliar de Venda: Todo cliente Porto Seguro que tem o software WorkMotor faz a integra&ccedil;&atilde;o com o WebCaps (Sistema da Porto Seguro), isso significa que os or&ccedil;amentos e vendas realizadas atrav&eacute;s do sistema da Porto s&atilde;o importadas para o WorkMotor, DAV &eacute; a denomina&ccedil;&atilde;o dessas O.S&rsquo;s (Ordens de Servi&ccedil;os).</span></span></span></p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><strong><span style="font-size:12.0pt">ID:</span></strong></span></span></p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">C&oacute;digo de Identifica&ccedil;&atilde;o: Ainda se tratando do cliente que &eacute; Porto Seguro e faz a integra&ccedil;&atilde;o com o WorkMotor, para realizar a importa&ccedil;&atilde;o das O.S&rsquo;s (Ordens de Servi&ccedil;os) &eacute; necess&aacute;rio um N&uacute;mero de Identifica&ccedil;&atilde;o (ID) e essa identifica&ccedil;&atilde;o &eacute; fornecida pela pr&oacute;pria Porto Seguro.</span></span></span></p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><strong><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">ECF:</span></strong></span></span></p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">Emissor de Cupom Fiscal, fisicamente &eacute; semelhante a uma impressora comum, mas &eacute; lacrada e possui mem&oacute;rias para registrar dados fiscais (Mem&oacute;ria Fiscal e Mem&oacute;ria Fita &ndash; Detalhe). O WorkMotor &eacute; compat&iacute;vel com algumas marcas e modelos espec&iacute;ficos.</span></span></span></p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">Para obter autoriza&ccedil;&atilde;o de uso do ECF junto ao fisco &eacute; necess&aacute;rio que uma empresa interventora t&eacute;cnica credenciada efetue a lacra&ccedil;&atilde;o do equipamento e lance os dados correspondentes no Posto Fiscal Eletr&ocirc;nico (PFE).</span></span></span></p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">O ECF n&atilde;o emite apenas o Cupom Fiscal, emite documentos de diversas naturezas, como relat&oacute;rios fiscais (Leitura X, Redu&ccedil;&atilde;o Z&nbsp;e Leitura de Mem&oacute;ria Fiscal), e documentos n&atilde;o fiscais (Relat&oacute;rio Gerencial, entre outros.)</span></span></span></p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt">A WorkGroup fornece os dados do software para a lacra&ccedil;&atilde;o da impressora atrav&eacute;s do e-mail homologacoes@pequenasempresas.net, no entanto, n&atilde;o realizamos a lacra&ccedil;&atilde;o que &eacute; responsabilidade da empresa interventora. Normalmente os estabelecimentos que vendem a impressora fiscal j&aacute; realizam o processo de lacra&ccedil;&atilde;o.</span></span></span></p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><strong><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">PAF-ECF:</span></strong></span></span></p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">Programa Aplicativo Fiscal &ndash; do Emissor de Cupom Fiscal. PAF &eacute; o programa que se comunica com o ECF para efetuar a impress&atilde;o do Cupom Fiscal. &Eacute; conhecido tamb&eacute;m como &ldquo;Aplicativo Frente de Loja&rdquo;.&nbsp; </span></span></span></p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">O PAF-ECF vem sendo gradativamente substitu&iacute;do pela emiss&atilde;o eletr&ocirc;nica atrav&eacute;s da NFC-e (Nota Fiscal do Consumidor Eletr&ocirc;nica) e pelo SAT-CF-e (Sistema Autenticador e Transmissor de Cupons Fiscais Eletr&ocirc;nicos).</span></span></span></p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">Verifique com a contabilidade, qual tipo de emiss&atilde;o sua empresa se enquadra para atender a legisla&ccedil;&atilde;o vigente.</span></span></span></p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><strong><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">IBPT:</span></strong></span></span></p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><u><strong><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;"><a href="https://ibpt.com.br/" target="_blank">Instituto Brasileiro de Planejamento e Tributa&ccedil;&atilde;o</a></span></strong></u><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">, o instituto se dedica a estudar o sistema tribut&aacute;rio do pa&iacute;s e oferece diversas solu&ccedil;&otilde;es, uma delas &eacute; o projeto </span><u><strong><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;"><a href="https://deolhonoimposto.ibpt.org.br/" target="_blank">&quot;De Olho no Imposto&quot;</a></span></strong></u><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">, esse recurso oferece tabelas com as al&iacute;quotas, NCM (Classifica&ccedil;&otilde;es Fiscais) e outros c&oacute;digos para serem baixadas e integradas ao sistema. Um recurso facilitador &eacute; a Tabela IBPT, ela apresenta todas as NCMs e suas respectivas al&iacute;quotas, essa tabela pode ser importada para o WorkMotor agilizando o cadastros das NCM&rsquo;s e al&iacute;quotas, que s&atilde;o informa&ccedil;&otilde;es obrigat&oacute;rias para o envio de Notas Fiscais.</span></span></span></p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify">&nbsp;</p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">Acompanhe nossos conte&uacute;dos.</span></span></span></p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><strong><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">Contamos com Voc&ecirc;!</span></strong></span></span></p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify">&nbsp;</p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><strong><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">Importante:</span></strong> </span></span></p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">Se inscreva no nosso <span style="color:#2980b9"><a href="http://www.youtube.com/channel/UCu1qIzZARaQU2HXyFKfowgg" target="_blank"><u><strong>Canal</strong></u></a> </span>e clique no &quot;sininho&quot; para ativar as notifica&ccedil;&otilde;es.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify">&nbsp;</p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><strong><span style="font-size:12.0pt">FONTES:</span></strong></span></span></p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;"><a href="https://pt.wikipedia.org/wiki/Build" target="_blank">https://pt.wikipedia.org/wiki/Build</a></span></span></span></p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;"><a href="https://portal.fazenda.sp.gov.br/servicos/ecf/" target="_blank">https://portal.fazenda.sp.gov.br/servicos/ecf/</a></span></span></span></p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><a href="https://ibpt.com.br/" target="_blank">IBPT</a></span></span></span></p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><a href="https://deolhonoimposto.ibpt.org.br/" target="_blank">De olho do imposto</a></span></span></span></p>
