﻿@{
    ViewBag.Title = "News WorkMotor";
    ViewBag.Descricao = "Ultimas noticias";
}

@*<!DOCTYPE html>
<html>
<style type="text/css">

    body {
        margin: 0;
    }
</style>

<body>
    <iframe style="position:fixed; top:0px; left:0px; bottom:0px; right:0px; min-width:100%; min-height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;" src="http://workmotor.com/News/"></iframe>
</body>
</html>*@
<script>
    window.location.href = "http://workmotor.com/News/";
</script>