﻿
@{
    ViewBag.Title = "Empresas parceiras do nosso programa - WorkMotor";
    ViewBag.Href = "parceiros/";
    Layout = "../Shared/_LayoutMenu.cshtml";
    ViewBag.Descricao = "WorGroup é uma empresa sólida no mercado, nosso software WorkMotor possuí diversos parceiros como Dpaschoal, Porto Seguro, Mega Laudo entre outros, para que seu negócio tenha ainda mais autonomia.";
}

<div class="row parceiros-row-parceiros">
    <div class="col-md-12">
        <div class="col-md-11 col-md-offset-1">
            <div class="col-md-9">
                <div class="row">
                    <h1 class="tituloCliente">
                        <span>Parceiros</span> WorkMotor
                    </h1>
                    <div class="col-md-3">
                        <div class="row">
                            <hr class="hrtituloCliente" />
                        </div>
                    </div>
                    <div class="col-md-9"></div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-11">
                        <div class="row adjust-1366">
                            <h4>
                                O WorkMotor é um sistema completo de gestão de autopeças, que atende oficinas mecânicas, reparadores, atacarejos e lojas de peças automotivas. Com o WorkMotor você pode melhorar o desempenho do seu negócio.
                            </h4>
                        </div>
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>
            <div class="col-md-3 sobre form-border">
                <form class="form-horizontal form" method="post" id="formContato" action="JavaScript:window.enviarForm();">
                    <br />
                    <h5 class="text-center text-white">AGENDE UMA ANÁLISE</h5>
                    <div class="col-md-12">
                        <input class="form-control" placeholder="NOME" type="text" id="Nome" name="Nome" autocomplete="name" required="required" />
                        <br />
                    </div>
                    <div class="col-md-12">
                        <input class="form-control" placeholder="TELEFONE" type="tel" id="Telefone" name="Telefone" autocomplete="tel-national" required="required" />
                        <br />
                    </div>
                    <div class="col-md-12">
                        <input class="form-control" placeholder="E-MAIL" type="email" id="Email" name="Email" autocomplete="email" required="required" />
                        <br />
                    </div>
                    <div class="col-md-12 col-xs-12">
                        <button id="enviarFormulario" type="submit" class="btn btn-primary col-md-12">ENVIAR</button>
                        <br />
                    </div>
                    <br />
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3 parceiros-row-divider" >
        <hr class="hrtituloCliente" />
    </div>
</div>
<div class="row parceiros-row-imagem-slide">
    <div class="col-md-5 parceiros-imagem-slide-col-imagem">
        <img src="~/Content/Imagens/monitor_app.png" alt=""/>
    </div>
    <div class="col-md-7" style="margin-top: 10%; height: 50% !important;">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <div class="row parceiros-receize parceiros-imagem parceiros-imagem-slide-col-slide-porto-imagem">
                        <img src="~/Content/Imagens/porto.png" alt=""/>
                    </div>
                    <div class="row parceiros-imagem-slide-col-slide-divider">
                        <hr class="hrtituloCliente" />
                    </div>
                    <div class="row parceiros-imagem-slide-col-slide-texto">
                        Além de atuar nos principais ramos de seguros patrimoniais e de pessoas, a Porto Seguro oferece, por meio das 28 empresas que fazem parte do Grupo, mais de 50 produtos e serviços, como consórcios, soluções financeiras, proteção e monitoramento, telefonia móvel, saúde ocupacional, entre outros.
                    </div>
                </div>

                <div class="item">
                    <div class="row parceiros-receize parceiros-imagem parceiros-imagem-slide-col-slide-dpk-imagem">
                        <img src="~/Content/Imagens/dpk.png" alt="" />
                    </div>
                    <div class="row parceiros-imagem-slide-col-slide-divider">
                        <hr class="hrtituloCliente" />
                    </div>
                    <div class="row parceiros-imagem-slide-col-slide-texto">
                        Especializada na distribuição automotiva no Brasil, a DPK está no mercado desde 1987, contando com dezoito filiais pelo país com um sistema avançado de distribuição de produtos. Para deixar sua infraestrutura mais dinâmica e completa, a DPK possui escritórios regionais, franquias e postos de atendimento ao cliente, conhecidos como PAAC – todos dispostos a atender as necessidades dos clientes.
                    </div>
                </div>

                <div class="item">
                    <div class="row parceiros-receize parceiros-imagem parceiros-imagem-slide-col-slide-dpaschoal-imagem">
                        <img src="~/Content/Imagens/dpaschoal.png" alt=""/>
                    </div>
                    <div class="row parceiros-imagem-slide-col-slide-divider">
                        <hr class="hrtituloCliente" />
                    </div>
                    <div class="row parceiros-imagem-slide-col-slide-texto">
                        Em 1949 a DPaschoal entrava no mercado com uma proposta inovadora de atendimento automotivo. Nessas seis décadas a empresa cresceu, ampliou sua atuação, ditou tendências e evoluiu com excelência no segmento. Para que essa realidade dinâmica mantivesse seu tom de modernidade, vários diferenciais foram adotados e assimilados pela empresa, e que garantiram até hoje um lugar de destaque entre todos os públicos que, direta ou indiretamente, desfrutam dos serviços e atendimentos da DPaschoal.
                    </div>
                </div>
                
                <div class="item">
                    <div class="row parceiros-receize parceiros-imagem parceiros-imagem-slide-col-slide-porto-imagem">
                        <img src="~/Content/Imagens/global.png" alt=""/>
                    </div>
                    <div class="row parceiros-imagem-slide-col-slide-divider">
                        <hr class="hrtituloCliente" />
                    </div>
                    <div class="row parceiros-imagem-slide-col-slide-texto">
                        Constituída em dezembro de 2001 a Global Fleet é a primeira empresa brasileira voltada 100% para a gestão de manutenção de frotas, onde a busca pela melhoria da qualidade é constante.
                    </div>
                </div>

                <div class="item">
                    <div class="row parceiros-receize parceiros-imagem parceiros-imagem-slide-col-slide-porto-imagem">
                        <img src="~/Content/Imagens/tecno.png" alt=""/>
                    </div>
                    <div class="row parceiros-imagem-slide-col-slide-divider">
                        <hr class="hrtituloCliente" />
                    </div>
                    <div class="row parceiros-imagem-slide-col-slide-texto">
                        A Tecnomotor é uma empresa brasileira considerada líder em seu setor. Ele está no mercado há mais de 35 anos, com foco constante na produção de equipamentos e desenvolvimento de soluções para a inspeção de veículos e auto reparação. Os produtos Tecnomotor têm sido utilizados em toda a América Latina e nossos clientes podem recebê-los de uma rede de Distribuidores qualificados e treinados. Além disso, existem planos de expansão para a Europa, Ásia e África.
                    </div>
                </div>

                <div class="item">
                    <div class="row parceiros-receize parceiros-imagem parceiros-imagem-slide-col-slide-porto-imagem">
                        <img src="~/Content/Imagens/mega.png" alt=""/>
                    </div>
                    <div class="row parceiros-imagem-slide-col-slide-divider">
                        <hr class="hrtituloCliente" />
                    </div>
                    <div class="row parceiros-imagem-slide-col-slide-texto">
                        Sistema de gestão e informação veicular para o segmento ECV (Empresa Credenciada de Vistoria). É uma empresa privada que gera Histórico e Procedência Veicular e gera à WorkMotor dados de frota.
                    </div>
                </div>

                <div class="item">
                    <div class="row parceiros-receize parceiros-imagem parceiros-imagem-slide-col-slide-porto-imagem">
                        <img src="~/Content/Imagens/info.png" alt=""/>
                    </div>
                    <div class="row parceiros-imagem-slide-col-slide-divider">
                        <hr class="hrtituloCliente" />
                    </div>
                    <div class="row parceiros-imagem-slide-col-slide-texto">
                        A INFORLUBE SOLUTION nasceu da necessidade do mercado de reparação automotiva em usar informações originais de fábrica, na manutenção dos veículos fabricados a partir dos anos 90. Criada em 1998, a empresa vem atuando ao longo de 20 anos na obtenção de informações consistentes e seguras, consolidando as informações técnicas, normas e tecnologias aplicadas pelo setor automotivo com o maior acervo de dados técnicos automotivos do mundo.
                    </div>
                </div>

                <div class="item">
                    <div class="row parceiros-receize parceiros-imagem parceiros-imagem-slide-col-slide-porto-imagem">
                        <img src="~/Content/Imagens/bfx.png" alt=""/>
                    </div>
                    <div class="row parceiros-imagem-slide-col-slide-divider">
                        <hr class="hrtituloCliente" />
                    </div>
                    <div class="row parceiros-imagem-slide-col-slide-texto">
                        A BFX-Borflex é uma empresa nacional, com 30 anos de atuação no mercado. Instalada em um moderno parque industrial na cidade de Leme, interior de São Paulo, desenvolve e produz a mais completa linha de produtos metal borracha de alta performance para a indústria automobilística nacional e internacional.
                    </div>
                </div>

                <div class="item">
                    <div class="row parceiros-receize parceiros-imagem parceiros-imagem-slide-col-slide-porto-imagem">
                        <img src="~/Content/Imagens/empreender.png" alt=""/>
                    </div>
                    <div class="row parceiros-imagem-slide-col-slide-divider">
                        <hr class="hrtituloCliente" />
                    </div>
                    <div class="row parceiros-imagem-slide-col-slide-texto">
                        O Empreender é um programa da CACB, em parceria com o SEBRAE, que visa o fortalecimento da micro e pequena empresa ao reunir empresários de um mesmo município nos chamados núcleos setoriais. Neles, os empresários discutem seus problemas e buscam soluções conjuntas com apoio de um profissional vinculado à entidade empresarial.
                    </div>
                </div>
            </div>

            

            <!-- Left and right controls -->
            <a class="left carousel-control slide-control" href="#myCarousel" data-slide="prev">
                @*<span class="glyphicon glyphicon-chevron-left"></span>*@
                <span class="fa fa-caret-left fa-4x"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control slide-control carousel-control-right" href="#myCarousel" data-slide="next">
                @*<span class="glyphicon glyphicon-chevron-right"></span>*@
                <span class="fa fa-caret-right fa-4x"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3" style="left: 0; margin-top: 29px;">
        <hr class="hrtituloCliente" />
    </div>
</div>
<div class="row produtos-logos" style="padding-left: 2vw; padding-right: 2vw;">
    <img src="/Content/Imagens/engrenagemApp.png" class="img-responsive app maskAgua-engrenagem parceiros-maskAgua-engrenagem hidden-xs" />
    <div class="col-md-12">
        <div class="row" style="display: inline-block; vertical-align: middle; text-align: center;">
            <div class="col-md-3 col-xs-12 parceiros-receize-small parceiros-margin-up">
                <img src="~/Content/Imagens/porto.png" alt=""/>
            </div>
            <div class="col-md-3 col-xs-12 parceiros-receize-small parceiros-margin-up">
                <img src="~/Content/Imagens/dpk.png"  alt=""/>
            </div>
            <div class="col-md-3 col-xs-12 parceiros-receize-small parceiros-margin-up">
                <img src="~/Content/Imagens/dpaschoal.png" alt=""/>
            </div>
            <div class="col-md-3 col-xs-12 parceiros-receize-small parceiros-margin-up">
                <img src="~/Content/Imagens/global.png"  alt=""/>
            </div>
            <div class="col-md-3 col-xs-12 parceiros-receize-small parceiros-margin-up-mega">
                <img src="~/Content/Imagens/mega.png"  alt=""/>
            </div>
        </div>
        <div class="row" style="margin-top: 4vh; display: inline-block; vertical-align: middle; text-align: center;">
            <div class="col-md-3 col-xs-12 parceiros-receize-small parceiros-margin">
                <img src="~/Content/Imagens/info.png" alt=""/>
            </div>
            <div class="col-md-3 col-xs-12 parceiros-receize-small parceiros-margin">
                <img src="~/Content/Imagens/empreender.png"  alt=""/>
            </div>
            <div class="col-md-3 col-xs-12 parceiros-receize-small parceiros-margin-tecno">
                <img src="~/Content/Imagens/tecno.png" alt="">
            </div>
            <div class="col-md-3 col-xs-12 parceiros-receize-small parceiros-margin">
                <img src="~/Content/Imagens/bfx.png"  alt=""/>
            </div>
        </div>
    </div>
</div>
