﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/editorCss")
    @Scripts.Render("~/bundles/editorJs")
    @Styles.Render("~/Content/css")

    @RenderSection("scripts", required: false)
</head>
<body class="layoutMenu">

<nav class="navbar navbar-info navbar-fixed-top conteudo">
    <img class="img-responsive logolayoutadm" src="/Content/Imagens/logoMenu.png" alt="" />
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#Icones">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
     
    </div>
    <div class="collapse navbar-collapse " id="Icones">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="@Url.Action("Logout", "LoginConteudo", new {area = "Conteudo"})">Sair</a></li>
             
        </ul>
    </div>
</nav>

<aside>
    <div id="sidebar" class="nav-collapse conteudo">
        <ul class="sidebar-menu" id="nav-accordion">
            <li>
                <a href="@Url.Action("Index", "DashboardPublicacoes", new {area = "Conteudo"})">
                    <i class="fa fa-dashboard"></i>
                    <span>Posts</span>
                </a>
            </li>

        </ul>
    </div>
   
</aside>
<section id="main-content">
    <section class="wrapper site-min-height">
        <br />
        @RenderBody()
        <div id="modal"></div>
    </section>
</section>

@RenderSection("scripts", required: false)

<script>
    var Script = function () {

      
        jQuery('.panel .tools .fa-chevron-down').click(function () {
            var el = jQuery(this).parents(".panel").children(".panel-body");
            if (jQuery(this).hasClass("fa-chevron-down")) {
                jQuery(this).removeClass("fa-chevron-down").addClass("fa-chevron-up");
                el.slideUp(200);
            } else {
                jQuery(this).removeClass("fa-chevron-up").addClass("fa-chevron-down");
                el.slideDown(200);
            }
        });
        jQuery('.panel .tools .fa-times').click(function () {
            jQuery(this).parents(".panel").parent().remove();
        });

        if ($(".custom-bar-chart")) {
            $(".bar").each(function () {
                var i = $(this).find(".value").html();
                $(this).find(".value").html("");
                $(this).find(".value").animate({
                        height: i
                    },
                    2000)
            })
        }
    }();
    $('[data-toggle="tooltip"]').tooltip();


</script>
</body>
</html>
