﻿@{
    ViewBag.Title = "Clientes do nosso programa para oficinas mecânicas - WorkMotor";
    ViewBag.Href = "clientes/";
    Layout = "../Shared/_LayoutMenu.cshtml";
    ViewBag.Descricao = "Programa para oficinas mecânicas que gera resultados reais em pouco tempo. Veja os depoimentos dos clientes WorkMotor.";
}
<div class="row" style="margin-top: 10vh;">
    <div class="col-md-12">
        <div class="col-md-11 col-md-offset-1">
            <div class="col-md-9 hidden-xs">
                <div class="row">
                    <h1 class="tituloCliente">
                        Clientes <span>WorkMotor</span>
                    </h1>
                    <div class="col-md-3">
                        <div class="row">
                            <hr class="hrtituloCliente" />
                        </div>
                    </div>
                    <div class="col-md-9"></div>
                </div>
                <br /><br /><br /><br /><br /><br /><br />
                <div class="row">
                    <h2 class="tituloCliente">
                        <span>Oficina</span> Revisa Bosch Car Service
                    </h2>
                </div>
            </div>
            <div class="col-md-3 sobre form-border">
                <form class="form-horizontal form" method="post" id="formContato" action="JavaScript:window.enviarForm();">
                    <br />
                    <h5 class="text-center text-white">AGENDE UMA ANÁLISE</h5>
                    <div class="col-md-12">
                        <input class="form-control" placeholder="NOME" type="text" id="Nome" name="Nome" autocomplete="name" required="required" />
                        <br />
                    </div>
                    <div class="col-md-12">
                        <input class="form-control" placeholder="TELEFONE" type="tel" id="Telefone" name="Telefone" autocomplete="tel-national" required="required" />
                        <br />
                    </div>
                    <div class="col-md-12">
                        <input class="form-control" placeholder="E-MAIL" type="email" id="Email" name="Email" autocomplete="email" required="required" />
                        <br />
                    </div>
                    <div class="col-md-12">
                        <button id="enviarFormulario" type="submit" class="btn btn-primary col-md-12">ENVIAR</button>
                        <br />
                    </div>
                    <br />
                </form>
            </div>
            <div class="col-xs-12 hidden-lg hidden-md">
                <div class="row">
                    <h2 class="tituloCliente">
                        Clientes <span>WorkMotor</span>
                    </h2>
                    <div class="col-md-3">
                        <div class="row">
                            <hr class="hrtituloCliente" />
                        </div>
                    </div>
                    <div class="col-md-9"></div>
                </div>
                <div class="row">
                    <h2 class="tituloCliente">
                        <span>Oficina</span> Revisa Bosch Car Service
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="col-md-11 col-md-offset-1">
            <h4><strong>DETALHES</strong></h4>
            <div class="col-md-5">
                <div class="row">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/OGznM282PN0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-7 margintop30px ">
                <div class="col-md-4">
                    <img src="~/Content/Imagens/cliente1.png" class="img-responsive" alt=""/>
                </div>
                <div class="col-md-12 pull-left">
                    <br />
                    <h4>
                        “Escolhi o WorkMotor para abrir a empresa com o pé direito… Eu atribuo grande parte do sucesso da Revisa ao WorkMotor que me ajudou em muito na organização e administração da minha empresa."
                    </h4>
                    <h4><b>Silvio G. Neto - Proprietário da Revisa Bosch Car Service</b></h4>
                </div>
            </div>

        </div>
        <div class="col-md-3 col-md-offset-1">
            <br />
            <div class="row">
                <hr class="hrtituloCliente" />
            </div>
        </div>
        <div class="col-md-9"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="col-md-11 col-md-offset-1">
            <div class="col-md-9">
                <div class="row">
                    <h2 class="tituloCliente">
                        <span>Mecânica </span>3s
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="col-md-11 col-md-offset-1">
            <h4><strong>DETALHES</strong></h4>
            <br />
            <div class="col-md-5">
                <div class="row">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/TJTqw4tFD40" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-7 margintop30px ">
                <div class="col-md-4">
                    <img src="~/Content/Imagens/cliente2.png" class="img-responsive" alt=""/>
                </div>
                <div class="col-md-12 pull-left">
                    <br />
                    <h4>
                        “O nosso crescimento veio  junto com o  WorkMotor, é um programa completo que consegue atender a gente em toda a necessidade, desde a contabilidade, a parte de escritas fiscais, financeiro, estoques, notas fiscais, e muito mais”.
                    </h4>
                    <h4><b>Nelson - Proprietário da 3S Mecânica e Funilaria </b></h4>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-md-offset-1">
        <br />
        <div class="row">
            <hr class="hrtituloCliente" />
        </div>
    </div>
    <div class="col-md-9"></div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="col-md-11 col-md-offset-1">
            <div class="col-md-9">
                <div class="row">
                    <h2 class="tituloCliente">
                        <span>Distribuidora </span>Gimenes
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="col-md-11 col-md-offset-1">
            <h4><strong>DETALHES</strong></h4>
            <br />
            <div class="col-md-5">
                <div class="row">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/sEmwbWfTCk4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-7 margintop30px">
                <div class="col-md-4">
                    <img src="~/Content/Imagens/cliente3.png" class="img-responsive" alt="" />
                </div>
                <div class="col-md-12 pull-left">
                    <br />
                    <h4>
                        “WorkMotor é ótimo pela facilidade de uso no meu dia a dia, buscar informações, colocar informações sobre empresas, produtos, estoques, tudo é muito fácil e simples, o que facilita muito no dia a dia da empresa” .
                    </h4>
                    <h4><b>Junior - Gerente Comercial da Gimenes Distribuidora </b></h4>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<br />
<br />
