﻿@{
    ViewBag.Title = "ConfirmacaoCadastroCliente";
    Layout = "../Shared/_LayoutTSPneus.cshtml";

}

<h2>Confirmacão de Cadastro</h2>
<hr />

<h4>Cadastro confirmado com sucesso, download em andamento ...</h4>

