﻿@model SiteWorkMotor.ViewModel.ClienteViewModel
@{
    ViewBag.Title = "Workmotor Free";
    Layout = "../Shared/_LayoutTSPneus.cshtml";
}

<div class="row div-index">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-3">
                <br />
                <br />
                <br />
                <br />
                <br />
                <iframe width="480" height="290" src="https://www.youtube.com/embed/XfiuwBjtHcA" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="col-md-8 col-md-offset-1 div-standard-background">
                <h4 class="titulo">O MELHOR SOFTWARE DE OFICINAS <br />E AUTOPEÇAS GRATUITAMENTE</h4>
                <img class="planodpk" width="90%" src="/Content/Imagens/plano.png" />

            </div>
            <br />

            <div class="col-md-offset-8 col-md-4 form-cliente" style="margin-left: 70%; margin-top: -3%;">
                <h4 class="pull-right titulo-baixar">BAIXE AGORA</h4>
                @using (Html.BeginForm("RegistrarCliente1", "TSPneus", FormMethod.Post, new { @id = "form-registrar-cliente1", @class = "form-horizontal", role = "form" }))
                {
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @type = "email", @placeholder = "E-MAIL", @required = "required" })
                        </div>
                    </div>
                    @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.TextBoxFor(m => m.Telefone, new { @class = "form-control", @id = "Telefone", @placeholder = "DDD+TELEFONE", @required = "required" })
                        </div>
                        @Html.ValidationMessageFor(x => x.Telefone, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <div class="col-md-8 col-md-offset-2  pull-right">
                            <button type="submit" id="btn-enviar" class="btn btn-danger form-control"><b>BAIXAR</b> <i class="fa"></i></button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>