﻿@model SiteWorkMotor.ViewModel.ContatoPatrocinadorViewModel

@{
    ViewBag.Title = "Patrocinadores";
    Layout = "../Shared/_LayoutTSPneus.cshtml";


}


<div class="row div-patrocinadores">
    <div class="col-md-4 col-md-offset-1" style="margin-top: 1vw;">
        <h5>Deseja ser um patrocinador do Workmotor Free?</h5>
        <h5>Preencha o formulario que entraremos em contato com você!</h5>
    </div>
    <div class="col-md-1 "></div>
    <div class="col-md-6 ">
        <h2>Patrocinadores</h2>
        <hr />
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="col-md-4 col-md-offset-1 form-contato-padrocinador">
                <div class="col-md-10">

                </div>

                @using (Html.BeginForm("Index", "Parceiros", FormMethod.Post, new { @class = "form-horizontal", @id = "form-contato", role = "form" }))
                {
                    <div class="col-md-10">
                        @Html.ValidationSummary()
                    </div>

                    <div class="col-md-10 sucessContato">
                        <span>@ViewBag.EmailContatoSucesso1</span>
                    </div>
                    <div class="col-md-10 sucessContato">
                        <span>@ViewBag.EmailContatoSucesso2</span>
                    </div>

                    <div class="col-md-10 errorContato">
                        <span>@ViewBag.EmailContatoErro</span>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.NomeRazaoSocial, new { @class = "form-control", @placeholder = "NOME" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "E-MAIL" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Telefone, new { @class = "form-control", @id = "telefone", @placeholder = "TELEFONE" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.TextAreaFor(m => m.Mensagem, new { @class = "form-control input-contato-mensagem", required = string.Empty, @placeholder = "MENSAGEM" })
                        </div>
                    </div>

                    <div class="col-md-8 col-md-offset-1">
                        <input type="submit" value="Enviar" class="btn btn-primary form-control" />
                    </div>
                }
            </div>
            <div class="col-md-1 "></div>

            <div class="col-md-6 div-conteudo-patrocinadores">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        @*<div class="item active">
                                <img width="250" height="250" src="../../Content/images/logo-compredireto.png" class="img-responsive img-rounded" alt="Compre Direto">
                                <br />
                                <p style="margin-left: -12vw;">
                                    No Compre Direto você encontra desde peças originais
                                    até as recomendadas e homologadas pelas montadoras,além de autopeças de reposição.
                                    São peças mecânicas, elétricas, de acabamento, acessórios, lubrificantes e fluídos,
                                    peças de funilaria/lanternagem e milhares de produtos ligados ao universo automotivo.
                                </p>
                                <p style="margin-left: -12vw;">
                                    Para mais informações, acesse: <a href="http://www.compredireto.com.br" target="_blanc">www.compredireto.com.br</a>
                                </p>
                            </div>*@
                        <div class="item" id="divdpk">
                            <img width="250" height="250" src="../../Content/images/logo-dpk.png" class="img-responsive img-rounded" alt="DPK">
                            <br />
                            <p style="margin-left: -12vw;">
                                A DPK é uma empresa que pertence ao Grupo DPaschoal especializada na distribuição
                                automotiva para todo o território nacional, conta com o mais avançado sistema de
                                distribuição com dezoito depósitos espalhados pelo País. Para realizar o atendimento,
                                possui área comercial em Campinas-SP e estruturas de Distribuição em vários estados
                                brasileiros.
                            </p>
                            <p style="margin-left: -12vw;">
                                Para mais informações, acesse: <a href="http://www.dpk.com.br" target="_blanc">www.dpk.com.br</a>
                            </p>
                        </div>

                        <div class="item " id="divgimenes">
                            <img width="250" height="250" src="../../Content/images/logo-gimenes.png" class="img-responsive img-rounded" alt="Gimenes">
                            <br />
                            <p style="margin-left: -12vw;">
                                A Gimenes é uma distribuidora de autopeças, que sempre busca ampliar sua linha de produtos
                                para atender às necessidades do mercado. Oferece prazo de entrega ágil, por meio de parcerias
                                com empresas de transportes.
                            </p>
                            <p style="margin-left: -12vw;">
                                Para mais informações, acesse: <a href="http://www.gimenessanches.com.br" target="_blanc">www.gimenessanches.com.br</a>
                            </p>
                        </div>
                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                        <span class="fa fa-arrow-left fa-2x"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                        <span class="fa fa-arrow-right fa-2x"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <div class="col-md-12">

                    <div class="col-md-12">
                        <div class="col-md-12 hidden" id="txtgimenes">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    @section scripts{
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/jquerymask")

        <script>
        workFree.mascararContato();
        $('#myCarousel').bind('slide.bs.carousel', function (e) {
            console.log('slide event!');
        });
        </script>
    }
