﻿@model SiteWorkMotor.ViewModel.PublicacoesViewModel
@{
    ViewBag.Title = "Edição";
    ViewBag.Href = "blog/noticias/";
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}
<Br />
<Br />
<Br />
<div class="row">
    <div class="col-md-8">
        <h1 class="my-4">Notícias</h1>
        @if (Model.Publicacao.Count == 0)
        {
            <h3>Ainda não temos publicações disponíveis</h3>
        }
        @foreach (var post in Model.Publicacao)
        {
            <div class="row mt-4">
                <div class="col-md-4">
                    <img src="@post.PathMiniatura" style="max-width: 100%">
                    @*<img src="@Url.Content(post.PathMiniatura)">*@
                </div>
                <div class="card mb-4 col-md-8">
                    <div class="card-body">
                        <h2 class="card-title"><a href="@Url.Action("Noticia", "Blog", new {id = post.Id, Descricao = post.Url})" class="blog-link">@post.TituloTexto</a></h2>
                        <p class="card-text">@post.Resumo</p>
                        <a href="@Url.Action("Noticia", "Blog", new {id = post.Id, Descricao = post.Url})" class="btn btn-primary btn-azulClaro">LER MAIS &rarr;</a>
                    </div>
                    <div class="card-footer text-muted" style="padding-left: 15px; padding-right: 15px;">
                        Postado @post.PublicadoEm
                    </div>
                </div>
            </div>

        }


        @*<ul class="pagination justify-content-center mb-4">
            <li class="page-item">
                <a class="page-link" href="#">&larr; Voltar</a>
            </li>
            <li class="page-item disabled">
                <a class="page-link" href="#">Próximo &rarr;</a>
            </li>
        </ul>*@
    </div>
    <div class="col-md-4" style="margin-top: -1rem;">
        <div class="card my-4">
            <form action="@Url.Action("PesquisarNoticina","Blog")">
                <h5 class="card-header">Pesquisar</h5>
                <div class="card-body">
                    <div class="input-group">
                        <input type="text" class="form-control" name="palavra" id="palavra" placeholder="Pesquisar por...">
                        <span class="input-group-btn">
                            <button class="btn btn-primary btn-azulClaro" type="submit">PESQUISAR</button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
        <div class="card my-4">
            <h5 class="card-header">Em destaque</h5>
            <div class="card-body">
                <div class="row">
                    @*@{
                        var lista1 = new List<string>();
                        var lista2 = new List<string>();
                    }
                    @if (Model != null && Model.PalavrasChave.Any())
                    {
                        if (@Model.PalavrasChave.Count % 2 != 0)
                        {
                            Model.PalavrasChave.Add("");
                        }
                        try
                        {
                            lista1.AddRange(@Model.PalavrasChave.GetRange(0, (Model.PalavrasChave.Count / 2) - 1));
                            lista2.AddRange(@Model.PalavrasChave.GetRange((Model.PalavrasChave.Count / 2) - 1, @Model.PalavrasChave.Count - 1));
                        }
                        catch (Exception e)
                        {
                            lista1.AddRange(@Model.PalavrasChave.GetRange(0, (Model.PalavrasChave.Count) ));

                        }
                    }

                    <div class="col-lg-6">
                        <ul class="list-unstyled mb-0">
                            @foreach (var palavra in lista1)
                            {
                                <li>
                                    <a href="@Url.Action("NoticiasPorPalavraChave","Blog")?palavra=@palavra">@palavra</a>
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul class="list-unstyled mb-0">
                            @foreach (var palavra in lista2)
                            {
                                <li>
                                    <a href="@Url.Action("NoticiasPorPalavraChave","Blog")?palavra=@palavra">@palavra</a>
                                </li>
                            }
                        </ul>
                    </div>*@
                    <div class="col-lg-6">
                        <ul class="list-unstyled mb-0">
                            @{ var counter = 0; }
                            @foreach (var palavra in Model.PalavrasChave)
                            {
                                counter++;
                                if (counter <= Math.Ceiling((double) Model.PalavrasChave.Count() / 2))
                                {
                                    <li>
                                        <a href="@Url.Action("NoticiasPorPalavraChave", "Blog")?palavra=@palavra">@palavra</a>
                                    </li>
                                }
                                else
                                {
                                    if (counter - 1 <= Math.Ceiling((double) Model.PalavrasChave.Count() / 2) && counter > Math.Ceiling((double)Model.PalavrasChave.Count() / 2))
                                    {
                                        @:</ul></div><div class="col-lg-6"><ul class="list-unstyled mb-0">
                                    }
                                    <li>
                                        <a href="@Url.Action("NoticiasPorPalavraChave", "Blog")?palavra=@palavra">@palavra</a>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->