﻿@model  SiteWorkMotor.ViewModel.PublicacaoViewModel
@section MetaTags
{
    <meta property="fb:app_id"             content="2232115907016807">
    <meta property="og:url"                content="https://www.workmotor.com.br/Blog/Noticia/@Model.Id" />
    <meta property="og:type"               content="website" />
    <meta property="og:title"              content="@Model.TituloTexto" />
    <meta property="og:description"        content="@Model.Resumo" />
    <meta property="og:image:url"          content="https://www.workmotor.com.br/@Model.PathMiniatura.Substring(Model.PathMiniatura.LastIndexOf("Content"))" />
    <meta property="og:image:secure_url"   content="https://www.workmotor.com.br/@Model.PathMiniatura.Substring(Model.PathMiniatura.LastIndexOf("Content"))" />
    <meta property="og:image:width"        content="320" />
    <meta property="og:image:width"        content="240" />
    <meta property="og:site_name"          content="WorkMotor" />
}
@{
    ViewBag.Title = Model.TituloTexto;
    ViewBag.Href = "blog/noticia/" + Model.Id + "/";
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}
<br />
<br />
<br />
<br />

@Styles.Render("~/Content/css")
<div class="col-md-12 blog-imagem">
    <a href="@Url.Action("Noticias", "Blog")"><i class="fa fa-arrow-left"></i><span> VER TODAS NOTÍCIAS</span></a>
    <div class="row">
        <div class="col-lg-8">
            <h1 class="mt-4"><b>@Model.TituloTexto</b>
            </h1>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <p><b>Publicado </b>@($"{@Model.PublicadoEm:F}")</p>
                </div>
                <div class="col-md-12 links-compartilhamento">
                    <b>COMPARTILHE: </b>
                    <a onclick="facebookShare()" href="javascript:void(0);" id="facebook" class="fa fa-facebook-square" ></a>
                    <a href="https://twitter.com/intent/tweet?url=https://www.workmotor.com.br/Blog/Noticia/@Model.Id;text=Vale%20a%20pena%20ver%20" class="fa fa-twitter-square" ></a>
                    <a href="https://wa.me/?text=https://www.workmotor.com.br/Blog/Noticia/@Model.Id" target="_blank" class="fa fa-whatsapp" ></a>
                    <a href="mailto:?subject=@Model.TituloTexto&body=https://www.workmotor.com.br/Blog/Noticia/@Model.Id" class="fa fa-envelope" style=""></a>
                </div>
            </div>
            <hr>
            @Html.Raw(Model.TextoPublicacao)
            <hr>
        </div>
        <div class="col-md-4" style="margin-top: -4rem;">
            <div class="card my-4">
                <form action="@Url.Action("PesquisarNoticina", "Blog")">
                    <h5 class="card-header">Pesquisar</h5>
                    <div class="card-body">
                        <div class="input-group">
                            <input type="text" class="form-control" name="palavra" id="palavra" placeholder="Pesquisar por...">
                            <span class="input-group-btn">
                                <button class="btn btn-primary btn-azulClaro" type="submit">PESQUISAR</button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card my-4">
                <h5 class="card-header">Assuntos relacionados </h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled mb-0">
                                @{ var counter = 0; }
                                @foreach (var palavra in Model.PalavrasChave)
                                {
                                    counter++;
                                    if (counter <= Math.Ceiling((double) Model.PalavrasChave.Count() / 2))
                                    {
                                        <li>
                                            <a href="@Url.Action("NoticiasPorPalavraChave", "Blog")?palavra=@palavra">@palavra</a>
                                        </li>
                                    }
                                    else
                                    {
                                        if (counter - 1 <= Math.Ceiling((double) Model.PalavrasChave.Count() / 2) && counter > Math.Ceiling((double) Model.PalavrasChave.Count() / 2))
                                        {
                                            @:</ul></div><div class="col-lg-6"><ul class="list-unstyled mb-0">
                                        }
                                        <li>
                                            <a href="@Url.Action("NoticiasPorPalavraChave", "Blog")?palavra=@palavra">@palavra</a>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4 links-compartilhamento">
        <p><b>COMPARTILHE: </b></p>
        <a onclick="facebookShare()" href="javascript:void(0);" id="facebook" class="fa fa-facebook-square"></a>
        <a href="https://twitter.com/intent/tweet?url=https://www.workmotor.com.br/Blog/Noticia/@Model.Id;text=Vale%20a%20pena%20ver%20" class="fa fa-twitter-square"></a>
        <a href="https://wa.me/?text=https://www.workmotor.com.br/Blog/Noticia/@Model.Id" target="_blank" class="fa fa-whatsapp"></a>
        <a href="mailto:?subject=@Model.TituloTexto&body=https://www.workmotor.com.br/Blog/Noticia/@Model.Id" class="fa fa-envelope" style=""></a>
    </div>
    <div class="col-md-6 links-compartilhamento">
        <p><b>VISITE NOSSO CANAL: </b></p>
        <a href="https://www.youtube.com/channel/UCu1qIzZARaQU2HXyFKfowgg" target="_blank" class="fa fa-youtube-play" ></a>
    </div>
</div>
<script>
    function facebookShare() {
        FB.ui({
            display: 'popup',
            method: 'share_open_graph',
            action_type: 'og.likes',
            action_properties: JSON.stringify({
                object:'https://www.workmotor.com.br/Blog/Noticia/@Model.Id',
            })
        }, function(response){});
    }
</script>