﻿
@{
    ViewBag.Title = "Politica de Privacidade - WorkMotor";
    ViewBag.Href = "politica/";
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
    ViewBag.Descricao = "Este documento tem como finalidade apresentar os dados que são adquiridos por intermédio deste site e como os mesmos são usados.";
}

<div class="row" style="margin-top: 8vh; margin-left: 1vw;">
    <div class="row">
        <div class="col-md-12">
            <h1>POLÍTICA DE PRIVACIDADE</h1>
        </div>
    </div>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-8">
                <p>
                    Este documento tem como finalidade apresentar os dados que são adquiridos por intermédio deste site e como os mesmos são usados de forma a não expor o usuário a uso errôneo de dados sem o consentimento do mesmo.
                </p>
            </div>
        </div>
        <div class="row">
            <h2>AQUISIÇÃO DE DADOS</h2>
        </div>
        <div class="row">
            <div class="col-md-8">
                <p>
                    Ao fazer uso completo do site há a aquisição de alguns dados por intermédio de formulários, cadastro e compartilhamento. Os dados adquiridos são dados como E-mail, telefone, nome completo e, no caso de contato para contratação, informações encontradas em um CV.
                </p>
                <p>
                    Em caso de compartilhamento em redes sociais, nenhum dado é efetivamente adquirido pelo site. Os dados de compartilhamento em redes sociais são adquiridos pela própria ferramenta fornecida pelas redes com a qual se tem a possibilidade de interagir no site.
                </p>
                <p>
                    Para esclarecimento de uso, armazenamento e segurança dos dados citados leia abaixo.
                </p>
            </div>
        </div>
        <div class="row">
            <h2>USO</h2>
        </div>
        <div class="row">
            <div class="col-md-8">
                <p>
                    Os dados adquiridos fora do compartilhamento por redes sociais são usados pelo próprio sistema e pela empresa responsável pelo site workmotor.com.br. Os dados em questão só serão usados por terceiros em caso de consentimento do usuário.
                </p>
            </div>
        </div>
        <div class="row">
            <h2>ARMAZENAMENTO</h2>
        </div>
        <div class="row">
            <div class="col-md-8">
                <p>
                    Os dados adquiridos são armazenados em servidores ligados a empresa responsável e não ficam expostos a uso indevido de pessoas não autorizadas.
                </p>
            </div>
        </div>
        <div class="row">
            <h2>SEGURANÇA</h2>
        </div>
        <div class="row">
            <div class="col-md-8">
                <p>
                    Os servidores no qual os dados ficam armazenados são monitorados e recebem assistência para que os dados dos usuários fiquem devidamente seguros e não suscetíveis a ataques externos.
                </p>
            </div>
        </div>
    </div>
</div>